<md-dialog flex flex-gt-md="50" layout="row">
  <md-card flex="100">
    <md-card-header>
      <md-card-header-text>
        <span class="md-title">Selecione a área a ser exibida.</span>
      </md-card-header-text>
      <md-button class="md-icon-button" ng-click="cropImgCtrl.cancelCrop()">
        <md-icon>close</md-icon>
      </md-button>
    </md-card-header>
    <md-card-content layout="column">
      <div class="cropArea">
        <img-crop image="cropImgCtrl.image" result-image="cropImgCtrl.croppedImage"
            result-image-size="cropImgCtrl.resultImgSize" result-image-format="cropImgCtrl.resultImgFormat" 
            area-type="{{cropImgCtrl.areaType}}" style="background-color: #FFFFFF;">
        </img-crop>
      </div>
    </md-card-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cropImgCtrl.confirmCrop()">
        <md-icon>send</md-icon>
      </md-button>
    </md-dialog-actions>
  </md-card>
</md-dialog>