<md-dialog flex flex-xs='90' flex-gt-md='50'>
  <md-dialog-content>
    <div id='crop-dialog'>
      <span class="md-title crop-dialog-title">Adicionar ou alterar imagem</span>
      <div class="crop-dialog-area">
        <img-crop image="cropImgCtrl.image" result-image="cropImgCtrl.croppedImage"
            result-image-size="cropImgCtrl.resultImgSize" result-image-format="cropImgCtrl.resultImgFormat" 
            area-type="{{cropImgCtrl.areaType}}" style="background-color: #FFFFFF;">
        </img-crop>
      </div>
      <div id='crop-dialog-buttons'>
        <md-button class='crop-dialog-button' ng-click="cropImgCtrl.cancelCrop()">
          CANCELAR
        </md-button>
        <md-button class='crop-dialog-button' ng-click="cropImgCtrl.confirmCrop()">
          CONFIRMAR
        </md-button>
      </div>
    </div>
  </md-dialog-content>
</md-dialog>
