<section layout="row" flex>
  <md-sidenav
      md-colors="{background: 'teal-900'}"
      class="md-sidenav-left"
      md-component-id="left"
      md-is-locked-open="$mdMedia('gt-md')"
      md-whiteframe="3">
    <md-toolbar md-colors="{background: 'teal-700'}" layout-align="start center" layout="row">
        <md-button ng-click="close()" class="md-icon-button" hide-gt-md>
          <md-icon>arrow_back</md-icon>
        </md-button>
        <md-button disabled="true" ui-sref="support.user.home" hide show-gt-md>
          <img src="support/images/logo.png" aria-label="Plataforma Virtual CIS" style="height: 30px;">
        </md-button>
        <span class="md-subhead" hide-gt-md>Plataforma CIS | Suporte</span>
    </md-toolbar>
    <md-content md-colors="{background: 'teal-900'}">
        <div class="row">
            <div class="card hovercard" 
                md-colors="{background: 'teal-800'}">
              <div class="cardheader">
                <div class="avatar">
                  <img alt="Foto do Perfil" ng-src="{{ mainCtrl.user.photo_url }}">
                </div>
              </div>
              <div class="info" 
                  md-colors="{background: 'teal-700'}">
                <div class="desc">
                  <div class="md-title">{{ mainCtrl.user.name }}</div>
                </div>
              </div>
            </div>
        </div>
      <md-menu-content md-colors="{background: 'teal-900'}">
        <md-menu-item>
          <md-button md-colors="{color: 'teal-100'}">
            <md-icon md-colors="{color: 'teal-100'}">bug_report</md-icon>
            Reportar um Problema
          </md-button>
        </md-menu-item>
        <md-menu-divider></md-menu-divider>
        <md-menu-item>
          <md-button md-colors="{color: 'teal-100'}" ng-click="mainCtrl.logout()">
            <md-icon md-colors="{color: 'teal-100'}">exit_to_app</md-icon>
            Sair
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-content>
  </md-sidenav>

  <md-content flex>
    <div layout="column" layout-align="top center">
      <md-toolbar md-colors="{background: 'teal-900'}" layout-wrap layout-align="center" layout="row">
        <div class="md-toolbar-tools" flex layout="row" layout-align="center center">
          <md-button class="md-icon-button hide-gt-sm" aria-label="Menu principal" ng-click="toggleLeft()" hide-gt-md>
            <md-icon>menu</md-icon>
          </md-button>

          <md-button disabled="true" ui-sref="support.user.home" hide-gt-md>
            <img src="support/images/logo.png" aria-label="Plataforma Virtual CIS" style="height: 30px;">
          </md-button>

          <span class="md-subhead" hide show-gt-md> > <b>Plataforma CIS</b> | Suporte</span>

          <span flex md-truncate></span>

          <a ui-sref="support.user.home" >
            <md-button class="md-icon-button" title="Home">
              <md-icon>home</md-icon>
            </md-button>
          </a>
        </div>
      </md-toolbar>

      <div ui-view="content" layout="column" md-colors="{background: 'grey-200'}"></div>
    </div>
  </md-content>
</section>