<head>
  <link rel="stylesheet" href="app/post/comment.css">
</head>

<md-list>
      <md-list-item class="md-3-line">
        <img class="md-avatar" ng-src="{{commentCtrl.comment.author_img}}" alt="{{commentCtrl.comment.author_name}}" />
        <div class="md-list-item-text">
          <div layout="column" class="comment-header">
            <div>
              <a href class="md-title user-name hyperlink" ng-click="commentCtrl.showUserProfile(commentCtrl.comment.author_key, $event)">
                {{commentCtrl.comment.author_name}}</a>
              <small class="md-caption inst-name"> | {{commentCtrl.comment.institution_name}}</small>
              <b class="xs-bullet">&bull;</b>
              <small>{{commentCtrl.comment.publication_date | amUtc | amLocal | amCalendar:referenceTime:formats}}</small>
            </div>
            <p ng-bind-html="commentCtrl.comment.text"></p>
          </div>
          <div layout="row" layout-align="start center" style="margin-top: 8px;">
            <div ng-if="commentCtrl.canDeleteComment()">
              <md-button class="sm-icon-button xs-icon-button xs-delete-icon-justify" aria-label="Delete"
                title="Excluir comentário" md-colors="{background: 'light-green'}"
                ng-click="commentCtrl.confirmCommentDeletion($event)">
                <md-icon style="margin-bottom: 10px; margin-left: 1.2px;">delete</md-icon>
              </md-button>
              <b style="font-size: 12px; margin-left: -4px;">EXCLUIR</b>
            </div>
            <div layout="row" style="margin-left: auto;">
              <div>
                <md-button class="sm-icon-button xs-icon-button" aria-label="Favorite" ng-click="commentCtrl.likeOrDislike()" 
                    title="{{(commentCtrl.isLikedByUser()) ? 'Descurtir' : 'Curtir'}}"
                    ng-disabled="commentCtrl.disableButton()" md-colors="{background: commentCtrl.isLikedByUser() ? 'light-green' : 'grey'}">
                  <md-icon>grade</md-icon>
                </md-button>
                <b style="font-size: 12px; margin-left: -8px;">
                  <small md-colors="{color: commentCtrl.isLikedByUser() ? 'light-green' : 'grey'}"
                  style="font-size: 13px;"
                  title="{{ commentCtrl.numberOfLikesMessage() }}">
                    {{commentCtrl.numberOfLikes()}}
                  </small> 
                  CURTIR
                </b>
              </div>
              <div>
                <md-button class="sm-icon-button xs-icon-button" aria-label="Reply" ng-click="commentCtrl.toggleReplies()" title="Responder"
                  title="Comentar" ng-disabled="commentCtrl.hideReplies()" md-colors="{background: 'light-green'}">
                  <md-icon style="margin-bottom: 1.5px;">reply</md-icon>
                </md-button>
                <b style="font-size: 12px; margin-left: -8px;">
                  <small md-colors="{color: 'light-green'}" style="font-size: 13px;"
                  title="{{ commentCtrl.numberOfRepliesMessage() }}">
                    {{commentCtrl.numberOfReplies()}}
                  </small>
                  RESPONDER
                </b> 
              </div>     
            </div>
          </div>
        </div>
      </md-list-item>
      <!-- Replies -->
      <md-list-item class="md-3-line" style="margin-left: 70px; padding-bottom: 18px; border-left: 2px solid #8BC34A;"
        ng-show="commentCtrl.showReplies" ng-repeat="reply in commentCtrl.getReplies() | orderBy:'publication_date'" id="{{reply.id}}">
        <img ng-src="{{reply.author_img}}" class="md-avatar" alt="{{reply.author_name}}" />
        <div class="md-list-item-text" layout="column" style="margin-left: 8px;">
          <div layout="column">
            <div>
              <a href class="md-title user-name hyperlink" ng-click="commentCtrl.showUserProfile(reply.author_key, $event)">
                {{reply.author_name}}
              </a> 
              <small class="inst-name md-caption"> | {{reply.institution_name}}</small>
              <b class="xs-bullet">&bull;</b>
              <small>{{reply.publication_date | amUtc | amLocal | amCalendar:referenceTime:formats}}</small>
            </div>
            <p style="margin-top: 4px; white-space: pre-line;" ng-bind-html="reply.text"></p>
          </div>
          <div layout="row" layout-align="start center">
            <div ng-if="commentCtrl.canDeleteComment(reply)">
              <md-button class="sm-icon-button xs-icon-button xs-delete-icon-justify" aria-label="Delete"
                title="Excluir resposta" md-colors="{background: 'light-green'}"
                ng-click="commentCtrl.confirmCommentDeletion($event, reply)">
                <md-icon style="margin-bottom: 10px; margin-left: 1.2px;">delete</md-icon>
              </md-button>
              <b style="font-size: 12px; margin-left: -4px;">EXCLUIR</b>
            </div>
            <div layout="row" style="margin-left: auto;">
              <div>
                <md-button class="sm-icon-button xs-icon-button" aria-label="Favorite" ng-click="commentCtrl.likeOrDislike(reply)" 
                    title="{{(commentCtrl.isLikedByUser(reply)) ? 'Descurtir' : 'Curtir'}}"
                    ng-disabled="commentCtrl.disableButton()" md-colors="{background: commentCtrl.isLikedByUser(reply) ? 'light-green' : 'grey'}">
                  <md-icon>grade</md-icon>
                </md-button>
                <b style="font-size: 12px; margin-left: -8px;">
                  <small md-colors="{color: commentCtrl.isLikedByUser(reply) ? 'light-green' : 'grey'}"
                  style="font-size: 13px;"
                  title="{{ commentCtrl.numberOfLikesMessage(reply) }}">
                    {{commentCtrl.numberOfLikes(reply)}}
                  </small> 
                  CURTIR
                </b>
              </div>    
            </div>
          </div>
        </div>
      </md-list-item>
      <!-- Reply input -->
      <md-list-item class="md-3-line" ng-if="commentCtrl.canReply()" style="margin-left: 78px;">
        <img ng-src="{{commentCtrl.user.photo_url}}" class="md-avatar" alt="{{commentCtrl.user.name}}" />
        <div class="md-list-item-text" layout="row" layout-align="center center">
          <md-input-container style="font-size: 16px" flex>
            <label>Responder</label>
            <textarea style="max-height: 400px;overflow-y:auto;resize:none;" ng-model="commentCtrl.newReply" rows="1" md-select-on-focus
              ng-disabled="commentCtrl.saving"></textarea>
          </md-input-container>
          <md-button ng-if="commentCtrl.newReply" class="md-icon-button" ng-click="commentCtrl.replyComment();">
            <md-icon>send</md-icon>
          </md-button>
          <b ng-if="commentCtrl.newReply" style="font-size: 12px;">ENVIAR</b>          
        </div>
      </md-list-item>
  </md-list>