.create-post-container-resp {
    width: 100%;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 95%;
    flex: 1 1 95%;
    box-sizing: border-box;
    max-width: 95%;
}

.create-post-title-placeholder {
    font-weight: bold !important;
    color: #00695C !important;
    resize:none !important;
}

.create-post-text {
    border: 0 !important;
    max-height: 100px !important;
    resize:none !important;
    overflow: auto !important;
}

.create-post-button {
    margin-right: -42px !important;
    background-color: #7CB342 !important;
}

.create-post-finish-button {
    font-size: 14px !important;
}

.create-post-textarea {
    max-height: 100px !important;
    overflow-y:auto !important;
    resize:none !important;
}

.create-post-inst-img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.create-post-text-container {
    margin: 0px !important;
    padding-top: 10px !important;
}

.create-post-actions {
    text-align: right;
    margin-right: 20px;
    margin-bottom: 20px;
}

.create-post-cancel-button {
    color: #009688;
}

@media screen and (max-width: 959px) {
    .create-post-title-placeholder {
        font-weight: 500 !important;
        font-size: 13.5px !important;
        border: 5 !important;
        color: black !important;
        border-color: #009688 !important;
    }

    .create-post-text {
        font-size: 13.5px !important;
    }

    .create-post-button {
        display: none;
    }

    .create-post-inst-name {
        font-weight: 420;
        margin-left: 10px;
        margin-top: 2px;
    }

    .create-post-textarea-container {
        margin-top: -15px;
    }

    .create-post-options-icons {
        background-color: #E9E9E9;
        padding: 4px !important;
    }

    .create-post-icons {
        padding: 2px !important;
        width: 33px !important;
    }

    .create-post-cancel-button {
        background-color: rgb(173, 169, 169);
        color: white;
    }
}

@media screen and (min-width: 960px) {
    .create-post-title-placeholder {
        border: 0 !important;
    }

    .create-post-inst-name {
        display: none;
    }

    .create-post-options-icons {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .create-post-title-placeholder {
        font-size: 12px !important;
    }

    .create-post-text {
        font-size: 12px !important;
    }
}