<div ng-if="pdfCtrl.showFiles()" ng-repeat="pdf in pdfCtrl.pdfFiles" layout-padding>
  <div class="pdf-item-container" ng-class="!pdfCtrl.isEditing ? 'clickable' : ''" ng-click="pdfCtrl.pdfDialog($event, pdf)">
    <div md-colors="{background: 'default-light-green'}">
      <md-icon class="lg-icon lg-width-height" layout-padding>
        picture_as_pdf
      </md-icon> 
    </div>
    <div class="pdf-text" md-colors="{background: 'default-teal'}">
      {{pdf.name}}
    </div>  
    <div id="pdf-remove" md-colors="{background: 'default-teal'}">
      <md-icon ng-if="pdfCtrl.isEditing" ng-click="pdfCtrl.hideFile($index)" style="color:white;font:bold; cursor: pointer;" title="Remover" layout-padding layout-margin>
        close
      </md-icon> 
    </div>
  </div>  
</div>