<div layout="column" layout-align="center center" class="fill-screen" ng-show="postDetailsCtrl.isPostEmpty()">
  <div layout="row" layout-align="center center">
    <div layout-align="center center">
      <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
  </div>
</div>
<md-card ng-class="postDetailsCtrl.getCSSClassPost()"
  ng-hide="postDetailsCtrl.isHidden() || postDetailsCtrl.isPostEmpty()">
  <!-- HEADER -->
  <div ng-if="postDetailsCtrl.showSurvey() && postDetailsCtrl.timeHasBeenExpired(postDetailsCtrl.post)" class="expired-survey">
      <b style="color: white;">ENQUETE FINALIZADA | {{postDetailsCtrl.post.deadline | amUtc | amLocal | amCalendar:referenceTime:formats}}</b>
  </div>
  <div class="post-inst-inactive" ng-if="postDetailsCtrl.isInstInactive()">INSTITUIÇÃO DESATIVADA</div>
  <md-card-header>
    <md-card-avatar style="margin-right: 12px;">
      <a href ng-click="postDetailsCtrl.goToInstitution(postDetailsCtrl.post.institution_key)">
        <img ng-src="{{ postDetailsCtrl.post.institution_image }}" role="button" class="md-user-avatar img-post-shadow"/>
      </a>
    </md-card-avatar>
    <md-card-title style="padding: 0">
      <md-card-title-text>
        <div>
          <a style="font-size: 14px" href class="md-title hyperlink" ng-click="postDetailsCtrl.goToInstitution(postDetailsCtrl.post.institution_key)">
            {{ postDetailsCtrl.post.institution_name }}
          </a>
        </div>
        <span layout="row" layout-xs="column" class="md-subhead" style="padding: 0;" md-colors="{color: 'grey-600'}">
          <p style="margin: 0">
            por {{ postDetailsCtrl.post.author }} <b class="xs-bullet">&bull;</b>
          </p>
          <p style="margin: 0">
            {{ postDetailsCtrl.post.publication_date | amUtc | amLocal | amCalendar:referenceTime:formats }}
            <md-button ng-if="postDetailsCtrl.showButtonEdit()"
              class="sm-icon-button xs-icon-button xs-edit-icon-justify"
              ng-click="postDetailsCtrl.editPost()" md-colors="{background: 'light-green'}"
              style="margin-top: 4px; margin-left: 4px;">
              <md-icon>edit</md-icon>
            </md-button>
          </p>
        </span>
      </md-card-title-text>
    </md-card-title>
    <md-menu md-offset="-200 45" ng-if="!postDetailsCtrl.isPostPage || !postDetailsCtrl.isMobileScreen()">
      <md-button class="md-icon-button" style="margin-right: -20px; margin-top: -15px" ng-click="$mdMenu.open(ev)">
        <md-icon>more_vert</md-icon>
      </md-button>
      <md-menu-content width="4">
        <md-menu-item>
          <md-button ng-click="postDetailsCtrl.copyLink()" title="Copiar link">
            <md-icon>link</md-icon>
            Obter link
          </md-button>
        </md-menu-item>
        <md-menu-item ng-if="!postDetailsCtrl.isInstInactive()">
          <md-button arial-label="Atualizar" title="Atualizar post"
            ng-click="postDetailsCtrl.reloadPost()">
            <md-icon>refresh</md-icon>
            Atualizar post
          </md-button>
        </md-menu-item>
        <md-menu-item ng-if="postDetailsCtrl.canShare()">
          <md-button aria-label="compartilhar" ng-click="postDetailsCtrl.share(postDetailsCtrl.post)"
            title="Compartilhar o post">
            <md-icon>share</md-icon>
            Compartilhar
          </md-button>
        </md-menu-item>
        <md-menu-item ng-if="!postDetailsCtrl.isPostAuthor()">
          <md-button aria-label="Favorite" ng-click="postDetailsCtrl.addOrRemoveSubscriber()"
            ng-disabled="postDetailsCtrl.disableButton()" ng-class="postDetailsCtrl.isSubscriber()?'md-warn':''"
            title="Marcar interesse e receber notificações">
            <md-icon>bookmark</md-icon>
            Receber atualizações
          </md-button>
        </md-menu-item>
        <md-menu-item ng-if="postDetailsCtrl.isSharedEvent() && !postDetailsCtrl.isFollowingEvent()">
          <md-button aria-label="Favorite" ng-click="postDetailsCtrl.followEvent()" title="Receber notificações">
            <md-icon>visibility</md-icon>
            Receber atualizações do evento
          </md-button>
        </md-menu-item>
        <md-menu-item ng-if="postDetailsCtrl.isSharedEvent() && postDetailsCtrl.isFollowingEvent()" title="Deixar de receber notificações">
          <md-button style="text-overflow: ellipsis; overflow: hidden;" aria-label="Favorite" ng-click="postDetailsCtrl.unFollowEvent()">
            <md-icon>visibility_off</md-icon>
            <span>Deixar de receber atualizações do evento</span>
          </md-button>
        </md-menu-item>
        <md-menu-item ng-if="!postDetailsCtrl.isInstInactive() && postDetailsCtrl.showButtonEdit()">
          <md-button aria-label="editar" ng-click="postDetailsCtrl.editPost()"
            title="Editar o post">
            <md-icon>edit</md-icon>
            Editar postagem
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
  </md-card-header>

  <!-- SURVEY -->
  <survey-details ng-if="postDetailsCtrl.showSurvey()" post="postDetailsCtrl.post"
    user="postDetailsCtrl.user" isdialog="false" is-post-page="postDetailsCtrl.isPostPage"
    reload-post="postDetailsCtrl.reloadPost">
  </survey-details>

  <!-- BODY SHARED EVENT -->
  <deleted-post message="ESTE EVENTO FOI REMOVIDO" post="postDetailsCtrl.post" ng-if="postDetailsCtrl.isDeletedEvent(postDetailsCtrl.post) && !postDetailsCtrl.isDeleted(postDetailsCtrl.post)"></deleted-post>
  <event-details ng-if="postDetailsCtrl.showSharedEvent()" event="postDetailsCtrl.post.shared_event" is-event-page=false></event-details>

  <!-- BODY SHARED POST -->
  <md-card md-colors="{background: 'default-grey-100'}" ng-if="postDetailsCtrl.showSharedPost()">
    <div ng-if="postDetailsCtrl.isSharedSurveyExpired()" class="expired-survey">
      <b style="color: white;">ENQUETE FINALIZADA | {{postDetailsCtrl.post.shared_post.deadline | amUtc | amLocal | amCalendar:referenceTime:formats}}</b>
    </div>
    <md-card-header>
      <md-card-avatar style="margin-right: 12px;">
        <img ng-src="{{ postDetailsCtrl.post.shared_post.institution_image }}" class="md-user-avatar img-post-shadow"/>
      </md-card-avatar>
      <md-card-header-text>
        <a href class="md-title hyperlink" ng-click="postDetailsCtrl.goToInstitution(postDetailsCtrl.post.shared_post.institution_key)">
          {{ postDetailsCtrl.post.shared_post.institution_name }}</a>
        <span class="md-subhead">por {{ postDetailsCtrl.post.shared_post.author }}</span>
      </md-card-header-text>
    </md-card-header>
    <deleted-post message="ESTA PUBLICAÇÃO FOI REMOVIDA" post="postDetailsCtrl.post" ng-if="postDetailsCtrl.isDeleted(postDetailsCtrl.post.shared_post)"></deleted-post>
    <md-card-content layout="column" ng-class="postDetailsCtrl.post.shared_post.type_survey ? 'shared-survey' : ''">
      <img class="md-card-image" ng-if="postDetailsCtrl.showImage(postDetailsCtrl.post.shared_post)"
        style="width: 100%; height: auto;" ng-src="{{ postDetailsCtrl.post.shared_post.photo_url }}"/>
      <div class="youtube-player" ng-if="postDetailsCtrl.showVideo(postDetailsCtrl.post.shared_post)">
        <iframe ng-src="{{ postDetailsCtrl.getVideoUrl(postDetailsCtrl.post.shared_post) }}"></iframe>
      </div>
      <p></p>
      <a ng-if="!postDetailsCtrl.isSharedSurvey()" href class="md-title hyperlink"
        ng-click="postDetailsCtrl.goToPost(postDetailsCtrl.post.shared_post)">
        <span class="md-headline">{{ postDetailsCtrl.post.shared_post.title }}</span>
      </a>
      <p class="text" ng-if="postDetailsCtrl.showSharedPostText()"
        ng-bind-html="postDetailsCtrl.postToURL(postDetailsCtrl.post.shared_post).text" ></p>
      <div layout="row" layout-align="end-center"
        ng-if="postDetailsCtrl.isLongPostTimeline(postDetailsCtrl.post.shared_post.text)">
        <a href class="md-text hyperlink"
          ng-click="postDetailsCtrl.goToPost(postDetailsCtrl.post.shared_post)">
          <md-icon>more_horiz</md-icon>
        </a>
      </div>
      <pdf-view ng-if="postDetailsCtrl.showSharedPostText()"
        pdf-files='postDetailsCtrl.post.shared_post.pdf_files' is-editing="false"></pdf-view>
      <survey-details ng-if="postDetailsCtrl.isSharedSurvey()"
        post="postDetailsCtrl.post.shared_post"
        user="postDetailsCtrl.user" reload-post="postDetailsCtrl.reloadPost" isdialog="false"></survey-details>
    </md-card-content>
  </md-card>

  <!-- BODY POST -->
  <img ng-if="postDetailsCtrl.showImage(postDetailsCtrl.post)" ng-src="{{ postDetailsCtrl.post.photo_url }}"
      class="md-card-image">
  <div class="youtube-player" ng-if="postDetailsCtrl.showVideo(postDetailsCtrl.post)">
    <iframe ng-src="{{postDetailsCtrl.getVideoUrl(postDetailsCtrl.post)}}"></iframe>
  </div>
  <pdf-view pdf-files='postDetailsCtrl.post.pdf_files' is-editing="false"
    ng-hide="postDetailsCtrl.isDeleted(postDetailsCtrl.post)">
  </pdf-view>
  <md-card-title ng-if="postDetailsCtrl.isShowTitle(postDetailsCtrl.post)">
    <md-card-title-text>
      <a href class="md-title hyperlink" ng-click="postDetailsCtrl.goToPost(postDetailsCtrl.post)"
      ng-class="postDetailsCtrl.getResponsiveTitleClass()">
        <span class="md-headline">{{postDetailsCtrl.post.title}}</span>
      </a>
    </md-card-title-text>
  </md-card-title>
  <deleted-post message="ESTA PUBLICAÇÃO FOI REMOVIDA" post="postDetailsCtrl.post" ng-if="postDetailsCtrl.isDeleted(postDetailsCtrl.post)" ></deleted-post>
  <md-card-content ng-if="postDetailsCtrl.showTextPost()">
      <div>
          <p ng-bind-html="postDetailsCtrl.postToURL(postDetailsCtrl.post).text" class="text">
            {{postDetailsCtrl.postToURL(postDetailsCtrl.post).text}}
          </p>
          <div layout="row" layout-align="end-center" ng-if="!postDetailsCtrl.isPostPage">
          <a href class="md-text hyperlink" ng-click="postDetailsCtrl.goToPost(postDetailsCtrl.post)">
            <md-icon style="margin-bottom: -15px; margin-right: -12px;" md-colors="{color: 'light-green'}">more_horiz</md-icon>
              </a>
          </div>
      </div>
  </md-card-content>
  <md-divider ng-if="!postDetailsCtrl.showSurvey() || postDetailsCtrl.showButtonDelete() && !postDetailsCtrl.isInstInactive()"></md-divider>

  <!-- BUTTONS -->
  <md-card-actions class="post-btns-row">
    <!-- delete -->
    <button class="flat-btn" ng-click="postDetailsCtrl.deletePost($event, postDetailsCtrl.post)"
      ng-if="postDetailsCtrl.showButtonDelete()">
      <md-button md-colors="{background: 'light-green'}" class="sm-icon-button" arial-label="Delete"
        title="Apagar o post">
        <md-icon>delete</md-icon>
      </md-button>
      <b id="delete-btn-text" class="post-btn-text">EXCLUIR</b>
    </button>
    <div class="post-right-btns" ng-if="postDetailsCtrl.showActivityButtons()">
      <!-- like -->
      <button class="flat-btn" ng-click="postDetailsCtrl.likeOrDislikePost()"
        ng-disabled="postDetailsCtrl.disableButton()">
        <md-button class="sm-icon-button" aria-label="Favorite"
          title="{{postDetailsCtrl.isLikedByUser() ? 'Descurtir' : 'Curtir'}}"
          md-colors="{{ postDetailsCtrl.getButtonColor(postDetailsCtrl.isLikedByUser(), false) }}">
          <md-icon>grade</md-icon>
        </md-button>
        <span class="counter-likes-comments" data-badge="{{postDetailsCtrl.number_of_likes()}}"></span>
        <b class="post-btn-text">CURTIR</b>
      </button>
      <!-- comments -->
      <button class="flat-btn" ng-click="postDetailsCtrl.isPostPage ? 'null' : postDetailsCtrl.showCommentsOrRedirectToPostPage()">
        <md-button class="sm-icon-button" aria-label="Comments" title="Mostrar comentários"
          md-colors="{{ postDetailsCtrl.getButtonColor(true, true) }}">
          <md-icon>comments</md-icon>
        </md-button>
        <span class="counter-likes-comments" data-badge="{{postDetailsCtrl.number_of_comments()}}"></span>
        <b class="post-btn-text">COMENTAR</b>
      </button>
    </div>
  </md-card-actions>


  <!-- LIKES -->
  <div layout="row" layout-align="start center" ng-if="postDetailsCtrl.isPostPage">
    <md-list ng-repeat="like in postDetailsCtrl.post.data_likes">
      <md-list-item>
        <a href class="hyperlink" ng-click="postDetailsCtrl.showUserProfile(like.author_key, $event)">
          <img class="resize" title="{{ like.author }}" ng-src="{{ like.author_img }}"/>
        </a>
      </md-list-item>
    </md-list>
  </div>

  <md-divider ng-if="postDetailsCtrl.showComments || postDetailsCtrl.isPostPage"></md-divider>

  <!-- COMMENTS -->
  <a href="#" id="comment-input"></a>
  <md-list-item class="md-2-line" ng-if="postDetailsCtrl.showCommentInput()">
    <img ng-src="{{postDetailsCtrl.user.photo_url}}" class="md-avatar" alt="{{postDetailsCtrl.user.name}}" />
    <div class="md-list-item-text grid-container">
      <md-input-container class="reply-input-container md-input-focused" flex>
        <label>Comentar</label>
        <textarea class="reply-input" ng-model="postDetailsCtrl.newComment"
            md-select-on-focus ng-disabled="postDetailsCtrl.savingComment"></textarea>
      </md-input-container>
      <button class="comment-btn send-reply-btn" ng-click="postDetailsCtrl.createComment()"
        ng-disabled="!postDetailsCtrl.newComment" aria-label="Send">
        <md-icon>send</md-icon>
        <b class="comment-btn-text send-comment-btn-text">ENVIAR</b>
      </button>
    </div>
  </md-list-item>

  <div ng-if="postDetailsCtrl.showComments || postDetailsCtrl.isPostPage">
    <load-circle flex ng-if="postDetailsCtrl.isLoadingComments && !postDetailsCtrl.isPostPage"></load-circle>
    <comment ng-if="!postDetailsCtrl.isLoadingComments || postDetailsCtrl.isPostPage"
      ng-repeat="comment in postDetailsCtrl.post.data_comments | orderBy:'publication_date'"
      comment="comment" user="postDetailsCtrl.user" post="postDetailsCtrl.post" >
    </comment>
  </div>
</md-card>
