<div id="post-page-container" layout="row" md-colors="{background: 'grey-200'}" layout-align="center">
    <div flex flex-lg="90" flex-gt-lg="70" layout="row" layout-align="space-between" >

        <side-menu type="HOME"></side-menu>

        <div flex layout="row" layout-align="center">
            <div class="custom-scrollbar" flex="95">
                <div layout="row" ng-if="postCtrl.post && !postCtrl.isHiden()">
                    <post-details id="post" post="postCtrl.post" is-post-page=true></post-details>  
                </div>
            </div>
            
            <div layout="row" layout-align="center center" ng-if="postCtrl.post && postCtrl.isHiden()">
                <h2>Esta publicação foi removida.</h2> 
            </div>
        </div>
    </div>
</div>
