<md-content layout="row" md-colors="{background: 'grey-200'}" layout-align="center">
    <div flex-gt-lg="60" flex-lg="60" layout="row" layout-wrap layout-align="center" class="fill-screen">
        <div layout="column" flex ng-if="postCtrl.post && !postCtrl.isHiden()">
            <post-details post="postCtrl.post" is-post-page=true></post-details>  
        </div>
        <div layout="row" layout-align="center center" ng-if="postCtrl.post && postCtrl.isHiden()">
            <h2>Esta publicação foi removida.</h2> 
        </div>
    </div>
</md-content>