<md-card flex="100">
  <md-card-header>
    <md-card-avatar>
      <img ng-src="{{ postCtrl.getInstPhotoUrl()}}" class="md-user-avatar"/>
    </md-card-avatar>
    <md-card-header-text>
      <span class="md-title">{{ postCtrl.getInstName() }}</span>
      <span class="md-subhead">por {{ postCtrl.user.name }}</span>
    </md-card-header-text>
    <md-button class="md-icon-button" ng-click="postCtrl.cancelDialog()" ng-if="postCtrl.post.title">
      <md-icon>close</md-icon>
    </md-button>
  </md-card-header>
  <md-card-content layout="column">
    <div>
      <md-button ng-click="postCtrl.isSurvey=false">
        <md-icon>edit</md-icon> Iniciar um post 
      </md-button>|
      <md-button ng-click="postCtrl.createSurvey()">
        <md-icon>poll</md-icon>Enquete
      </md-button>
    </div>
    <div ng-if="!postCtrl.isSurvey">
      <form name="saveForm">
        <md-input-container class="md-block">
          <label>Título</label>
          <input ng-model="postCtrl.post.title" md-maxlength="100" maxlength="100" placeholder="Escreva aqui uma nova publicação">
        </md-input-container>
        <md-input-container ng-show="postCtrl.post.title" class="md-block">
          <label>Mensagem</label>
          <textarea name="message" style="max-height: 400px;overflow-y:auto;resize:none;" ng-model="postCtrl.post.text" 
            md-select-on-focus required> 
          </textarea>
          <div ng-messages='saveForm.message.$error'>
              <div ng-message="required">O post deve conter uma mensagem!</div>
          </div>
        </md-input-container>
        <md-input-container ng-show="postCtrl.showVideoUrlField()" class="md-block">
          <label>Link do Video</label>
          <textarea style="max-height: 400px;overflow-y:auto;resize:none;" ng-model="postCtrl.post.video_url"
            md-select-on-focus ng-pattern=postCtrl.videoRegex name="video">
          </textarea>
          <div ng-messages="saveForm.video.$error">
            <div ng-message="pattern">Link do Youtube inválido.</div>
          </div>
        </md-input-container>
      </form>
    </div>
    <div ng-if="postCtrl.isSurvey">
      <form>
        <md-input-container class="md-block">
          <label>Pergunte algo</label>
          <textarea ng-model="postCtrl.post.title" placeholder="Pergunte algo aqui" style="max-height: 300px"></textarea>
        </md-input-container>
        Opções
        <md-button ng-click="postCtrl.addOption()" ng-if="!postCtrl.hasOptionEmpty()" class="md-icon-button">
          <md-icon>add</md-icon> 
        </md-button>
        <md-divider>
        <md-list ng-repeat="option in postCtrl.options">
          <md-list-item>
          <md-input-container>
            <label>Opção {{option.id}}</label>
            <input ng-model="option.text"/>
            <md-button ng-click="postCtrl.removeOption(option)" class="md-icon-button">
              <md-icon>delete</md-icon>
            </md-button>
          </md-input-container>
          </md-list-item>
        </md-list>
        <md-input-container ng-show="postCtrl.showVideoUrlField()" class="md-block">
          <label>Link do Video</label>
          <textarea style="max-height: 400px;overflow-y:auto;resize:none;" ng-model="postCtrl.post.video_url"
            md-select-on-focus ng-pattern=postCtrl.videoRegex name="video">
          </textarea>
          <div ng-messages="saveForm.video.$error">
            <div ng-message="pattern">Link do Youtube inválido.</div>
          </div>
        </md-input-container>
      </form>
    </div>
    <div class="image-view" ng-if="postCtrl.showImage()">
      <button ng-click="postCtrl.hideImage()">&times;</button>
      <img style="border-radius: 5%;" ng-src="{{ postCtrl.photoUrl }}"/>
    </div>
    <div ng-if="postCtrl.showFiles()" ng-repeat="pdf in postCtrl.pdfFiles">
      <md-button class="md-icon-button" ng-click="postCtrl.hideFile($index)" title="remover">&times;</md-button>
      <md-icon>description</md-icon>
      <span>{{pdf.name}}</span>
    </div>
    <md-progress-linear ng-show="postCtrl.loading" md-mode="indeterminate" style="width: 14%; margin-top: 5px"></md-progress-linear>
  </md-card-content>
  <md-dialog-actions layout="row" ng-show="postCtrl.post.title">
    <span flex></span>
    <md-button class="md-icon-button" ng-show="postCtrl.showButton()" ng-click="null" ng-file-model="postCtrl.files" 
      ngf-pattern="'application/pdf'" title="Adicionar pdf"
      ngf-accept="'application/pdf'" ngf-max-size="5MB"
      ngf-max-files="10"
      ngf-select="postCtrl.addPdf($files)" multiple>
      <md-icon>note_add</md-icon>
    </md-button>
    <md-button class="md-icon-button" ng-show="postCtrl.showButton()" ng-click="null" ng-model="postCtrl.file" 
      ngf-pattern="'image/*'" title="Adicionar imagem"
      ngf-accept="'image/*'" ngf-max-size="5MB"
      ngf-select="postCtrl.addImage(postCtrl.file)">
      <md-icon>add_a_photo</md-icon>
    </md-button>
    <md-button class="md-icon-button" ng-show="postCtrl.showButton()" ng-click="postCtrl.setAddVideo()" 
      title="{{postCtrl.addVideo || postCtrl.post.video_url? 'Remover link':'Adicionar link'}}">
      <md-icon>movie</md-icon>
    </md-button>
    <md-button title="Enviar" class="md-icon-button" ng-click="postCtrl.save(isEditing, originalPost, posts)" 
      ng-disabled="!postCtrl.canSend(saveForm.$invalid)">
      <md-icon>send</md-icon>
    </md-button>
  </md-dialog-actions>
</md-card>