<md-card flex="90" flex-gt-xs="95">
  <md-card-content layout="row" style="padding:5px;">
    <md-card-content>
      <img ng-src="{{ postCtrl.getInstPhotoUrl()}}"
      title="{{postCtrl.user.current_institution.name}}"
      style="border-radius: 50%; margin-top: 7px" width="50px" height="50px"/>
    </md-card-content>
    <div flex>
      <md-card-content>
        <div ng-if="postCtrl.type_post === 'Common'">
          <form name="saveForm" layout="column">
            <md-input-container md-no-float>
              <input style="font-weight: bold; color: #00695C; border: 0;resize:none;"
              ng-model="postCtrl.post.title" maxlength="100" placeholder="{{postCtrl.showPlaceholderMsg()}}">
            </md-input-container>
            <md-input-container ng-show="postCtrl.isTyping()" md-no-float>
              <textarea name="message" style="border: 0; max-height: 400px;resize:none;" ng-model="postCtrl.post.text" placeholder="Texto">
              </textarea>
              <div ng-messages='saveForm.message.$error'>
                  <div ng-message="required">O post deve conter um texto!</div>
              </div>
            </md-input-container>
            <md-input-container ng-show="postCtrl.showVideoUrlField()" class="md-block">
              <label>Link do Video</label>
              <textarea style="max-height: 400px;overflow-y:auto;resize:none;" ng-model="postCtrl.post.video_url"
                md-select-on-focus ng-pattern=postCtrl.videoRegex name="video">
              </textarea>
              <div ng-messages="saveForm.video.$error">
                <div ng-message="pattern">Link do Youtube inválido.</div>
              </div>
            </md-input-container>
          </form>
        </div>
        <div ng-if="postCtrl.type_post === 'Survey'">
          <form>
            <md-input-container class="md-block">
              <label>Pergunte algo</label>
              <textarea ng-model="postCtrl.post.title" placeholder="Pergunte algo aqui" style="max-height: 300px"></textarea>
            </md-input-container>
            Alternativas
            <md-list ng-repeat="option in postCtrl.options">
              <md-list-item>
              <md-input-container>
                <label>+ Adicionar uma opção...</label>
                <input ng-model="option.text" ng-change="postCtrl.addOption()"/>
              </md-input-container>
              </md-list-item>
            </md-list>
            <md-input-container class="md-input-has-placeholder">
              <label>Data limite</label>
              <input mdc-datetime-picker="" ng-change="controller.changeDate('startTime')" short-time="false" 
                date="true" time="true" type="text" format="YYYY-MM-DD HH:mm" lang="pt-BR" placeholder="Receber respostas até..." 
                ng-model="controller.post.deadline" class=" md-input" today-text="Hoje" min-date="null" 
                readonly="readonly" cancel-text="Cancelar">
            </md-input-container>
            <md-input-container ng-show="postCtrl.showVideoUrlField()" class="md-block">
              <label>Link do Video</label>
              <textarea style="max-height: 400px;overflow-y:auto;resize:none;" ng-model="postCtrl.post.video_url"
                md-select-on-focus ng-pattern=postCtrl.videoRegex name="video">
              </textarea>
              <div ng-messages="saveForm.video.$error">
                <div ng-message="pattern">Link do Youtube inválido.</div>
              </div>
            </md-input-container>
          </form>
          <md-switch class="md-primary" ng-model="postCtrl.multipleChoice" required> Multipla Escolha
          </md-switch>
        </div>
      </md-card-content>
    </div>
    <md-card-content>
      <md-card-actions layout="column" float>
        <md-menu md-offset="-199 70">
          <md-button class="md-fab md-primary" title="Opções"
            style="margin-right: -100px; background-color: #7CB342"
            ng-click="$mdMenu.open(ev)">
            <md-icon>add</md-icon>
          </md-button>
          <md-menu-content width="4">
            <md-menu-item>
              <md-button ng-click="null" ng-model="postCtrl.file"
                ngf-pattern="'image/*'" title="Adicionar imagem"
                ngf-accept="'image/*'" ngf-max-size="5MB"
                ngf-select="postCtrl.addImage(postCtrl.file)"
                ng-disabled="postCtrl.hasMedia() && !postCtrl.showImage()">
                <md-icon>add_a_photo</md-icon>
                {{!postCtrl.showImage() ? 'Inserir imagem' : 'Trocar imagem'}}
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-click="postCtrl.setAddVideo()"
                title="{{postCtrl.addVideo || postCtrl.post.video_url? 'Remover link':'Adicionar link'}}"
                ng-disabled="postCtrl.hasMedia() && !postCtrl.addVideo">
                <md-icon>ondemand_video</md-icon>
                {{!postCtrl.addVideo ? 'Vídeo do Youtube' : 'Remover vídeo'}}
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-click="null" ng-file-model="postCtrl.files"
                ngf-pattern="'application/pdf'" title="Adicionar pdf"
                ngf-accept="'application/pdf'" ngf-max-size="5MB"
                ngf-max-files="1"
                ngf-select="postCtrl.addPdf($files)"
                ng-disabled="postCtrl.hasMedia() && !postCtrl.showFiles()">
                <md-icon>picture_as_pdf</md-icon>
                {{!postCtrl.showFiles() ? 'Anexar PDF' : 'Trocar PDF'}}
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-click="postCtrl.setTypeOfPost()" aria-label="Tipo do Post">
                <div ng-if="postCtrl.type_post === 'Common'">
                  <md-icon>poll</md-icon>
                  Criar Enquete
                </div>
                <div ng-if="postCtrl.type_post === 'Survey'">
                  <md-icon>edit</md-icon>
                  Alternar para postagem comum
                </div>
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </md-card-actions>
    </md-card-content>
  </md-card-content>
  <md-card-content>
    <div class="image-view" ng-if="postCtrl.showImage()">
      <button ng-click="postCtrl.hideImage()">&times;</button>
      <img style="border-radius: 5%;" ng-src="{{ postCtrl.photoUrl }}"/>
    </div>
    <pdf-view pdf-files='postCtrl.pdfFiles' is-editing="true"></pdf-view>
    <div style="margin-top: 5px; margin-left: 10px;">
      <md-progress-linear ng-show="postCtrl.loading" md-mode="indeterminate" style="width: 14%;"></md-progress-linear>
    </div>
  </md-card-content>
  <md-card-actions style="text-align: right; margin-right: 20px; margin-bottom: 20px;" ng-show="postCtrl.isTyping()">
    <md-button style="color: #009688" ng-click="postCtrl.cancelDialog()">
      Cancelar
    </md-button>
    <md-button class="md-raised" md-colors="{background: 'teal-500'}" title="Enviar" ng-click="postCtrl.save(isEditing, originalPost, posts)" 
      ng-disabled="!postCtrl.isValid(saveForm.$invalid)">
      Postar
    </md-button>
  </md-card-actions>
</md-card>