<div md-colors="{background: 'default-grey-300'}" ng-if="postDetailsCtrl.showSharedPost()">
    <div ng-if="postDetailsCtrl.isSharedSurveyExpired()" class="expired-survey">
      <b style="color: white;">ENQUETE FINALIZADA | {{postDetailsCtrl.post.shared_post.deadline | amUtc | amLocal | amCalendar:referenceTime:formats}}</b>
    </div>
    <div style="display: grid; grid-template-columns: min-content 1fr; padding: 8px 8px 0 8px; grid-column-gap: 10px;">
        <img ng-src="{{ postDetailsCtrl.post.shared_post.institution_image }}" style="border-radius: 50%;" class="md-user-avatar img-post-shadow"/>
        <div style="display: grid; grid-template-rows: auto auto; font-size: 14px;">
            <a href class="hyperlink" ng-click="postDetailsCtrl.goToInstitution(postDetailsCtrl.post.shared_post.institution_key)" style="font-weight: bold;">
            {{ postDetailsCtrl.post.shared_post.institution_name }}</a>
            <span style="color: rgb(117, 117, 117);">por {{ postDetailsCtrl.post.shared_post.author }}</span>
        </div>
    </div>
    <deleted-post message="ESTA PUBLICAÇÃO FOI REMOVIDA" post="postDetailsCtrl.post" ng-if="postDetailsCtrl.isDeleted(postDetailsCtrl.post.shared_post)"></deleted-post>
    <div layout="column" ng-class="postDetailsCtrl.post.shared_post.type_survey ? 'shared-survey' : ''" style="padding: 16px;">
      <img class="md-card-image" ng-if="postDetailsCtrl.showImage(postDetailsCtrl.post.shared_post)"
        style="width: 100%; height: auto;" ng-src="{{ postDetailsCtrl.post.shared_post.photo_url }}"/>
      <div class="youtube-player" ng-if="postDetailsCtrl.showVideo(postDetailsCtrl.post.shared_post)">
        <iframe ng-src="{{ postDetailsCtrl.getVideoUrl(postDetailsCtrl.post.shared_post) }}"></iframe>
      </div>
      <p></p>
      <a ng-if="!postDetailsCtrl.isSharedSurvey()" href class="md-title hyperlink"
        ng-click="postDetailsCtrl.goToPost(postDetailsCtrl.post.shared_post)">
        <span class="md-headline">{{ postDetailsCtrl.post.shared_post.title }}</span>
      </a>
      <p class="text" ng-if="postDetailsCtrl.showSharedPostText()"
        ng-bind-html="postDetailsCtrl.postToURL(postDetailsCtrl.post.shared_post).text" ></p>
      <div layout="row" layout-align="end-center"
        ng-if="postDetailsCtrl.isLongPostTimeline(postDetailsCtrl.post.shared_post.text)">
        <a href class="md-text hyperlink"
          ng-click="postDetailsCtrl.goToPost(postDetailsCtrl.post.shared_post)">
          <md-icon>more_horiz</md-icon>
        </a>
      </div>
      <pdf-view ng-if="postDetailsCtrl.showSharedPostText()"
        pdf-files='postDetailsCtrl.post.shared_post.pdf_files' is-editing="false"></pdf-view>
      <survey-details ng-if="postDetailsCtrl.isSharedSurvey()"
        post="postDetailsCtrl.post.shared_post"
        user="postDetailsCtrl.user" reload-post="postDetailsCtrl.reloadPost" isdialog="false"></survey-details>
    </div>
</div>
