<!-- TIMELINE -->
<div flex>
  <div ng-if="!institution">
    <save-post flex is-dialog="false" posts="timelineCtrl.posts"></save-post>
  </div>
  <div layout="row" layout-align="center center" ng-if="timelineCtrl.showRefreshTimelineButton() && !institution" class="ng-if">
    <md-button flex md-colors="{background: 'teal-700'}" ng-click="timelineCtrl.load(timelineCtrl.posts)">
      VOCÊ TEM NOVOS POSTS
      <md-icon md-colors="{color: 'grey-100'}">refresh</md-icon>
    </md-button>
  </div>
  <md-card ng-if="timelineCtrl.posts.length == 0">
    <md-content layout-align="center center" layout="column">
      <h4>Esta instituição ainda não possui publicações.</h4>
    </md-content>
  </md-card>
  <div ng-repeat="post in timelineCtrl.posts | orderBy:'date'" ng-if="timelineCtrl.posts.length > 0">
    <post-details posts="timelineCtrl.posts" post="post" is-post-page=false add-post="addPost"></post-details>
  </div>
</div>