<!-- TIMELINE -->
<div flex ng-if="!timelineCtrl.isLoadingPosts">
  <md-card ng-if="timelineCtrl.posts.size() === 0">
    <md-content layout-align="center center" layout="column">
      <h4>Esta instituição ainda não possui publicações.</h4>
    </md-content>
  </md-card>
  <div layout="row" layout-align="center center" class="ng-if" ng-if="timelineCtrl.showRefreshTimelineButton()">
    <md-button flex md-colors="{background: 'teal-700'}" ng-click="timelineCtrl.refreshTimeline()">
      VOCÊ TEM NOVOS POSTS
      <md-icon md-colors="{color: 'grey-100'}">refresh</md-icon>
    </md-button>
  </div>
  <div ng-repeat="post in timelineCtrl.posts.data | orderBy:'last_modified_date':true" ng-if="timelineCtrl.posts.size() > 0">
    <post-details post="post" is-post-page=false remove-post="true">
    </post-details>
  </div>
</div>
<div layout="column" layout-align="center center" ng-if="timelineCtrl.isLoadingPosts">
  <div layout="row" layout-align="center center">
    <load-circle></load-circle>
  </div>
</div>
