<md-content>
    <div ng-repeat="notification in notificationListCtrl.notifications | orderBy:'-timestamp'"
        ng-class="notification.status === 'READ'? '': 'unread-notification'" class="mobile-notification-list"
        ng-click="notificationListCtrl.action(notification, $event)">
        <div class="mobile-notification-list-item">
            <img ng-src="{{notification.from.photo_url}}" />
            <div id="mobile-notification-content">
                <b id="notification-user-name">
                    {{ notification.from.name }}</b>
                <b id="notification-from-inst-name" md-colors="{color: 'teal-700'}">
                    {{ notification.from.institution_name }}</b>
                <div id="notification-mobile-info">
                    <div id="mobile-notification-icon-container">
                        <md-icon id="mobile-notification-icon">{{notificationListCtrl.getIcon(notification.entity_type)}}</md-icon>
                    </div>
                    <div id="mobile-notification-text">
                        <span id="mobile-notification-action">
                            {{ notificationListCtrl.getFormattedMessage(notification) }}</span>
                        <span id="mobile-notification-time">
                            {{ notification.timestamp | amUtc | amLocal | amCalendar:referenceTime:formats }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</md-content>