<md-list id="list-padding" flex>
    <md-list-item title="{{ctrl.format(notification)}}" class="md-3-line" style="margin-bottom: 5px; padding: 3 0 3 0;"
        ng-repeat="notification in ctrl.notifications | orderBy:'-timestamp' | filter: ctrl.keyword" 
        ng-click="ctrl.action(notification, $event)" flex-xs ng-class="notification.status === 'READ'? '': 'unread-notification'">    
        <img ng-src="{{notification.from.photo_url}}" class="md-avatar" id="image-notification"/>
            <div class="md-list-item-text" layout="column">
                <p><b style="font-size:18px;">{{ notification.from.name }}</b></p>
                <!-- notification.current_institution belongs to the new notification architecture. 
                    notification.from belongs to old architecture. DATE: 10/05/2018-->
                <p>
                    <b id="institution-name-notification">
                    {{ notification.current_institution.name || notification.from.institution_name }}</b>
                </p>
                <div layout="row">
                    <div class="notification-icon-bg">
                        <md-icon class="notification-icon">{{ctrl.getIcon(notification.entity_type)}}</md-icon>
                    </div>
                    <div id="info-notification">
                        <p style="font-size: 10px;">
                            {{ notification.timestamp | amUtc | amLocal | amCalendar:referenceTime:formats }}
                            <br />
                            <b style="font-size: 11px;">
                                {{ ctrl.limitString(ctrl.format(notification), ctrl.lengthTextNotification) }}
                            </b>
                        </p>
                    </div>
                </div>
            </div>    
    </md-list-item>
</md-list>