<div flex layout="row" layout-align="center">
    <md-card flex="95">
        <md-toolbar md-colors="{background: 'teal-500'}" layout="row">
            <div class="md-toolbar-tools">
                <h1>
                    <md-icon>notifications</md-icon>
                    Suas Notificações
                </h1>
            </div>
        </md-toolbar>
        <md-card-content style="max-height: 46em; padding: 1em;" layout="column">
            <div style="margin: 0 1em 0 1em;">
                <form>
                    <md-input-container class="md-block">
                        <input placeholder="Buscar" ng-model="controller.keyword">
                            <md-icon>search</md-icon>
                    </md-input-container>
                </form>
            </div>
            <md-content class="custom-scrollbar">
                <md-list style="padding: 10px;">
                    <md-list-item class="md-3-line" md-colors="{background: 'grey-200'}" style="margin-bottom: 5px; padding: 3 0 3 0;"
                        ng-repeat="notification in controller.notifications | orderBy:'-timestamp' | filter: controller.keyword" 
                        ng-click="controller.action(notification, $event)">
                            <img ng-src="{{notification.from.photo_url}}" class="md-avatar" style="width: 60px; height: 60px;"/>
                            <div class="md-list-item-text" layout="column">
                                <p><b style="font-size: 18px;">{{ controller.limitString(notification.from.name, 85) }}</b></p>
                                <p><b style="font-size: 15px; color: #009688;">{{ controller.limitString(notification.from.institution_name, 85) }}</b></p>
                                <div layout="row">
                                    <div class="notification-icon-bg" hide show-gt-xs>
                                        <md-icon class="notification-icon">{{controller.getIcon(notification.entity_type)}}</md-icon>
                                    </div>
                                    <div class="notification-icon-bg" hide show-xs style="margin-top: 1em;">
                                        <md-icon class="notification-icon">{{controller.getIcon(notification.entity_type)}}</md-icon>
                                    </div>
                                    <div style="max-height: 3em; margin-left: 4px; margin-top: 10px">
                                        <p style="font-size: 11px;">
                                            <b>
                                                {{ controller.limitString(controller.format(notification), 95) }} - 
                                                {{ notification.timestamp | amUtc | amLocal | amCalendar:referenceTime:formats }}
                                            </b>
                                        </p>
                                    </div>
                                </div>
                            </div>    
                    </md-list-item>
                </md-list>
            </md-content>
        </md-card-content>
    </md-card>
</div>