<md-menu md-position-mode="target-right target">
  <div>
    <span ng-if="notificationCtrl.notifications.length > 0" style="position:relative; bottom: -1px; right:-33px;"
      class="counter-of-notifications" data-badge="{{notificationCtrl.numberUnreadNotifications()}}">
    </span>
    <md-button aria-label="menu" class="md-icon-button" ng-click="notificationCtrl.showNotifications($mdMenu, ev)">
      <md-icon style="color:#81C784;">{{ notificationCtrl.notifications.length === 0 ? 'notifications_none' : 'notifications'}}</md-icon>
    </md-button>
  </div>
  <md-menu-content width="2" class="notifications-menu">
    <div layout="column">
      <md-content class="custom-scrollbar" style="max-height: 25rem;">
        <md-list style="padding: 10px;">
          <md-list-item class="md-3-line" md-colors="{background: 'grey-200'}" style="margin-bottom: 5px; padding: 3 0 3 0;"
            ng-repeat="notification in notificationCtrl.notifications | orderBy:'-timestamp'"
            ng-click="notificationCtrl.action(notification, $event)">
            <img ng-src="{{notification.from.photo_url}}" class="md-avatar" style="width: 60px; height: 60px;"/>
            <div class="md-list-item-text" layout="column" >
              <p><b style="font-size: 18px;">{{ notificationCtrl.limitString(notification.from.name, 28) }}</b></p>
              <!-- notification.current_institution belongs to the new notification architecture. 
                  notification.from belongs to old architecture. DATE: 10/05/2018 -->
              <p><b style="font-size: 15px; color: #009688;">{{ notificationCtrl.limitString(notification.current_institution.name, 32) || notificationCtrl.limitString(notification.from.institution_name, 32)}}</b></p>
              <div layout="row">
                <div class="notification-icon-bg">
                  <md-icon class="notification-icon">{{notificationCtrl.getIcon(notification.entity_type)}}</md-icon>
                </div>
                <p style="font-size: 10px; max-height: 3em; margin-left: 4px;">
                  <b>
                    {{ notificationCtrl.limitString(notificationCtrl.format(notification), 50) }} - 
                    {{ notification.timestamp | amUtc | amLocal | amCalendar:referenceTime:formats }}
                  </b>
                </p>
              </div>
            </div>    
          </md-list-item>
        </md-list>
      </md-content>
      <div layout="row" layout-align="space-between center" style="color: #009688; padding: 1rem 0 1rem 0">
        <md-button aria-label="done all" ng-click="notificationCtrl.clearAll()">
          MARCAR TODAS COMO LIDAS
        </md-button>
        <md-button ng-click="notificationCtrl.seeAll()">
          VER TUDO
        </md-button>
      </div>
    </div>
  </md-menu-content>
</md-menu>
