<md-menu md-position-mode="target-right target">
  <div>
    <span ng-if="controller.notifications.length > 0"
      style="position:relative; bottom: -1px; right:-33px;"
      class="counter-of-notifications" data-badge="{{controller.number_of_notifications()}}">
    </span>
    <md-button aria-label="menu" class="md-icon-button" ng-click="$mdMenu.open(ev)" ng-disabled="controller.notifications.length === 0">
      <md-icon style="color:#81C784;">{{ controller.notifications.length === 0 ? 'notifications_none' : 'notifications'}}</md-icon>
    </md-button>
  </div>
  <md-menu-content width="5">
    <md-list>
      <div layout="row" layout-align="end center">
      <md-button aria-label="done all" class="md-icon-button" ng-click="controller.clearAll()">
        <md-icon>clear_all</md-icon>
      </md-button>
      </div>
      <md-list-item class="md-2-line" ng-repeat="notification in controller.notifications | orderBy:'-timestamp'" ng-click="controller.action(notification, $event)">
        <md-icon>{{controller.getIcon(notification.entity_type)}}</md-icon>
        <div class="md-list-item-text">
          <h3>{{controller.format(notification)}}</h3>
          <p style="font-size: 10px;">{{notification.timestamp | amUtc | amLocal | amCalendar:referenceTime:formats }}</p>
        </div>
        <md-button class="md-warn md-hue-1 md-icon-button" ng-click="controller.markAsRead(notification)">
          <md-icon>markunread</md-icon>
        </md-button>
      </md-list-item>
    </md-list>
  </md-menu-content>
</md-menu>