<main-toolbar toolbar-menu-items="notificationCtrl.toolbarMobileMenuItems" no-search="true"></main-toolbar>

<div layout="row" layout-align="center" ng-if="!notificationCtrl.isMobileScreen(600)" >
    <md-card flex="95">
        <md-toolbar md-colors="{background: 'teal-500'}" layout="row">
            <div class="md-toolbar-tools">
                <h1>
                    <md-icon>notifications</md-icon>
                    Suas Notificações
                </h1>
            </div>
        </md-toolbar>
        <md-card-content style="max-height: 46em; padding: 1em;" layout="column">
            <div style="margin: 0 1em 0 1em;">
                <form>
                    <md-input-container class="md-block">
                        <input placeholder="Buscar" ng-model="notificationCtrl.keyword">
                            <md-icon>search</md-icon>
                    </md-input-container>
                </form>
            </div>
            <md-content class="custom-scrollbar" flex>
                <notification-list notifications="notificationCtrl.allNotifications"
                    mark-as-read="notificationCtrl.markAsRead" keyword="notificationCtrl.keyword">
                </notification-list>
            </md-content>
        </md-card-content>
    </md-card>
</div>

<div ng-if="notificationCtrl.isMobileScreen(600)" style="overflow-y: scroll" class="hide-scrollbar-mobile">
    <notification-list notifications="notificationCtrl.notificationsToShow" 
        mark-as-read="notificationCtrl.markAsRead" keyword="notificationCtrl.keyword">
    </notification-list>
</div>