<div class="entity-showcase">
    <img class="entity-showcase__avatar" ng-src="{{entityShowcaseCtrl.avatar}}" ng-click="entityShowcaseCtrl.leftAction()"/>
    <md-icon class="entity-showcase__icon" ng-if="entityShowcaseCtrl.showIcon()" ng-click="entityShowcaseCtrl.leftAction()">
        {{ entityShowcaseCtrl.icon }}
    </md-icon>
    <span class="entity-showcase__title responsive__title">{{entityShowcaseCtrl.title }}</span>
    <span class="entity-showcase__subtitle responsive__title">{{entityShowcaseCtrl.subtitle }}</span>
</div>