.user-description {
    display: grid;
    grid-template-columns: max-content auto;
    grid-template-rows: max-content max-content;
    grid-template-areas:
            'avatar name'
            'avatar text';
    grid-gap: 0 10px;
    padding: 10px 0;
    align-items: center;
}

.user-description__avatar {
    grid-area: avatar;
    height: 3em;
    width: 3em;
    border-radius: 50%;
}

.user-description__name {
    grid-area: name;
    line-height: 16px;
}

.user-description__text {
    grid-area: text;
    font-size: 0.8em;
    line-height: 16px;
}