<form name='address' id='address-form'>
  <md-input-container id="street">
    <label>Logradouro</label>
    <input name='street' ng-model="ctrl.address.street" ng-required='!ctrl.isAnotherCountry'>
  </md-input-container>
  <md-input-container id="number">
    <label>No</label>
    <input name='number' ng-model="ctrl.address.number" ng-pattern='ctrl.numberRegex'>
  </md-input-container>
  <md-input-container id="neighbourhood">
    <label>Bairro</label>
    <input name='neighbourhood' ng-model="ctrl.address.neighbourhood" ng-required='!ctrl.isAnotherCountry'>
  </md-input-container>
  <md-input-container id="country">
    <label>Pais</label>
    <md-select name='country' ng-model="ctrl.address.country" required
               class='limit-md-select'>
      <md-option ng-repeat='country in ctrl.countries' ng-value='country.nome_pais'>
        {{ country.nome_pais }}
      </md-option>
    </md-select>
  </md-input-container>
  <md-input-container id="state" ng-if='ctrl.isAnotherCountry'>
    <label>Estado</label>
    <input name='federalState' type='text' ng-model="ctrl.address.federal_state">
  </md-input-container>
  <md-input-container id="state" ng-if='!ctrl.isAnotherCountry'>
    <label>Estado</label>
    <md-select name='state' ng-model='ctrl.address.federal_state' required
               class='limit-md-select'>
      <md-option ng-repeat='state in ctrl.states' ng-value='state.nome'>
        {{ state.sigla }}
      </md-option>
    </md-select>
  </md-input-container>
  <md-input-container id="city" ng-if='ctrl.isAnotherCountry'>
    <label>Cidade</label>
    <input name='city' type='text' ng-model="ctrl.address.city">
    </md-select>
  </md-input-container>
  <md-input-container id="city" ng-if='!ctrl.isAnotherCountry'>
    <label>Cidade</label>
    <md-select name='city' ng-model='ctrl.address.city' required
               class='limit-md-select'>
      <md-option ng-repeat='city in ctrl.cities' ng-value='city'>
        {{ city }}
      </md-option>
    </md-select>
    <div ng-messages>
      <div ng-show="address.state.$pristine && !ctrl.isAnotherCountry && !ctrl.address.city"
          class='field-required'>
        Primeiro selecione um estado
      </div>
    </div>
  </md-input-container>
  <md-input-container id="cep">
    <label>CEP</label>
    <input name='cep' ng-model="ctrl.address.cep"
           ng-required='!ctrl.isAnotherCountry'
           placeholder='00000-000'
           ng-pattern='ctrl.cepRegex'
           mask='99999-999'>
  </md-input-container>
</form>
