<form id="last-info-form" name="lastInfo">
  <md-input-container id='description'>
    <!-- Empty label prevents placeholder from becoming a label -->
    <label></label>
    <textarea name='description'
              placeholder='Uma breve descrição sobre sua instituição'
              md-no-auto-grow
              md-no-resize
              ng-model="ctrl.institution.description"
              maxlength="1100"></textarea>
  </md-input-container>
  <md-input-container>
    <label>Site institucional</label>
    <input type="text" name="site"
                       ng-model="ctrl.institution.website_url">
  </md-input-container>
  <md-input-container>
    <label>Nome do atual dirigente máximo</label>
    <input type="text" name="leader" required
                       ng-model="ctrl.institution.leader">
    <div ng-messages='lastInfo.leader.$error'>
      <div ng-message="required">Este campo é obrigatório!</div>
    </div>
  </md-input-container>
</form>
