<md-dialog aria-label="instituições" flex-xs="100" flex-sm="70" flex-gt-sm="50">

    <div>
        <md-dialog-content class="md-dialog-content" layout="column">
            <h3>{{suggestInstCtrl.titleMessage()}}</h3>
            <md-radio-group ng-model="suggestInstCtrl.chosen_institution" required flex>
                <md-list ng-repeat="institution in suggestInstCtrl.institutions" flex>
                    <md-list-item class="md-2-line" ng-if="suggestInstCtrl.showSuggestion(institution.state)">
                        <div layout="row">
                            <md-radio-button ng-value="institution.id" class="md-primary align-top">{{institution.name}}</md-radio-button>
                            <md-button style="color: green; font-size: 0.8em" title="Página da instituição"
                            ng-click="suggestInstCtrl.goToInstitution(institution.id)">
                                ver detalhes
                            </md-button>
                        </div>
                    </md-list-item>
                    <md-list-item ng-if="suggestInstCtrl.suggestionToSimpleInvite(institution.state)" ng-click="null" class="md-2-line">
                        <div class="md-list-item-text">
                            <h3 style="color: #616161">{{institution.name}}</h3>
                            <p style="color: #9E9E9E">{{suggestInstCtrl.instStatusMessage(institution.admin, institution.state)}}<p>
                        </div>
                        <md-icon style="color: #424242">error</md-icon>
                    </md-list-item>
                </md-list>
                <md-list>
                    <md-list-item ng-if="suggestInstCtrl.isHierarchy">
                        <md-radio-button ng-value="null" class="md-primary" flex>Convidar nova instituição</md-radio-button>
                    </md-list-item>
                </md-list>
            </md-radio-group>
        </md-dialog-content>

        <md-dialog-actions layout="row" layout-align="end center">
            <md-button md-colors="{background: 'default-teal-500'}" ng-click="suggestInstCtrl.cancel()" layout-align="center">Cancelar</md-button>
            <md-button md-colors="{background: 'default-teal-500'}" ng-click="suggestInstCtrl.checkAndSendInvite()">Enviar</md-button>
        </md-dialog-actions>
    </div>

</md-dialog>