<md-content layout="row" layout-align="center" class="body custom-scrollbar">
  <div flex layout="row" layout-align="center">
    <div flex flex-gt-lg="95">
        <md-card flex layout="column">
          <md-toolbar md-colors="{background: 'teal-500'}" layout="row"
            ng-click="inviteInstCtrl.toggleElement('showSendInvites')" class="clickable-no-hover">
            <div class="md-toolbar-tools" flex layout="row" layout-align="center center">
              <h1>
                <md-icon>send</md-icon> 
                Convidar instituição
              </h1>
              <span flex md-truncate></span>
              <md-button class="md-icon-button md-secondary">
                <md-icon>{{ inviteInstCtrl.showSendInvites ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</md-icon>
              </md-button>
            </div>
          </md-toolbar>
          <md-card-content ng-show="inviteInstCtrl.showSendInvites">
            <div layout-gt-sm="column" layout-padding>
              <div layout-gt-sm="column">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Nome da Instituição</label>
                  <input ng-model="inviteInstCtrl.invite.suggestion_institution_name" required>
                </md-input-container>

                <md-input-container class="md-block">
                  <label>Email para envio do convite</label>
                  <input ng-model="inviteInstCtrl.invite.invitee" type="email"  required>
                </md-input-container>
              </div>
              <section layout="row" layout="column" layout-align="end center" layout-wrap>
                <md-button md-colors="{background: 'teal-500'}" ng-click="inviteInstCtrl.cancelInvite()">Cancelar</md-button>
                <md-button ng-click="inviteInstCtrl.checkInstInvite($event)" md-colors="{background: 'teal-500'}">Enviar Convite</md-button>
              </section>
            </div>
          </md-card-content>
        </md-card>

        <md-card flex layout="column">
          <md-toolbar md-colors="{background: 'teal-500'}" layout="row"
            ng-click="inviteInstCtrl.toggleElement('showInvites')" class="clickable-no-hover">
            <div class="md-toolbar-tools" flex layout="row" layout-align="center center">
              <h1>
                <md-icon>email</md-icon>
                Convites enviados
              </h1>
              <span flex md-truncate></span>
              <md-button class="md-icon-button md-secondary">
                <md-icon>{{ inviteInstCtrl.showInvites ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</md-icon>
              </md-button>
            </div>
          </md-toolbar>
          <md-card-content ng-show="inviteInstCtrl.showInvites" 
             style="overflow: auto; max-height: 235px;" class="custom-scrollbar">
            <md-list class="md-dense" flex>
              <md-list-item class="md-3-line" ng-click="null" ng-repeat="invite in inviteInstCtrl.sent_invitations">
                <md-icon class="md-avatar-icon" 
                md-colors="{background: 'light-green-500', color: 'grey-50'}">account_balance</md-icon>
                <div class="md-list-item-text" layout="column">
                  <h3>{{ invite.suggestion_institution_name }}</h3>
                  <h4>{{ invite.invitee }}</h4>
                  <h4>Convidada por: {{ invite.sender_name }}</h4>
                </div>
                <div layout-align="end center">
                  <md-button class="md-raised" ng-click="inviteInstCtrl.resendInvite(invite.key, $event)">
                    Reenviar
                  </md-button>
                </div>
              </md-list-item>
            </md-list>
          </md-card-content>
        </md-card>

        <md-card flex layout="column">
          <md-toolbar md-colors="(inviteInstCtrl.sent_requests.length > 0) ? {background: 'light-green-500'} : {background: 'teal-500'}" layout="row"
            ng-click="inviteInstCtrl.toggleElement('showRequests')" class="clickable-no-hover">
            <div class="md-toolbar-tools" flex layout="row" layout-align="center center">
              <h1>
                <md-icon ng-class="(inviteInstCtrl.sent_requests.length > 0) ? 'notification-badge' : ''" data-badge>feedback</md-icon>
                <span md-colors="{color: 'grey-50'}">Convites requisitados</span>
              </h1>
              <span flex md-truncate></span>
              <md-button class="md-icon-button md-secondary">
                <md-icon>{{ inviteInstCtrl.showRequests ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</md-icon>
              </md-button>
            </div>
          </md-toolbar>
          <md-card-content ng-show="inviteInstCtrl.showRequests" 
             style="overflow: auto; max-height: 240px;" class="custom-scrollbar">
            <div flex >
              <md-list class="md-dense" flex>
                <md-list-item class="md-3-line" ng-repeat="request in inviteInstCtrl.sent_requests"
                ng-click="inviteInstCtrl.showPendingRequestDialog($event, request)">
                  <md-icon class="md-avatar-icon" 
                  md-colors="{background: 'light-green-500', color: 'grey-50'}">account_balance</md-icon>
                  <div class="md-list-item-text" layout="column">
                    <h3>Instituição: {{ request.institution_name }}</h3>
                    <h4>Requisitado por: {{ request.sender_name }}</h4>
                    <p>Email do requisitante: {{ request.sender[0] }}</p>
                  </div>
                  <div layout="row" layout-align="end center" flex hide show-gt-xs>
                    <p class="hollow-button" md-colors="{color: 'teal-500'}">
                      ANALISAR
                    </p>
                  </div>
                </md-list-item>
              </md-list>
            </div>
          </md-card-content>
        </md-card>

        <md-card flex layout="column">
          <md-toolbar md-colors="{background: 'teal-500'}" layout="row"
            ng-click="inviteInstCtrl.toggleElement('showSentInvitations')" class="clickable-no-hover">
            <div class="md-toolbar-tools" flex layout="row" layout-align="center center">
              <h1>
                <md-icon>check_circle</md-icon>
                Convites aceitos
              </h1>
              <span flex md-truncate></span>
              <md-button class="md-icon-button md-secondary">
                <md-icon>{{ inviteInstCtrl.showSentInvitations ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}</md-icon>
              </md-button>
            </div>
          </md-toolbar>
          <md-card-content  ng-show="inviteInstCtrl.showSentInvitations"
             style="overflow: auto; max-height: 235px;" class="custom-scrollbar">
            <md-list class="md-dense" flex>
              <md-list-item class="md-3-line" ng-repeat="invite in inviteInstCtrl.accepted_invitations">
                <md-icon class="md-avatar-icon" 
                md-colors="{background: 'light-green-500', color: 'grey-50'}">account_balance</md-icon>
                <div class="md-list-item-text" layout="column">
                  <a href class="md-title hyperlink"
                  ng-click="inviteInstCtrl.goToInst(invite.stub_institution.key)">
                  {{ invite.stub_institution.name }} </a>
                  <h4>Nome Sugerido: {{ invite.suggestion_institution_name }}</h4>
                </div>
              </md-list-item>
            </md-list>
          </md-card-content>
        </md-card>
    </div>
  </div>
</md-content>
