<md-content layout="row" layout-align="center" class="body hide-scrollbar">
  <div flex layout="row" layout-align="center">
    <div flex flex-gt-lg="95">
        <md-card flex layout="column">
          <md-toolbar md-colors="{background: 'teal-500'}" layout="row">
            <div class="md-toolbar-tools" flex layout="row" layout-align="center center">
              <h1>
                <md-icon>send</md-icon> 
                Enviar convite
              </h1>
              <span flex md-truncate></span>
              <md-button ng-if="!inviteInstCtrl.showSendInvite" ng-click="inviteInstCtrl.showSendInvite = true;"
              class="md-icon-button md-secondary">
                <md-icon>keyboard_arrow_down</md-icon>
              </md-button>
              <md-button ng-if="inviteInstCtrl.showSendInvite" ng-click="inviteInstCtrl.showSendInvite = false;"
                class="md-icon-button md-secondary">
                <md-icon>keyboard_arrow_up</md-icon>
              </md-button>
            </div>
          </md-toolbar>
          <md-card-content ng-show="inviteInstCtrl.showSendInvite;">
            <div layout-gt-sm="column" layout-padding>
              <div layout-gt-sm="column">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Nome da Instituição</label>
                  <input ng-model="inviteInstCtrl.invite.suggestion_institution_name" required>
                </md-input-container>

                <md-input-container class="md-block">
                  <label>Email para envio do convite</label>
                  <input ng-model="inviteInstCtrl.invite.invitee" type="email"  required>
                </md-input-container>
              </div>
              <section layout="row" layout="column" layout-align="end center" layout-wrap>
                <md-button md-colors="{background: 'teal-500'}" ng-click="inviteInstCtrl.cancelInvite()">Cancelar</md-button>
                <md-button ng-click="inviteInstCtrl.checkInstInvite($event)" md-colors="{background: 'teal-500'}">Enviar Convite</md-button>
              </section>
            </div>
          </md-card-content>
        </md-card>

        <md-card flex layout="column">
          <md-toolbar md-colors="{background: 'teal-500'}" layout="row">
            <div class="md-toolbar-tools" flex layout="row" layout-align="center center">
              <h1>
                <md-icon>email</md-icon>
                Convites enviados
              </h1>
              <span flex md-truncate></span>
              <md-button ng-if="!inviteInstCtrl.showInvites" ng-click="inviteInstCtrl.showInvites = true;"
              class="md-icon-button md-secondary">
                <md-icon>keyboard_arrow_down</md-icon>
              </md-button>
              <md-button ng-if="inviteInstCtrl.showInvites" ng-click="inviteInstCtrl.showInvites = false;"
                class="md-icon-button md-secondary">
                <md-icon>keyboard_arrow_up</md-icon>
              </md-button>
            </div>
          </md-toolbar>
          <md-card-content ng-if="inviteInstCtrl.showInvites">
            <md-list class="md-dense" flex>
              <md-list-item class="md-3-line" ng-repeat="invite in inviteInstCtrl.sent_invitations"
              ng-if="invite.status === 'sent' && invite.type_of_invite === 'INSTITUTION'" ng-click="null">
                <md-icon class="md-avatar-icon" 
                md-colors="{background: 'light-green-500', color: 'grey-50'}">account_balance</md-icon>
                <div class="md-list-item-text" layout="column">
                  <h3>{{ invite.suggestion_institution_name }}</h3>
                  <h4>{{ invite.invitee }}</h4>
                  <h4>Convidada por: {{ invite.sender_name }}</h4>
                </div>
              </md-list-item>
            </md-list>
          </md-card-content>
        </md-card>

        <md-card flex layout="column">
          <md-toolbar md-colors="{background: 'teal-500'}" layout="row">
            <div class="md-toolbar-tools" flex layout="row" layout-align="center center">
              <h1>
                <md-icon>feedback</md-icon>
                Convites requisitados
              </h1>
              <span flex md-truncate></span>
              <md-button ng-if="!inviteInstCtrl.showRequests" ng-click="inviteInstCtrl.showRequests = true;"
              class="md-icon-button md-secondary">
                <md-icon>keyboard_arrow_down</md-icon>
              </md-button>
              <md-button ng-if="inviteInstCtrl.showRequests" ng-click="inviteInstCtrl.showRequests = false;"
                class="md-icon-button md-secondary">
                <md-icon>keyboard_arrow_up</md-icon>
              </md-button>
            </div>
          </md-toolbar>
          <md-card-content ng-if="inviteInstCtrl.showRequests">
            <md-list class="md-dense" flex>
              <md-list-item class="md-3-line" ng-repeat="request in inviteInstCtrl.sent_requests"
              ng-if="request.status === 'sent' && request.type_of_invite === 'REQUEST_INSTITUTION'"
              ng-click="inviteInstCtrl.showProcessingRequestDialog(request)">
                <md-icon class="md-avatar-icon" 
                md-colors="{background: 'light-green-500', color: 'grey-50'}">account_balance</md-icon>
                <div class="md-list-item-text" layout="column">
                  <h3>{{ request.institution_name }}</h3>
                  <p>{{ request.sender[0] }}</p>
                </div>
              </md-list-item>
            </md-list>
          </md-card-content>
        </md-card>

        <md-card flex layout="column">
          <md-toolbar md-colors="{background: 'teal-500'}" layout="row">
            <div class="md-toolbar-tools" flex layout="row" layout-align="center center">
              <h1>
                <md-icon>check_circle</md-icon>
                Convites aceitos
              </h1>
              <span flex md-truncate></span>
              <md-button ng-if="!inviteInstCtrl.showSentInvitations" ng-click="inviteInstCtrl.showSentInvitations = true;"
              class="md-icon-button md-secondary">
                <md-icon>keyboard_arrow_down</md-icon>
              </md-button>
              <md-button ng-if="inviteInstCtrl.showSentInvitations" ng-click="inviteInstCtrl.showSentInvitations = false;"
                class="md-icon-button md-secondary">
                <md-icon>keyboard_arrow_up</md-icon>
              </md-button>
            </div>
          </md-toolbar>
          <md-card-content  ng-if="inviteInstCtrl.showSentInvitations">
            <md-list class="md-dense" flex>
              <md-list-item class="md-3-line" ng-repeat="invite in inviteInstCtrl.sent_invitations" ng-if="invite.status === 'accepted' && invite.type_of_invite === 'INSTITUTION'">
                <md-icon class="md-avatar-icon" 
                md-colors="{background: 'light-green-500', color: 'grey-50'}">account_balance</md-icon>
                <div class="md-list-item-text" layout="column">
                  <a href class="md-title hyperlink"
                  ng-click="inviteInstCtrl.goToInst(invite.stub_institution.key)">
                  {{ invite.stub_institution.name }} </a>
                  <h4>Nome Sugerido: {{ invite.suggestion_institution_name }}</h4>
                </div>
              </md-list-item>
            </md-list>
          </md-card-content>
        </md-card>
    </div>
  </div>
</md-content>
