<div flex-gt-lg="80" flex-lg="90" layout="row" layout-align="center" layout-fill>
  <div flex>
    <md-card>
      <md-toolbar md-colors="{background: 'teal-500'}" layout="row" class="clickable-no-hover" 
        ng-click="inviteInstHierCtrl.toggleElement('showSendInvite')">
        <div class="md-toolbar-tools" flex layout="row" layout-align="center center">
          <h1>
            <md-icon>send</md-icon>
            Convidar instituição
          </h1>
          <span flex md-truncate></span>
          <md-button class="md-icon-button md-secondary">
            <md-icon>{{inviteInstHierCtrl.showSendInvite ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}</md-icon>
          </md-button>
        </div>
      </md-toolbar>
      <md-card-content ng-show="inviteInstHierCtrl.showSendInvite">
        <div layout-gt-sm="column">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Nome da Instituição convidada</label>
            <input ng-model="inviteInstHierCtrl.invite.suggestion_institution_name" required>
          </md-input-container>
          <md-input-container class="md-block">
            <label>Email convite deve ser enviado para:</label>
            <input ng-model="inviteInstHierCtrl.invite.invitee" type="email" required>
          </md-input-container>
          <p>Qual a conexão da instituição <b>{{inviteInstHierCtrl.invite.suggestion_institution_name}} </b> com  <b> {{inviteInstHierCtrl.institution.name}} </b> ?</p>

          <md-radio-group ng-model="inviteInstHierCtrl.invite.type_of_invite" required>

            <md-radio-button value="INSTITUTION_PARENT" class="md-primary">É a instituição superior</md-radio-button>
            <md-radio-button value="INSTITUTION_CHILDREN" class="md-primary">É uma subordinada de {{inviteInstHierCtrl.institution.name}}</md-radio-button>
            <md-radio-button ng-disabled="true" value="suggestion_invite" class="md-primary">Nenhuma</md-radio-button>

          </md-radio-group>
          <section layout="row" layout="column" layout-align="end center" layout-wrap>
            <md-button md-colors="{color: 'teal-700'}" ng-click="inviteInstHierCtrl.cancelInvite()">Cancelar</md-button>
            <md-button md-colors="{color: 'teal-700'}" ng-click="inviteInstHierCtrl.checkInstInvite($event)" ng-disabled="inviteInstHierCtrl.isLoadingSubmission">
              Enviar Convite
            </md-button>
          </section>
        </div>
      </md-card-content>
    </md-card>
    <md-card>
      <md-toolbar md-colors="{background: 'teal-500'}" layout="row" class="clickable-no-hover"
        ng-click="inviteInstHierCtrl.toggleElement('showParentHierarchie')">
        <div class="md-toolbar-tools" flex layout="row" layout-align="center center">
          <h1>
            <md-icon>account_balance</md-icon>
            Instituição hierarquicamente superior
          </h1>
          <span flex md-truncate></span>
          <md-button class="md-icon-button md-secondary">
            <md-icon>{{inviteInstHierCtrl.showParentHierarchie ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}</md-icon>
          </md-button>
        </div>
      </md-toolbar>
      <md-card-content ng-if="inviteInstHierCtrl.showParentHierarchie">
        <md-list class="md-dense" flex>
          <md-list-item disable="true" class="md-3-line" ng-if="inviteInstHierCtrl.hasParent" ng-click="inviteInstHierCtrl.goToActiveInst(inviteInstHierCtrl.institution.parent_institution)">
            <md-icon class="md-avatar-icon" md-colors="{background: 'light-green-500', color: 'grey-50'}">account_balance</md-icon>
            <div class="md-list-item-text" layout="column">
              <a href class="md-title hyperlink" ng-if="inviteInstHierCtrl.isActive(inviteInstHierCtrl.institution.parent_institution)">
                {{ inviteInstHierCtrl.institution.parent_institution.name }}
              </a>
              <h3>Status do vínculo: {{inviteInstHierCtrl.linkParentStatus()}}</h3>
              <h4 ng-if="inviteInstHierCtrl.institution.parent_institution.invite">
                Nome Sugerido: {{ inviteInstHierCtrl.getSuggestedName(inviteInstHierCtrl.institution.parent_institution) }}
              </h4>
              <div ng-if="!inviteInstHierCtrl.isActive(inviteInstHierCtrl.institution.parent_institution)">
                <h3>{{ inviteInstHierCtrl.institution.parent_institution.name }}</h3>
                <h3 style="color: red">
                  Esta instituição ainda não está cadastrada na plataforma</h3>
              </div>
            </div>
            <div ng-if="inviteInstHierCtrl.isActive(inviteInstHierCtrl.institution.parent_institution)">
              <md-button ng-click="inviteInstHierCtrl.removeLink(inviteInstHierCtrl.institution.parent_institution, true, $event)">
                <md-icon md-colors="{color: 'red-700'}" title="Remover conexão">link</md-icon>
              </md-button>
            </div>
          </md-list-item>
        </md-list>
      </md-card-content>
    </md-card>
    <md-card>
        <md-toolbar md-colors="{background: 'teal-500'}" layout="row" class="clickable-no-hover"
          ng-click="inviteInstHierCtrl.toggleElement('showChildrenHierarchie')">
          <div class="md-toolbar-tools" flex layout="row" layout-align="center center">
            <h1>
              <md-icon>account_balance</md-icon>
              Instituição hierarquicamente subordinadas
            </h1>
            <span flex md-truncate></span>
            <md-button class="md-icon-button md-secondary">
              <md-icon>{{inviteInstHierCtrl.showChildrenHierarchie ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}</md-icon>
            </md-button>
          </div>
        </md-toolbar>
        <md-card-content ng-if="inviteInstHierCtrl.showChildrenHierarchie">
          <md-list class="md-dense" flex>
            <md-list-item class="md-3-line"
            ng-repeat="institution in inviteInstHierCtrl.institution.children_institutions" ng-click="inviteInstHierCtrl.goToActiveInst(institution)">
              <md-icon class="md-avatar-icon" md-colors="{background: 'light-green-500', color: 'grey-50'}">account_balance</md-icon>
              <div class="md-list-item-text" layout="column">
                <div ng-if="inviteInstHierCtrl.isActive(institution)">
                  <a href class="md-title hyperlink">
                  {{ institution.name }}
                  </a>
                  <h3>Status do vínculo: {{inviteInstHierCtrl.linkChildrenStatus(institution)}}</h3>
                  <h4 ng-if="institution.invite">Nome Sugerido: {{ inviteInstHierCtrl.getSuggestedName(institution) }}</h4>
                </div>
                <div ng-if="!inviteInstHierCtrl.isActive(institution)">
                  <h3>{{ institution.name }}</h3>
                  <h3 style="color: red">
                  Esta instituição ainda não está cadastrada na plataforma</h3>
                </div>
              </div>
              <div ng-if="inviteInstHierCtrl.isActive(institution)" layout="row">
                <md-button ng-click="inviteInstHierCtrl.removeLink(institution, false, event)">
                  <md-icon md-colors="{color: 'red-700'}" title="Remover conexão">link</md-icon>
                </md-button>
                <md-button ng-if="inviteInstHierCtrl.canRemoveInst(institution)" ng-click="inviteInstHierCtrl.removeChild(institution)">
                  <md-icon md-colors="{color: 'red-700'}" title="Remover institutição">delete</md-icon>
                </md-button>
              </div>
            </md-list-item>
          </md-list>
        </md-card-content>
    </md-card>
    <md-card>
        <md-toolbar md-colors="(inviteInstHierCtrl.hasRequested()) ? {background: 'light-green-500'} : {background: 'teal-500'}" layout="row" class="clickable-no-hover"
          ng-click="inviteInstHierCtrl.toggleElement('showRequestInvites')">
          <div class="md-toolbar-tools" flex layout="row" layout-align="center center">
            <h1>
              <md-icon ng-class="(inviteInstHierCtrl.hasRequested()) ? 'notification-badge' : ''" data-badge>feedback</md-icon>
              <span md-colors="{color: 'grey-50'}">Vinculos pendentes</span>
            </h1>
            <span flex md-truncate></span>
            <md-button class="md-icon-button md-secondary">
              <md-icon>{{inviteInstHierCtrl.showRequestInvites ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}</md-icon>
            </md-button>
          </div>
        </md-toolbar>
        <md-card-content ng-if="inviteInstHierCtrl.showRequestInvites">
          <md-list class="md-dense" flex>
              <md-list-item class="md-3-line" ng-repeat="request in inviteInstHierCtrl.requested_invites" ng-if="inviteInstHierCtrl.isReqSentToCurrentInst(request)" ng-click="inviteInstHierCtrl.goToRequestedInst(request)">
                <md-icon class="md-avatar-icon" md-colors="{background: 'light-green-500', color: 'grey-50'}">account_balance</md-icon>  
                <div class="md-list-item-text" layout="column">
                  <div layout="column">
                    <a href class="md-title hyperlink" style="margin-top: 7px" ng-click="inviteInstHierCtrl.goToRequestedInst(request)">
                    {{ inviteInstHierCtrl.getReqInstName(request) }}
                    </a>
                    <h3 style="color: red">{{inviteInstHierCtrl.showMessage(request)}}</h3>
                  </div>
                </div>
                <div ng-hide="inviteInstHierCtrl.isReqSentByCurrentInst(request)">
                    <md-button class="md-icon-button" ng-click="inviteInstHierCtrl.rejectRequest(request, request.type_of_invite, $event)" title="Rejeitar">
                      <md-icon style="color: red">clear</md-icon>
                    </md-button>
                    <md-button class="md-icon-button" ng-click="inviteInstHierCtrl.acceptRequest(request, request.type_of_invite, $event)" title="Aceitar">
                      <md-icon style="color: green">check</md-icon>
                    </md-button>
                </div>
              </md-list-item>
            </md-list>
        </md-card-content>
    </md-card>
  </div>
</div>