#content-new-invite{
    display: grid;
    justify-items: center;
    align-items: center;
}

.no-margin{
    margin: 0px;
}

@media screen and (max-width: 400px) {
    .new-invite-page-card {
        max-width: 20em;
    }
}

@media screen and (min-width: 400px) and (max-width:600px) {
    .new-invite-page-card {
        max-width: 21.9em;
    }
}

@media screen and (min-width: 600px) and (max-width:800px) {
    .new-invite-page-card {
        max-width: 30em;
    }
}

@media screen and (min-width: 800px){
    .new-invite-page-card {
        max-width: 35em;
    }
}