#content-new-invite{
    height: 100%; 
    display: grid;
    justify-items: center;
    align-items: center;
}

#keyboard-button-invite{
    position: absolute;
    margin-left: -4.3em;
}

@media screen and (min-width: 600px) and (max-width:800px) {
    .new-invite-page-card {
        max-width: 30em;
    }
}

@media screen and (min-width: 400px) and (max-width:600px) {
    .new-invite-page-card {
        max-width: 21.9em;
    }
}

@media screen and (max-width: 960px){
    #keyboard-button-invite{
        display: none;
    }
}


@media only screen and (max-width: 600px) {
    .reduce-distance {
        margin: 0px;
    }
    .increase-distance {
        margin: 0px;
        padding-bottom: 10px;
    }
}

@media screen and (max-width: 400px) {
    .new-invite-page-card {
        max-width: 20em;
    }

    #invite-by-text{
        font-size: 12px;
    }
}

@media screen and (max-width: 320px) {
    .new-invite-page-card {
        max-width: 18em;
    }
}

@media screen and (min-width: 800px){
    .new-invite-page-card {
        max-width: 35em;
    }
}