.limit-card {
  max-width: 400px;
}

img.mobile-invite-logo {
  width: 70%;
}

.mobile-invite-btns {
  display: grid;
  width: 100%;
  grid-auto-flow: column;
  justify-content: end;
}

#accept-invite-grid {
  display: grid;
}

.divisor-text {
  font-size: 0.8em;
  font-weight: 500;
  margin-left: 1.6em;
}

.invite-inst-name {
  overflow: hidden;
  line-height: 1.2em;
  max-height: 3.6em;
  font-size: 1em;
  font-weight: normal;
  padding: 0.1em;
  text-align: left;
  text-overflow: ellipsis;
  justify-items: start;
}

#invite-back-button {
  justify-self: center;
  margin-bottom: -2.5em;
}
