<md-dialog flex-gt-md="40" flex-md="70" flex-sm="80" flex-xs="95">
    <!-- ACCEPT -->
    <md-dialog-content layout="row" layout-align="center center" ng-if="processCtrl.typeOfDialog === processCtrl.ACCEPT_INVITATION">
        <div layout="column" flex="90">
            <h3>Você foi indicado para ser administrador</h3>
            <p>
                {{processCtrl.invite.sender_name}} lhe indicou para ser o novo administrador desta instituição.
                Como administrador você poderá adicionar ou remover membros, vínculos
                institucionais e editar informações da instituição.
            </p>
            <md-list >
                <md-list-item class="list-item-dense" md-colors="{background: 'default-grey-300'}" flex-xs>
                    <img title="{{processCtrl.invite.institution.name}}" ng-src="{{processCtrl.invite.institution.photo_url || '/app/images/institution.png'}}" class="md-avatar" style="margin: 0 15px 0 -15px; width: 60px; height: 60px;"/>
                    <div layout="column" layout-align="center start">
                        <b style="font-size: 15px;">{{ processCtrl.invite.institution.name }}</b>
                        <span style="font-size: 15px;" ng-if="processCtrl.invite.institution.institutional_email">{{ processCtrl.invite.institution.institutional_email }}</span>
                    </div>
                </md-list-item>
            </md-list>
        </div>
    </md-dialog-content>
    <md-dialog-actions ng-if="processCtrl.typeOfDialog === processCtrl.ACCEPT_INVITATION">
        <md-button class="md-raised" md-colors="{color: 'default-teal-500'}" ng-click="processCtrl.reject()">
            RECUSAR
        </md-button>
        <md-button class="md-raised" md-colors="{color: 'default-teal-500'}" ng-click="processCtrl.accept()">
            ACEITAR
        </md-button>
    </md-dialog-actions>

    <!-- ACCEPTED -->
    <md-dialog-content layout="row" layout-align="center center" 
        ng-if="processCtrl.typeOfDialog === processCtrl.VIEW_INVITE_SENDER || processCtrl.typeOfDialog === processCtrl.VIEW_INVITE_INVITEE">
        <div layout="column" flex="90" ng-if="processCtrl.typeOfDialog === processCtrl.VIEW_INVITE_SENDER">
            <h3>Transferência de administração realizada com sucesso</h3>
            <p>
                {{processCtrl.invite.invitee_name}} aceitou ser administrador da instituição.
                A partir deste momento você não é mais adminstrador da instituição:
            </p>
            <md-list >
                <md-list-item class="list-item-dense" md-colors="{background: 'default-grey-300'}" flex-xs>
                    <img title="{{processCtrl.invite.institution.name}}" ng-src="{{processCtrl.invite.institution.photo_url || '/app/images/institution.png'}}" class="md-avatar" style="margin: 0 15px 0 -15px; width: 60px; height: 60px;"/>
                    <div layout="column" layout-align="center start">
                        <b style="font-size: 15px;">{{ processCtrl.invite.institution.name }}</b>
                        <span style="font-size: 15px;" ng-if="processCtrl.invite.institution.institutional_email">{{ processCtrl.invite.institution.institutional_email }}</span>
                    </div>
                </md-list-item>
            </md-list>
        </div>
        <div layout="column" flex="90" ng-if="processCtrl.typeOfDialog === processCtrl.VIEW_INVITE_INVITEE">
            <h3>Você é o novo administrador</h3>
            <div layout="row" layout-align="center center">
                <div style="margin-right: 16px;">
                    <img title="{{processCtrl.invite.institution.name}}" ng-src="{{processCtrl.invite.institution.photo_url || '/app/images/institution.png'}}" class="md-avatar" style="width: 80px; height: 80px; max-width: 100px;"/>
                </div>
                <span>Estamos processando suas permissões. Em breve você receberá uma notificação e ficará habilitado para administrar a instituição na Plataforma Virtual CIS.</span>
            </div>
        </div>
    </md-dialog-content>
    <md-dialog-actions ng-if="processCtrl.typeOfDialog === processCtrl.VIEW_INVITE_SENDER || processCtrl.typeOfDialog === processCtrl.VIEW_INVITE_INVITEE">
        <md-button class="md-raised" md-colors="{color: 'default-teal-500'}" ng-click="processCtrl.close()">
            FECHAR
        </md-button>
    </md-dialog-actions>
</md-dialog>