<md-content class="fill-screen" layout="row" layout-align="center center" md-colors="{background: 'teal-500'}">
    <div flex flex-sm="80" flex-md="50" flex-lg="40" flex-gt-lg="30"
        ng-if="!redirectInviteCtrl.signup">      
        <md-card>
            <md-card-content>
                <div layout="column" flex style="padding: 2%" ng-hide="redirectInviteCtrl.loading">
                    <div layout="row" layout-align="center center">
                        <img src="/app/images/logowithname.png" style="margin-top: 20px; margin-bottom: 20px; width: 75%;"/>
                    </div>
                    <div layout="row">
                        <p class="small-text md-title green-text">VOCÊ RECEBEU UM CONVITE DE:</p>
                    </div>
                    <md-list class="reduce-distance">
                        <md-list-item class="md-3-line" style="background-color:#F5F5F5;">
                            <img ng-src="{{ redirectInviteCtrl.invite.institution.photo_url }}" class="md-avatar" 
                                alt="{{redirectInviteCtrl.invite.institution.name}}" />
                            <div class="md-list-item-text" layout="column">
                                <h3><b>{{ redirectInviteCtrl.invite.institution.name }}</b></h3>
                                <p>
                                    {{ redirectInviteCtrl.invite.institution.institutional_email? redirectInviteCtrl.invite.institution.institutional_email : redirectInviteCtrl.invite.institution.email }}
                                </p>
                                <p>Convidado por : {{ redirectInviteCtrl.invite.admin_name }}</p>
                            </div>
                        </md-list-item>
                    </md-list>
                    <div layout="row" ng-if="redirectInviteCtrl.invite.suggestion_institution_name">
                        <p class="small-text md-title green-text">PARA CADASTRAR A INSTITUIÇÃO:</p>
                    </div>
                    <md-list flex ng-if="redirectInviteCtrl.invite.suggestion_institution_name">
                        <md-list-item style="background-color:#F5F5F5;">
                          <md-button md-colors="{background: 'light-green'}" class="md-icon-button" style="margin: 0 10px 0 0;">
                            <md-icon style="color: white;">account_balance</md-icon>
                          </md-button>
                          <div class="md-list-item-text" layout="column">
                            <h3><b>{{ redirectInviteCtrl.invite.suggestion_institution_name }}</b></h3>
                          </div>
                        </md-list-item>
                    </md-list>
                    <div layout="column" layout-gt-xs="row">
                        <md-button flex ng-click="redirectInviteCtrl.signup = true" md-colors="{background: 'teal-500'}">NÃO POSSUO CONTA</md-button>
                        <md-button flex ng-click="redirectInviteCtrl.signin()" md-colors="{background: 'teal-500'}">POSSUO CONTA</md-button>
                    </div>
                </div>
                <div layout="column" flex layout-align="center center" ng-show="redirectInviteCtrl.loading">
                    <div layout="row">
                        <p class="small-text md-title green-text">Processando seu convite.</p>
                    </div>
                    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                </div>
            </md-card-content>
        </md-card>
    </div>

    <signup return-action="redirectInviteCtrl.cancelSignup" 
        card-title="Preencha o formulário para criar uma conta"
        email-disabled="true" email="redirectInviteCtrl.invite.invitee"
        before-start="redirectInviteCtrl.displayLoading"
        callback="redirectInviteCtrl.goToHome"
        error-handler="redirectInviteCtrl.errorHandler"
        ng-if="redirectInviteCtrl.signup"></signup>
</md-content>