<md-dialog arial-label="Remoção de instituição filha" flex flex-gt-md="40">
    <md-dialog-content class="md-dialog-content" layout="column">
        <h3>Você deseja remover esta instituição?</h3>
        <md-input-container class="md-block">
            <label>Informe o motivo da remoção</label>
            <textarea ng-model="ctrl.justification"></textarea>
        </md-input-container>
    </md-dialog-content>
    <md-dialog-actions layout="row" layout-align="center center">
        <md-button class="md-warn" ng-click="ctrl.closeDialog()">
            Cancelar
        </md-button>
        <md-button class="md-warn md-raised" ng-click="ctrl.removeChildInst()">
            Continuar
        </md-button>
    </md-dialog-actions>
</md-dialog>