<md-dialog class="analyse-request__dialog" flex-sm="80" flex-xs="90" flex-gt-sm="50">
    <md-dialog-content class="md-dialog-content" layout-gt-sm="column" style="padding: 1em;"
    ng-if="!analyseHierReqCtrl.showProcessingMessage()">
        <div ng-if="!analyseHierReqCtrl.hasToRemoveLink">
            <h3> Confirmar vínculo </h3>
            <p class="analyse-request__description">
                Para aceitar o vínculo e tornar <b>{{ analyseHierReqCtrl.child.name }}</b> uma subornadinada de
                <b>{{ analyseHierReqCtrl.parent.name }}</b>, clique em aceitar. Caso não queira se vincular a esta instituição clique em rejeitar.
            </p>

            <div layout="column">
                <entity-showcase
                    class="fill-width analyse-request__margin-bottom"
                    avatar="analyseHierReqCtrl.parent.photo_url || 'app/images/institution.png'"
                    title="analyseHierReqCtrl.parent.name"
                    subtitle="analyseHierReqCtrl.parent.institutional_email">
                </entity-showcase>
                <div layout="row">
                    <div flex="5" layout="row" layout-align="center">
                        <div class="analyse-request__green-bar"></div>
                    </div>
                    <div layout="row" flex="95">
                        <entity-showcase
                            class="fill-width"
                            avatar="analyseHierReqCtrl.child.photo_url || 'app/images/avatar.png'"
                            title="analyseHierReqCtrl.child.name || analyseHierReqCtrl.child.sender_name"
                            subtitle="analyseHierReqCtrl.child.institutional_email">
                        </entity-showcase>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="analyseHierReqCtrl.showDescToRemoveLink()">
            <h3>Confirmar remoção de vínculo existente</h3>
            <p class="analyse-request__description">
                Para aceitar o vínculo e tornar <b>{{ analyseHierReqCtrl.child.name }}</b> uma subornadinada de <b>{{ analyseHierReqCtrl.parent.name }}</b>
                é necessário que o vínculo com <b>{{ analyseHierReqCtrl.child.parent_institution.name }}</b> seja desfeito. Clique em aceitar,
                para visualizar a alteração de vínculo, caso não queira se vincular a esta instituição clique em rejeitar. 
            </p>
        </div>
        <div ng-if="analyseHierReqCtrl.analyseInstitutions">
            <h4>Vínculo Atual</h4>
            <div layout="column">
                <entity-showcase
                    class="fill-width analyse-request__margin-bottom"
                    avatar="analyseHierReqCtrl.child.parent_institution.photo_url || 'app/images/institution.png'"
                    title="analyseHierReqCtrl.child.parent_institution.name"
                    subtitle="analyseHierReqCtrl.child.parent_institution.institutional_email">
                </entity-showcase>
                <div layout="row">
                    <div flex="5" layout="row" layout-align="center">
                        <div class="analyse-request__green-bar"></div>
                    </div>
                    <div layout="row" flex="95">
                        <entity-showcase
                            class="fill-width"
                            avatar="analyseHierReqCtrl.child.photo_url || 'app/images/avatar.png'"
                            title="analyseHierReqCtrl.child.name || analyseHierReqCtrl.child.sender_name"
                            subtitle="analyseHierReqCtrl.child.institutional_email">
                        </entity-showcase>
                    </div>
                </div>
            </div>

            <h4>Vínculo Futuro</h4>

            <div layout="column">
                <entity-showcase
                    class="fill-width analyse-request__margin-bottom"
                    avatar="analyseHierReqCtrl.parent.photo_url || 'app/images/institution.png'"
                    title="analyseHierReqCtrl.parent.name"
                    subtitle="analyseHierReqCtrl.parent.institutional_email">
                </entity-showcase>
                <div layout="row">
                    <div flex="5" layout="row" layout-align="start">
                        <div class="analyse-request__green-bar"></div>
                    </div>
                    <div flex="95">
                        <entity-showcase
                            class="fill-width"
                            avatar="analyseHierReqCtrl.child.photo_url || 'app/images/avatar.png'"
                            title="analyseHierReqCtrl.child.name || analyseHierReqCtrl.child.sender_name"
                            subtitle="analyseHierReqCtrl.child.institutional_email">
                        </entity-showcase>
                    </div>
                </div>
            </div>
        </div>
    </md-dialog-content>
    <md-dialog-actions ng-if="!analyseHierReqCtrl.showProcessingMessage()"
        layout="row" layout-align="end center" layout-wrap>
        <md-button class="md-primary" ng-click="analyseHierReqCtrl.rejectRequest()" 
            md-colors="{color: 'default-teal-500'}"> Rejeitar </md-button>
        <md-button class="md-primary" ng-click="analyseHierReqCtrl.confirmRequest()"
            md-colors="{color: 'default-teal-500'}"
            ng-if="analyseHierReqCtrl.showButtonAccept()"> Aceitar</md-button>
        <md-button class="md-primary"
            ng-click="analyseHierReqCtrl.analyseInstitutions = true" 
            md-colors="{color: 'default-teal-500'}"
            ng-if="analyseHierReqCtrl.showDescToRemoveLink()"> Avançar
        </md-button>
    </md-dialog-actions>

    <!-- ACCEPTED -->
    <md-dialog-content layout="row" layout-align="center center" 
        ng-if="analyseHierReqCtrl.showProcessingMessage()">
        <div layout="column" flex="90">
            <h3>Vínculo confirmado</h3>
            <div layout="row" layout-align="center center">
                <div style="margin-right: 16px;">
                    <img title="{{analyseHierReqCtrl.invite.institution.name}}" ng-src="{{analyseHierReqCtrlanalyseHierReqCtrl.invite.institution.photo_url || '/app/images/institution.png'}}" class="md-avatar" style="width: 80px; height: 80px; max-width: 100px;"/>
                </div>
                <span>Estamos processando suas permissões. Em breve você receberá uma notificação e ficará habilitado para administrar a instituição
                    e toda sua hierarquia na Plataforma Virtual CIS.</span>
            </div>
        </div>
    </md-dialog-content>
    <md-dialog-actions ng-if="analyseHierReqCtrl.showProcessingMessage()">
        <md-button class="md-raised" md-colors="{color: 'default-teal-500'}" ng-click="analyseHierReqCtrl.close()">
            FECHAR
        </md-button>
    </md-dialog-actions>
</md-dialog>
