.analyse-request__description{
    color: #707070;
}

.analyse-request__dialog{
    max-height: 90%;
}

.analyse-request__green-bar{
    width: 8px;
    background-color: #009688;
}

.analyse-request__margin-bottom{
    margin:0 0 8px 0;
}