<md-dialog flex-sm="80" flex-xs="100" flex-gt-sm="50">
    <md-dialog-content class="md-dialog-content" layout-gt-sm="column" style="padding: 1em;">
        <div ng-if="!analyseHierReqCtrl.hasToRemoveLink">
            <h3> Confirmar vínculo </h3>
            <p>
                Para aceitar o vínculo e tornar <b>{{ analyseHierReqCtrl.child.name }}</b> uma subornadinada de
                <b>{{ analyseHierReqCtrl.parent.name }}</b>, clique em Confirmar. Caso queira rejeitar, clique em cancelar.
            </p>
        </div>
        <div ng-if="analyseHierReqCtrl.hasToRemoveLink">
            <h3>Confirmar remoção de vínculo existente</h3>
            <p>
                Para aceitar o vínculo e tornar <b>{{ analyseHierReqCtrl.child.name }}</b> uma subornadinada de <b>{{ analyseHierReqCtrl.parent.name }}</b>
                é necessário que o vínculo com <b>{{ analyseHierReqCtrl.child.parent_institution.name }}</b> seja desfeito. Clique em Confirmar,
                para prosseguir, ou em Cancelar, para rejeitar o pedido. 
            </p>
            <h4>Vínculo Atual</h4>
            <div layout="column">
                <div layout="row" md-colors="{background: 'default-grey-200'}" layout-margin style="margin: 0 0 8px 0;">
                <div>
                    <img style="width: 75px; height: 75px; border-radius: 50%;" ng-src="{{analyseHierReqCtrl.child.parent_institution.photo_url || 'app/images/institution.png'}}"
                    alt="{{analyseHierReqCtrl.child.parent_institution.name}}"></img>
                </div>
                <div layout="column" layout-align="center start">
                    <b>{{ analyseHierReqCtrl.child.parent_institution.name }}</b>
                    <span>{{ analyseHierReqCtrl.child.institutional_email }}</span>
            </div>
                </div>
                <div layout="row">
                <div flex="5" layout="row" layout-align="center">
                    <div style="width: 8px;" md-colors="{background: 'default-teal-500'}"></div>
                </div>
                <div layout="row" md-colors="{background: 'default-grey-200'}" layout-margin flex="95" style="margin: 0;">
                    <div>
                    <img style="width: 75px; height: 75px; border-radius: 50%;" ng-src="{{ analyseHierReqCtrl.child.photo_url || 'app/images/avatar.png'}}"
                        alt="{{ analyseHierReqCtrl.child.name }}"></img>
                    </div>
                    <div layout="column" layout-align="center start">
                    <b>{{ analyseHierReqCtrl.child.name || analyseHierReqCtrl.child.sender_name}}</b>
                    <span>{{ analyseHierReqCtrl.child.institutional_email }}</span>
                    <span>{{ analyseHierReqCtrl.child.office }}</span>
                    </div>
                </div>
                </div>
            </div>

            <h4>Vínculo Futuro</h4>
        </div>

        <div layout="column">
            <div layout="row" md-colors="{background: 'default-grey-200'}" layout-margin style="margin: 0 0 8px 0;">
            <div>
                <img style="width: 75px; height: 75px; border-radius: 50%;" ng-src="{{analyseHierReqCtrl.parent.photo_url || 'app/images/institution.png'}}"
                alt="{{analyseHierReqCtrl.parent.name}}"></img>
            </div>
            <div layout="column" layout-align="center start">
                <b>{{ analyseHierReqCtrl.parent.name }}</b>
                <span>{{ analyseHierReqCtrl.parent.institutional_email }}</span>
            </div>
            </div>
            <div layout="row">
            <div flex="5" layout="row" layout-align="center">
                <div style="width: 8px;" md-colors="{background: 'default-teal-500'}"></div>
            </div>
            <div layout="row" md-colors="{background: 'default-grey-200'}" layout-margin flex="95" style="margin: 0;">
                <div>
                <img style="width: 75px; height: 75px; border-radius: 50%;" ng-src="{{ analyseHierReqCtrl.child.photo_url || 'app/images/avatar.png'}}"
                    alt="{{ analyseHierReqCtrl.child.name }}"></img>
                </div>
                <div layout="column" layout-align="center start">
                <b>{{ analyseHierReqCtrl.child.name || analyseHierReqCtrl.child.sender_name}}</b>
                <span>{{ analyseHierReqCtrl.child.institutional_email }}</span>
                <span>{{ analyseHierReqCtrl.child.office }}</span>
                </div>
            </div>
            </div>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row" layout-align="end center" layout-wrap>
        <md-button class="md-primary" ng-click="analyseHierReqCtrl.rejectRequest()" 
            md-colors="{color: 'default-teal-500'}"> Cancelar </md-button>
        <md-button class="md-primary" ng-click="analyseHierReqCtrl.confirmRequest()"
            md-colors="{color: 'default-teal-500'}"> Confirmar </md-button>
    </md-dialog-actions>
</md-dialog>
