<div layout-padding layout="column" flex-gt-sm="40" flex-xs="90" flex-sm="60">
  <div layout="row" layout-align="start center" style="padding: 0;">
    <div layout="column" flex="100" layout-padding style="padding: 0;">
      <md-dialog style="max-width: 100%;">
        <md-dialog-content class="custom-scrollbar" layout-padding ng-if="!requestCtrl.isRejecting">
            <div layout="row" layout-align="center center">
                <div layout="column" flex="100">
                  <h4 style="margin: 0;">Informações institucionais</h4>
                  <b class="inst-info-title">Nome</b>
                  <b class="inst-info-text">{{ requestCtrl.parent.name }}</b>
                  <div layout="row">
                    <div layout="column">
                      <b class="inst-info-title">Área de atuação</b>
                      <b class="inst-info-text">{{requestCtrl.instActuationArea}}</b>
                      <b class="inst-info-title">País</b>
                      <b class="inst-info-text">{{requestCtrl.parent.address.country}}</b>
                      <div layout="column" ng-if="!requestCtrl.isAnotherCountry()">
                          <b class="inst-info-title">Cidade</b>
                          <b class="inst-info-text">{{requestCtrl.parent.address.city}}</b>
                          <b class="inst-info-title">Rua</b>
                          <b class="inst-info-text">{{requestCtrl.parent.address.street}}</b>
                        </div>
                    </div>
                    <div layout="column" style="margin-left: 100px;">
                        <b class="inst-info-title">Natureza jurídica</b>
                        <b class="inst-info-text">{{requestCtrl.instLegalNature}}</b>
                        <div layout="column" ng-if="!requestCtrl.isAnotherCountry()">
                          <b class="inst-info-title">Estado</b>
                          <b class="inst-info-text">{{requestCtrl.parent.address.federal_state}}</b>
                          <b class="inst-info-title">Bairro</b>
                          <b class="inst-info-text">{{requestCtrl.parent.address.neighbourhood}}</b>
                          <b class="inst-info-title">Número</b>
                          <b class="inst-info-text">{{requestCtrl.parent.address.number}}</b>
                        </div>
                    </div>
                  </div>
                  <b class="inst-info-title">Responsável</b>
                  <b class="inst-info-text">{{ requestCtrl.parent.leader }}</b>
                  <b class="inst-info-title">Email</b>
                  <b class="inst-info-text">{{ requestCtrl.parent.email }}</b>
                  <b class="inst-info-title">Descrição</b>
                  <b class="inst-info-text">{{requestCtrl.parent.description}}</b>
              </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions style="border:0px" layout="row">
          <md-button ng-click="requestCtrl.rejectRequest($event)" class="md-raised" md-colors="{background: 'default-teal-500'}">
            <span style="color: white;">RECUSAR</span>
          </md-button>
          <md-button ng-click="requestCtrl.acceptRequest()" class="md-raised" md-colors="{background: 'default-teal-500'}">
            <span style="color: white;">APROVAR</span>
          </md-button>
        </md-dialog-actions>
      </md-dialog>
    </div>
  </div>
</div>