<div layout-padding layout="column" flex-gt-sm="40" flex-xs="90" flex-sm="60">
  <div div layout="row" layout-align="start center">
    <div layout="column" flex="100">
      <md-dialog>
        <md-dialog-content class="md-dialog-content" layout-gt-sm="column" layout-padding ng-if="!requestCtrl.isRejecting">
          <h4 style="margin: 0;">Informações institucionais</h4>
          <div layout="column">
            <div layout="row" layout-margin style="margin: 0 0 8px 0;">
              <div layout="column" layout-align="center start">
                <b style="color: #009688">Nome</b>
                <p style="color: #757575">{{ requestCtrl.parent.name }}</p>
                <div ng-if="requestCtrl.parent.acronym" >
                    <b style="color:#009688">Sigla</b>
                    <p style="color: #757575">{{requestCtrl.parent.acronym}}</p>
                </div>
                <b style="color:#009688">Área de atuação</b>
                <p style="color: #757575">{{requestCtrl.instActuationArea}}</p>
                <b style="color: #009688">Responsável</b>
                <p style="color: #757575">{{ requestCtrl.parent.leader }}</p>
                <b style="color: #009688">Email</b>
                <p style="color: #757575">{{ requestCtrl.parent.email }}</p>
                <b style="color:#009688">Natureza jurídica</b>
                <p style="color: #757575">{{requestCtrl.instLegalNature}}</p>
                <div ng-if="requestCtrl.parent.cnpj">
                    <b style="color:#009688">CNPJ</b>
                    <p style="color: #757575">{{requestCtrl.parent.cnpj}}</p>
                </div>
                <b style="color:#009688">País</b>
                <p style="color: #757575">{{requestCtrl.parent.address.country}}</p>
              </div>
            </div>
          </div>
        </md-dialog-content>
        <md-dialog-actions style="border:0px" layout="row" ng-if="!requestCtrl.isRejecting">
          <md-button ng-click="requestCtrl.rejectRequest($event)" class="md-raised" md-colors="{background: 'default-teal-500'}">
            <span style="color: white;">RECUSAR</span>
          </md-button>
          <md-button ng-click="requestCtrl.acceptRequest()" class="md-raised" md-colors="{background: 'default-teal-500'}">
            <span style="color: white;">APROVAR</span>
          </md-button>
        </md-dialog-actions>
        <md-card-content ng-if="requestCtrl.isRejecting" class="md-dialog-content">
            <h4 style="margin: 0;">Rejeitar Instituição</h4>
            <p>Tem certeza que deseja rejeitar?</p>
          </md-card-content>
          <md-dialog-actions ng-if="requestCtrl.isRejecting" layout="row" layout-align="end center" layout-wrap>
            <md-button ng-click="requestCtrl.cancelReject()" class="md-raised" md-colors="{background: 'default-teal-500'}">
              <span style="color: white;">CANCELAR</span>
            </md-button>
            <md-button ng-click="requestCtrl.confirmReject()" class="md-raised" md-colors="{background: 'default-teal-500'}">
              <span style="color: white;">CONFIRMAR</span>
            </md-button>
          </md-dialog-actions>
      </md-dialog>
    </div>
  </div>
</div>