<md-dialog>
	<div layout="row">
		<md-card flex layout="column">
			<md-card-header layout="row" layout-align="center center">
				<md-card-header-text><span class="md-title">Busque a instituição que você faz parte.</span></md-card-header-text>
			    <md-button class="md-icon-button" ng-click="requestInvCtrl.cancelDialog()">
			        <md-icon>close</md-icon>
			    </md-button>
			</md-card-header>
			<md-card-content>
				<div md-theme="input" class="search-field">
				    <form ng-submit="requestInvCtrl.showMenu($event)">
				      	<md-input-container class="md-block" flex-gt-sm>
				          <input placeholder="Nome da instituição" ng-model="requestInvCtrl.search" flex-gt-sm autocomplete="off">
				          <md-icon class="material-icons">&#xE8B6;</md-icon>
				        </md-input-container>
				    </form>
				</div>
				<md-list flex>
				    <md-list-item ng-repeat="institution in requestInvCtrl.institutions" ng-click="requestInvCtrl.selectInstitution(institution)"
					    	ng-class="requestInvCtrl.showFullInformation(institution)? 'md-3-line': ''"
					    	ng-disabled="requestInvCtrl.showFullInformation(institution)">
					    <div ng-if="!requestInvCtrl.showFullInformation(institution)" class="md-list-item-text" layout-align="center center"
					    		layout="column" style='text-align: center'>
				            {{ institution.name }}
					    </div>
					    <div class="md-list-item-text" ng-if="requestInvCtrl.showFullInformation(institution)">
					    	<div layout-align="center center" layout="column" layout-padding>
						            <h3><b>{{ requestInvCtrl.institutionSelect.name }}</b></h3>
						            <h4>{{ requestInvCtrl.institutionSelect.email }}</h4>
						            <h4>{{ requestInvCtrl.getFullAddress(requestInvCtrl.institutionSelect) }}</h4>
					            <p align="center">
						            {{ requestInvCtrl.institutionSelect.description }}
					            </p>
					    	</div>
					    </div>
				    </md-list-item>
				    <md-list-item ng-if="requestInvCtrl.showMessage()">
				    	<div class="md-list-item-text" layout-align="center center" layout="column"
					    style='text-align: center'>
				            <p>Infelizmente sua instituição não está cadastrada. Para cadastrar pressione o botão abaixo:</p>
				            <md-checkbox ng-model="requestInvCtrl.canCreate" class="md-primary" aria-label="Checkbox 1">
						        Manifesto que tenho autonomia para cadastrar a  instituição
						    </md-checkbox>
                    		<md-button ng-class="requestInvCtrl.canCreate?'green-button':''" ng-disabled="!requestInvCtrl.canCreate" ng-click="requestInvCtrl.createInst()">Quero criar minha instituição</md-button>
					    </div>
				    </md-list-item>
				</md-list>
			</md-card-content>
		</md-card>
		<md-card flex ng-if="requestInvCtrl.request">
			<md-card-header layout="row" layout-align="center center">
				<md-card-header-text>
					<span class="md-title">Solicitar Cadastro</span>
					<span class="md-subheader">{{requestInvCtrl.request.institution_name}}</span>
				</md-card-header-text>
			</md-card-header>
			<md-card-content>
				<form name="requestuser">
					<md-input-container class="md-block">
			          <label>Nome</label>
			          <input ng-model="requestInvCtrl.request.name" name="name" required>
			          <div ng-messages='requestuser.request.name.$error'>
			    		<div ng-message="required">Este campo é obrigatório!</div>
					  </div>
			        </md-input-container>

			        <md-input-container class="md-block">
			          <label>Email institucional</label>
			          <input ng-model="requestInvCtrl.request.email" type="email" name="email" required>
			          <div ng-messages='requestuser.request.email.$error'>
			    		<div ng-message="required">Este campo é obrigatório!</div>
					  </div>
			        </md-input-container>

			      	<md-input-container class="md-block">
			      	<label>Cargo institucional</label>
			      	<input name="cargo" ng-model="requestInvCtrl.request.office" name="office" required>
			      	<div ng-messages='requestuser.request.office.$error'>
			    		<div ng-message="required">Este campo é obrigatório!</div>
					  </div>
			      	</md-input-container>
				</form>
				<div layout="row" layout-align="end">
					<md-button ng-click="requestInvCtrl.sendRequest()" ng-disabled="!requestInvCtrl.hasInstSelect"
							class="md-button md-warn md-raised">
						Solicitar Cadastro
					</md-button>
				</div>
			</md-card-content>
		</md-card>
	</div>
</md-dialog>
