<md-dialog flex-gt-sm="{{requestCtrl.getSizeGtSmDialog()}}" flex-sm="80" flex-xs="90">
    <md-dialog-content ng-if="!requestCtrl.isRejecting" class="md-dialog-content" layout-gt-sm="column" layout-padding>
      <h3 style="margin: 0;">Confirmar Vínculo</h4>
      <p class="request-user__description-dialog">
        {{requestCtrl.isRequestUser() ? "Um usuário da plataforma" : "Uma instituição"}} solicitou vincular-se a uma das instituições que você administra.
         Clique em confirmar para aceitar ou rejeitar para recusar vinculo.
      </p>
      <div layout="column">
        <entity-showcase class="request-user__margin-user"
          avatar="requestCtrl.parent.photo_url || 'app/images/institution.png'"
          title="requestCtrl.parent.name"
          subtitle="requestCtrl.parent.email">
        </entity-showcase>
        <div layout="row">
          <div flex="5" layout="row" layout-align="center">
            <div style="width: 8px;" md-colors="{background: 'default-teal-500'}"></div>
          </div>
          <div layout="row" class="request-user__requester-entity" flex="95" class="zero-margin">
            <img class="request-user__avatar" ng-src="{{requestCtrl.children.photo_url || 'app/images/avatar.png'}}"/>
            <span class="request-user__title responsive__title">{{requestCtrl.getChildrenInstName()}}</span>
            <span class="request-user__subtitle responsive__title request-user__description-dialog">
              {{requestCtrl.getChildrenInstEmail()}}
            </span>
            <span class="request-user__sub responsive__title request-user__description-dialog">
              <b>Cargo: </b>{{ requestCtrl.children.office }}
            </span>
          </div>
        </div>
      </div>
    </md-dialog-content>
    <md-dialog-actions ng-if="!requestCtrl.isRejecting" layout="row" layout-align="end center" layout-wrap>
      <md-button ng-click="requestCtrl.rejectRequest($event)" class="md-primary" md-colors="{color: 'default-teal-500'}">
        Cancelar
      </md-button>
      <md-button ng-click="requestCtrl.acceptRequest()" class="md-primary"
        md-colors="{color: 'default-teal-500'}">
        Confirmar
      </md-button>
    </md-dialog-actions>

    <md-card-content ng-if="requestCtrl.isRejecting" class="md-dialog-content" layout-gt-sm="column" layout-padding>
      <h4 style="margin: 0;">Rejeitar Vínculo</h4>
      <p>Tem certeza que deseja rejeitar?</p>
    </md-card-content>
    <md-dialog-actions ng-if="requestCtrl.isRejecting" layout="row" layout-align="end center" layout-wrap>
      <md-button class="md-primary" ng-click="requestCtrl.cancelReject()"
        md-colors="{color: 'default-teal-500'}">
        Cancelar
      </md-button>
      <md-button class="md-primary" ng-click="requestCtrl.confirmReject()"
        md-colors="{color: 'default-teal-500'}">
        Confirmar
      </md-button>
    </md-dialog-actions>
</md-dialog>