<md-dialog flex-gt-sm="45" flex-sm="80" flex-xs="100">
  <md-dialog-content class="md-dialog-content" layout-gt-sm="column" layout-padding ng-if="!requestCtrl.isRejecting">
    <h4 style="margin: 0;">Confirmar Cadastro</h4>
    <p style="margin: 0;">Um usuário solicitou criar a seguinte instituição. Clique em confirmar para aceitar ou cancelar para recusar a instituição na plataforma.</p>
    <div layout="column">
      <div layout="row" md-colors="{background: 'default-grey-200'}" layout-margin style="margin: 0 0 8px 0;">
        <div>
          <img style="width: 75px; height: 75px; border-radius: 50%;" ng-src="{{requestCtrl.parent.photo_url || 'app/images/institution.png'}}"
            alt="{{requestCtrl.parent.name}}"></img>
        </div>
        <div layout="column" layout-align="center start">
          <b>{{ requestCtrl.parent.name }}</b>
          <span>{{ requestCtrl.parent.email }}</span>
          <b>Descrição:</b>
          <span>&nbsp;&nbsp; {{ requestCtrl.parent.description }}</span>
          <b>Endereço:</b>
          <span ng-if="requestCtrl.isAnotherCountry()">
              &nbsp;&nbsp; {{ requestCtrl.parent.address.country }}
          </span>
          <span ng-if="!requestCtrl.isAnotherCountry()">
            &nbsp;&nbsp; {{requestCtrl.parent.address.street + ', ' + requestCtrl.parent.address.number}}
            </br>
            &nbsp;&nbsp; {{requestCtrl.parent.address.city + ', ' + requestCtrl.parent.address.federal_state + ' - ' + requestCtrl.parent.address.country}}
          </span>
        </div>
      </div>
    </div>
  </md-dialog-content>
  <md-dialog-actions layout="row" layout-align="end center" layout-wrap ng-if="!requestCtrl.isRejecting">
    <md-button ng-click="requestCtrl.rejectRequest($event)" class="md-primary"
      md-colors="{color: 'default-teal-500'}">
      Rejeitar
    </md-button>
    <md-button ng-click="requestCtrl.acceptRequest()" class="md-primary"
      md-colors="{color: 'default-teal-500'}">
      Confirmar
    </md-button>
  </md-dialog-actions>

  <md-card-content ng-if="requestCtrl.isRejecting" class="md-dialog-content">
      <h4 style="margin: 0;">Rejeitar Instituição</h4>
      <p>Tem certeza que deseja rejeitar?</p>
    </md-card-content>
    <md-dialog-actions ng-if="requestCtrl.isRejecting" layout="row" layout-align="end center" layout-wrap>
      <md-button class="md-primary" ng-click="requestCtrl.cancelReject()"
        md-colors="{color: 'default-teal-500'}">
        Cancelar
      </md-button>
      <md-button class="md-primary" ng-click="requestCtrl.confirmReject()"
        md-colors="{color: 'default-teal-500'}">
        Confirmar
      </md-button>
    </md-dialog-actions>
</md-dialog>
