<md-dialog flex-lg="25" flex-md="25" flex-gt-lg="20" flex layout="row">
    <div flex>
        <md-content layout-padding>
            <h3>Selecione uma cor:</h3>
            <md-grid-list md-cols="5" md-row-height="1:1" md-gutter="4px">
              <md-grid-tile ng-repeat="color in colorPickerCtrl.colors">
                    <md-fab-trigger>
                            <md-button aria-label="menu" class="md-fab md-primary" ng-model="colorPickerCtrl.institution.color" ng-click="colorPickerCtrl.institution.color = color.value"
                             md-colors="{background: 'default-'+'{{color.value}}'+'-500'}">
                                <md-icon ng-show="colorPickerCtrl.institution.color === color.value">check_circle</md-icon>
                            </md-button>
                        </md-fab-trigger>
              </md-grid-tile>
            </md-grid-list>

            <div style="text-align: right; margin-right: 20px; margin-bottom: 20px;" >
                    <md-button md-colors="{color: 'default-teal-500'}" ng-click="colorPickerCtrl.cancelDialog()">
                      Cancelar
                    </md-button>
                    <md-button class="md-raised" md-colors="{background: 'default-teal-500'}" ng-click="colorPickerCtrl.saveColor()" title="Aplicar">
                      Aplicar
                    </md-button>
                </div>
        </md-content>
    </div>
</md-dialog>