<div flex="100" layout="row" layout-align="center">
  <div flex-lg="90" flex-gt-lg="70" layout="row" layout-align="space-between"
      md-colors="{background: 'grey-50'}">

    <!-- LEFT SIDE PANEL -->
    <md-sidenav class="md-sidenav-left" md-component-id="leftNav" md-whiteframe="4" layout="row"
      md-is-locked-open="$mdMedia('gt-sm')" flex-gt-md="25">
      <md-content class="hide-scrollbar" layout="column" hide show-gt-sm
          md-colors="{background: 'grey-100'}" flex>
          <div class="container">
            <div class="row">
                <div class="card hovercard" 
                    md-colors="{background: homeCtrl.user.current_institution.color+'-800'}">
                  <div class="cardheader">
                    <div class="avatar">
                      <img alt="Foto do Perfil" ng-src="{{ homeCtrl.user.photo_url }}">
                    </div>
                  </div>
                  <div class="info" 
                      md-colors="{background: homeCtrl.user.current_institution.color+'-600'}">
                    <div class="desc">
                      <div class="md-title">{{ homeCtrl.user.name }}</div>
                      <span>{{ homeCtrl.user.current_institution.name }}</span>
                      <md-menu>
                        <md-button aria-label="Open phone interactions menu" 
                            class="md-icon-button" ng-click="$mdMenu.open(ev)">
                          <md-icon md-colors="{color: 'grey-50'}">arrow_drop_down</md-icon>
                        </md-button>
                        <md-menu-content width="4">
                          <md-menu-item ng-repeat="profile in homeCtrl.user.institution_profiles">
                            <md-button ng-click="mainCtrl.changeInstitution(profile)">
                              <md-icon md-colors="{color: profile.color+'-900'}">brightness_1</md-icon>
                              {{ profile.institution.name }}
                            </md-button>
                          </md-menu-item>
                        </md-menu-content>
                      </md-menu>  
                    </div>
                  </div>
                </div>
            </div>

            <div class="row section-menu">
              <md-menu-content width="4" md-colors="{background: 'grey-100'}">
                <md-menu-item>
                  <md-button ui-sref="app.home">
                    <md-icon>home</md-icon>
                    Início
                  </md-button>
                </md-menu-item>
                <md-menu-item>
                  <md-button ui-sref="app.config_profile">
                    <md-icon>account_box</md-icon>
                    Meu Perfil
                </md-menu-item>
                <md-menu-item>
                  <md-button ng-click="homeCtrl.goToEvents()">
                    <md-icon>date_range</md-icon>
                    Eventos
                  </md-button>
                </md-menu-item>
                <md-menu-item ng-if="mainCtrl.isSuperUser()">
                  <md-button ng-click="mainCtrl.goInvite()">
                    <md-icon>mail_outline</md-icon>
                    Convites
                  </md-button>
                </md-menu-item>
                <md-menu-item>
                  <md-button>
                    <md-icon>settings</md-icon>
                    Minhas Configurações
                  </md-button>
                </md-menu-item>
              </md-menu-content>
            </div>

            <div class="row" ng-if="homeCtrl.user.isAdmin(homeCtrl.user.current_institution.key)">
              <span class="menu-section-title">INSTITUIÇÃO</span>
              <md-divider style="margin-top: 10px"></md-divider>
              <md-menu-content width="4" md-colors="{background: 'grey-100'}">
                <md-menu-item>
                  <md-button ng-click="mainCtrl.goToEditInfo()">
                    <md-icon>edit</md-icon>
                    Editar Informações
                  </md-button>
                </md-menu-item>
                <md-menu-item>
                  <md-button  ng-click="mainCtrl.goToManageMembers()">
                    <md-icon ng-class="mainCtrl.pending_manager_member? 'notification-badge': ''"
                      data-badge>account_circle</md-icon>
                    Gerenciar Membros
                </md-menu-item>
                <md-menu-item>
                  <md-button ng-click="mainCtrl.goToManageInstitutions()">
                    <md-icon ng-class="mainCtrl.pending_inst_invitations? 'notification-badge': ''"
                      data-badge>account_balance</md-icon>
                    Vínculos Institucionais
                  </md-button>
                </md-menu-item>
              </md-menu-content>
            </div>

            <div class="row">
              <md-divider></md-divider>
              <md-menu-content width="4" md-colors="{background: 'grey-100'}">
                <md-menu-item>
                  <md-button ng-click="mainCtrl.logout()">
                    <md-icon>exit_to_app</md-icon>
                    Sair
                  </md-button>
                </md-menu-item>
              </md-menu-content>
            </div>
          </div>
      </md-content>
    </md-sidenav>

    <!-- CONTENT -->
    <md-content id="content" flex-md="75" flex-gt-md="50" layout-align="center center" class="body hide-scrollbar">
        <div layout="row">
            <post-timeline ng-if="!homeCtrl.isLoadingPosts" layout="column" posts="homeCtrl.posts" institution="false" 
            user="homeCtrl.user" add-post="true"  load-more-posts='homeCtrl.loadMorePosts'></post-timeline>
          <!-- LOADING CIRCLE -->
          <div flex layout-align="center center" layout="row" layout-fill ng-if="homeCtrl.isLoadingPosts">
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
          </div>
        </div>
    </md-content>

    <!-- RIGHT SIDE PANEL -->
    <md-content class="hide-scrollbar" flex-gt-md="20" hide show-gt-md>
        <div layout="column">
          <md-card style="margin-bottom: 50px;">
            <md-toolbar md-colors="{background: 'teal-600'}" layout="row">
              <md-icon style="margin-left: 7%;">event</md-icon>
              <div class="md-toolbar-tools" flex layout="row">
                <span class="card-title-light">Próximos eventos</span>
              </div>
            </md-toolbar>
            <md-card-content style="padding:10px;">
              <div ng-if="homeCtrl.isEventsEmpty()" class="sm-text">
                <center>
                  Nenhum evento próximo
                </center>
              </div>
              <div layout="row" ng-repeat="event in homeCtrl.events" class="event-item">
                <div layout="row">
                  <div class="rounded-circle event-date">
                    <span class="event-day">
                      {{ event.start_time | amUtc | amLocal | amDateFormat:'DD'}}
                    </span>
                    <span class="event-month">
                        {{ event.start_time | amUtc | amLocal | amDateFormat:'MMM'}}
                    </span>
                  </div>
                </div>
                <div layout="column" class="sm-text">
                  <a href class="hyperlink sm-text" ng-click="homeCtrl.goToEvent(event)">
                    {{ event.title | limitTo: 80 }}{{ event.title.length > 80 ? '...' : ''}}
                  </a>
                  <span class="event-author">por {{ event.author }}</span>
                </div>
              </div>
              <md-card-actions layout="row" layout-align="center" ng-if="!homeCtrl.isEventsEmpty()">
                <md-button class="md-fab md-primary" title="Ver mais eventos" ng-click="homeCtrl.goToEvents()"
                    md-colors="{background: 'light-green-600'}"
                    style="margin-bottom: -52px;">
                  <md-icon>more_horiz</md-icon>
                </md-button>
              </md-card-actions>
            </md-card-content>
          </md-card>
        
          <md-card>
            <md-toolbar md-colors="{background: 'teal-600'}" layout="row">
              <md-icon style="margin-left: 7%;">bookmark</md-icon>
              <div class="md-toolbar-tools" flex layout="row">
                <span class="card-title-light">Seguindo</span>
              </div>
            </md-toolbar>
            <md-card-content style="padding:10px;">
              <div layout="row" ng-repeat="inst in homeCtrl.followingInstitutions" class="event-item">
                <div layout="row">
                  <img class="rounded-circle" ng-src="{{inst.photo_url}}"/>
                </div>
                <div layout="column" class="sm-text">
                  <a href class="md-text hyperlink sm-text"
                      ng-click="homeCtrl.goToInstitution(inst.key)">
                    {{ inst.acronym | limitTo: 20 }}{{ inst.acronym.length > 20 ? '...' : ''}}
                  </a>
                </div>
              </div>
              <md-card-actions layout="row" layout-align="center" ng-if="homeCtrl.followingInstitutions.length > 0">
                <md-button class="md-fab md-primary" title="Ver mais"
                    md-colors="{background: 'light-green-600'}"
                    style="margin-bottom: -52px;">
                  <md-icon>more_horiz</md-icon>
                </md-button>
              </md-card-actions>
            </md-card-content>
          </md-card>
        </div>
    </md-content>
  </div>
</div>
<md-fab-speed-dial id="fab-new-post" class="md-fab-bottom-right" hide-gt-sm>
  <md-fab-trigger>
    <md-button aria-label="menu" class="md-fab md-primary" ng-click="homeCtrl.newPost()" 
        md-colors="{background: 'teal-900'}">
      <md-icon>add</md-icon>
    </md-button>
  </md-fab-trigger>
</md-fab-speed-dial>