#search-container {
    width: 90%;
}

#inst-container {
    max-height: 10em;
}

#search-inst-icon {
    display:inline-block;
    cursor: pointer;
    color: #009688;
}

#search-inst-icon:active { 
    background-color: #EEEEEE;
    border-radius: 50%;
}

.search-inst-avatar {
    background: #8BC34A !important;
}

.inst-name {
    display: block;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 5em;
}

.limited-text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}