<div class="chat__container"clear>
    <chat-header
            class="chat__header"
            user="ecisChatCtrl.user"
            call-func="ecisChatCtrl.call"
            enable-video-func="ecisChatCtrl.enableVideo"
            disable-video-func="ecisChatCtrl.disableVideo"
            enable-audio-func="ecisChatCtrl.enableAudio"
            disable-audio-func="ecisChatCtrl.disableAudio">
    </chat-header>
    <chat-body
            class="chat__body"
            messages="ecisChatCtrl.chat.currentMessages"
            video-active="ecisChatCtrl.videoActive"
            audio-active="ecisChatCtrl.audioActive"
            selfie-stream="ecisChatCtrl.selfieStream"
            remote-stream="ecisChatCtrl.remoteStream">
    </chat-body>
    <chat-input
            class="chat__input"
            send-message-func="ecisChatCtrl.sendMessage"
            state="ecisChatCtrl.state">
    </chat-input>
</div>
