<form name="saveSurvey" layout="column" ng-submit="surveyCtrl.save()">
  <md-input-container md-no-float class="md-block" style="margin: 0px;">
    <input ng-model="surveyCtrl.post.title" placeholder="Pergunte algo" 
    style="font-weight: bold; color: #00695C ; margin: 0px; border: 0;resize:none;"/>
  </md-input-container>
  <div ng-if="surveyCtrl.isTyping()">
    <p class="md-subheader"> Alternativas</p>
    <md-content flex style="max-height: 150px;" class="custom-scrollbar">
      <md-input-container ng-repeat="option in surveyCtrl.options" md-no-float class="md-block" style="height: 25px;">
        <input class="md-input" ng-model="option.text" ng-change="surveyCtrl.changeOption(option)" placeholder="+ Adicionar uma opção..." maxlength="150" />
      </md-input-container>
    </md-content>
    <md-input-container class="md-block">
      <label>Data limite</label>
      <input name="date" mdc-datetime-picker="" short-time="false" date="true" time="true" type="text" 
        format="DD/MM/YYYY HH:mm" lang="pt-BR" placeholder="Receber respostas até..." 
        ng-model="surveyCtrl.post.deadline" class=" md-input" today-text="Hoje" min-date="surveyCtrl.now" 
        readonly="readonly" cancel-text="Cancelar" required>
        <div ng-messages="saveSurvey.date.$error">
          <div ng-message="required">Insira a data limite da enquete.</div>
        </div>
    </md-input-container>
  </div> 
  <md-card-actions style="text-align: right;"
  layout="column" ng-if="surveyCtrl.isTyping()">
    <md-switch ng-model="surveyCtrl.multipleChoice" style="margin-top: -25px; margin-left: -8px;" required>
      <p ng-class="surveyCtrl.isSmallScreen() ? 'sm-multiple-choice': ''">MULTIPLA ESCOLHA</p>
    </md-switch>
    <div layout="row" style="margin-left: auto;" layout-align="end end">
      <md-button title="Cancelar" ng-click="surveyCtrl.resetSurvey()" md-colors="{color: 'default-teal-500'}">CANCELAR
      </md-button>
      <md-button title="Enviar" type="submit" md-colors="{background: 'default-teal-500'}">POSTAR
      </md-button>
    </div>
  </md-card-actions>
</form>

