<div ng-if="!surveyCtrl.isDeleted()" ng-init="surveyCtrl.loadAttributes()" class="survey-card">
  <md-card-title>
    <md-card-title-text>
      <a href class="md-title hyperlink" ng-click="surveyCtrl.goToPost()">
        <span class="md-headline break">{{surveyCtrl.post.title}}</span>
      </a>
      <span ng-if="!surveyCtrl.timeHasBeenExpired()" layout="row" class="md-subhead" ng-if="surveyCtrl.post.deadline">
        <b style="color: #009688; margin-right: 2px; margin-left: 2px;">&bull;</b>Prazo limite:
        {{ surveyCtrl.post.deadline | amUtc | amLocal | amCalendar:referenceTime:formats }}
      </span>
    </md-card-title-text>
  </md-card-title>
  <md-list>
    <md-radio-group ng-model="surveyCtrl.binaryOptionSelected">
      <md-list-item ng-repeat="option in surveyCtrl.post.options" 
        ng-class="surveyCtrl.votedOption(option) || option.selected ?'option-selected':''" class="option">
        <md-radio-button  ng-if="surveyCtrl.showRadioButton()" aria-label="option"
          ng-value="option" ng-disabled="!surveyCtrl.canVote()" style="top:7px">
        </md-radio-button>
        <md-checkbox ng-disabled="!surveyCtrl.canVote()" ng-checked="surveyCtrl.votedOption(option)"
          ng-if="surveyCtrl.showCheckboxButton()" ng-model="option.selected"></md-checkbox>
        <p ng-if="!surveyCtrl.isPostPage">{{surveyCtrl.getOption(option.text)}}</p>
        <p ng-if="surveyCtrl.isPostPage">{{option.text}}</p>
        <div ng-if="surveyCtrl.userVoted() || surveyCtrl.isSurveyAuthor() || surveyCtrl.timeHasBeenExpired()" 
          ng-click="surveyCtrl.showMenu($event, option)" title="Clique para ver quem votou nessa opção">
          <div ng-class="surveyCtrl.votedOption(option)?'percentage-selected':'option-percentage'">
            {{surveyCtrl.getPercentage(option)}}
          </div>
        </div>
      </md-list-item>
    </md-radio-group>
  </md-list>
  <div ng-if="surveyCtrl.canVote()" layout="column" layout-align="center end" hide-xs>
    <md-button ng-click="surveyCtrl.vote($event)" md-colors="{color: 'default-teal-500'}" layout-align="end center">
      VOTAR
    </md-button>
  </div>
  <div ng-if="surveyCtrl.canVote()" class="vote-btn" hide-gt-xs>
    <md-button class="md-raised" ng-click="surveyCtrl.vote($event)" md-colors="{background: 'default-teal-500'}">
      VOTAR
    </md-button>
  </div>
</div>

