#survey-option{
    display: grid; 
    grid-template-columns: 2em auto 5em;
    grid-template-rows: auto;
    align-items: center;
    width: 90%;
    margin: auto;
}

.radio-checkbox-button{
    margin:auto;
    width: 20px;
}

.percentage-selected{
    margin-right: -16px;
    background-color: #8BC34A;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
    width: 78px;
    height: 20px;
    color: #FFFFFF;
}

.option-selected{
    background-color: #E0E0E0;
}

.survey-card{
    margin-top: -1px;
}

.survey-title-placeholder {
    font-weight: bold !important;
    color: #00695C !important;
    margin: 0px !important;
    border: 0 !important;
    resize:none !important;
}

.survey-switch {
    margin-top: -1.5625em;
    margin-left: -0.5em;
}

.survey-actions {
    text-align: right;
    margin-left: auto;
    margin-right: 1.25em;
    margin-bottom: 1.25em;
}

#buttons-survey{
    display: grid;
    grid-template-columns: auto 65px;
}

@media screen and (max-width: 959px) {
    .survey-title-placeholder, {
        font-size: 0.84375em !important;
    }

    .survey-options {
        font-size: 0.84375em !important;
        background-color: white;
    }

    .survey-multiple-choice {
        font-weight: bold;
        font-size: 0.9em;
        margin-left: 0.625em;
    }

    .save-survey-input-placeholder {
        font-weight: 500 !important;
        font-size: 0.84375em !important;
        border: 5 !important;
        color: #009688 !important;
        border-color: #009688 !important;
    }

    .save-survey-date-button {
        background-color: #7CB342 !important;
    }

    .survey-switch {
        margin-top: -0.8vh;
        margin-left: -2vh;
    }

    .save-survey-date {
        pointer-events: none;
    }

    .save-survey-margin {
        margin: 0px !important;
        padding: 0px 8px 0px 8px !important;
    }

    .save-survey-scrollbar {
        display: block;
        width: 100%;
        overflow: auto;
        height: 22vh;
    }

    .save-survey-scrollbar::-webkit-scrollbar {
        width: .3em;
        height: .2em;
        background-color: #ccc;
    }

    .save-survey-scrollbar::-webkit-scrollbar-track {
        background-color: #ccc  ;
        border-left: .1em solid white;
        border-right: .1em solid white;
    }

    .save-survey-scrollbar::-webkit-scrollbar-thumb {
        border-radius: 3.125em;
        background: #009688;
        -webkit-box-shadow: inset 0 0 px #009688 ;
    }

    .save-survey-cancel-button {
        background-color: rgb(173, 169, 169);
        color: white;
    }

    @media screen and (max-height: 570px) {
        .save-survey-form {
            height: 43vh;
        }

        .save-survey-scrollbar {
            height: 23vh;
        }
    }

    @media screen and (min-height: 571px) and (max-height: 670px) {
        .save-survey-form {
            height: 43vh;
        }

        .save-survey-scrollbar {
            height: 30vh;
        }
    }

    @media screen and (min-height: 671px) and (max-height: 770px) {
        .save-survey-form {
            height: 52vh;
        }

        .save-survey-scrollbar {
            height: 35vh;
        }
    }

    @media screen and (min-height: 771px) and (max-height: 870px) {
        .save-survey-form {
            height: 52vh;
        }

        .save-survey-scrollbar {
            height: 40vh;
        }
    }

    @media screen and (min-height: 871px) {
        .save-survey-form {
            height: 67vh;
            width: 100%;
        }

        .save-survey-scrollbar {
            height: 45vh;
        }
    }
}

@media screen and (max-width: 600px) {
    .survey-title-placeholder, .survey-options {
        font-size: 0.75em !important;
    }
}

@media screen and (max-width: 450px) {
    #title-mobile{
        font-size: 1.2em;
    }
    .survey-options{
        font-size: 0.8em !important;
    }
    .survey-multiple-choice {
        font-size: 0.85em;
        margin-left: 0.625em;
    }

    #text-option{
        word-break:break-all;
        margin-right: 0.5em;
    }
}

@media screen and (max-width: 380px) {
    .survey-multiple-choice {
        margin-left: 1.375em;
    }
}

@media screen and (max-width: 360px) {
    #title-mobile{
        font-size: 1em;
    }

    .survey-multiple-choice {
        font-size: 0.75em;
        margin-left: 0.6em;
    }
    .survey-switch {
        margin-left: -0.25em !important;
    }

    .survey-actions {
        margin-left: 9.375em !important;
    }
}