.search-mobile-top-bar {
  background-color: white;
  box-shadow: 0px 3px 6px grey;
  height: 60px;
  position: fixed;
  width: 100%;
  font-size: 20px;
  z-index: 2;
  overflow: hidden;
}

.search-mobile-content {
  overflow: hidden;
}

.search-mobile-content form {
  width: 100%;
}

.search-mobile-input {
  width: 85%;
}

.search-mobile-input label {
  margin-left: 92%;
  position: absolute;
  top: 4px;
  display: block;
  box-sizing: border-box;
}

@media screen and (min-width: 550px) {
  .search-mobile-input label {
    margin-left: 95%;
  }
}

@media screen and (min-width: 450px) and (max-width: 550px) {
  .search-mobile-input label {
    margin-left: 94%;
  }
}

@media screen and (min-width: 425px) and (max-width: 450px) {
  .search-mobile-input label {
    margin-left: 93.5%;
  }
}

@media screen and (min-width: 730px) {
  .search-mobile-input label {
    margin-left: 96%;
  }
}

.search-mobile-options-title {
  margin-top: 0.3em; 
  font-size: 1.3em; 
  margin-left: 7.5%;
}

.search-mobile-options {
  margin-left: -0.1em; 
  margin-top: 1.2em;
}

.search-mobile-options md-input-container {
  width: 85%; 
  font-size: 10px;
}

.search-by-mobile span {
    color: #009688;
}

.search-mobile-action-buttons {
  margin-right: 6%; 
  margin-top: 10%;
}

#search-list-item {
  height: 3em;
}

#search-list-item div div {
  height: 2.8em;
}

#search-list-item div b {
  height: 2.8em;
  font-size: 0.75em;
}

.search-event-input-margin {
    margin: -0.4em 1.4em 0 1.2em;
}

.search-event-input-name {
  width: 90%;
  margin-left: 1.2em;
  font-size: 0.8em;
}

.search-event-input {
  border-color: #009688 !important;
  margin-top: -1.2em;
}

.search-event-title, .search-event-select-menu {
  color: #004D40;
  font-size: 0.8em;
  margin-top: -0.1em;
}

.search-event-title {
  margin-left: 0.17em;
}

.search-event-select-menu {
  margin: -0.3em 0em -2.35em 1.6em;
  font-size: 0.7em;
}

.search-event-select-menu-size {
  width: 96%;
}

.search-event-md-select {
  width: 100%;
}

.search-event-title-margin {
  margin-bottom: 2em;
  margin-left: 0.8em;
}

.registered-insts-as-search-result {
  margin-bottom: 0.5em;
}

.single-inst-as-search-result {
  border-style: solid; 
  border-width: 0.5px 0px 0px 0.5px; 
  border-color: white;
}

.empty-card-as-search-result {
  margin-top: 1em; 
  margin-left: auto; 
  margin-right: auto;
}

.single-inst-as-search-result-container {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.registered-insts-as-search-result-container {
  display: grid;
  grid-template-columns: 49% 49%;
  grid-column-gap: 0.4em;
  margin-top: 1em;
}