<md-content layout="row" layout-align="center" class="hide-scrollbar">
    <div flex="95" layout-align="center" layout-fill>
        <div layout-align="center" layout-fill>
            <md-card>
                <md-toolbar md-colors="{background: 'teal-500'}" layout="row">
                  <div class="md-toolbar-tools" flex layout="row" layout-align="center center">
                    <h5>
                      <md-icon>search</md-icon>
                      PESQUISA
                    </h5>
                    <span flex md-truncate></span>
                  </div>
                </md-toolbar>
                        
                <md-card-content style="padding-left: 5%; padding-right: 3%">
                    <div style="margin-top: 5%">
                        <form ng-submit="searchCtrl.search()">
                          <md-input-container class="md-block">
                            <input placeholder="Digite aqui sua pesquisa..."
                              ng-model="searchCtrl.search_keyword">
                          </md-input-container>
                        </form>
                    </div>

                    <h4 md-colors="{color:'grey-700'}">Filtrar pesquisa</h4>

                    <div layout="row" layout-xs="column" layout-align="space-between">
                        <md-select ng-model="searCtrl.searchActuation" placeholder="Área de atuação" style="min-width: 30%">
                            <md-option ng-click="searchCtrl.searchBy('*')" value="Pesquisar em todas as áreas">
                                Pesquisar em todas as áreas
                            </md-option>
                            <md-option ng-repeat="actuation_area in searchCtrl.actuationAreas | orderBy: 'name'" 
                                ng-value="actuation_area.name" ng-click="searchCtrl.searchBy(actuation_area.name)">
                                {{actuation_area.name}}
                            </md-option>
                        </md-select>

                        <md-select ng-model="searCtrl.searchNature" placeholder="Natureza legal" style="min-width: 30%">
                            <md-option ng-click="searchCtrl.searchBy('*')" value="Pesquisar em todas as áreas">
                                Pesquisar em todas as áreas
                            </md-option>
                            <md-option ng-repeat="nature in searchCtrl.legalNature | orderBy: 'name'" 
                                ng-value="nature.name" ng-click="searchCtrl.searchBy(nature.value)">
                                {{nature.name}}
                            </md-option>
                        </md-select>

                        <md-select ng-model="searCtrl.searchState" placeholder="Localização" style="min-width: 30%">
                            <md-option ng-click="searchCtrl.searchBy('*')" value="Pesquisar em todas as áreas">
                                Pesquisar em todos os estados
                            </md-option>
                            <md-option ng-repeat="state in searchCtrl.brazilianFederalStates" 
                                ng-value="state" ng-click="searchCtrl.searchBy(state.nome)">
                                {{state.nome}}
                            </md-option>
                        </md-select>
                    </div>

                    <md-list ng-if="searchCtrl.loading">
                        <h4 md-colors="{color:'grey-700'}">Resultados da pesquisa</h4>
                        <md-list-item class="list-item-dense" ng-repeat="institution in searchCtrl.institutions" 
                            style="margin-bottom: 1%;"
                              md-colors="{background: 'grey-300'}">
                            <div layout="row" ng-click="searchCtrl.goToInstitution(institution.id)">
                                <md-icon class="md-avatar-icon" 
                                    md-colors="{background: 'light-green-500', color: 'grey-50'}">
                                    account_balance</md-icon>
                                <div layout="column" layout-align="center">
                                     <b hide-xs hide-sm>
                                        {{ institution.name | limitTo: 90}}{{institution.name.length > 90 ? '...' : ''}}</b>
                                     <b hide-gt-sm>
                                        {{ institution.name | limitTo: 50}}{{institution.name.length > 50 ? '...' : ''}}</b>
                                     <bolder md-colors="{color:'grey-700'}">{{ institution.email}}</bolder>
                                </div>
                            </div>
                        </md-list-item>
                        <md-list-item class="md-3-line" ng-if="searchCtrl.notHasInstitutions()">
                            <b>&bull; Nenhuma instituição encontrada</b>
                        </md-list-item>
                    </md-list>
                    <div layout-align="center center" layout="row">
                      <md-progress-circular ng-show="searchCtrl.isLoading()" md-mode="indeterminate"></md-progress-circular>
                    </div>
                </md-card-content>
            </md-card>
        </div>
    </div>
</md-content>