<md-content>
    <div class="search-mobile-top-bar" layout="row" layout-align="start center">
        <md-button class="md-icon-button" ng-click="searchCtrl.leaveMobileSearchPage()">
            <md-icon>clear</md-icon>
        </md-button>
        <b>PESQUISAR</b>
    </div>
    <div layout="column" layout-align="center" class="search-mobile-content">
        <h2 class="search-event-title-margin">Pesquisa avançada</h2>
        <form ng-submit="searchCtrl.search()" layout="row" layout-align="center center">
            <md-input-container class="search-event-input-name search-event-input-margin md-block" md-no-float>
                <p class="search-event-title">INSTITUIÇÃO</p>
                <input type="text" class="search-event-input" ng-model="searchCtrl.search_keyword"/>
            </md-input-container>
        </form>
        <div>
            <p class="search-event-select-menu">DATA DO EVENTO</p>
            <md-select name="Legal nature" ng-model=""
                class="search-event-input-name">
                <md-option ng-repeat=""
                ng-value="key" class="search-event-select-menu-size">
                    {{ value }}
                </md-option>
            </md-select>
        </div>
        <div>
            <p class="search-event-select-menu">PAÍS</p>
            <md-select name="Legal nature" ng-model=""
                class="search-event-input-name">
                <md-option ng-repeat=""
                ng-value="key" class="search-event-select-menu-size">
                    {{ value }}
                </md-option>
            </md-select>
        </div>
        <div>
            <p class="search-event-select-menu">ESTADO</p>
            <md-select name="Legal nature" ng-model=""
                class="search-event-input-name">
                <md-option ng-repeat=""
                ng-value="key" class="search-event-select-menu-size">
                    {{ value }}
                </md-option>
            </md-select>
        </div>
        <div>
            <p class="search-event-select-menu">MUNICÍPIO</p>
            <md-select name="Legal nature" ng-model=""
                class="search-event-input-name">
                <md-option ng-repeat=""
                ng-value="key" class="search-event-select-menu-size">
                    {{ value }}
                </md-option>
            </md-select>
        </div>
    </div>
    <div layout="row" layout-align="end center" class="search-mobile-action-buttons">
        <md-button md-colors="{background:'grey-500'}" ng-click="searchCtrl.leaveMobileSearchPage()">
            CANCELAR
        </md-button>
        <md-button md-colors="{background:'teal-500'}" ng-click="searchCtrl.search($event)">
            PESQUISAR
        </md-button>
    </div>
</md-content>