.search-top-bar-xs {
  background-color: white;
  box-shadow: 0px 3px 6px grey;
  height: 60px;
  position: fixed;
  width: 100%;
  font-size: 20px;
  z-index: 2;
}

.search-by-xs span {
    color: #009688;
}

.search-content-xs {
  margin-top: 85px;
}

.tst label {
  margin-left: 92%;
  position: absolute;
  top: 4px;
  display: block;
  box-sizing: border-box;
}

@media screen and (min-width: 550px) {
  .tst label {
    margin-left: 95%;
  }
}

@media screen and (min-width: 450px) and (max-width: 550px) {
  .tst label {
    margin-left: 94%;
  }
}

@media screen and (min-width: 425px) and (max-width: 450px) {
  .tst label {
    margin-left: 93.5%;
  }
}