<md-content layout="row" md-colors="{background: 'grey-200'}" layout-align="center">
    <div flex-gt-lg="60" flex-lg="60" layout="row" layout-wrap layout-align="center" layout-fill>
        <div layout="column" flex>
            <md-card>
                <md-card-header>
                    <md-card-header-text>
                        <span class="md-title">Pesquisa</span>
                    </md-card-header-text>
                </md-card-header>
                <md-card-content layout="column">
                    <form ng-submit="searchCtrl.search()">
                      <md-input-container class="md-block">
                        <input placeholder="Digite aqui sua pesquisa..."
                          ng-model="searchCtrl.keyWord">
                      </md-input-container>
                    </form>
                </md-card-content>
                <md-list class="md-dense" ng-if="searchCtrl.load" flex>
                    <md-subheader class="md-no-sticky">Resultado da pesquisa:</md-subheader>
                    <md-list-item class="md-3-line" ng-repeat="institution in searchCtrl.institutions">
                        <div class="md-title">
                            &bull;
                            <a href class="hyperlink" ng-click="searchCtrl.goToInstitution(institution.id)">
                            {{ institution.name | limitTo: 90}}{{institution.name.length > 90 ? '...' : ''}}
                            </a>
                        </div>
                    </md-list-item>
                    <md-list-item class="md-3-line" ng-if="searchCtrl.notHasInstitutions()">
                        <b>&bull; Nenhuma instituição encontrada</b>
                    </md-list-item>
                </md-list>
                <div flex layout-align="center center" layout="row">
                  <md-progress-circular ng-show="!searchCtrl.load" md-mode="indeterminate"></md-progress-circular>
                </div>
            </md-card>  
        </div>
    </div>
</md-content>