.ecis-header {
    padding: 0;
    display: grid;
    grid-template-columns: max-content max-content auto max-content;
    grid-template-areas:
        'toggle-btn logo user-description logout-btn';
    align-itens: center;
}

.ecis-header__toggle-sidenav-btn {
    grid-area: toggle-btn;
}

.ecis-header__logo {
    grid-area: logo;
}

.ecis-header__current-user {
    grid-area: user-description;
    font-size: 1rem;
    margin: 0 10px;
    justify-self: flex-end;
}

.ecis-header__logout-btn {
    grid-area: logout-btn;
}
