<md-list>
      <md-list-item class="md-3-line">
        <img ng-src="{{commentCtrl.comment.author_img}}" class="md-avatar" alt="{{commentCtrl.comment.author_name}}" />
        <div class="md-list-item-text">
          <h4>{{commentCtrl.comment.author_name}} - {{commentCtrl.comment.institution_name | uppercase}}<small></h4>
          <small style="color: #7f7f7f;" class="md-caption">
            {{commentCtrl.comment.publication_date | amUtc | amLocal | amCalendar:referenceTime:formats}}
          </small>
          <p>{{commentCtrl.comment.text}}</p>
          <md-button class="md-secondary md-icon-button" aria-label="Share"
          ng-if="commentCtrl.canDeleteComment()"
          ng-click="commentCtrl.confirmCommentDeletion($event)">
            <md-icon>delete</md-icon>
          </md-button>
        </div>
      </md-list-item>
      <div layout="row" layout-align="start center" style="margin-left: 55px;"">
        <md-button class="md-icon-button" aria-label="Favorite" ng-click="null"
            ng-disabled="commentCtrl.disableButton()">
          <md-icon>grade</md-icon>
        </md-button>
        <md-button class="md-secondary md-icon-button" aria-label="Reply" ng-click="showReply = !showReply"
            title="Comentar">
          <md-icon>reply</md-icon>
        </md-button>
        <md-button class="post-count md-icon-button md-primary md-hue-1">
          {{ commentCtrl.numberOfReplies() }}
        </md-button>
      </div>
      <!-- Replies -->
      <md-list-item class="md-3-line" style="margin-left: 50px;" ng-if="showReply"
          ng-repeat="reply in commentCtrl.getReplies() | orderBy:'publication_date'" id="{{reply.id}}">
        <img ng-src="{{reply.author_img}}" class="md-avatar" alt="{{reply.author_name}}" />
        <div class="md-list-item-text">
          <h4>{{reply.author_name}} - {{reply.institution_name | uppercase}}<small></h4>
          <small style="color: #7f7f7f;" class="md-caption">
            {{reply.publication_date | amUtc | amLocal | amCalendar:referenceTime:formats}}
          </small>
          <p>{{reply.text}}</p>
          <md-button class="md-secondary md-icon-button" aria-label="Share"
              ng-if="commentCtrl.canDeleteComment(reply)"
              ng-click="commentCtrl.confirmCommentDeletion($event, reply)">
            <md-icon>delete</md-icon>
          </md-button>
        </div>
      </md-list-item>
      <!-- Reply input -->
      <md-list-item class="md-3-line" ng-if="showReply" style="margin-left: 50px;">
        <img ng-src="{{commentCtrl.user.photo_url}}" class="md-avatar" alt="{{commentCtrl.user.name}}" />
        <div class="md-list-item-text" layout="row" layout-align="center center">
          <md-input-container flex>
            <label>{{commentCtrl.user.name}}</label>
            <textarea style="max-height: 400px;overflow-y:auto;resize:none;" ng-model="commentCtrl.newReply" rows="1" md-select-on-focus
              ng-disabled="commentCtrl.saving"></textarea>
          </md-input-container>
          <md-button ng-if="commentCtrl.newReply" class="md-icon-button" ng-click="commentCtrl.replyComment();">
            <md-icon>send</md-icon>
          </md-button>
        </div>
      </md-list-item>
  </md-list>