<md-card ng-class="postDetailsCtrl.isDeleted()?'post-deleted':''" ng-hide="postDetailsCtrl.isHidden()">
  <!-- HEADER -->
  <md-card-header>
    <md-card-avatar>
      <a href ng-click="postDetailsCtrl.goToInstitution()">
        <img ng-src="{{ postDetailsCtrl.post.institution_image }}" role="button" class="md-user-avatar"/>
      </a>
    </md-card-avatar>
    <md-card-header-text>
      <div>
        <a  href class="md-title hyperlink" ng-click="postDetailsCtrl.goToInstitution(postDetailsCtrl.post.institution_key)">{{ postDetailsCtrl.post.institution_name }}</a>
      </div>
      <span class="md-subhead">por {{ postDetailsCtrl.post.author }} {{ postDetailsCtrl.post.publication_date | amUtc | amLocal | amCalendar:referenceTime:formats }}</span>
    </md-card-header-text>
  </md-card-header>

  <!-- BODY SHARED EVENT -->
  <div ng-if="postDetailsCtrl.showSharedEvent()">
    <md-card-content layout="column">
      <img  ng-if="postDetailsCtrl.showImage(postDetailsCtrl.post.shared_event)" ng-src="{{ postDetailsCtrl.post.shared_event.photo_url }}" class="md-card-image">
      <md-toolbar class="md-hue-2" md-colors="{background: 'teal-100'}">
        <h4 style="margin: 1%; text-align:center">{{ postDetailsCtrl.post.shared_event.title | uppercase}}</h4>
        <div></div>
        <div layout="row" layout-align="space-around center">
          <div layout="row">    
            <md-icon>place</md-icon> 
            <p>Em {{ postDetailsCtrl.post.shared_event.local }}</p>
          </div>
          <div layout="row">
            <md-icon>event</md-icon>
            <p>{{postDetailsCtrl.post.shared_even.start_time | amUtc | amLocal | amCalendar:referenceTime:formats }} até {{postDetailsCtrl.post.shared_event.end_time | amUtc | amLocal | amCalendar:referenceTime:formats }}</p>
          </div>
        </div>
      </md-toolbar>
      <p style='font-style:italic' class="break" 
      ng-bind-html="postDetailsCtrl.recognizeText(postDetailsCtrl.post.shared_event.text)" >
      </p>
    </md-card-content>
  </div>

  <!-- BODY SHARED POST -->
  <md-card md-colors="{background: 'default-grey-100'}" ng-if="postDetailsCtrl.showSharedPost()">
    <md-card-header>
      <md-card-avatar>
        <img ng-src="{{ postDetailsCtrl.post.shared_post.institution_image }}" class="md-card-image"/>
      </md-card-avatar>
      <md-card-header-text>
        <a href class="md-title hyperlink" ng-click="postDetailsCtrl.goToInstitution(postDetailsCtrl.post.shared_post.institution_key)">
          {{ postDetailsCtrl.post.shared_post.institution_name }}</a>
        <span class="md-subhead">por {{ postDetailsCtrl.post.shared_post.author }}</span>
      </md-card-header-text>
    </md-card-header>
    <md-card-content layout="column">
      <div ng-if="postDetailsCtrl.isDeleted(postDetailsCtrl.post.shared_post)" 
      style='font-style:italic; text-align: center'>
        <p>Esta publicação foi removida por</p>
        <p>
          {{postDetailsCtrl.post.shared_post.last_modified_by}} em 
          {{postDetailsCtrl.post.shared_post.last_modified_date | date: 'dd-MM-yyyy'}} às
          {{postDetailsCtrl.post.shared_post.last_modified_date | date: 'HH:mm:ss'}}.
        </p>
      </div>
      <div class="image-view" ng-if="postDetailsCtrl.showImage(postDetailsCtrl.post.shared_post)">
        <img class="md-card-image" style="border-radius: 3%;" ng-src="{{ postDetailsCtrl.post.shared_post.photo_url }}"/>
      </div>
      <p></p>
      <a href class="md-text hyperlink" ng-click="postDetailsCtrl.goToPost(postDetailsCtrl.post.shared_post)">
        <span>{{ postDetailsCtrl.post.shared_post.title }}</span>
      </a>
      <p class="break" ng-if="!postDetailsCtrl.isDeleted(postDetailsCtrl.post.shared_post)"
        ng-bind-html="postDetailsCtrl.recognizeUrl(postDetailsCtrl.post.shared_post).text" ></p>
      <div layout="row" layout-align="end-center">
        <a href class="md-text hyperlink" ng-click="postDetailsCtrl.goToPost(postDetailsCtrl.post.shared_post)" ng-if="postDetailsCtrl.isLongPostTimeline(postDetailsCtrl.post.shared_post.text)">
          <span class="md-subhead" >continuar lendo</span>
        </a>
      </div>          
    </md-card-content>
  </md-card>

  <!-- BODY POST -->
  <img ng-if="postDetailsCtrl.showImage(postDetailsCtrl.post)" ng-src="{{ postDetailsCtrl.post.photo_url }}" 
  class="md-card-image">
  <md-card-title ng-if="!postDetailsCtrl.isDeleted(postDetailsCtrl.post)">
    <md-card-title-text>
      <a href class="md-title hyperlink" ng-click="postDetailsCtrl.goToPost(postDetailsCtrl.post)">
        <span class="md-headline break">{{postDetailsCtrl.post.title}}</span>
      </a>
    </md-card-title-text>
  </md-card-title>
  <md-card-content>
    <div ng-if="postDetailsCtrl.isDeleted(postDetailsCtrl.post)" style='font-style:italic; text-align: center'>
      <p>Esta publicação foi removida por</p>
      <p>
        {{postDetailsCtrl.post.last_modified_by}} {{postDetailsCtrl.post.last_modified_date | amUtc | amLocal | amCalendar:referenceTime:formats }}.
      </p>
    </div>
    <div ng-if="postDetailsCtrl.showTextPost()">
        <p ng-bind-html="postDetailsCtrl.recognizeUrl(postDetailsCtrl.post).text" class="break">
          {{postDetailsCtrl.recognizeUrl(postDetailsCtrl.post).text}}
        </p>
        <div layout="row" layout-align="end-center">
            <a href class="md-text hyperlink" ng-click="postDetailsCtrl.goToPost()" 
              ng-if="postDetailsCtrl.isLongPostTimeline(postDetailsCtrl.post.text)">
              <span class="md-subhead" >continuar lendo</span>
            </a>
        </div>
    </div>    
  </md-card-content>
  <md-divider></md-divider>

  <!-- BUTTONS -->
  <md-card-actions layout="row" layout-align="end-center">
    <md-button class="md-icon-button" arial-label="Atualizar" title="Atualizar comentários"
        ng-click="postDetailsCtrl.loadComments()">
      <md-icon>refresh</md-icon>
    </md-button>
    <md-button class="md-icon-button" ng-click="postDetailsCtrl.generateLink()" title="Copiar link">
      <md-icon>link</md-icon>
    </md-button>
    <md-button  ng-if="postDetailsCtrl.showButtonDelete()" class="md-icon-button" arial-label="Delete"
        ng-click="postDetailsCtrl.deletePost($event, postDetailsCtrl.post)" title="Apagar o post">
      <md-icon>delete</md-icon>
    </md-button>
    <md-button class="md-icon-button" aria-label="Comments" ng-click="postDetailsCtrl.getComments()" 
        ng-disabled="postDetailsCtrl.isPostPage" title="Mostrar comentários">
      <md-icon>comments</md-icon>
    </md-button>
    <md-button class="post-count md-icon-button md-primary md-hue-1" 
        title="{{ postDetailsCtrl.post.number_of_comments }} pessoas comentaram">
      {{ postDetailsCtrl.post.number_of_comments }}
    </md-button>
    <md-button class="md-icon-button" aria-label="Favorite" ng-click="postDetailsCtrl.likeOrDislikePost()"
        ng-disabled="postDetailsCtrl.disableButtonLike()" ng-class="postDetailsCtrl.isLikedByUser()?'md-warn':''"
        title="Curtir">
      <md-icon>grade</md-icon>
    </md-button>
    <md-button class="post-count md-icon-button md-primary md-hue-1" ng-click="postDetailsCtrl.getLikes()"
        title="{{ postDetailsCtrl.post.number_of_likes === 0? 'Ainda ninguém curtiu' : 
                    postDetailsCtrl.post.number_of_likes === 1? '1 pessoa curtiu' : 
                      postDetailsCtrl.post.number_of_likes + ' pessoas curtiram' }}">
      {{ postDetailsCtrl.post.number_of_likes }}
    </md-button>
    <md-button class="md-icon-button" aria-label="editar" ng-click="postDetailsCtrl.editPost()"
        ng-if="postDetailsCtrl.showButtonEdit()" title="Editar o post">
      <md-icon>edit</md-icon>
    </md-button>
    <md-button class="md-icon-button" ng-if="postDetailsCtrl.post.state != 'deleted'" aria-label="compartilhar" 
      ng-click="postDetailsCtrl.share(postDetailsCtrl.post)" title="Compartilhar o post">
      <md-icon>share</md-icon>
    </md-button>
  </md-card-actions>

  <!-- LIKES -->
  <div layout="row" layout-align="start center">
    <md-list ng-repeat="like in postDetailsCtrl.post.data_likes" ng-if="postDetailsCtrl.showLikes || postDetailsCtrl.isPostPage">
      <md-list-item>
        <img class="resize" title="{{ like.author }}" ng-src="{{ like.author_img }}"/>
      </md-list-item>
    </md-list>
  </div>

  <!-- COMMENTS -->
  
  <comment ng-if="postDetailsCtrl.showComments || postDetailsCtrl.isPostPage" 
    ng-repeat="comment in postDetailsCtrl.getValues(postDetailsCtrl.post.data_comments) | orderBy:'publication_date'"
    comment="comment" user="postDetailsCtrl.user" post="postDetailsCtrl.post"></comment>

  <md-list>
    <md-list-item class="md-3-line" ng-if="(postDetailsCtrl.showComments || postDetailsCtrl.isPostPage) && !postDetailsCtrl.isDeleted()">
      <img ng-src="{{postDetailsCtrl.user.photo_url}}" class="md-avatar" alt="{{postDetailsCtrl.user.name}}" />
      <div class="md-list-item-text">
        <h2>{{comment.author_name}}</h2>
        <md-input-container class="md-block">
          <form ng-submit="postDetailsCtrl.createComment()" layout="column">
            <label>{{postDetailsCtrl.user.name}}</label>
            <textarea style="max-height: 400px;overflow-y:auto;resize:none;" ng-model="postDetailsCtrl.newComment" rows="1" md-select-on-focus
            ng-disabled="postDetailsCtrl.savingComment"></textarea>
            <div layout="row" layout-align="end center">
              <md-button ng-show="postDetailsCtrl.newComment"
              class="md-raised md-primary" aria-label="postar" type="submit">Escrever</md-button>
            </div>
          </form>
        </md-input-container>
      </div>
    </md-list-item>
  </md-list>
</md-card