<md-card ng-class="postDetailsCtrl.isDeleted(post)?'post-deleted':''">
  <!-- HEADER -->
  <md-card-header>
    <md-card-avatar>
      <a href ng-click="postDetailsCtrl.goToInstitution()">
        <img ng-src="{{ postDetailsCtrl.post.institution_image }}" role="button" class="md-user-avatar"/>
      </a>
    </md-card-avatar>
    <md-card-header-text>
      <div>
        <a href class="md-title hyperlink" ng-click="postDetailsCtrl.goToInstitution()">{{ postDetailsCtrl.post.institution_name }}</a>
      </div>
      <span class="md-subhead">por {{ postDetailsCtrl.post.author }} {{ postDetailsCtrl.post.publication_date | amUtc | amLocal | amCalendar:referenceTime:formats }}</span>
    </md-card-header-text>
  </md-card-header>

  <!-- BODY POST -->
  <img ng-if="postDetailsCtrl.showImage()" ng-src="{{ postDetailsCtrl.post.photo_url }}" class="md-card-image">
  <md-card-title ng-if="!postDetailsCtrl.isDeleted()">
    <md-card-title-text>
      <a href class="md-title hyperlink" ng-click="postDetailsCtrl.goToPost()">
        <span class="md-headline break">{{postDetailsCtrl.post.title}}</span>
      </a>
    </md-card-title-text>
  </md-card-title>
  <md-card-content>
    <div ng-if="postDetailsCtrl.isDeleted()" style='font-style:italic; text-align: center'>
      <p>Esta publicação foi removida por</p>
      <p>
        {{postDetailsCtrl.post.last_modified_by}} {{postDetailsCtrl.post.last_modified_date | amUtc | amLocal | amCalendar:referenceTime:formats }}.
      </p>
    </div>
    <div ng-if="!postDetailsCtrl.isDeleted()">
        <p ng-bind-html="postDetailsCtrl.recognizeUrl(postDetailsCtrl.post).text" class="break">
          {{postDetailsCtrl.recognizeUrl(postDetailsCtrl.post).text}}
        </p>
        <div layout="row" layout-align="end-center">
            <a href class="md-text hyperlink" ng-click="postDetailsCtrl.goToPost()" ng-if="postDetailsCtrl.isLongPostTimeline(postDetailsCtrl.post.text)">
              <span class="md-subhead" >continuar lendo</span>
            </a>
        </div>
    </div>
    
  </md-card-content>
  <md-divider></md-divider>

  <!-- BUTTONS -->
  <md-card-actions layout="row" layout-align="end-center">
    <md-button  ng-if="postDetailsCtrl.showButtonDelete()" class="md-icon-button" arial-label="Delete"
    ng-click="postDetailsCtrl.deletePost($event, postDetailsCtrl.post)">
      <md-icon>delete</md-icon>
    </md-button>
    <md-button class="md-icon-button" aria-label="Comments" ng-click="postDetailsCtrl.getComments()">
      <md-icon>comments</md-icon>
    </md-button>
    <md-button class="post-count md-icon-button md-primary md-hue-1">
      {{ postDetailsCtrl.post.number_of_comments }}
    </md-button>
    <md-button class="md-icon-button" aria-label="Favorite" ng-click="postDetailsCtrl.likeOrDislikePost()"
    ng-disabled="postDetailsCtrl.disableButtonLike()" ng-class="postDetailsCtrl.isLikedByUser()?'md-warn':''">
      <md-icon>grade</md-icon>
    </md-button>
    <md-button class="post-count md-icon-button md-primary md-hue-1" ng-click="postDetailsCtrl.getLikes()">
      {{ postDetailsCtrl.post.number_of_likes }}
    </md-button>
    <md-button class="md-icon-button" aria-label="editar" ng-click="postDetailsCtrl.editPost()"
      ng-if="postDetailsCtrl.showButtonEdit()">
      <md-icon>edit</md-icon>
    </md-button>
  </md-card-actions>

  <!-- LIKES -->
  <div layout="row" layout-align="start center">
    <md-list ng-repeat="like in postDetailsCtrl.post.data_likes" ng-if="postDetailsCtrl.showLikes || postDetailsCtrl.isPostPage">
      <md-list-item>
        <img class="resize" title="{{ like.author }}" ng-src="{{ like.author_img }}"/>
      </md-list-item>
    </md-list>
  </div>

  <!-- COMMENTS -->
  <md-list ng-if="postDetailsCtrl.showComments || postDetailsCtrl.isPostPage" 
    ng-repeat="comment in postDetailsCtrl.getValues(postDetailsCtrl.post.data_comments) | orderBy:'publication_date'" >
      <md-list-item class="md-3-line">
        <img ng-src="{{comment.author_img}}" class="md-avatar" alt="{{comment.author_name}}" />
        <div class="md-list-item-text">
          <h4>{{comment.author_name}} - {{comment.institution_name | uppercase}}<small></h4>
          <small style="color: #7f7f7f;" class="md-caption">
            {{comment.publication_date | amUtc | amLocal | amCalendar:referenceTime:formats}}
          </small>
          <p>{{comment.text}}</p>
          <md-button class="md-secondary md-icon-button" aria-label="Share"
          ng-if="postDetailsCtrl.canDeleteComment(comment)"
          ng-click="postDetailsCtrl.deleteComment($event, comment)">
            <md-icon>delete</md-icon>
          </md-button>
        </div>
      </md-list-item>
      <div layout="row" layout-align="start center" style="margin-left: 55px;"">
        <md-button class="md-icon-button" aria-label="Favorite" ng-click="null"
            ng-disabled="postDetailsCtrl.disableButtonLike()">
          <md-icon>grade</md-icon>
        </md-button>
        <md-button class="md-secondary md-icon-button" aria-label="Reply" ng-click="showReply = !showReply"
            title="Comentar">
          <md-icon>reply</md-icon>
        </md-button>
      </div>
      <!-- Replies -->
      <md-list-item class="md-3-line" style="margin-left: 50px;"
          ng-repeat="reply in postDetailsCtrl.getValues(comment.replies) | orderBy:'publication_date'">
        <img ng-src="{{reply.author_img}}" class="md-avatar" alt="{{reply.author_name}}" />
        <div class="md-list-item-text">
          <h4>{{reply.author_name}} - {{reply.institution_name | uppercase}}<small></h4>
          <small style="color: #7f7f7f;" class="md-caption">
            {{reply.publication_date | amUtc | amLocal | amCalendar:referenceTime:formats}}
          </small>
          <p>{{reply.text}}</p>
          <md-button class="md-secondary md-icon-button" aria-label="Share"
              ng-if="postDetailsCtrl.canDeleteComment(reply)"
              ng-click="postDetailsCtrl.deleteReply($event, postDetailsCtrl.post, comment, reply)">
            <md-icon>delete</md-icon>
          </md-button>
        </div>
      </md-list-item>
      <!-- Reply input -->
      <md-list-item class="md-3-line" ng-if="showReply" style="margin-left: 50px;">
        <img ng-src="{{postDetailsCtrl.user.photo_url}}" class="md-avatar" alt="{{postDetailsCtrl.user.name}}" />
        <div class="md-list-item-text" layout="row" layout-align="center center">
          <md-input-container flex>
            <label>{{postDetailsCtrl.user.name}}</label>
            <textarea style="max-height: 400px;overflow-y:auto;resize:none;" ng-model="reply" rows="1" md-select-on-focus
              ng-disabled="postDetailsCtrl.savingComment"></textarea>
          </md-input-container>
          <md-button ng-if="reply" class="md-icon-button" ng-click="postDetailsCtrl.replyComment(comment, reply, showReply);">
            <md-icon>send</md-icon>
          </md-button>
        </div>
      </md-list-item>
  </md-list>
  <md-list>
    <md-list-item class="md-3-line" ng-if="postDetailsCtrl.isPostPage && !postDetailsCtrl.isDeleted()">
      <img ng-src="{{postDetailsCtrl.user.photo_url}}" class="md-avatar" alt="{{postDetailsCtrl.user.name}}" />
      <div class="md-list-item-text">
        <h2>{{comment.author_name}}</h2>
        <md-input-container class="md-block">
          <form ng-submit="postDetailsCtrl.createComment()" layout="column">
            <label>{{postDetailsCtrl.user.name}}</label>
            <textarea style="max-height: 400px;overflow-y:auto;resize:none;" ng-model="postDetailsCtrl.newComment" rows="1" md-select-on-focus
            ng-disabled="postDetailsCtrl.savingComment"></textarea>
            <div layout="row" layout-align="end center">
              <md-button ng-show="postDetailsCtrl.newComment"
              class="md-raised md-primary" aria-label="postar" type="submit">Escrever</md-button>
            </div>
          </form>
        </md-input-container>
      </div>
    </md-list-item>
  </md-list>
</md-card