<!-- TIMELINE -->
<div flex>
  <div ng-if="!institution">
    <create-post flex user="user" is-dialog="false" posts="posts"></create-post>
  </div>
  <div layout="row" layout-align="center center" ng-if="timelineCtrl.showRefreshTimelineButton() && !institution" class="ng-if">
    <md-button flex md-colors="{background: 'teal-700'}" ng-click="timelineCtrl.load(posts)">
      VOCÊ TEM NOVOS POSTS
      <md-icon md-colors="{color: 'grey-100'}">refresh</md-icon>
    </md-button>
  </div>
  <md-card ng-if="posts.length == 0">
    <md-content layout-align="center center" layout="column">
      <h4>Esta instituição ainda não possui publicações.</h4>
    </md-content>
  </md-card>
  <div ng-repeat="post in posts | orderBy:'date':true" ng-if="posts.length > 0">
    <post-details post="post" is-post-page="false"></post-details>
  </div>
</div>