<md-dialog flex flex-gt-md="40" layout="row">
  <md-card flex="100">
    <md-card-header>
      <md-card-avatar>
        <img ng-src="{{ editPostCtrl.user.current_institution.photo_url }}" class="md-user-avatar"/>
      </md-card-avatar>
      <md-card-header-text>
        <span class="md-title">{{ editPostCtrl.user.current_institution.name }}</span>
        <span class="md-subhead">por {{ editPostCtrl.user.name }}</span>
      </md-card-header-text>
      <md-button class="md-icon-button">
        <md-icon>close</md-icon>
      </md-button>
    </md-card-header>
    <md-card-content layout="column">
      <md-input-container>
        <label>Título</label>
        <input ng-model="editPostCtrl.newPost.title" md-maxlength="100" maxlength="100" placeholder="Escreva aqui uma nova publicação">
      </md-input-container>
      <md-input-container ng-show="editPostCtrl.newPost.title">
        <label>Mensagem</label>
        <textarea ng-model="editPostCtrl.newPost.text" rows="4" md-select-on-focus required="true">
        </textarea>
      </md-input-container>
      <div class="btn-wrap" ng-if="editPostCtrl.showImage()">
        <img style="border-radius: 5%;" ng-src="{{ editPostCtrl.post.photo_url }}" width="100px" height="100px"/>
        <button ng-click="editPostCtrl.hideImage()">&times;</button>
      </div>
      <md-progress-linear ng-show="editPostCtrl.loading" md-mode="indeterminate" style="width: 19%; margin-top: 5px; margin-left: 10px;"></md-progress-linear>
    </md-card-content>
    <md-dialog-actions layout="row" ng-show="editPostCtrl.newPost.title">
      <span flex></span>
      <md-button class="md-icon-button" ng-show="editPostCtrl.showButton()" ng-click="null"
                    ng-model="editPostCtrl.file" ngf-pattern="'image/*'"
                    ngf-accept="'image/*'" ngf-max-size="5MB"
                    ngf-select="editPostCtrl.addImage(editPostCtrl.file)">
            <md-icon>add_a_photo</md-icon>
      </md-button>
      <md-button class="md-icon-button" ng-click="editPostCtrl.editPost()" ng-disabled="!editPostCtrl.isPostValid()">
        <md-icon>send</md-icon>
      </md-button>
      <md-button ng-click="editPostCtrl.cancelDialog()" ng-if="editPostCtrl.isDialog">
        Cancelar
      </md-button>
    </md-dialog-actions>
  </md-card>
</md-dialog>