<md-content layout="row" md-colors="{background: 'grey-200'}" layout-align="center" class="body">
  <style type="text/css">.noUnderline{text-decoration:none; color:black;}</style>

  <!-- CONTENT -->
  <div flex-gt-lg="80" flex-lg="90" layout="row" layout-wrap layout-align="center">

    <!-- LEFT SIDE PANEL -->
    <div flex-gt-md="20" flex-md="25" layout="column" hide show-gt-sm>
      <md-card>
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-sm-6">
              <div class="card hovercard">
                <div class="cardheader">
                </div>
                <div class="avatar">
                  <img alt="" ng-src="{{ homeCtrl.user.photo_url }}">
                </div>
                <div class="info">
                  <div class="title">
                    <span target="_blank" >{{homeCtrl.user.name}}</span>
                  </div>
                  <div class="desc">{{homeCtrl.user.current_institution.name}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div layout="column">
          <md-list>
            <md-list-item ng-click="homeCtrl.expandInstMenu()">
              <md-icon class="material-icons">dashboard</md-icon>
                Instituições
                <md-icon ng-if="!homeCtrl.instMenuExpanded">expand_more</md-icon>
                <md-icon ng-if="homeCtrl.instMenuExpanded">expand_less</md-icon>
            <md-list-item>
          </md-list>
        </div>
        <div ng-if="homeCtrl.instMenuExpanded">
          <md-list-item ng-repeat="institution in homeCtrl.institutions" ng-click="homeCtrl.goToInstitution(institution.key)" class="noright">
             <img alt="{{ institution.name }}" ng-src="{{ institution.photo_url }}" class="md-avatar" />
             <p>{{institution.name}}</p>
             <md-icon ng-if="!homeCtrl.user.isFollower(institution.key)">person_add</md-icon>
             <md-icon ng-if="homeCtrl.user.isFollower(institution.key)">person_outline</md-icon>
          </md-list-item>
        </div>
      </md-card>
    </div>

    <post-details flex-gt-md="60" flex-md="75" layout="column" md-colors="{background: 'grey-200'}" posts="homeCtrl.posts" institution="false"></post-details>

    <!-- RIGHT SIDE PANEL -->
    <div flex-gt-md="20" layout-padding layout="row" md-colors="{background: 'grey-200'}"  hide show-gt-md >
      <div layout="column">

        <!-- UPPER PANEL-->
        <div  flex  layout-align="center center">
         <iframe flex src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fminsaude&tabs=timeline&width=265&height=500&small_header=false&adapt_container_width=false&hide_cover=false&show_facepile=false&appId"  height="700" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
        </div>

        <!-- COPYRIGHT FOOTER -->
        <div class="padded">
          <hr/>
          <md-content  md-colors="{background: 'grey-200'}">
            <p align="center" class="md-body-1">
              <small class="md-caption">
                e-cis - OMS/OPAS © 2017
              </small>
            </p>
          </md-content>
        </div>
      </div>
    </div>
  </div>
</md-content>
<md-fab-speed-dial id="fab-new-post" class="md-fab-bottom-right">
  <md-fab-trigger>
    <md-button aria-label="menu" class="md-fab md-primary" ng-click="homeCtrl.newPost()" md-colors="{background: 'green-900'}">
      <md-icon>add</md-icon>
    </md-button>
  </md-fab-trigger>
</md-fab-speed-dial>
