<md-card>
  <md-card-header>
    <md-card-avatar>
      <img src="{{ mainCtrl.user.current_institution.image_url }}" class="md-user-avatar"/>
    </md-card-avatar>
    <md-card-header-text>
      <span class="md-title">{{ homeCtrl.user.current_institution.name }}</span>
      <span class="md-subhead">por {{ homeCtrl.user.profile.displayName }}</span>
    </md-card-header-text>
  </md-card-header>
  <md-card-title>
    <md-card-title-text>
        <md-input-container>
          <label>Título</label>
          <input ng-model="post.title" md-maxlength="30" maxlength="30" placeholder="Escreva aqui uma nova publicação como {{ homeCtrl.user.profile.displayName }}">
        </md-input-container>
        <md-input-container ng-show="post">
          <label>Mensagem</label>
          <textarea ng-model="post.text" md-maxlength="150" rows="4" md-select-on-focus
            maxlength="150"></textarea>
        </md-input-container>
    </md-card-title-text>
  </md-card-title>
  <md-card-actions layout="row" layout-align="end center" ng-show="post">
    <md-button ng-click="homeCtrl.post(post, homeCtrl.user.current_institution.iid); post = undefined;">Enviar</md-button>
    <md-button ng-click="post = undefined;">Limpar</md-button>
  </md-card-actions>
</md-card>

 <md-divider layout-margin></md-divider>

<md-card ng-repeat="post in homeCtrl.posts | orderBy:'$index':true">
  <md-card-header>
    <md-card-avatar>
      <img src="{{ post.institution_image }}" class="md-user-avatar"/>
    </md-card-avatar>
    <md-card-header-text>
      <span class="md-title">{{ post.institution_name }}</span>
      <span class="md-subhead">por {{ post.author }} as {{ post.publication_date }}</span>
    </md-card-header-text>
  </md-card-header>
  <img ng-src="{{ post.headerImage }}" class="md-card-image">
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">{{post.title}}</span>
    </md-card-title-text>
  </md-card-title>
  <md-card-content>
    <p>
      {{post.text}}
    </p>
  </md-card-content>
  <md-card-actions layout="row" layout-align="end center">
    <span class="md-caption" ng-show="time">{{ post.publication_date | date:'dd-MM-yyyy HH:mm:ss' }}</span>
    <md-button class="md-icon-button" aria-label="Data" ng-click="time = !time;">
      <md-icon>access_time</md-icon>
    </md-button>
    <md-button class="md-icon-button" aria-label="Favorite">
      <md-icon>favorite</md-icon>
    </md-button>
    <md-button class="md-icon-button" aria-label="Settings">
      <md-icon>menu</md-icon>
    </md-button>
    <md-button class="md-icon-button" aria-label="Share">
      <md-icon>share_arrow</md-icon>
    </md-button>
  </md-card-actions>
</md-card>