<md-content layout="row" md-colors="{background: 'grey-200'}" layout-align="center" class="body">
  <!-- CONTENT -->
  <div flex-gt-lg="80" flex-lg="90" layout="row" layout-wrap layout-align="center">

    <!-- LEFT SIDE PANEL -->
    <div flex-gt-md="20" flex-md="25" layout="column" hide show-gt-sm layout-fill>
      <md-card>
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-sm-6">
              <div class="card hovercard">
                <div class="cardheader">
                </div>
                <div class="avatar">
                  <img alt="" ng-src="{{ homeCtrl.user.photo_url }}">
                </div>
                <div class="info">
                  <div class="title">
                    <a href class="hyperlink" ng-click="homeCtrl.showUserProfile(homeCtrl.user.key, $event)">{{homeCtrl.user.name}}</a>
                  </div>
                  <div class="desc">{{homeCtrl.user.current_institution.name}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </md-card>
      <md-card>
        <md-subhead layout-padding class="md-primary" md-colors="{background: 'teal-900'}">Seguindo</md-subhead>
        <md-card-content>
          <md-grid-list
            md-cols="5" md-cols-gt-md="5"
            md-row-height="1:1"
            md-gutter="4px" md-gutter-gt-sm="4px">
            <md-grid-tile ng-repeat="institution in homeCtrl.followingInstitutions" ng-click="homeCtrl.goToInstitution(institution.key)"
              md-rowspan="1" md-colspan="1" md-colspan-sm="1" class="clickable">
              <figure>
                <img title="{{institution.acronym}}" ng-src="{{institution.photo_url}}" width="100%" height="100%"/>
              </figure>
            </md-grid-tile>
          </md-grid-list>
        </md-card-content>
      </md-card>
    </div>

    <post-timeline ng-if="!homeCtrl.isLoadingPosts" flex-gt-md="60" flex-md="75" layout="column" md-colors="{background: 'grey-200'}" posts="homeCtrl.posts" user="homeCtrl.user"></post-timeline>

    <!-- LOADING CIRCLE -->
    <div flex layout-align="center center" layout="row">
      <md-progress-circular ng-show="homeCtrl.isLoadingPosts" md-mode="indeterminate"></md-progress-circular>
    </div>

    <!-- RIGHT SIDE PANEL -->
    <div flex-gt-md="20" layout="row" hide show-gt-md>
      <div layout="column" hide show-gt-sm layout-fill>
        <md-card>
          <md-toolbar md-colors="{background: 'teal-800'}" layout="row">
            <md-icon style="margin-left: 7%;">event</md-icon>
            <div class="md-toolbar-tools" flex layout="row">
              Eventos
            </div>
          </md-toolbar>
          <md-card-content>
            <md-list class="md-dense" flex>
              <md-list-item class="md-1-line" ng-if="homeCtrl.events.length === 0">
                <span>Nenhum evento próximo</span>
              </md-list-item>
              <md-list-item class="md-3-line" ng-repeat="event in homeCtrl.events" ng-if="homeCtrl.events.length > 0">
                <img ng-src="{{event.institution_photo}}" class="md-avatar"/>
                <div class="md-list-item-text" layout="column">
                  <a href class="md-text hyperlink" ng-click="homeCtrl.goToEvent(event)">{{ event.title | limitTo: 20 }}{{ event.title.length > 20 ? '...' : ''}}</a>
                  <p>De {{ event.start_time | amUtc | amLocal | amCalendar:referenceTime:formats}} até 
                   {{ event.end_time | amUtc | amLocal | amCalendar:referenceTime:formats }}</p>
                  <p>por {{ event.author_name }}</p>
                </div>
              </md-list-item>
            </md-list>
            <md-card-actions layout="row" layout-align="end-center" ng-if="homeCtrl.events.length > 0">
              <md-button class="md-icon-button" title="Ver mais eventos" ng-click="homeCtrl.goToEvents()">
                <md-icon>more_horiz</md-icon>
              </md-button>
            </md-card-actions>
          </md-card-content>
        </md-card>
        <div class="padded">
          <hr/>
          <md-content  md-colors="{background: 'grey-200'}">
            <p align="center" class="md-body-1">
              <small class="md-caption">
                e-cis - OMS/OPAS © 2017
              </small>
            </p>
          </md-content>
        </div>
      </div>
    </div>
  </div>
</md-content>
<md-fab-speed-dial id="fab-new-post" class="md-fab-bottom-right">
  <md-fab-trigger>
    <md-button aria-label="menu" class="md-fab md-primary" ng-click="homeCtrl.newPost()" md-colors="{background: 'teal-900'}">
      <md-icon>add</md-icon>
    </md-button>
  </md-fab-trigger>
</md-fab-speed-dial>