<!-- TOOLBAR -->
<md-toolbar md-colors="{background: 'teal-900'}" layout-wrap layout-align="center" layout="row">
  <div class="md-toolbar-tools" flex-lg="90" flex-gt-lg="70" layout="row" layout-align="center center">
    <md-button class="md-icon-button hide-gt-sm" aria-label="Meu menu" ng-click="mainCtrl.toggle()" hide-gt-sm>
      <md-icon>menu</md-icon>
    </md-button>

    <a ui-sref="app.user.home"layout="row" layout-align="center center">
      <md-button disabled="true">
        <img src="app/images/logo.png" aria-label="OMS Logo" style="height: 50%;">
      </md-button>
    </a>

    <span flex md-truncate></span>
    
    <notification></notification>

    <div layout="row" md-theme="input" style="margin: 0px;">
      <form ng-submit="mainCtrl.search()" style="margin: 0px;">
        <md-input-container flex md-no-float style="margin: 0px;">
          <input aria-label="Pesquisar por instituições" class="form-control demo-menu-open-button"
            ng-model="mainCtrl.search_keyword" md-colors="{background: 'teal-800'}"
            ng-show="search">
        </md-input-container>
      </form>
    </div>
    <md-button ng-click="search = !search" class="md-icon-button" title="Buscar">
      <md-icon>search</md-icon>
    </md-button>
  </div>
</md-toolbar>

<div ui-view="content" layout="column" md-colors="{background: 'grey-200'}"></div>
