<!-- TOOLBAR -->
<md-toolbar id="main-toolbar" md-colors="{background: 'teal-900'}" layout-align="center" layout="row">
  <div class="md-toolbar-tools" flex-lg="90" flex-gt-lg="70">

    <md-button class="md-icon-button hide-gt-sm" aria-label="Menu" ng-click="mainCtrl.toggle()">
      <md-icon>menu</md-icon>
    </md-button>

    <a ui-sref="app.user.home">
      <md-button disabled="true">
        <img id="logo-full" src="app/images/logo.png" aria-label="Plataforma Virtual CIS" class="logo">
        <img id="logo-resp" src="app/images/logo-responsive.png" aria-label="Plataforma Virtual CIS" class="logo">
      </md-button>
    </a>

    <div class="toolbar-btns" layout="row">
      
      <a ui-sref="app.user.home" class="navbar-top">
        <md-button class="md-icon-button" title="Home">
          <md-icon>home</md-icon>
        </md-button>
      </a>
      <notification-button class-button="green-icon-notification" class="navbar-top"></notification-button>
      <div layout="row" md-theme="input" class="toolbar-search" md-colors="{background: mainCtrl.showSearch ? 'teal-800': 'teal-900'}">
        <form ng-submit="mainCtrl.search()" ng-show="mainCtrl.showSearch">
          <md-input-container flex md-no-float>
            <input aria-label="Pesquisar por instituições" ng-model="mainCtrl.search_keyword" md-colors="{background: 'teal-800'}">
          </md-input-container>
        </form>
        <md-button ng-click="mainCtrl.toogleSearch()" class="md-icon-button" title="Buscar">
          <md-icon>search</md-icon>
        </md-button>
      </div>
    </div>
  </div>
</md-toolbar>
<md-toolbar md-colors="{background: 'teal-700'}" layout-wrap layout-align="center" layout="row" ng-if="mainCtrl.newVersionAvailable()">
  <div class="md-toolbar-tools clickable" flex-lg="90" flex-gt-lg="70" layout="row" layout-align="center center" ng-click="mainCtrl.refreshUser()">
    <md-button class="md-icon-button" md-colors="{background: 'teal-50'}">
      <md-icon md-colors="{color: 'teal-700'}">refresh</md-icon>
    </md-button>
    <div layout="column">
      <h1 class="md-subhead">Atualização Disponível</h1>
      <span class="md-caption">Clique para atualizar a Plataforma Virtual CIS</span>
    </div>
  </div>
</md-toolbar>

<md-content id="lala" ui-view="content" flex layout="column" md-colors="{background: 'grey-200'}"></md-content>

<div hide-xs hide-sm>
  <md-button class="feedback-btn" ng-click="mainCtrl.goToReport()"
      md-colors="{background: 'light-green-700', color: 'grey-50'}">
    Reportar problemas
  </md-button>
</div>

<h4 class="md-caption app-version" hide show-gt-xs>
    {{mainCtrl.APP_VERSION}}
</h4>

<md-toolbar layout-align="space-around center" layout="row" id="navbar-bottom">
  <div class="icon-navbar-bottom">
    <md-button class="md-icon-button" aria-label="Início" ng-click="mainCtrl.goHome()">
      <md-icon ng-class="mainCtrl.getSelectedItemClass('home')">home</md-icon>
    </md-button>
    <p ng-class="mainCtrl.getSelectedItemClass('home')" id="label-icon-navbottom">Início</p>
  </div> 
  <div class="icon-navbar-bottom">
    <md-button class="md-icon-button" aria-label="Eventos" ng-click="mainCtrl.goToEvents()">
      <md-icon ng-class="mainCtrl.getSelectedItemClass('events')">event</md-icon>
    </md-button>
    <p ng-class="mainCtrl.getSelectedItemClass('events')" id="label-icon-navbottom">Eventos</p>
  </div>
  <div class="icon-navbar-bottom">
   <md-button class="md-icon-button big-label-icon" aria-label="Instituições" ng-click="mainCtrl.goToInstitutions()">
      <md-icon ng-class="mainCtrl.getSelectedItemClass('institutions')">account_balance</md-icon>
    </md-button>
    <p ng-class="mainCtrl.getSelectedItemClass('institutions')" id="label-icon-navbottom">Instituições</p>
  </div>
  <div class="icon-navbar-bottom">
    <notification-button should-go-to-state="true"  style="justify-self:center"
      class-button="{{mainCtrl.getSelectedItemClass('notifications')}}">
    </notification-button>
    <p id="label-icon-navbottom" ng-class="mainCtrl.getSelectedItemClass('notifications')">Notificações</p>  
  </div> 
</md-toolbar>

<md-toolbar class="md-warn" ng-if="!mainCtrl.userEmailVerified()" ng-hide="hideEmailVerification">
  <div class="md-toolbar-tools" layout-align="end center">
    <h2 class="md-flex">Verifique seu email para confirmar sua conta.</h2>
    <md-button class="md-raised md-warn md-hue-2" ng-click="mainCtrl.resendEmailVerification()">Reenviar confirmação</md-button>
    <md-button class="md-icon-button" ng-click="mainCtrl.refreshUser()"><md-icon>refresh</md-icon></md-button>
    <md-button class="md-icon-button" ng-click="hideEmailVerification = true"><md-icon>close</md-icon></md-button>
  </div>
</md-toolbar>