.toolbar-search form {
    margin: 0px;
}

.toolbar-search md-input-container {
    margin: 0px;
    height: 32px;
}

.logo {
    height: 28px;
    width: auto;
}

@media screen and (max-width: 450px) {
    #logo-full {
        display: none;
    }
}

@media screen and (min-width: 451px) {
    .logo {
        height: 35px;
    }

    #logo-resp {
        display: none;
    }
}
