<!-- TOOLBAR -->
<md-toolbar md-colors="{background: 'teal-900'}" layout-wrap layout-align="center" layout="row">
  <div class="md-toolbar-tools" flex-lg="90" flex-gt-lg="70" layout="row" layout-align="center center">
    <md-button style="margin-left: -15px;" class="hide-gt-sm" aria-label="Meu menu" ng-click="mainCtrl.toggle()">
      <md-icon>menu</md-icon>
    </md-button>

    <a ui-sref="app.user.home" layout="row" layout-align="center center" style="margin-left: -20px;">
      <md-button disabled="true">
        <img src="app/images/logo.png" aria-label="Plataforma Virtual CIS" style="height: 35px;">
      </md-button>
    </a>

    <span flex md-truncate></span>

    <a ui-sref="app.user.home" >
      <md-button class="md-icon-button" title="Home">
        <md-icon>home</md-icon>
      </md-button>
    </a>

    <notification></notification>

    <div layout="row" md-theme="input" class="toolbar-search" md-colors="{background: search? 'teal-800': 'teal-900'}">
      <form ng-submit="mainCtrl.search()" ng-show="search">
        <md-input-container flex md-no-float>
          <input aria-label="Pesquisar por instituições" 
          ng-model="mainCtrl.search_keyword" md-colors="{background: 'teal-800'}">
        </md-input-container>
      </form>
      <md-button ng-click="search = !search" class="md-icon-button" title="Buscar">
        <md-icon>search</md-icon>
      </md-button>
    </div>
  </div>
</md-toolbar>
<md-toolbar md-colors="{background: 'teal-700'}" layout-wrap layout-align="center" layout="row" ng-if="mainCtrl.newVersionAvailable()">
  <div class="md-toolbar-tools clickable" flex-lg="90" flex-gt-lg="70" layout="row" layout-align="center center" ng-click="mainCtrl.refreshUser()">
    <md-button class="md-icon-button" md-colors="{background: 'teal-50'}">
      <md-icon md-colors="{color: 'teal-700'}">refresh</md-icon>
    </md-button>
    <div layout="column">
      <h1 class="md-subhead">Atualização Disponível</h1>
      <span class="md-caption">Clique para atualizar a Plataforma Virtual CIS</span>
    </div>
  </div>
</md-toolbar>

<md-content ui-view="content" flex layout="column" md-colors="{background: 'grey-200'}"></md-content>

<div hide-xs hide-sm>
  <md-button class="feedback-btn" ng-click="mainCtrl.goToReport()" style="z-index: 20";
      md-colors="{background: 'light-green-700', color: 'grey-50'}">
    Reportar problemas
  </md-button>
</div>

<h4 class="md-caption app-version">
    {{mainCtrl.APP_VERSION}}
</h4>

<md-toolbar class="md-warn" ng-if="!mainCtrl.userEmailVerified()" ng-hide="hideEmailVerification">
  <div class="md-toolbar-tools" layout-align="end center">
    <h2 class="md-flex">Verifique seu email para confirmar sua conta.</h2>
    <md-button class="md-raised md-warn md-hue-2" ng-click="mainCtrl.resendEmailVerification()">Reenviar confirmação</md-button>
    <md-button class="md-icon-button" ng-click="mainCtrl.refreshUser()"><md-icon>refresh</md-icon></md-button>
    <md-button class="md-icon-button" ng-click="hideEmailVerification = true"><md-icon>close</md-icon></md-button>
  </div>
</md-toolbar>