<ec-content>
  <error-page-background md-colors="{background: 'light-green'}">

  </error-page-background>
  <error-card class='ec-card'>
    <card-header>
      <h1> ERRO {{errorCtrl.status}} </h1>
    </card-header>
    <card-content>
      <h3> Ocorreu um erro ao acessar esta informação. </h3>
      <p> {{ errorCtrl.msg }} </p>
      <error-buttons>
        <md-button ng-click="errorCtrl.goToHome()" class="md-raised md-primary" md-colors="{background: 'teal-500'}">
          Voltar
        </md-button>
        <md-button ng-click="errorCtrl.goToReport()" class="md-raised md-primary" md-colors="{background: 'teal-500'}">
          Reportar erro
        </md-button>
      </error-buttons>
    </card-content>
</error-card>
