

.user-name {
    font-size: 15px;
    color: #00796B;
}

.inst-name {
    color: #7f7f7f;
}

.comment {
    margin-top: 4px;
    white-space: pre-line;
}

.reply {
    margin-left: 5px; 
    border-left: 2px solid #8BC34A;
}

.reply-text {
    margin-top: 4px;
    white-space: pre-line;
}

.reply-btn-text {
    font-size: 12px; 
    margin-left: -8px;
}

.like-btn {
    margin-left: auto;
}


@media screen and (max-width: 500px) {
    .inst-name {
        display: none;
    }
}