
.comment-header {
    margin-bottom: 0.5em;
}

.user-name {
    font-size: 15px;
    color: #00796B;
}

.inst-name {
    color: #7f7f7f;
}

.comment-btn-text {
    font-size: 0.7em; 
}

.btns-row {
    margin-top: 0.5em;
}

.comment-btns {
    background: none;
    border: 0;
}

.comment-btns:hover {
    background-color: #efefef;
}

.left-align {
    margin-left: auto;
}

.comment-actions-counter {
    font-size: inherit;
}

.reply {
    margin-left: 5px; 
    border-left: 2px solid #8BC34A;
}

.reply-text {
    margin-top: 4px;
    white-space: pre-line;
}

.reply-input-item {
    margin-left: 5px;
}

.reply-input-container {
    font-size: 16px;
    width: 100%;
}

.reply-input {
    max-height: 400px;
    overflow-y: auto;
    resize: none;
}

.send-reply-btn {
    margin-top: -3em;
    margin-left: auto;
}

@media screen and (max-width: 350px) {
    .comment-btn-text {
        font-size: 0.6em;
    }
}

@media screen and (min-width: 351px) and (max-width: 450px) {
    .comment-btn-text {
        font-size: 0.7em;
    }
}

@media screen and (max-width: 450px) {
    .hide-xxs {
        display: none;
    }

    .inst-name {
        display: none;
    }
}