

.user-name {
    font-size: 15px;
    color: #00796B;
}

.inst-name {
    color: #7f7f7f;
}

.comment {
    margin-top: 4px;
    white-space: pre-line;
}

.reply {
    margin-left: 5px; 
    border-left: 2px solid #8BC34A;
}

.reply-text {
    margin-top: 4px;
    white-space: pre-line;
}

.reply-btn-text {
    font-size: 12px; 
    margin-left: -8px;
}

.like-btn {
    margin-left: auto;
}

.like-counter {
    font-size: 13px;
}

.reply-input-item {
    margin-left: 5px;
}

.reply-input-container {
    font-size: 16px;
    width: 100%;
}

.reply-input {
    max-height: 400px;
    overflow-y: auto;
    resize: none;
}

.reply-btn-text {
    font-size: 12px;
}

.send-reply-btn {
    margin-top: -3em;
    margin-left: auto;
}

@media screen and (max-width: 500px) {
    .inst-name {
        display: none;
    }
}