<md-list>
  <md-list-item class="md-3-line comment">
    <!-- header -->
    <img class="md-avatar" ng-src="{{commentCtrl.currentComment.author_img}}" alt="{{commentCtrl.currentComment.author_name}}" />
    <div class="md-list-item-text" layout="column">
      <div class="comment-header">
        <a href class="md-title user-name hyperlink" ng-click="commentCtrl.showUserProfile(commentCtrl.currentComment.author_key, $event)">
          {{commentCtrl.currentComment.author_name}}</a>
        <small class="md-caption inst-name"> | {{commentCtrl.currentComment.institution_name}}</small>
        <b class="xs-bullet">&bull;</b>
        <small>{{commentCtrl.currentComment.publication_date | amUtc | amLocal | amCalendar:referenceTime:formats}}</small>
      </div>
      <p ng-bind-html="commentCtrl.currentComment.text"></p>
      <!-- buttons -->
      <div layout="row" class="btns-row">
        <!-- delete -->
        <button aria-label="Delete" title="Excluir comentário" ng-if="commentCtrl.canDeleteComment()" 
          class="comment-btn" ng-click="commentCtrl.commentDeletionDialog($event)" >
          <md-button class="sm-icon-button xs-icon-button xs-delete-icon-justify hide-xxs" 
            md-colors="{background: 'light-green'}" aria-label="Delete icon">
            <md-icon>delete</md-icon>
          </md-button>
          <b class="comment-btn-text">EXCLUIR</b>
        </button>
        <!-- like -->
        <button class="left-align comment-btn" 
          ng-click="commentCtrl.isLikedByUser() ? commentCtrl.dislike() : commentCtrl.like()"
          ng-disabled="commentCtrl.disableButton()" aria-label="Favorite"
          title="{{commentCtrl.isLikedByUser() ? 'Descurtir' : 'Curtir'}}">
          <md-button class="sm-icon-button xs-icon-button hide-xxs" aria-label="Favorite icon"
            md-colors="{background: commentCtrl.isLikedByUser() ? 'light-green' : 'grey'}">
            <md-icon>grade</md-icon>
          </md-button>
          <b class="comment-btn-text">
            <small md-colors="{color: commentCtrl.isLikedByUser() ? 'light-green' : 'grey'}"
              title="{{ commentCtrl.numberOfLikesMessage() }}" class="comment-actions-counter">
              {{commentCtrl.numberOfLikes()}} 
            </small>
            CURTIR
          </b>
        </button>
        <!-- reply -->
        <button ng-if="!commentCtrl.reply" ng-disabled="commentCtrl.hideReplies()"
          class="comment-btn" ng-click="commentCtrl.toggleReplies()" aria-label="reply">
          <md-button class="sm-icon-button xs-icon-button hide-xxs" aria-label="Reply icon" title="Responder"
            title="Comentar" md-colors="{background: 'light-green'}">
            <md-icon>reply</md-icon>
          </md-button>
          <b class="comment-btn-text">
            <small class="comment-actions-counter" md-colors="{color: 'light-green'}" 
              title="{{ commentCtrl.numberOfRepliesMessage() }}">
              {{commentCtrl.numberOfReplies()}} 
            </small>
            RESPONDER
          </b>
        </button>
      </div>
    </div>
  </md-list-item>
  <!-- Replies -->
  <div class="reply-container reply" ng-show="commentCtrl.showReplies" >
    <comment ng-if="!commentCtrl.reply"
      ng-repeat="reply in commentCtrl.getReplies() | orderBy:'publication_date'"
      user="commentCtrl.user" post="commentCtrl.post"
      comment="commentCtrl.comment" reply="reply">
    </comment>
    <md-list-item class="md-2-line" ng-if="commentCtrl.canReply()">
      <img ng-src="{{commentCtrl.user.photo_url}}" class="md-avatar" alt="{{commentCtrl.user.name}}" />
      <div class="md-list-item-text grid-container">
        <md-input-container class="reply-input-container" flex>
          <label>Responder</label>
          <textarea class="reply-input" ng-model="commentCtrl.newReply"
              md-select-on-focus ng-disabled="commentCtrl.saving"></textarea>
        </md-input-container>
        <button class="comment-btn" style="height: 30px;" ng-click="commentCtrl.replyComment();"
          ng-disabled="!commentCtrl.newReply" aria-label="Send">
          <md-icon>send</md-icon>
          <b class="comment-btn-text send-comment-btn" hide-xs>ENVIAR</b>
        </button>
      </div>
    </md-list-item>
  </div>
</md-list>
