.logo {
    height: 2em;
    width: auto;
    margin: 0 0.6em;
}

.logo-responsive {
    margin: 0;
}

@media screen and (max-width: 450px) {
    .logo-full {
        display: none;
    }
}

@media screen and (min-width: 451px) {
    .logo-responsive {
        display: none;
    }
}

@media screen and (max-width: 320px) {
    .logo-responsive {
        width: auto;
        height: 1em;
    }
}