.clickable-card {
    display: grid;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
}

.clickable-card__toolbar {
    background-color: #FFFFFF !important;
}

#clickable-card__icon--start {
    color: #707070;
    margin: 0 1em 0 0;
}

#clickable-card__icon--end {
    color: #17ea17;
    margin: 0 0 0 auto;
}


.clickable-card__title {
    color: #004D41;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 0.7em;
}

.clickable-card__content {
    background-color: #FFFFFF;
    padding: 1em;
}