.white-toolbar-mobile {
  background-color: white;
  box-shadow: 0px 3px 6px grey;
  height: 60px;
  width: 100%;
  font-size: 20px;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 20% 50% auto;
  align-items: center;
}

.toolbar-icon-alignment {
    font-size: 2.5em;
    line-height: inherit !important;
}

.edit-inst-toolbar-title {
  color: grey;
  font-size: 0.8em;
  word-break: normal;
  grid-column-end: 4 !important;
}

.white-toolbar-menu-button {
  grid-column-start: 3; 
  grid-column-end: 4; 
  justify-self: end; 
  align-self: center;
}