<md-sidenav class="md-sidenav-left side-menu hide-scrollbar" md-component-id="sideMenu" md-whiteframe="4" md-is-locked-open="$mdMedia('gt-sm')">
    <md-content class="hide-scrollbar">
        <!-- Menu header -->
        <div class="card hovercard" md-colors="{background: sideMenuCtrl.getProfileColor(800)}">
            <div class="cardheader">
                <div class="avatar">
                    <img ng-click="sideMenuCtrl.onClickImage()" ng-src="{{sideMenuCtrl.getImage()}}">
                </div>
            </div>
            <div class="info" md-colors="{background: sideMenuCtrl.getProfileColor(600)}">
                <div class="desc">
                    <div class="md-title" ng-click="sideMenuCtrl.onClickTitle()">{{sideMenuCtrl.getTitle()}}</div>
                    <div ng-if="sideMenuCtrl.isType('HOME')">
                        <span >{{ sideMenuCtrl.user.current_institution.name }}</span>
                        <md-menu>
                            <md-button class="md-icon-button" ng-click="$mdMenu.open(ev)">
                                <md-icon md-colors="{color: 'grey-50'}">arrow_drop_down</md-icon>
                            </md-button>
                            <md-menu-content width="4" class="custom-scrollbar">
                                <md-menu-item ng-repeat="profile in sideMenuCtrl.user.institution_profiles">
                                    <md-button class='color-picker-button' ng-click="sideMenuCtrl.institutionButtonAction(profile)">
                                      <img ng-if='!sideMenuCtrl.isColorPickerActive' class='avatar-icon' ng-src="{{ profile.institution.photo_url }}"></img>
                                      <md-icon ng-if='sideMenuCtrl.isColorPickerActive' class='color-picker-icon' md-colors='{color: profile.color}'>brightness_1</md-icon>
                                        {{ profile.institution.name }}
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-if='!sideMenuCtrl.isMobileScreen' ng-click="sideMenuCtrl.openColorPicker()">
                                        <md-icon class='color-picker-icon'>color_lens</md-icon>
                                        GERENCIAR CORES
                                    </md-button>
                                    <md-button ng-if='sideMenuCtrl.isMobileScreen' ng-click="sideMenuCtrl.toggleColorPicker()" md-prevent-menu-close="md-prevent-menu-close">
                                        <md-icon class='color-picker-icon'>{{ sideMenuCtrl.currentMenuOption.icon }}</md-icon>
                                        {{ sideMenuCtrl.currentMenuOption.text }}
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu> 
                    </div>
                </div>
            </div>
        </div>
        <!-- Menu items -->
        <side-menu-item ng-repeat="item in sideMenuCtrl.items track by $id(item)" item="item"></side-menu-item>
    </md-content>
</md-sidenav>