<md-content id="content" layout="row" md-colors="{background: 'grey-200'}" layout-align="center" class="body">
  <div flex-gt-lg="80" flex-lg="90" layout="row" layout-align="center" layout-fill>
    <div layout="column" layout-align="center center" ng-if="eventCtrl.events.length === 0">
      <p>
        <span class="md-subhead">Seja o primeiro a criar um evento.</span>
      </p>
      <md-button aria-label="menu" class="md-button" ng-click="eventCtrl.newEvent()" md-colors="{background: 'teal-900'}">
        Criar evento
      </md-button>
    </div>
    <timeline>
      <timeline-event ng-repeat="event in eventCtrl.events | orderBy:'start_time'">
        <timeline-badge class="primary">
          <md-icon style="margin-top: 14px; color: white;">event</md-icon>
        </timeline-badge>
        <timeline-panel>
          <md-card ng-if="event.photo_url">
            <img class="md-card-image" ng-src="{{event.photo_url}}"/>
          </md-card>
          <md-card>
            <md-card-header>
              <md-card-header-text>
                <div layout="row" layout-align="start center">
                  <a href md-colors="{color: 'teal-900'}" class="md-title hyperlink" ng-click="eventCtrl.goToEvent(event)" >
                    {{ event.title }}</a>
                  <span flex md-truncate></span>
                </div>
                <span class="md-subhead">por {{ event.institution_name }} | {{ event.author }}</span>
              </md-card-header-text>
            </md-card-header>
            <md-card-content layout="column">
              <p ng-if="event.text" ng-bind-html="eventCtrl.recognizeUrl(event)" class="break">
              </p>
              <div layout="row" layout-align="end-center">
                <a href class="md-text hyperlink" ng-click="eventCtrl.goToEvent(event)" ng-if="eventCtrl.isLongText(event)">
                  <span class="md-subhead" >continuar lendo</span>
                </a>
              </div>
              <p>
                <span class="md-caption">Local:</span> <span md-colors="{color: 'teal-900'}">{{ event.local }}</span> |
                <b md-colors="{color: 'teal-900'}">
                  {{ event.start_time | amUtc | amLocal | amCalendar}}
                </b> até
                <b md-colors="{color: 'teal-900'}">
                  {{ event.end_time | amUtc | amLocal | amCalendar }}
                </b>
              </p>
              <div layout="row" layout-align="end center">
               <md-button class="md-icon-button" aria-label="editar" title="Editar este evento"
                  ng-if="eventCtrl.canEdit(event)" ng-click="eventCtrl.editEvent($event, event)">
                  <md-icon>edit</md-icon>
                </md-button>
                <md-button class="md-icon-button" aria-label="compartilhar" title="Excluir este evento"
                  ng-if="eventCtrl.canDelete(event)" ng-click="eventCtrl.confirmDeleteEvent($event, event)">
                  <md-icon>delete</md-icon>
                </md-button>
                <md-button class="md-icon-button" aria-label="compartilhar" title="Compartilhar este evento"
                  ng-click="eventCtrl.share($event, event)">
                  <md-icon>share</md-icon>
                </md-button>
              </div>
            </md-card-content>
          </md-card>
        </timeline-panel>
      </timeline-event>
    </timeline>
  </div>
</md-content>

<md-fab-speed-dial id="fab-new-event" class="md-fab-bottom-right">
  <md-fab-trigger>
    <md-button aria-label="menu" class="md-fab md-primary" ng-click="eventCtrl.newEvent()" md-colors="{background: 'teal-900'}">
      <md-icon>add</md-icon>
    </md-button>
  </md-fab-trigger>
</md-fab-speed-dial>