<div flex="100" layout="row" layout-align="center">
  <div flex flex-md="95" layout="row" layout-align="space-around"
      md-colors="{background: 'grey-50'}">
    <div flex flex-gt-md="100" layout-align="center top" layout="row">
      <div flex layout="column">
        <div layout="column" layout-align="center center" ng-if="eventCtrl.events.length === 0">
          <p>
            <span class="md-subhead">Seja o primeiro a criar um evento.</span>
          </p>
          <md-button aria-label="menu" class="md-button" ng-click="eventCtrl.newEvent()" md-colors="{background: 'teal-900'}">
            Criar evento
          </md-button>
        </div>
        <md-content flex id="content" class="body hide-scrollbar">
          <div flex layout="row">
            <div flex>
              <div ng-repeat="event in eventCtrl.events | orderBy:'start_time'" ng-if="eventCtrl.events.length > 0"
                  style="margin-left: 65px; border-left: 2px solid #8BC34A;" layut="colum">
                <div flex-gt-md="100" layout="row">
                  <div style="display: flex; align-items: center;">
                    <md-button class="md-fab md-primary" title="Compartilhar"
                      style="margin-left: -30px; background-color: #8BC34A; vertical-align: middle;"
                      ng-click="eventCtrl.share($event, event)">
                      <md-icon>share</md-icon>
                    </md-button>
                  </div>
                  <div flex style="margin-left: -22px;">
                    <md-card>
                        <event-details event="event" is-event-page=false></event-details>
                    </md-card>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </md-content>
      </div>
    </div>
    <md-content class="hide-scrollbar" flex-gt-md="20" hide show-gt-md></md-content>
  </div>
</div>
<md-fab-speed-dial id="fab-new-event" class="md-fab-bottom-right">
  <md-fab-trigger>
    <md-button aria-label="menu" class="md-fab md-primary" ng-click="eventCtrl.newEvent()" md-colors="{background: 'teal-900'}">
      <md-icon>add</md-icon>
    </md-button>
  </md-fab-trigger>
</md-fab-speed-dial>