.default-step {
    color: #FFFFFF;
    width: 20px;
    height: 20px;
}

.icon-step {
    color: #FFFFFF;
    margin: 4px 4px;
    font-size: 12px;
}

.create-event {
    margin-left: 15px;
    color: #03b3a1;
}

@media screen and (max-width: 450px) {
    .font-resp {
        font-size: 12px;
    }

    .select-resp {
        width: 80%;
    }
}

@media screen and (min-width: 600px) {
    #hide-share {
        display: none !important;
    }
}

@media screen and (max-width: 1640px) {
    .container-resp {
        display: flex;
        flex-wrap: wrap;
    }

    .box {
        width: 100%;
    }
}

@media screen and (min-width: 1920px) {
    .container-resp {
        display: flex;
        flex-wrap: wrap;
    }

    .box {
        width: 100%;
    }
}

/* MOBILE DEVICES */
@media screen and (max-width: 960px) {

    .create-event-button {
        background-color: #7CB342 !important;
    }

    .events-grid {
        display: grid;
        grid-template-columns: 20% 78% auto;
        grid-template-rows: 9em auto;
        align-items: initial;
        margin: 0;
    }

    .event-day-properties {
        margin-top: 1em;
        margin-left: auto;
        margin-right: auto;
        font-weight: 1000;
        font-size: 1.5em;
    }

    .event-weekday {
        font-size: 0.5em;
        margin-top: -0.4em;
        margin-left: 0.3em;
    }

    .event-divider {
        grid-column-start: 1;
        grid-column-end: 4;
        margin-right: 0.9em;
        margin-left: 0.9em
    }

    .events-grid-position {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .events-day-position {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .event-position {
        grid-column-start: 2;
        grid-column-end: 3;
    }

    .events-column {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
    }

    .event-preview-image {
        max-height: 120px;
        height: 120px;
        max-width: 100%;
        width: 100%;
        padding: 0;
        background-color: #009688;
    }

    .event-preview-border {
        border-left: 0.55em solid;
    }

    .highlight {
        background:rgba(0,0,0,0.65);
        position: absolute;
        height: 55px;
        width: 100%;
        background-color: rgba(0,0,0,0.40);
        font-family: Verdana, Geneva, sans-serif;
        color: #FFF;
        bottom: 0px;
        z-index: 1;
    }

    .hilight p {
        font-family: Helvetica, Verdana;
        color: #FFF;
        z-index: 200;
    }

    .event-preview {
        position: relative;
    }

    .event-preview img {
        z-index: 1;
    }

    .event-title, .event-subtitle {
        font-size: 0.9em;
        margin-left: 0.85em;
        margin-top: 0.8em; 
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .event-subtitle {
        margin-top: 0.3em;
    }
}