<div ng-if="controller.getStep(2) || controller.getStep(3)">
    <md-button class="md-fab md-primary" style="margin-right: -28px; margin-top: -14vh;" ng-click="controller.previousStep()" ng-disabled="controller.blockReturnButton"
      md-colors="{background: 'default-teal-500'}" hide-xs>
        <md-icon >keyboard_arrow_left</md-icon>
    </md-button>
</div>
<div class="fill-screen" layout="column" flex-gt-md="45" flex-md="60" flex-xs="90" flex-sm="60">
  <div style="margin-top: 10%;">
    <div style="padding:0;">
      <md-card style="max-width: 100%; margin:0 0 20px 0;">
        <md-card-content style="padding: 8px;">
          <div layout="row" layout-align="space-between center" class="hide-scrollbar">
            <div layout="row" layout-align="center center">
              <span class="green-circle default-step">
                <span layout="row" layout-algin="center">
                  <md-icon class="icon-step" ng-if="!controller.getStep(1)">done</md-icon>
                  <span style="margin: 3px auto; font-size: 12px;" ng-if="controller.getStep(1)">1</span>
                </span>
              </span>
              <b class="inline" style="font-size: 14px;" hide show-gt-sm>Informação inicial</b>
            </div>
            <hr class="hr-status-bar" layout-margin/>
            <div layout="row" layout-align="center center">
              <span ng-class="controller.showGreenButton(2)? 'green-circle': 'grey-circle'" class="default-step">
                  <span layout="row" layout-algin="center">
                    <md-icon class="icon-step" ng-if="controller.getStep(3)">done</md-icon>
                    <span style="margin: 3px auto; font-size: 12px;" ng-if="!controller.getStep(3)">2</span>
                  </span>
              </span>
              <b class="inline" style="font-size: 14px;" hide show-gt-sm>Descrição e Progamação</b>
            </div>
            <hr class="hr-status-bar" layout-margin/>
            <div layout="row" layout-align="center center">
              <span ng-class="controller.showGreenButton(3)? 'green-circle': 'grey-circle'" class="default-step">
                  <span layout="row" layout-algin="center">
                  <md-icon class="icon-step" ng-if="controller.getStep(3)">done</md-icon>
                  <span style="margin: 3px auto; font-size: 12px;" ng-if="!controller.getStep(3)">3</span>
                </span>
              </span>
              <b class="inline" style="font-size: 14px;" hide show-gt-sm>Mídia</b>
            </div>
          </div>
        </md-card-content>
      </md-card>
    </div>
    <div layout="row" layout-align="start center" style="padding: 0; margin-top: -3%;">
      <div layout="column" flex="100" layout-padding style="padding: 0;" class="fill-screen">
        <md-dialog style="max-width: 100%; margin:0; overflow-y:auto;" class="hide-scrollbar">
          <form name="createEvent" ng-submit="controller.nextStepOrSave()">
            <md-dialog-content class="custom-scrollbar" layout-padding ng-if="controller.getStep(1)">
              <div md-colors="{background: 'default-teal-500'}" layout="column" layout-align="center center" layout-padding
                style="overflow: hidden; height: 150px; padding-left: 0; padding-right: 0;" class="event-image-view">
                <button ng-click="controller.cleanImage()" type="button" class="event-image-view-button"
                  ng-if="controller.showImage()">&times;</button>
                <div style="width: 100%; padding:0; background-color: white;" ng-if="controller.showImage()">
                  <img ng-src="{{controller.photoUrl}}" style="width: 100%; padding:0"/>
                </div>
                <md-button style="border-radius: 50px" ng-click="null" ng-model="controller.file" ngf-pattern="'image/*'"
                  ngf-accept="'image/*'" ngf-max-size="5MB" ngf-select="controller.addImage(controller.file)"
                  ng-if="!controller.showImage()">
                  <md-icon style="height: 70px; width: 70px; font-size: 70px; color:white;" layout="column" layout-align="center center">add_a_photo</md-icon>
                </md-button>
                <b style="color: white; text-align: center;" ng-if="!controller.showImage()">Inserir foto de divulgação do evento</b>
              </div>
              <div layout="column">
                <md-input-container style="margin-bottom: 0">
                  <label>Nome do evento</label>
                  <input ng-model="controller.event.title" required ng-disabled="controller.isEventOutdated()"/>
                </md-input-container>
                <div layout="row" layout-align="space-between center">
                    <md-input-container style="margin: 0" flex="45">
                        <input mdc-datetime-picker="" short-time="false" date="true" time="true" type="text" format="DD-MM-YYYY HH:mm"
                          placeholder="Data inicial" ng-model="controller.event.start_time" class="md-input" today-text="Hoje" min-date="controller.now"
                          max-date="controller.event.end_time" cancel-text="Cancelar" ng-change="controller.createInitDate()" required
                          ng-disabled="controller.isEventOutdated() && controller.isEditing"/>
                    </md-input-container>
                    <md-input-container style="margin: 0" flex="45">
                        <input mdc-datetime-picker="" ng-change="controller.changeDate('endTime')" date="true" time="true"
                          type="text" today-text="Hoje" placeholder="Data final" class="md-input" format="DD-MM-YYYY HH:mm"
                          min-date="controller.startTime" max-date="null"
                          ng-model="controller.event.end_time" cancel-text="Cancelar"
                          ng-disabled="!controller.event.start_time || (controller.isEventOutdated() && controller.isEditing)" required>
                        <div ng-messages>
                          <div ng-show="!controller.event.start_time"
                              style="opacity: 0.9; margin-top: 2px; font-size: 0.8em;">
                              Primeiro defina a data inicial
                          </div>
                        </div>
                    </md-input-container>
                </div>
                <md-input-container style="margin: 0">
                    <label>Site oficial</label>
                    <input type="url" ng-model="controller.event.official_site" ng-disabled="controller.isEventOutdated()"/>
                </md-input-container>
                <div layout="row" layout-align="space-between">
                  <md-input-container style="margin: 0;" flex="45">
                        <label>Nome do Local </label>
                        <input ng-model="controller.event.local" required ng-disabled="controller.isEventOutdated()"/>
                    </md-input-container>
                    <md-input-container style="margin: 0" flex="45">
                        <label>Pais</label>
                        <md-select md-container-class="container-resp select-resp" ng-model="controller.event.address.country" ng-change="controller.setAnotherCountry()"
                          ng-disabled="controller.isEventOutdated()">
                            <md-option ng-repeat="country in controller.countries"
                              ng-value="country.nome_pais">{{country.nome_pais}}</md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div layout="row" ng-class="controller.isAnotherCountry? 'address-another-country': ''" layout-align="space-between">
                    <md-input-container style="margin: 0" flex="45" ng-if="controller.isAnotherCountry">
                        <label>Estado</label>
                        <input type="text" name="state" ng-model="controller.event.address.federal_state" ng-disabled="controller.isEventOutdated()">
                    </md-input-container>
                    <md-input-container style="margin: 0" flex="45" ng-if="!controller.isAnotherCountry">
                        <label>Estado</label>
                        <md-select name="state" ng-model="controller.selectedFederalState" ng-change="controller.getCitiesByState()"
                          ng-disabled="!controller.event.address.country" required ng-disabled="controller.isEventOutdated()"/>
                          <md-option ng-repeat="federal_state in controller.federalStates"
                            ng-value="federal_state">{{federal_state.sigla}}</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container style="margin: 0" flex="45" ng-if="controller.isAnotherCountry">
                        <label>Cidade</label>
                        <input type="text" name="city" ng-model="controller.event.address.city" ng-disabled="controller.isEventOutdated()">
                    </md-input-container>
                    <md-input-container style="margin: 0" flex="45" ng-if="!controller.isAnotherCountry">
                        <label>Cidade</label>
                        <md-select ng-model="controller.event.address.city" required
                          ng-disabled="!controller.selectedFederalState || controller.isEventOutdated()"/>
                          <md-option ng-repeat="city in controller.cities" ng-value="city">{{city}}</md-option>
                        </md-select>
                        <div ng-messages>
                            <div ng-show="createEvent.state.$pristine && !controller.isAnotherCountry && !controller.selectedFederalState"
                                style="opacity: 0.9; margin-top: 2px; font-size: 0.8em;">
                                Primeiro selecione um estado
                            </div>
                        </div>
                    </md-input-container>
                </div>
                <div layout="row" layout-align="space-between">
                    <md-input-container flex="65">
                        <label>Rua</label>
                        <input ng-required="!controller.isAnotherCountry" ng-model="controller.event.address.street"
                          ng-disabled="controller.isEventOutdated()"/>
                    </md-input-container>
                    <md-input-container flex="30">
                        <label>Número</label>
                        <input ng-model="controller.event.address.number"
                          ng-disabled="controller.isEventOutdated()"/>
                    </md-input-container>
                </div>
              </div>
            </md-dialog-content>
            <md-dialog-content ng-if="controller.getStep(2)" class="custom-scrollbar" layout-padding>
              <div layout="row" layout-align="center center">
                <div layout="column" flex="95">
                  <md-input-container class="md-block">
                    <label style="font-weight: bold; font-size: 25px;" md-colors="{color: 'default-teal-700'}">Descrição</label>
                    <textarea ng-model="controller.event.text" rows="5" md-select-on-focus
                      ng-disabled="controller.isEventOutdated()"
                      placeholder="Insira aqui uma breve descrição sobre o evento"
                      style="border-style: solid; border-width: 1px; border-color: #009688; border-radius: 5px;"></textarea>
                  </md-input-container>
                  <md-input-container class="md-block">
                    <label style="font-weight: bold; font-size: 25px;" md-colors="{color: 'default-teal-700'}">Programação</label>
                    <textarea ng-model="controller.event.programation" rows="5" md-select-on-focus
                      ng-disabled="controller.isEventOutdated()"
                      placeholder="Insira a programação completa do evento"
                      style="border-style: solid; border-width: 1px; border-color: #009688; border-radius: 5px;"></textarea>
                  </md-input-container>
                </div>
              </div>
            </md-dialog-content>
            <md-dialog-content ng-if="controller.getStep(3)" layout-padding class="custom-scrollbar">
              <div layout="row" layout-align="center center">
                <div flex="100" layout="column">
                  <div layout-margin>
                    <p class="md-subheader">Vídeos</p>
                    <div class="custom-scrollbar" style="max-height: 80%; overflow-y:auto; margin: 8px 0 8px 0;">
                      <div ng-repeat="videoUrl in controller.videoUrls" layout="column">
                        <md-input-container class="md-block" style="height: 25px;">
                          <label>Link do Youtube</label>
                          <input class="md-input" ng-model="videoUrl.url" placeholder="+ Adicionar um vídeo do Youtube..."
                            ng-change="controller.changeUrlLink(videoUrl, controller.videoUrls)" validate-youtube-link-directive
                            name="video"/>
                            <div ng-messages="createEvent.video.$error">
                                <div ng-message="pattern">Link do Youtube inválido.</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block" style="height: 25px;">
                          <label>Descrição</label>
                          <input ng-required="videoUrl.url" class="md-input" ng-model="videoUrl.description" placeholder="Adicione uma descrição para o vídeo..." maxlength="150" />
                        </md-input-container>
                      </div>
                    </div>
                  </div>
                  <div layout-margin>
                    <p class="md-subheader">Links úteis</p>
                    <div class="custom-scrollbar" style="max-height: 80%; overflow-y:auto; margin: 8px 0 8px 0;">
                      <div ng-repeat="usefulLink in controller.usefulLinks" layout="column">
                        <md-input-container class="md-block" style="height: 25px;">
                          <label>Link</label>
                          <input class="md-input" ng-model="usefulLink.url" placeholder="+ Adicionar um link..."
                            ng-change="controller.changeUrlLink(usefulLink, controller.usefulLinks)" type="url"/>
                        </md-input-container>
                        <md-input-container class="md-block" style="height: 25px;">
                          <label>Descrição</label>
                          <input ng-required="usefulLink.url" class="md-input" ng-model="usefulLink.description" placeholder="Adicione uma descrição para o link..." maxlength="150" />
                        </md-input-container>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </md-dialog-content>
            <md-dialog-actions style="border:0px" layout="row">
                <md-button ng-if="!controller.loading" class="md-raised" md-colors="{background: 'default-teal-500'}" ng-click="controller.cancelCreation()">
                    <span style="color: white;">cancelar</span>
                </md-button>
                <md-button class="md-raised" md-colors="{background: 'default-teal-500'}" ng-click="controller.previousStep()"
                  hide-gt-xs ng-if="(controller.getStep(2) || controller.getStep(3)) && !controller.loading">
                    <span style="color: white;">voltar</span>
                </md-button>
                <md-button ng-if="!controller.loading" class="md-raised" type="submit" md-colors="{background: 'default-teal-500'}">
                    <span style="color: white;">{{controller.getStep(3) ? "publicar" : "avançar"}}</span>
                </md-button>
                <load-circle flex ng-if="controller.loading"></load-circle>
            </md-dialog-actions>
          </form>
        </md-dialog>
      </div>
    </div>
  </div>
</div>