<div class="container-resp">
  <load-circle flex add-layout-fill="true" ng-if="eventCtrl.isLoadingEvents"></load-circle>
  <md-card ng-if="eventCtrl.events.length === 0">
      <md-content layout-align="center center" layout="column">
        <h4>Nenhum evento a ser exibido.</h4>
      </md-content>
  </md-card>
  <md-content id="content" class="custom-scrollbar">
    <div ng-repeat="events in eventCtrl.eventsByDay"
    ng-if="eventCtrl.events.length > 0" layut="row">
      <div layout="column">
        <div>{{events.day}}</div>
        <div ng-repeat="event in events.events | orderBy:'start_time'">
          <div class="events-grid" ng-click="eventCtrl.goToEvent(event)">
              <md-card class="event-preview-position">
                <div class="event-preview event-preview-border">
                  <img class="md-card-image event-preview-image" ng-src="{{event.photo_url}}">
                  <div class="highlight" style="grid-row-start: 2; grid-row-end: 3">
                      <div class="event-title">
                        <b>{{ event.title | uppercase}}</b>
                      </div>
                      <div class="event-subtitle">
                          {{ eventCtrl.getSubTitle(event) }}
                      </div>
                  </div>
                </div>
              </md-card>
          </div>
        </div>
      </div>
    </div>
  </md-content>
  <md-fab-speed-dial id="fab-new-event" class="md-fab-bottom-right" hide-gt-sm>
    <md-fab-trigger>
      <md-button aria-label="menu" ng-click="eventCtrl.newEvent()"
      class="md-fab md-primary create-event-button">
        <md-icon>add</md-icon>
      </md-button>
    </md-fab-trigger>
  </md-fab-speed-dial>
</div>