<load-circle flex add-layout-fill="true" ng-if="eventCtrl.isLoadingEvents"></load-circle>
<md-card ng-if="eventCtrl.events.length === 0">
    <md-content layout-align="center center" layout="column">
      <h4>Nenhum evento a ser exibido.</h4>
    </md-content>
</md-card>
<md-content id="content" class="body custom-scrollbar box">
  <div ng-repeat="event in eventCtrl.events | orderBy:'start_time'" ng-if="eventCtrl.events.length > 0"
      style="margin-left: 65px;" layut="colum">
    <div layout="row">
      <div>
        <md-card>
          <div class="event-preview" style="border-left: 5px solid #009688">
            <img class="md-card-image" style="max-height: 150px; height: 150px; max-width: 230px; width: 230px" ng-src="{{event.photo_url}}">
            <div class="highlight">
                <h4 style="margin-left: 15px;">{{ event.title | uppercase}}</h4>
                <h4 style="margin-left: 15px;">{{ event.address.city }}</h4>
            </div>
          </div>
        </md-card>
      </div>
    </div>
  </div>
</md-content>

<md-fab-speed-dial id="fab-new-event" class="md-fab-bottom-right" hide-gt-sm>
  <md-fab-trigger>
    <md-button aria-label="menu" ng-click="eventCtrl.newEvent()"
    class="md-fab md-primary create-event-button">
      <md-icon>add</md-icon>
    </md-button>
  </md-fab-trigger>
</md-fab-speed-dial>