<md-dialog aria-label="Novo Evento">
  <md-dialog-content>
    <div layout="column">
      <md-card layout="column">
        <md-card-header>
          <md-card-avatar>
            <img ng-src="{{ controller.user.current_institution.photo_url }}" class="md-user-avatar"/>
          </md-card-avatar>
          <md-card-header-text>
            <span class="md-title">{{ controller.user.current_institution.name }}</span>
            <span class="md-subhead">por {{ controller.user.name }}</span>
          </md-card-header-text>
          <section layout="column" layout-align="end end">
              <md-button class="md-icon-button" ng-click="controller.closeDialog()">
                  <md-icon>close</md-icon>
              </md-button>
          </section>
        </md-card-header>
        <md-card-content layout="column">
          <md-input-container>
            <label>Título</label>
            <input ng-model="controller.event.title" placeholder="Escreva aqui o nome do evento" required="true">
          </md-input-container>
          <md-input-container>
            <label>Descrição</label>
            <textarea style="max-height: 400px;overflow-y:auto;resize:none;" ng-model="controller.event.text" md-select-on-focus placeholder="Escreva aqui a descrição do evento"></textarea>
            </textarea>
          </md-input-container>
          <md-input-container>
            <label>Local</label>
            <input ng-model="controller.event.local" placeholder="Escreva aqui o local do evento" required="true">
          </md-input-container>
          <div layout="row" ng-if="!controller.isEditing">
            <md-input-container class="md-input-has-placeholder">
              <label>Início</label>
              <input mdc-datetime-picker="" short-time="false" date="true" time="true" type="text" format="DD-MM-YYYY HH:mm" lang="pt-BR" required="true"
              placeholder="Data/Horário" ng-model="controller.event.start_time" class=" md-input" today-text="Hoje" min-date="null"
              max-date="controller.event.end_time" readonly="readonly" cancel-text="Cancelar">
              <div class="md-errors-spacer"></div>
            </md-input-container>
            <md-input-container class="md-input-has-placeholder">
              <label>Fim</label>
              <input mdc-datetime-picker="" date="true" time="true" type="text" lang="pt-BR" today-text="Hoje" required="true"
              placeholder="Data/Horário" class=" md-input" readonly="readonly" format="DD-MM-YYYY HH:mm" max-date="null"
              ng-model="controller.event.end_time" cancel-text="Cancelar" min-date="controller.event.start_time">
              <div class="md-errors-spacer"></div>
            </md-input-container>
          </div>
          <div layout="row" ng-if="controller.isEditing">
            <md-input-container class="md-input-has-placeholder">
              <label>Início</label>
              <input mdc-datetime-picker="" ng-change="controller.changeDate('startTime')" short-time="false" date="true" time="true" type="text" format="YYYY-MM-DD HH:mm" lang="pt-BR" required="true"
              placeholder="Data/Horário" ng-model="controller.dateChangeEvent.start_time" class=" md-input" today-text="Hoje" min-date="null"
              max-date="controller.event.end_time" readonly="readonly" cancel-text="Cancelar">
              <div class="md-errors-spacer"></div>
            </md-input-container>
            <md-input-container class="md-input-has-placeholder">
              <label>Fim</label>
              <input mdc-datetime-picker="" ng-change="controller.changeDate('endTime')" date="true" time="true" type="text" lang="pt-BR" today-text="Hoje" required="true"
              placeholder="Data/Horário" class=" md-input" readonly="readonly" format="YYYY-MM-DD HH:mm" max-date="null"
              ng-model="controller.dateChangeEvent.end_time" cancel-text="Cancelar" min-date="controller.event.start_time">
              <div class="md-errors-spacer"></div>
            </md-input-container>
          </div>
          <div class="image-view" ng-if="controller.showImage()">
            <button ng-click="controller.cleanImage()">&times;</button>
            <img style="border-radius: 5%;" ng-src="{{ controller.photoUrl }}"/>
          </div>
          <div class="image-view" ng-if="controller.showEventImage()">
            <button ng-click="controller.cleanImage()">&times;</button>
            <img style="border-radius: 5%;" ng-src="{{ controller.event.photo_url }}"/>
          </div>
          <md-progress-linear ng-show="controller.loading" md-mode="indeterminate" style="width: 14%; margin-top: 5px"></md-progress-linear>
        </md-card-content>
        <div layout="row">
          <span flex></span>
          <md-button class="md-icon-button" ng-click="null" ng-model="controller.file" ngf-pattern="'image/*'"
                        ngf-accept="'image/*'" ngf-max-size="5MB" ngf-select="controller.addImage(controller.file)">
                <md-icon>add_a_photo</md-icon>
          </md-button>
          <md-button class="md-icon-button" ng-click="controller.save()" ng-if="controller.showButtonSend()">
            <md-icon>send</md-icon>
          </md-button>
        </div>
      </md-card>
    </div>
  </md-dialog-content>
</md-dialog>