<div layout-fill md-colors="{background: 'teal-900'}" layout="column" layout-align="center">
   <div layout="row" layout-wrap layout-align="center">
    <md-card flex-gt-xs="50">
      <md-toolbar md-colors="{background: 'green-800'}" layout="row">
        <h1 class="md-toolbar-tools">Escolha uma Instituição</h1>
      </md-toolbar>
      <md-content md-theme="docs-dark" layout-gt-sm="column" layout-padding>
        <div>
          <div ng-if="chooseInstCtrl.selectedInstitution">
            <md-list flex>
              <md-subheader class="md-no-sticky">Instituição selecionada:</md-subheader>
              <md-list-item class="md-3-line">
                <img ng-src="{{ chooseInstCtrl.selectedInstitution.image_url }}" class="md-avatar" alt="{{chooseInstCtrl.selectedInstitution.name}}" />
                <div class="md-list-item-text" layout="column">
                  <h3><b>{{ chooseInstCtrl.selectedInstitution.name }}</b> - {{ chooseInstCtrl.selectedInstitution.email }}</h3>
                  <h4>{{ chooseInstCtrl.selectedInstitution.phone_number }} | {{ chooseInstCtrl.selectedInstitution.address }}</h4>
                  <p>{{ chooseInstCtrl.selectedInstitution.description }}</p>
                </div>
              </md-list-item>
            </md-list>
          </div>
          <md-select placeholder="Instituição" ng-model="chooseInstCtrl.selectedInstitution" md-on-open="chooseInstCtrl.getInstitutions()">
            <md-option ng-value="institution" ng-repeat="institution in chooseInstCtrl.institutions">{{institution.name}}</md-option>
          </md-select>
        </div>
        <section layout="row" layout="column" layout-align="end center" layout-wrap>
           <md-button ng-click="chooseInstCtrl.finish()" md-colors="{background: 'green-900'}">Prosseguir</md-button>
        </section>
      </md-content>
    </md-card>
  </div>
</div>