.card {
    padding-top: 20px;
    margin: 10px 0 20px 0;
    background-color: rgba(214, 224, 226, 0.2);
    border-top-width: 0;
    border-bottom-width: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card.hovercard {
    position: relative;
    padding-top: 0;
    margin-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: #fff;
}

.card.hovercard .cardheader {
    background-color: #2E7D32;
    background-size: cover;
    height: 135px;
}

.card.hovercard .avatar {
    position: relative;
    top: -50px;
    margin-bottom: -50px;
}

.card.hovercard .avatar img {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.5);
}

.card.hovercard .info {
    padding: 4px 8px 10px;
}

.card.hovercard .info .title {
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 1;
    color: #262626;
    vertical-align: middle;
}

.card.hovercard .info .desc {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
}

.green-background{
    text-align: center;
}

.img-circle {
    border-radius: 50%;
    margin-top: 2%;
    background-color:#fff;
}

.img-thumbnail {
    border: 1px solid #ddd;
    padding: 5px;
    width: 150px;
}

.img-thumbnail:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.hyperlink {
    color: #005b7f;
    text-decoration: none;
    font-weight:bold;
}

.resize {
    border-radius: 50%;
    width: 25px;
}

.buttons {
    margin-top: 1.5%;
    margin-bottom: 0%;
    box-shadow: 0 0 2px 1px #cccacc;
    display: inline-flex;
}