<md-dialog aria-label="Mango (Fruit)">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{dialogController.institution.name}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="dialogController.cancel()">
          <md-icon aria-label="Close dialog">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <h2>Descrição</h2>
        <p>
          {{dialogController.institution.description}}
        </p>

        <img style="margin: auto; max-width: 100%;" src="{{dialogController.institution.image}}">
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button href="http://en.wikipedia.org/wiki/{{dialogController.institution.name}}" target="_blank" md-autofocus>
        More on Wikipedia
      </md-button>
      <span flex></span>
      <md-button ng-click="dialogController.answer('not useful')">
       Not Useful
      </md-button>
      <md-button ng-click="dialogController.answer('useful')" class="md-primary">
        Useful
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>