#webchat {
    height: 100vh;
    display: flex;
    animation-name: simple-fade-in;
    animation-duration: 2s;
}

#content {
    display: flex;
    height: 100%;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}
.custom-scrollbar::-webkit-scrollbar {
    width: .3em;
    height: .3em;
}
.custom-scrollbar::-webkit-scrollbar-button {
    background: #009688
}
.custom-scrollbar::-webkit-scrollbar-track-piece {
    background: #ccc
}
.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #009688
}

@media screen and (min-width: 1280px) {
    .hide-on-desktop {
        display: none;
    }
}

.no-padding {
    padding: 0;
}

.no-margin {
    margin: 0;
}

.fill-height {
    height: 100%;
}

@keyframes simple-fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes simple-fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}