.is-empty-card__container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
            'image'
            'text';
    width: 100%;
    height: 100%;
    justify-content: center;
}

.is-empty-card__image {
    grid-area: image;
    max-height: 100%;
    max-width: 100%;
    align-self: flex-end;
}

.is-empty-card__text {
    grid-area: text;
    display: flex;
    font-size: 1.5em;
    margin: 1em 0;
    padding: 0 0.5em;
    font-weight: bold;
    color: #009688;
    text-align: center;
    justify-content: center;
}