.config-profile__container {
    display: grid;
    grid-template-rows: 17em min-content auto;
    overflow-x: hidden;
}

.config-profile__header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
}

.config-profile__header--shadow {
    background-image: linear-gradient(#02554dd2, #009688);
}

.config-profile__header--background {
    background-color: #009688;
    height: 100%;
}

.config-profile__back__icon {
    color: white;
}

.config-profile__avatar--position {
    justify-self: center;
    position: absolute;
    top: 7em;
}

.config-profile__avatar {
    border-radius: 50%;
    height: 8em;
    width: 8em;
}

.config-profile__info {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

.config-profile__info--name {
    margin: 0 1em;
    text-align: center;
    font-size: 1.4em;
    font-weight: 500;
    max-width: 85%;
    text-transform: uppercase;
}

.config-profile__info--data {
    font-size: 0.8em;
    margin: 1em 0 1em 2.5em;
}

.config-profile__info--data > span {
    color: #009688;
    text-transform: uppercase;
    font-weight: 700;
}

.config-profile__info--divider {
    border: none;
    background-color: #84C45E;
    height: 4px;
    width: 35%;
}
