<md-content class="config-profile__container custom-scrollbar">
    <div class="config-profile__header">
        <div class="config-profile__header--background">
            <div class="config-profile__header--shadow">
                <md-button class="md-icon-button" ng-click="configProfileCtrl.goBack()">
                    <md-icon class="config-profile__back__icon">arrow_back</md-icon>
                </md-button>
            </div>
        </div>
        <img class="config-profile__avatar config-profile__avatar--position" ng-src="{{ configProfileCtrl.photo_url }}">
        <md-button id="config-profile__camera__button" class="md-icon-button"
            ng-show="configProfileCtrl.canEdit"
            ng-model="configProfileCtrl.file" ngf-pattern="'image/*'"
            ngf-accept="'image/*'" ngf-max-size="5MB"
            ngf-select="configProfileCtrl.cropImage(configProfileCtrl.file, $event)">
            <md-icon id="config-profile__photo__icon">photo_camera</md-icon>
        </md-button>
    </div>
    
    <div class="config-profile__info">
        <p class="config-profile__info--name responsive__title">
            {{ configProfileCtrl.showProperty(configProfileCtrl.user.name) }}
        </p>
        
        <hr class="config-profile__info--divider"></hr>
        
        <div class="config-profile__info--data">
            <span>e-mail:</span>
            <p class="config-profile__info--item">{{ configProfileCtrl.showProperty(configProfileCtrl.user.email[0]) }}</p>
            <span>cpf:</span>
            <p class="config-profile__info--item">{{ configProfileCtrl.showProperty(configProfileCtrl.user.cpf) }}</p>
        </div>
    </div>

    <user-profiles 
        profiles="configProfileCtrl.user.institution_profiles" 
        edit-mode="configProfileCtrl.canEdit">
    </user-profiles>
</md-content>