.webchat__container {
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 64px calc(100% - 64px);
    grid-template-areas:
            'header'
            'content';
    animation-name: simple-fade-in;
    animation-duration: 0.5s;
}

.webchat__header {
    grid-area: header;
}

.webchat__content {
    grid-area: content;
}