<div class="chat-body__messages-container custom-scrollbar" scroll-glue="glued" ng-show="!chatBodyCtrl.videoActive">
    <span class="chat-body__info-message">Esta é uma conversa segura e não esta sendo gravada</span>
    <chat-message
            class="chat-body__message"
            ng-repeat="message in chatBodyCtrl.messages"
            message-obj="message">
    </chat-message>
</div>
<div class="chat-body__video-container" ng-show="chatBodyCtrl.videoActive">
    <video id="video-remote" autoplay></video>
    <video id="video-selfie" autoplay muted></video>
</div>
