<div class="manage-inst-menu">
    <institution-header 
        user="manageInstMenuCtrl.user"
        institution="manageInstMenuCtrl.institution"
        photo="manageInstMenuCtrl.institution.photo_url"
        file-background="manageInstMenuCtrl.file"
        actions-buttons="manageInstMenuCtrl.getActionButtons">
    </institution-header>

    <hr class="manage-inst-menu__divider">

    <md-button ng-repeat="option in manageInstMenuCtrl.options"
        class="manage-inst-menu__option"
        ng-click="option.onClick()">
        <md-icon>{{option.icon}}</md-icon>
        <b>{{option.description}}</b>
    </md-button>
</div>