#textarea-edit-description{
    height: 20em !important;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 5px;
    padding: 0.5em;
    margin-top: 0.7em;
}

#label-edit-description{
    font-weight: bold;
    font-size: 25px;
    color:black;
}

.description-inst{
    padding: 0px 1.5em;
    margin-right: auto;
    word-break: break-all;
}

.button-confirm-describe{
    justify-self: end;
    margin: 0em;
}

.dialog-edit-description{
    padding: 2em 1em 1em 1em;
    display: grid;
    grid-template-rows: 2.5em 22em 3.5em;
    width: 16em;
    overflow: hidden;
}

.margin-zero{
    margin: 0px;
}

@media screen and (max-height: 580px) and (max-width: 325px){
    .dialog-edit-description{
        grid-template-rows: 1.5em 20em 3em;
        width: 13em;
    }
    #textarea-edit-description{
        height: 18.5em !important;
    }
}

@media screen and (min-height: 580px) and (max-height:680px) and (max-width: 365px){
    .dialog-edit-description{
        grid-template-rows: 2em 21em 3em;
        width: 15em;
    }   
}