<div class="dialog-edit-description">
    <md-input-container class="md-block" style="margin-bottom: 0px">
        <label id="label-edit-description">Editar descrição</label>
        <textarea ng-model="descriptionCtrl.institution.description" rows="5"
            placeholder="Insira a descrição da instituição" id="textarea-edit-description"></textarea>
    </md-input-container>
    <md-button type="submit" ng-click="descriptionCtrl.save()" md-colors="{color: 'default-teal-500'}" class="button-confirm-describe">
        CONFIRMAR
    </md-button>
</div>