<!-- TOOLBAR -->
<md-toolbar md-colors="{background: 'blue-900'}" layout-wrap layout-align="center" layout="row">
  <div class="md-toolbar-tools" flex-lg="90" flex-gt-lg="80" layout="row" layout-align="center center">
    <md-button class="md-icon-button" aria-label="Settings" ng-click="mainCtrl.toggle()">
      <md-icon>menu</md-icon>
    </md-button>

    <md-button disabled="true">
      <img src="images/oms.png" aria-label="WHO Logo" style="height: 80%;filter: brightness(10) grayscale(1);">
    </md-button>
    <h2>e-CIIS</h2>

    <span flex md-truncate></span>

    <md-button class="md-icon-button" aria-label="Logout">
      <a href="/logout"><md-icon style="color: white;">exit_to_app</md-icon></a>
    </md-button>

    <md-button class="md-icon-button" aria-label="More">
      <md-icon>more_vert</md-icon>
    </md-button>
  </div>
</md-toolbar>

<!-- SIDENAV -->
<md-sidenav class="md-sidenav-left" md-component-id="leftNav" md-whiteframe="4" layout="column">
  <md-toolbar md-colors="{background: dashboard? 'blue-grey-900' : 'blue-grey-700' }" layout="row" layout-align="center center">
    <h1 class="md-toolbar-tools">Menu</h1>
    <span flex></span>
    <md-button ng-hide="dashboard" ng-click="dashboard = !dashboard" class="md-icon-button" aria-label="More">
      <md-icon>dashboard</md-icon>
    </md-button>
    <md-button ng-show="dashboard" ng-click="dashboard = !dashboard" class="md-icon-button" aria-label="More">
      <md-icon>more_vert</md-icon>
    </md-button>
  </md-toolbar>
  <md-content flex md-colors="{background: dashboard? 'blue-grey-700' : 'grey-200' }">
    <md-list ng-hide="dashboard">
      <md-list-item ng-click="mainCtrl.goTo(setting.stateTo)" ng-repeat="setting in mainCtrl.settings">
        <md-icon>{{setting.icon}}</md-icon>
        <p> {{ setting.name }} </p>
      </md-list-item>
    </md-list>
    <md-list ng-show="dashboard">
      <md-list-item class="md-3-line" ng-repeat="institution in mainCtrl.user.institutions" ng-click="mainCtrl.changeInstitution(institution.name)">
        <img ng-src="{{ institution.image_url }}" alt="{{ institution.name }}" class="md-avatar" md-colors="{background: 'grey-200'}">
        <p> {{ institution.name }} </p>
        <md-button class="md-warn md-hue-1 md-icon-button" ng-show="mainCtrl.isActive(institution)">
          <md-icon>check</md-icon>
        </md-button>
      </md-list-item>
    </md-list>
  </md-content>
</md-sidenav>

<div ui-view="content" layout="column"></div>