<!-- TOOLBAR -->
<md-toolbar md-colors="{background: 'blue-900'}" layout-wrap layout-align="center" layout="row">
  <div class="md-toolbar-tools" flex-lg="90" flex-gt-lg="80" layout="row" layout-align="center center">
    <md-button class="md-icon-button" aria-label="Settings" ng-click="mainCtrl.toggle()">
      <md-icon>menu</md-icon>
    </md-button>

    <md-button disabled="true">
      <img src="images/oms.png" aria-label="WHO Logo" style="height: 80%;filter: brightness(10) grayscale(1);">
    </md-button>
    <h2>e-CIIS</h2>

    <span flex md-truncate></span>

    <md-button class="md-icon-button" aria-label="Logout">
      <a href="/logout"><md-icon style="color: white;">exit_to_app</md-icon></a>
    </md-button>

    <md-button class="md-icon-button" aria-label="More">
      <md-icon>more_vert</md-icon>
    </md-button>
  </div>
</md-toolbar>

<!-- SIDENAV -->
<md-sidenav class="md-sidenav-left" md-component-id="leftNav" md-whiteframe="4" layout="column">
  <md-toolbar md-colors="{background: dashboard? 'blue-grey-900' : 'blue-grey-700' }" layout="row" layout-align="center center">
    <h1 class="md-toolbar-tools">Menu</h1>
    <span flex></span>
    <md-button ng-hide="dashboard" ng-click="dashboard = !dashboard" class="md-icon-button" aria-label="More">
      <md-icon>dashboard</md-icon>
    </md-button>
    <md-button ng-show="dashboard" ng-click="dashboard = !dashboard" class="md-icon-button" aria-label="More">
      <md-icon>more_vert</md-icon>
    </md-button>
  </md-toolbar>
  <md-content flex md-colors="{background: dashboard? 'blue-grey-700' : 'grey-200' }">
    <md-list ng-hide="dashboard">
      <md-list-item ng-click="mainCtrl.goTo(setting.stateTo)" ng-repeat="setting in mainCtrl.settings">
        <md-icon>{{setting.icon}}</md-icon>
        <p> {{ setting.name }} </p>
      </md-list-item>
    </md-list>
    <md-list ng-show="dashboard">
      <md-list-item class="md-3-line" ng-repeat="institution in mainCtrl.user.institutions" ng-click="mainCtrl.changeInstitution(institution.name)">
        <img ng-src="{{ institution.image_url }}" alt="{{ institution.name }}" class="md-avatar" md-colors="{background: 'grey-200'}">
        <p> {{ institution.name }} </p>
        <md-button class="md-warn md-hue-1 md-icon-button" ng-show="mainCtrl.isActive(institution)">
          <md-icon>check</md-icon>
        </md-button>
      </md-list-item>
    </md-list>
  </md-content>
</md-sidenav>

<md-content layout="row" md-colors="{background: 'grey-200'}" layout-align="center">

  <!-- CONTENT -->
  <div flex-gt-lg="80" flex-lg="90" layout="row" layout-wrap layout-padding layout-align="center">
    
    <!-- LEFT SIDE PANEL -->
    <div flex-gt-md="20" flex-md="25" layout="column" hide show-gt-sm>
      <md-card>
        <md-card-header>
          <md-card-avatar>
            <img src="{{ mainCtrl.user.image }}" class="md-user-avatar"/>
          </md-card-avatar>
          <md-card-header-text>
            <span class="md-title">{{ mainCtrl.user.name }}</span>
            <span class="md-subhead">{{ mainCtrl.user.current_institution.name }}</span>
          </md-card-header-text>
        </md-card-header>
        <img ng-src="https://media.licdn.com/media/AAEAAQAAAAAAAAOzAAAAJDA4NDJiOTY0LWY0ZjEtNDI0MS05YWFiLWVmMTczYzc2ZmRjZQ.jpg" class="md-card-image">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Meu Perfil</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-actions layout="row">
          <md-card-icon-actions>
            <md-button class="md-icon-button" aria-label="Favorite">
              <md-icon>favorite</md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="Share">
              <md-icon>share</md-icon>
            </md-button>
          </md-card-icon-actions>
        </md-card-actions>
      </md-card>
    </div>

    <!-- CENTER PANEL -->
    <div flex-gt-md="60" flex-md="75" layout="column" md-colors="{background: 'grey-200'}">
      <div ui-view="content"></div>
    </div>

    <!-- RIGHT SIDE PANEL -->
    <div flex-gt-md="20" layout-padding laoyout="row" md-colors="{background: 'grey-200'}" hide show-gt-sm >
      <div layout="column">

        <!-- UPPER PANEL -->
        <div class="padded" md-whiteframe flex="40" layout-align="center center"></div>

        <hr/>

        <!-- MIDDLE PANEL -->
        <div class="padded" md-whiteframe flex="20" layout-align="center center"></div>

        <hr/>
        
        <!-- COPYRIGHT FOOTER -->
        <div class="padded">
          <hr/>
          <md-content  md-colors="{background: 'grey-200'}">
            <p align="center" class="md-body-1">
              <small class="md-caption">
                e-CIIS - OMS/OPAS © 2017 
              </small>
            </p>
          </md-content>
        </div>
      </div>
    </div>
  </div>
</md-content>
<md-fab-speed-dial id="fab-new-post" class="md-fab-bottom-right">
  <md-fab-trigger> 
    <md-button aria-label="menu" class="md-fab md-primary" ng-click="mainCtrl.newPost()">
      <md-icon>add</md-icon>
    </md-button>
  </md-fab-trigger>
</md-fab-speed-dial>