<md-dialog>
  <md-card>
    <md-card-header>
      <md-card-avatar>
        <img src="{{ mainCtrl.user.current_institution.image_url }}" class="md-user-avatar"/>
      </md-card-avatar>
      <md-card-header-text>
        <span class="md-title">{{ mainCtrl.user.current_institution.name }}</span>
        <span class="md-subhead">por {{ mainCtrl.user.name }}</span>
      </md-card-header-text>
    </md-card-header>
    <md-card-title>
      <md-card-title-text>
          <md-input-container>
            <label>Título</label>
            <input ng-model="post.title" md-maxlength="30" maxlength="30" placeholder="Escreva aqui uma nova publicação">
          </md-input-container>
          <md-input-container>
            <label>Mensagem</label>
            <textarea ng-model="post.text" md-maxlength="150" rows="4" md-select-on-focus
              maxlength="150" required="true"></textarea>
          </md-input-container>
      </md-card-title-text>
    </md-card-title>
  </md-card>
  <md-dialog-actions layout="row">
        <span flex></span>
        <md-button ng-click="answer('send')">
          Enviar
        </md-button>
        <md-button ng-click="answer('cancel')">
          Cancelar
        </md-button>
      </md-dialog-actions>
</md-dialog>