<md-content layout="row" layout-align="center" class="body hide-scrollbar">
  <div flex flex-gt-md="95" layout="row" layout-align="center">
    <div flex>
      <md-card flex layout="column">
        <md-toolbar md-colors="{background: 'teal-500'}" layout="row">
          <div class="md-toolbar-tools" flex layout="row" layout-align="center center">
            <h1>
              <md-icon>person</md-icon>
              Dados pessoais
            </h1>
            <span flex md-truncate></span>
          </div>
        </md-toolbar>
        <md-card-content>
          <div layout-gt-sm="column">
            <div layout-gt-sm="row" layout-align="center center">
              <div layout="row" layout-align="center center" style="position: relative; margin: auto;">
                  <img style="border-radius: 50%;" ng-src="{{ configProfileCtrl.photo_url }}" width="200px" height="200px">
                  <md-button ng-show="configProfileCtrl.showButton()" ng-click="null" ng-model="configProfileCtrl.file" ngf-pattern="'image/*'"
                  ngf-accept="'image/*'" ngf-max-size="5MB"
                  ngf-select="configProfileCtrl.cropImage(configProfileCtrl.file)"
                  class="md-icon-button edit-profile-avatar-button" style="width: 200px; height: 200px; margin-left: -1px;">
                  <md-icon class="edit-profile-avatar-icon">add_a_photo</md-icon>
                  <p><b style="color: white;">Alterar foto</b></p>
                  </md-button>
                  <md-progress-linear ng-show="configProfileCtrl.loading" md-mode="indeterminate" style="width: 20%"></md-progress-linear>
              </div>
              <div layout="column" md-theme="input" class="input" style="width: 550px; margin-left: auto;">
                <md-input-container flex-gt-sm>
                  <label>Nome</label>
                  <input ng-model="configProfileCtrl.newUser.name" required>
                </md-input-container>
                <md-input-container flex-gt-sm>
                  <label>Email</label>
                  <input ng-model="configProfileCtrl.newUser.email" type="email" disabled>
                </md-input-container>
                <md-input-container flex-gt-sm>
                <label>CPF</label>
                <input name="CPF" ng-model="configProfileCtrl.newUser.cpf" placeholder="123.456.789-00"
                  mask="999.999.999-99" ng-pattern="configProfileCtrl.cpfRegex" required>
                </md-input-container>
              </div>
            </div>
            <section layout="row" layout="column" layout-align="end center" layout-wrap>
              <md-button ng-click="configProfileCtrl.deleteAccount($event)" md-colors="{background: 'red-500'}">Excluir conta</md-button>
              <md-button ng-click="configProfileCtrl.finish()" md-colors="{background: 'teal-500'}">Concluir edição</md-button>
            </section>
          </div>
        </md-card-content>
      </md-card>

      <md-card flex layout="column">
          <md-toolbar md-colors="{background: 'teal-500'}" layout="row">
            <div class="md-toolbar-tools" flex layout="row" layout-align="center center">
              <h1>
                <md-icon>account_balance</md-icon> 
                Vínculos institucionais
              </h1>
              <span flex md-truncate></span>
              <md-button ng-if="!configProfileCtrl.showInstLinks" ng-click="configProfileCtrl.showInstLinks = true;"
              class="md-icon-button md-secondary">
                <md-icon>keyboard_arrow_down</md-icon>
              </md-button>
              <md-button ng-if="configProfileCtrl.showInstLinks" ng-click="configProfileCtrl.showInstLinks = false;"
                class="md-icon-button md-secondary">
                <md-icon>keyboard_arrow_up</md-icon>
              </md-button>
            </div>
          </md-toolbar>
          <md-card-content ng-show="configProfileCtrl.showInstLinks;">
              <md-list class="md-dense" flex>
                  <md-subheader class="md-no-sticky">Seus vínculos institucionais:</md-subheader>
                  <md-list-item class="md-3-line" ng-repeat="institution in configProfileCtrl.newUser.institutions track by institution.key">
                    <img style="border-radius: 50%; " ng-src="{{ institution.photo_url }}" width="50px" height="50px" />
                    <div style="margin-left: 10px;" class="md-list-item-text" layout="column">
                      <h3>{{ institution.acronym }}</h3>
                      <h4>{{ institution.name }}</h4>
                    </div>
                    <div layout="row">
                      <md-button class="md-secondary sm-icon-button" title="Editar perfil institucional"
                      ng-click="configProfileCtrl.editProfile(institution, $event)" md-colors="{background: 'light-green'}">
                        <md-icon>edit</md-icon>
                      </md-button>
                      <md-button class="md-secondary sm-icon-button" title="Remover vínculo com a instituição"
                      ng-click="configProfileCtrl.removeInstitution($event, institution)" md-colors="{background: 'light-green'}">
                        <md-icon>delete</md-icon>
                      </md-button>
                    </div>
                  </md-list-item>
                </md-list>
          </md-card-content>
        </md-card>
    </div>
  </div>
</md-content>
