<md-content class="fill-screen" layout="row" layout-align="center center" md-colors="{background: 'teal-500'}">
    <div layout-align="center center">
        <div layout="row" layout-align="center center">
            <md-button class="md-fab md-primary custom-card-back-btn" aria-label="Retornar" hide-xs 
                md-colors="{background: 'light-green-600'}" ng-click="emailVerifCtrl.return()">
                <md-icon>keyboard_arrow_left</md-icon>
            </md-button>
            <md-card class="custom-card">
                <md-card-content layout="row" layout-align="center center">
                    <div class="custom-card-content">
                        <div layout="row" layout-align="center center">
                            <img class="custom-card-logo" src="/app/images/logowithname.png"/>
                        </div>
                        <p>
                            Foi encaminhado para seu e-mail um link de verificação, verifique para continuar.
                        </p>
                    </div>
                </md-card-content>
                <div class="custom-card-footer" layout-align="center">
                    <md-button class="md-fab md-primary custom-card-back-btn" aria-label="Retornar" 
                      md-colors="{background: 'light-green-600'}" ng-click="emailVerifCtrl.return()">
                      <md-icon>keyboard_arrow_left</md-icon>
                    </md-button>
                </div>
            </md-card> 
        </div>
    </div>
</md-content>
