<md-content layout-fill md-colors="{background: 'teal-500'}" layout-align="center center" layout-gt-xs="row" layout-xs="column">
  <div ng-if="!loginCtrl.isRequestInvite" class="padded" md-whiteframe="12" style="border-radius: 2px; background-color: white;" flex-sm="65" flex-md="65" flex-lg="65" flex-xl="35" flex-xs="100" layout="column">
    <div layout-gt-xs="row" flex-xs="95" layout-xs="column" layout-align-gt-xs="space-around center" layout-align-xs="space-between center">
      <div layout="column" flex-gt-xs="40">
        <img src="/app/images/logowithname.png" style="width: 100%; margin-bottom: 10px;"/>
        <div layout="column">
          <form ng-submit="loginCtrl.loginWithEmailPassword()" class="margin">
            <md-input-container class="md-block" style="margin: 0;">
              <label>Email</label>
              <input type="email" name="email" ng-model="loginCtrl.user.email" required="true" aria-label="Email">
            </md-input-container>
            <md-input-container class="md-block" style="margin: 0;">
              <label>Senha</label>
              <input type="password" name="password" ng-model="loginCtrl.user.password" required="true"  minlength="6"
                aria-label="Senha">
            </md-input-container>
            <div layout="row" layout-align="end center" style="margin-bottom: 20px">
              <md-button class="md-primary" ng-click="loginCtrl.resetPassword()" md-colors="{background: 'grey-200', color: 'teal-900'}" hide-gt-xs>
                       Esqueci minha senha
              </md-button>
              <md-button type="submit" class="md-raised md-primary" md-colors="{background: 'teal-500'}">Acessar</md-button>
            </div>
          </form>
        </div>
      </div>
      <div layout="column" hide-xs>
        <hr style="width:0px;" flex="40"/>
      </div>
      <div style="color: black;" flex-gt-xs="40" layout="column" class="margin">
        <p>
          <strong>Se você ainda não possue uma conta no e-CIS solicite abaixo um convite.</strong>
        </p>
        <md-button md-colors="{background: 'teal-500'}" class="login-button" ng-click="loginCtrl.isRequestInvite = true">
            <md-icon style="color: white;">add_circle</md-icon>
            <strong>SOLICITAR CONVITE</strong>
        </md-button>
        <div layout="row" style="margin: 15px 0 15px 0;" layout-align="space-between center">
          <hr style="height:0px;" flex="45"/>
          <span>OU</span>
          <hr style="height:0px;" flex="45"/>
        </div>
        <md-button disabled="true" class="md-raised md-primary login-button">
            <md-icon md-svg-src="/app/images/facebook-icon.svg"></md-icon>
            <strong>ACESSE COM FACEBOOK</strong>
        </md-button>
        <md-button class="login-button" style="background-color: #db4437;" ng-click="loginCtrl.login()">
            <md-icon md-svg-src="/app/images/google-icon.svg"></md-icon>
            <strong>ACESSE COM GOOGLE</strong>
        </md-button>
        <md-button disabled="true" class="md-raised md-primary login-button">
            <md-icon md-svg-src="/app/images/twitter-icon.svg"></md-icon>
            <strong>ACESSE COM TWITTER</strong>
        </md-button>
      </div>
    </div>
    <div layout-padding md-colors="{background: 'grey-200'}" hide-xs>
      <a href="" style="text-decoration: none;" ng-click="loginCtrl.resetPassword()">
        <strong md-colors="{color: 'teal-900'}">Esqueceu a senha?</strong>
      </a>
    </div>
  </div>

  <div layout="row" layout-align="center center" style="margin-right: 27px;">
    <md-button class="md-fab md-primary" ng-if="loginCtrl.isRequestInvite" aria-label="Retornar"
      style="margin-right: -27px;" md-colors="{background: 'light-green-500'}"
      ng-click="loginCtrl.isRequestInvite = false">
      <md-icon>keyboard_arrow_left</md-icon>
    </md-button>
    <div ng-if="loginCtrl.isRequestInvite" class="padded" md-whiteframe="12" style="border-radius: 2px; background-color: white;" flex-sm="50" flex-xs="85" flex-md="50" flex-gt-md="35" layout="column">
      <div layout="column">
        <div style="color: black;" layout="row" layout-align="center center">
          <div layout="column" flex="65">
            <div layout="row" layout-align="center center">
              <img src="/app/images/logowithname.png" style="width: 100%; margin-bottom: 10px;"/>
            </div>
            <div layout="column">
              <form ng-submit="loginCtrl.signup()">
                <md-input-container class="md-block" style="margin: 0;">
                  <label>Email</label>
                  <input type="email" name="email" ng-model="loginCtrl.newUser.email" required="true" aria-label="Email">
                </md-input-container>
                <md-input-container class="md-block" style="margin: 0;">
                  <label>Senha</label>
                  <input type="password" name="password" ng-model="loginCtrl.newUser.password" required="true"  minlength="6"
                    aria-label="Senha">
                </md-input-container>
                <md-input-container class="md-block" style="margin: 0;">
                  <label>Confirmar Senha</label>
                  <input type="password" name="verifypassword" ng-model="loginCtrl.newUser.verifypassword"
                    required="true" minlength="6" aria-label="Confirmar Senha">
                </md-input-container>
                <div layout="row" layout-align="center center" style="margin-bottom: 20px;">
                  <md-button type="submit" class="md-raised md-primary" md-colors="{background: 'teal-500'}">Concluir</md-button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div layout-padding md-colors="{background: 'grey-200'}" style="height: 20px;">
        </div>
      </div>
    </div>
  </div>
</md-content>