<md-content class="fill-screen" layout="row" layout-align="center center" md-colors="{background: 'teal-500'}">
    <div layout="column" layout-align="center center">
        <div layout="row" layout-align="center center">
            <md-button class="md-fab md-primary custom-card-back-btn" aria-label="Retornar" hide-xs 
                md-colors="{background: 'light-green-600'}" ng-click="resetCtrl.return()">
                <md-icon>keyboard_arrow_left</md-icon>
            </md-button>
            <md-card class="custom-card">
                <md-card-content layout="row" layout-align="center center">
                    <div class="custom-card-content">
                        <div layout="row" layout-align="center center">
                            <img class="custom-card-logo" src="/app/images/logowithname.png"/>
                        </div>
                        <p>{{ resetCtrl.getMessage() }}</p>
                        <form ng-submit="resetCtrl.resetPassword()" ng-if="!resetCtrl.emailSent">
                            <md-input-container class="md-block custom-card-input-container">
                                <label>E-mail</label>
                                <input type="email" name="email" ng-model="resetCtrl.email" 
                                    required="true" aria-label="Email" class="custom-card-input">
                            </md-input-container>
                            <div layout="row" layout-align="center center">
                                <md-button type="submit" class="md-raised md-primary" md-colors="{background: 'teal-500'}">
                                    Enviar
                                </md-button>
                            </div>
                        </form>
                    </div>
                </md-card-content>
                <div class="custom-card-footer" layout-align="center">
                    <md-button class="md-fab md-primary custom-card-back-btn" aria-label="Retornar" 
                        md-colors="{background: 'light-green-600'}" ng-click="resetCtrl.return()">
                        <md-icon>keyboard_arrow_left</md-icon>
                    </md-button>
                </div>
            </md-card>
        </div>
    </div>
</md-content>