
<md-content class="fill-screen" layout="row" layout-align="center center" md-colors="{background: 'teal-500'}">
    <md-card flex-gt-md="30" flex-xs="95" flex-sm="65" flex-md="40">
        <md-card-content>
            <div layout="column" layout-align="space-between">
                <div layout="row" layout-align="center center">
                    <div layout="column" flex="90" layout-padding>
                        <div layout="row" layout-align="center center">
                            <img src="/app/images/logowithname.png" style="margin-bottom: 20px; width: 70%;"/>
                        </div>
                        <div ng-if="!resetCtrl.showConfirmedRest">
                            <form name="resetPassword" ng-submit="resetCtrl.resetPassword()" layout="column">
                                <b style="margin-bottom: 20px;">Redefinir sua senha</b>
                                <md-input-container>
                                    <label>E-mail</label>
                                    <input type="email" name="email" ng-model="resetCtrl.email" required/>
                                    <div ng-messages="resetPassword.email.$error">
                                        <div ng-message="required">Insira um email válido</div>
                                    </div>
                                </md-input-container>
                                <div layout="row" layout-align="end center" style="padding: 0;">
                                    <md-button class="md-raised" type="submit" md-colors="{background: 'default-teal-500'}">
                                        <span>enviar</span>
                                    </md-button>
                                </div>
                            </form>
                        </div>
                        <div ng-if="resetCtrl.showConfirmedRest" layout="column">
                            <p>Você receberá dentro de instantes no e-mail {{resetCtrl.email}} um link para redefinição da senha.</p>
                            <div layout="row" layout-align="end center" style="padding: 0;">
                                <md-button class="md-raised" ng-click="resetCtrl.closeResetDialog()" md-colors="{background: 'default-teal-500'}">
                                    <span>inicial</span>
                                </md-button>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="height: 30px;" md-colors="{background: 'default-grey-300'}"></div>
            </div>
        </md-card-content>
    </md-card>
</md-content>