.request-back-btn {
    position: absolute;
    margin: 0 0 0 -20.5em;
}

.request-invite-card {
    width: 30%;
}

.request-card-content {
    width: 80%;
}

.request-logo {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 75%;
}

.request-title-card {
    color: black;
}

.request-input-container {
    margin: 0;
}

.request-input {
    border-bottom-color: #009688 !important;
}

.request-card-footer {
    height: 3em;
    background-color: #E6E6E6;
    display: none;
}

/* Smartphones (Commum Properties)*/
@media screen and (max-width: 420px) {
    .request-invite-card {
        width: 90%;
    }

    .request-card-content {
        width: 85%;
    }

    .request-card-footer {
        display: inherit;
    }
}

/* Smartphones */
@media screen and (max-width: 380px) {
    .request-back-btn {
        margin: 17.3em 0 0 0;
    }
}

/* Smartphones */
@media screen and (min-width: 381px) and (max-width: 420px) {
    .request-back-btn {
        margin: 18em 0 0 0;
    }
}

/* Ipad, Ipad Pro (Commom Properties) */
@media screen and (min-width: 421px) and (max-width: 1024px) {
    .request-invite-card {
        width: 65%;
    }
}

/* L - Landscape, P - Portrait */
/* Ipad (P) */
@media screen and (min-width: 421px) and (max-width: 768px) {
    .request-back-btn {
        margin: 0 0 0 -18em;
    }
}

/* Ipad (L), Ipad Pro (P) */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .request-back-btn {
        margin: 0 0 0 -23.5em;
    }
}

/* Ipad Pro (L) */
@media screen and (min-width: 1025px) and (max-width: 1366px) {
    .request-invite-card {
        width: 35%;
    }

    .request-back-btn {
        margin: 0 0 0 -17em;
    }
}
