<md-list
        class="contacts-list__container">
    <md-list-item
            ng-repeat="user in contactsListCtrl.contacts | filter : contactsListCtrl.searchQuery | orderBy : ['name', 'description']"
            ng-click="contactsListCtrl.openChat(user)"
            aria-label="contacts-list__contact">
        <user-description
                class="contacts-list__contact"
                avatar="{{user.photo_url}}"
                name="{{user.name}}"
                text="{{user.current_institution.name}}">
        </user-description>
        <md-divider></md-divider>
    </md-list-item>
    <h2 class="contacts-list__no-contacts-msg" ng-show="contactsListCtrl.isMessageShown">Não há contatos online no momento.</h2>
</md-list>