login-card {
  display: grid;
  max-width: 480px;
  margin: 0.6em;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
  background-color: white;
  color: black;
  border-radius: 2px;
}

.smooth-if.ng-enter, .smooth-if.ng-leave {
  transition: 1s ease-in-out all;
}

.smooth-if.ng-enter {
  opacity: 0.1;
}

.smooth-if.ng-enter-active {
  opacity: 1;
}

.smooth-if.ng-leave {
  opacity: 0;
  z-index: 10;
}

.smooth-if.ng-leave.ng-leave-active {
  opacity: 0;
  z-index: 10;
  position: absolute;
}

md-progress-circular {
  margin: 15%;
}

md-progress-circular > svg > path {
  stroke: #009688;
}

login-card-content {
  display: grid;
  padding: 0.6em;
  margin: 0 1em;
  justify-items: center;
}

img#login-logo {
  justify-self: center;
    width: 70%;
    margin: 0.8em 0;
}

login-email-form {
  width: 90%;
}

.login-form {
  display: grid;
  grid-template-areas: "email" "password" "submit";
  align-items: center;
}

.form {
  margin: 0.2em;
}

.login-card-input {
  border-bottom-color: #009688 !important;
}

login-email-form-submit {
  justify-self: right;
}

.push-right {
  margin-right: 0px;
}

.login-btn {
  width: 100%;
  align-self: center;
  justify-self: center;
  text-align: left;
  color: white;
}

login-container {
  width: 90%;
  display: grid;
}

md-icon {
  color: white;
  margin: 0 0.6em;
}

md-icon svg {
  margin-left: 0.6em;
}

.login-google-icon {
  margin-right: 1.4em;
}

.login-divider {
  margin-top: 0.4em;
  margin-bottom: -0.4em;
}

login-card-footer {
  background-color: #E6E6E6;
}

@media screen and (max-width: 400px) {
  img#login-logo {
    width: 50%;
  }

  login-card-content {
      display: grid;
      margin: 0;
      padding: 0;
  }

  login-card-footer > .md-button {
    margin: 2px 8px;
  }

  login-container > p {
    margin-bottom: 0.2em;
  }
}
