img.ec-logo {
    width: 80%;
    margin: 0.8em;
}

.limit-width {
    max-width: 480px;
}

.login-btn {
    margin: 0;
    width: 100%;
}

.login-btn md-icon {
    color: white;
    margin-right: 0.5em;
    text-align: center;
}

#login-invite-icon {
    font-size: 1.3em;
    line-height: 24px;
    margin-left: 0.3em;
}

.login-text {
    text-align: justify;
}

.login-form {
    display: grid;
    grid-template-areas: "email" "password" "submit";
    align-items: center;
    margin: 1em 0;
}

.form {
  margin: 0.4em;
}

.login-form-submit {
    justify-self: right;
}

.login-card {
  display: grid;
  max-height: 80vmax;
  padding: 0;
}

.login-card-footer {
    background-color: #E6E6E6;
}

@media screen and (max-width: 320px) {
    img.ec-logo {
        width: 60%;
    }
}

@media screen and (orientation: landscape) {

    .limit-width {
      width: 360px;
    }
}
