img.ec-logo {
  width: 80%;
  margin: 1em;
}

.limit-width {
  max-width: 480px;
}

.login-btn {
    margin: 0 0 1em auto;
    width: 100%;
}

.login-btn md-icon {
    color: white;
    margin-right: 0.5em;
    text-align: center;
}

#login-invite-icon {
    font-size: 1.3em;
    line-height: 24px;
    margin-left: 0.3em;
}

#login-google-icon {
    margin-left: 0.5em;
}

#login-google-icon svg {
    height: auto;
    width: 1.3em;
    line-height: auto;
    margin: 0.155em 0.2em;
}

.login-text {
    text-align: justify;
}

.login-form {
    margin: 1em 0;
}

.login-card-footer {
    background-color: #E6E6E6;
}

@media screen and (max-width: 320px) {
  img.ec-logo {
    width: 60%;
  }
}
