@keyframes simple-fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes simple-fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
