.search-container {
    display: flex;
    flex-direction: row;
    display: 100%;
}

.expansive-search-input {
    width: 100%;
    border-radius: 50px;
    padding: 0 20px;
    background-color: #EEEEEE;
    border: none;
    outline: none;
}