.expansive-search__container {
    display: flex;
    flex-direction: row;
}

.expansive-search__input {
    width: 100%;
    border-radius: 50px;
    padding: 0 20px;
    background-color: #EEEEEE;
    border: none;
    outline: none;
}

.expansive-search__input.ng-enter {
    animation-name: width-expansion-in;
    animation-duration: 0.75s;
}

.expansive-search__input.ng-leave {
    animation-name: width-expansion-out;
    animation-duration: 0.75s;
}


/* Expand element in width direction */
@keyframes width-expansion-in {
    0% {
        width: 0;
        padding: 0;
    }

    100% {
        width: 100%;
        padding: 0 20px;
    }
}

@keyframes width-expansion-out {
    0% {
        width: 100%;
        padding: 0 20px;
    }

    100% {
        width: 0;
        padding: 0;
    }
}
