<md-dialog flex flex-gt-md="25" flex-md="40" flex-gt-sm="50" flex-sm="50" flex-xs="100">
    <md-dialog-content layout="column" class="hide-scrollbar" ng-if="true" style="padding: 0; margin-bottom: 3%">
        <div layout-align="center center">
            <div class="card hovercard" md-colors="{background: 'default-teal-600'}">
                <div class="cardheader">
                    <div class="avatar">
                        <img alt="Foto do Perfil" ng-src="{{ editProfileCtrl.institution.photo_url }}"
                        alt="{{editProfileCtrl.institution.name}}">
                    </div>
                </div>
                <div class="info"
                    md-colors="{background: 'default-grey-50'}">
                    <div class="desc">
                    </div>
                </div>
            </div>
        </div>
        <div style="margin-top: -20px;">
            <h2 style="text-align: center;">{{editProfileCtrl.institution.name}}</h2>
        </div>
        <div layout="column" md-theme="input" class="input" style="margin-left: 40px; margin-right: 40px;">
            <md-input-container>
                <label>Ramal</label>
                <input ng-model="editProfileCtrl.profile.branch_line" placeholder="999">
            </md-input-container>
            <md-input-container>
                <label>Telefone institucional</label>
                <input ng-model="editProfileCtrl.profile.phone" placeholder="99 9999-99999" 
                    mask="99 9999-99999" mask-validate='false' ng-pattern="editProfileCtrl.phoneRegex">
            </md-input-container>
            <md-input-container>
                <label>Email institucional</label>
                <input ng-model="editProfileCtrl.profile.email" type="email">
            </md-input-container>
            <md-input-container>
                <label>Cargo</label>
                <input ng-model="editProfileCtrl.profile.office" required>
            </md-input-container>
            <md-dialog-actions layout="row" layout-align="end center">
                <md-button class="md-raised" md-colors="{background: 'default-teal-600'}"
                ng-click="editProfileCtrl.closeDialog()">
                    Cancelar
                </md-button>
                <md-button class="md-raised" md-colors="{background: 'default-teal-600'}"
                ng-click="editProfileCtrl.edit()">
                    Salvar
                </md-button>
            </md-dialog-actions>
        </div>
    </md-dialog-content>
</md-dialog>