<div flex="100" layout="row" layout-align="center">
    <div flex flex-lg="90" flex-gt-lg="70" layout="row"
        md-colors="{background: 'grey-50'}">
  
      <!-- LEFT SIDE PANEL -->
      <md-sidenav class="md-sidenav-left" md-component-id="leftNav" md-whiteframe="4" layout="row"
        md-is-locked-open="$mdMedia('gt-sm')" flex-gt-md="25">
        <md-content class="hide-scrollbar" layout="column"
            md-colors="{background: 'grey-100'}" flex>
            <div class="container">
              <div class="row">
                  <div class="card hovercard" 
                      md-colors="{background: homeCtrl.user.getProfileColor() +'-800'}">
                    <div class="cardheader">
                      <div class="avatar">
                        <img style="background-color: white;" alt="Foto do Perfil" ng-src="{{ homeCtrl.user.photo_url }}">
                      </div>
                    </div>
                    <div class="info" 
                        md-colors="{background: homeCtrl.user.getProfileColor() +'-600'}">
                      <div class="desc">
                        <div class="md-title">{{ homeCtrl.user.name }}</div>
                        <span>{{ homeCtrl.user.current_institution.name }}</span>
                        <md-menu>
                          <md-button aria-label="Open phone interactions menu" 
                              class="md-icon-button" ng-click="$mdMenu.open(ev)">
                            <md-icon md-colors="{color: 'grey-50'}">arrow_drop_down</md-icon>
                          </md-button>
                          <md-menu-content width="4" class="custom-scrollbar">
                            <md-menu-item ng-repeat="profile in homeCtrl.user.institution_profiles">
                              <md-button ng-click="mainCtrl.changeInstitution(profile)">
                                <md-icon md-colors="{color: profile.color+'-900'}">brightness_1</md-icon>
                                {{ profile.institution.name }}
                              </md-button> 
                            </md-menu-item>
                            <md-menu-item>
                              <md-button ng-click="homeCtrl.openColorPicker(profile)">
                                <md-icon>color_lens</md-icon>
                                GERENCIAR CORES
                              </md-button>
                          </md-menu-item>
                          </md-menu-content>
                        </md-menu>  
                      </div>
                    </div>
                  </div>
              </div>
  
              <div class="row section-menu">
                <md-menu-content width="4" md-colors="{background: 'grey-100'}">
                  <md-menu-item>
                    <md-button ng-click="homeCtrl.goHome()"
                      ng-class="homeCtrl.getSelectedItemClass('home')">
                      <md-icon>home</md-icon>
                      <b>Início</b>
                    </md-button>
                  </md-menu-item>
                  <md-menu-item>
                    <md-button ng-click="homeCtrl.goToProfile()"
                      ng-class="homeCtrl.getSelectedItemClass('config_profile')">
                      <md-icon>account_box</md-icon>
                      <b>Meu Perfil</b>
                  </md-menu-item>
                  <md-menu-item>
                    <md-button ng-click="homeCtrl.goToEvents()"
                      ng-class="homeCtrl.getSelectedItemClass('events')">
                      <md-icon>date_range</md-icon>
                      <b>Eventos</b>
                    </md-button>
                  </md-menu-item>
                  <md-menu-item ng-if="mainCtrl.isSuperUser()">
                    <md-button ng-click="homeCtrl.goInvite()"
                      ng-class="homeCtrl.getSelectedItemClass('invite_inst')">
                      <md-icon ng-class="mainCtrl.pendingInstInvitations? 'notification-badge': ''"
                        data-badge>
                        mail_outline</md-icon>
                      <b>Convites</b>
                    </md-button>
                  </md-menu-item>
                </md-menu-content>
              </div>
  
              <div class="row" ng-if="homeCtrl.user.isAdminOfCurrentInst()">
                <span class="menu-section-title">INSTITUIÇÃO</span>
                <md-divider style="margin-top: 10px"></md-divider>
                <md-menu-content width="4" md-colors="{background: 'grey-100'}">
                  <md-menu-item>
                    <md-button ng-click="mainCtrl.goToEditInfo()">
                      <md-icon>edit</md-icon>
                      <b>Editar Informações</b>
                    </md-button>
                  </md-menu-item>
                  <md-menu-item>
                    <md-button  ng-click="mainCtrl.goToManageMembers()">
                      <md-icon ng-class="mainCtrl.pendingManagerMember? 'notification-badge': ''"
                        data-badge>account_circle</md-icon>
                      <b>Gerenciar Membros</b>
                  </md-menu-item>
                  <md-menu-item>
                    <md-button ng-click="mainCtrl.goToManageInstitutions()">
                      <md-icon ng-class="mainCtrl.pendingInstLinksInvitations? 'notification-badge': ''"
                        data-badge>account_balance</md-icon>
                      <b>Vínculos Institucionais</b>
                    </md-button>
                  </md-menu-item>
                </md-menu-content>
              </div>
  
              <div class="row">
                <md-divider></md-divider>
                <md-menu-content width="4" md-colors="{background: 'grey-100'}">
                  <md-menu-item>
                      <md-button ng-click="homeCtrl.takeTour(event)">
                        <md-icon>card_travel</md-icon>
                        <b>Iniciar Tutorial</b>
                      </md-button>
                    </md-menu-item>
                    <md-menu-item>
                      <md-button ng-click="homeCtrl.goToInstitutions()"  ng-class="homeCtrl.getSelectedItemClass('institutions')">
                        <md-icon>account_balance</md-icon>
                        <b>Instituições cadastradas</b>
                      </md-button>
                    </md-menu-item>
                  <md-menu-item>
                    <md-button ng-click="mainCtrl.logout()">
                      <md-icon>exit_to_app</md-icon>
                      <b>Sair</b>
                    </md-button>
                  </md-menu-item>
                </md-menu-content>
              </div>
            </div>
        </md-content>
      </md-sidenav>
  
      <!-- CONTENT -->
      <div flex ui-view="user_content" layout="column"></div>
    </div>
  </div>