<md-dialog id="user-profile-size">
    <div class="user-profile-dialog">
        <div class="user-profile-cover">
            <div md-colors="{background: 'default-teal-600'}">
                <img>
            </div>
            <div id="user-profile-img">
                <img ng-src="{{profileCtrl.user.photo_url}}" />
            </div>
        </div>
        <div class="user-profile-content">
            <div id="user-profile-content-grid">
                <span id="user-profile-content-name" class="user-profile-center">
                    {{ profileCtrl.user.name }}</span>
                <hl md-colors="{background: 'default-light-green-500'}" class="user-profile-center"></hl>
                <div id="user-profile-info">
                    <p class="user-profile-title user-profile-default-color"><b>CARGO</b></p>
                    <p class="user-profile-subtitle">{{profileCtrl.currentProfile.office}}</p>
                    <p class="user-profile-title user-profile-default-color"><b>TELEFONE</b></p>
                    <p class="user-profile-subtitle">{{profileCtrl.currentProfile.phone ? profileCtrl.currentProfile.phone : 'Não informado'}}</p>
                    <p class="user-profile-title user-profile-default-color"><b>E-MAIL</b></p>
                    <p class="user-profile-subtitle">{{profileCtrl.currentProfile.email ? profileCtrl.currentProfile.email : 'Não informado'}}</p>
                </div>
            </div>
        </div>
        <div layout="row" class="user-profile-action">
            <div md-colors="{color: 'default-grey-600'}"
                id="user-profile-show-div" ng-click="profileCtrl.closeDialog()">
                <span class="user-profile-title">FECHAR</span>
            </div>
            <div md-colors="{color: 'default-teal-500'}"
                id="user-profile-show-div" ng-click="profileCtrl.goToUserProfile()">
                <span class="user-profile-title">VER PERFIL</span>
            </div>
        </div>
    </div>
</md-dialog>