.info-user{
    display: flex;
    flex-wrap: wrap;
    max-height: 100%;
}

.layout-row{
    display: flex;
    flex-direction: row;
    max-height: 100%;
}

.layout-align-center-center{
    max-width: 100%;
    align-content: center;
    -webkit-box-align: center;
    justify-content: center;
    -webkit-box-pack: center;
}

.layout-column{
    max-width: 100%;
}

.buttons-align{
    display: flex;
    -webkit-box-orient: horizontal;
    justify-content: flex-end;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 100%;
    max-width: 100%;
    align-items: center;
    align-content: center;
}

@media screen and (max-width: 600px){
    #text{
        width: 75%;
    }
    #inst-image{
        width: 25%;
    }
    #user-imagem{
        width:"100px";
        height: "100px";
    }
}

@media screen and (min-width: 600px){
    #text{
        width: 65%;
    }
    #inst-image{
        width: 25%;
    }
}