<md-content class="fill-screen" layout="row" layout-align="center center" md-colors="{background: 'teal-500'}">
    <div class="custom-container">
        <div layout="row" layout-align="center center">
            <div layout="row" layout-align="center center">
                <md-button class="md-fab md-primary custom-card-back-btn" aria-label="Sair" hide-xs 
                    md-colors="{background: 'light-green-600'}" ng-click="userInactiveCtrl.logout()">
                    <md-icon>keyboard_arrow_left</md-icon>
                </md-button>
                <md-card class="custom-card">
                    <md-card-content layout="row" layout-align="center center">
                        <div class="custom-card-content">
                            <img class="custom-card-logo" src="/app/images/logowithname.png"/>
                            <p>{{ userInactiveCtrl.getMessage() }}</p>
                            <form layout="row" layout-align="space-between center">
                                <md-input-container md-no-float id="search-container" class="md-block custom-card-input-container">
                                    <input placeholder="Busque uma instituição" ng-model="userInactiveCtrl.search" 
                                        class="custom-card-input" autocomplete="off" required>
                                    <md-icon id="search-inst-icon" ng-click="userInactiveCtrl.showMenu()"> search </md-icon>
                                </md-input-container>
                            </form>
                        </div>
                    </md-card-content>
                    <div class="custom-card-footer" layout-align="center">
                        <md-button class="md-fab md-primary custom-card-back-btn" aria-label="Sair" 
                            md-colors="{background: 'light-green-600'}" ng-click="userInactiveCtrl.logout()">
                            <md-icon>keyboard_arrow_left</md-icon>
                        </md-button>
                    </div>
                </md-card> 
            </div>
        </div>
    </div>
</md-content>


 <!-- Search institution -->
 <div ng-if="false">
    <p style="font-weight: 500" ng-if="!userInactiveCtrl.choicedInst">
        Busque uma instituição que você faz parte.</p>
    <div md-theme="input" class="search-field" style="margin: 0px; height: 48"
        ng-if="!userInactiveCtrl.choicedInst">
        <form ng-submit="userInactiveCtrl.showMenu($event)" layout="row" style="margin-bottom: 0px; height: 48;">
            <md-input-container md-no-float class="md-block" flex-gt-sm style="margin: 0px; height: 48; width: 100%;">
                <input placeholder="Busque uma instituição" ng-model="userInactiveCtrl.search" flex-gt-sm autocomplete="off" required>
            </md-input-container>
            <md-button type="submit" class="md-fab md-mini md-primary" md-colors="{'background': 'grey-50'}">
                <md-icon md-colors="{'background': 'grey-100'}">&#xE8B6;</md-icon>
            </md-button>
        </form>
    </div>
    <md-content id="content-search-institution" class="custom-scrollbar" layout="column"
        ng-if="!userInactiveCtrl.choicedInst">
        <md-list flex layout-padding style="margin: 0px;">
            <md-list-item ng-repeat="institution in userInactiveCtrl.institutions"
                ng-click="userInactiveCtrl.selectInstitution(institution)"
                ng-disabled="userInactiveCtrl.showFullInformation(institution)"
                md-colors="userInactiveCtrl.isInstSelect(institution) ? {background: 'grey-300'}:''"
                class="md-3-line md-long-text" style="margin: 0px;">
                <div layout-align="center center" layout="row">
                    <md-icon class="md-avatar-icon"  ng-if="!userInactiveCtrl.isInstSelect(institution)"
                    md-colors="{background: 'light-green-500', color: 'grey-50'}">account_balance</md-icon>
                    <md-icon class="md-avatar-icon" ng-if="userInactiveCtrl.isInstSelect(institution)"
                    md-colors="{background: 'light-green-500', color: 'grey-50'}">done</md-icon>
                    <div layout="column" class="md-3-line">
                        <div>
                            <p id="institution-name">{{ institution.name }}</p>
                        </div>
                        <div ng-if="userInactiveCtrl.showFullInformation(institution)" class="md-list-item-text md-3-line">
                            <p>{{ userInactiveCtrl.institutionSelect.email }}</p>
                            <p id="actuation-area">{{ userInactiveCtrl.institutionSelect.actuation_area }}</p>
                            <p>{{ userInactiveCtrl.getFullAddress(userInactiveCtrl.institutionSelect) }}</p>
                        </div>
                    </div>
                </div>
            </md-list-item>
            <md-list-item ng-if="userInactiveCtrl.showMessage()">
                <div class="md-list-item-text" layout-align="center center" layout="column"
                style='text-align: center'>
                    <p><b>Infelizmente sua instituição não está cadastrada. Para cadastrar pressione o botão abaixo:</b></p>
                        <md-checkbox ng-model="userInactiveCtrl.canCreate" class="md-primary" aria-label="Checkbox 1">
                            Manifesto que tenho autonomia para cadastrar a instituição
                        </md-checkbox>
                        <md-button ng-class="userInactiveCtrl.canCreate?'green-button':''"
                        ng-disabled="!userInactiveCtrl.canCreate" ng-click="userInactiveCtrl.createInst()">
                            Quero criar minha instituição
                        </md-button>
                </div>
            </md-list-item>
        </md-list>
    </md-content>


    <!-- Form user -->
    <form ng-submit="userInactiveCtrl.verifyAndSendRequest()" name="requestuser"  ng-if="userInactiveCtrl.showRequestUser()" style="margin: 0px;">
        <div layout="row" style="font-weight: 500" ng-if="userInactiveCtrl.showRequestUser()">
                <p>Para finalizar o pedido de convite, preencha suas informações institucionais.</p>
        </div>
        <div>
            <md-input-container class="md-block input-responsive">
                <label>Nome</label>
                <input name="nome" ng-model="userInactiveCtrl.request.name" name="name" required>
            </md-input-container>
            <md-input-container class="md-block input-responsive">
                <label>Cargo institucional</label>
                <input name="cargo" ng-model="userInactiveCtrl.request.office" name="office" required>
            </md-input-container>
            <md-input-container class="md-block input-responsive">
                <label>Email institucional</label>
                <input ng-model="userInactiveCtrl.request.email" type="email" name="email" required>
            </md-input-container>
        </div>
        <div layout="row" layout-align="end">
            <md-button type="submit" md-colors="{background: 'teal-500'}">
                FINALIZAR
            </md-button>
        </div>
    </form>

    <!-- End page of request -->
    <div layout="column" ng-if="userInactiveCtrl.isFinished">
        <div style="font-weight: 500; text-align: center;">
            <p>Sua solicitação de convite foi enviada e está em análise pelo administrador
            de sua instituição na Plataforma CIS.</p>
            <p>Você receberá a confirmação em seu email.</p>
        </div>
    </div>
    <div>
        <div layout="row" layout-align="end" ng-if="userInactiveCtrl.showButtonNext()">
            <md-button md-colors="{background: 'teal-500'}"
                ng-click="userInactiveCtrl.confirmInst()">AVANÇAR</md-button>
        </div>
        <div layout="row" layout-align="end" id="go-back-button" ng-if="!userInactiveCtrl.isFinished">
            <md-button md-colors="{background: 'teal-500'}"
                ng-click="userInactiveCtrl.logout()">SAIR</md-button>
        </div>
        <div layout-gt-xs="row" layout-xs="column" layout-align="end center"
            ng-if="userInactiveCtrl.isFinished">
            <md-button flex-order-xs="1" class="md-raised md-primary" md-colors="{background: 'teal-500'}"
                ng-click="userInactiveCtrl.goToLandingPage()">PÁGINA INICIAL</md-button>
        </div>
    </div>
</div>