<md-dialog-content class="dialog__container">
    <!-- Request to be member -->
    <span class="dialog__title custom-title">{{ dialogCtrl.title }}</span>
    <span class="dialog__subtitle">{{ dialogCtrl.subtitle }}</span>

    <ng-transclude class="dialog__content"></ng-transclude>

    <div class="dialog__buttons">
        <md-button ng-click="dialogCtrl.cancelDialog()" class="md-button" md-colors="{color: 'default-teal-500'}">
            Cancelar
        </md-button>
        <md-button ng-click="dialogCtrl.confirmAction()" class="md-button" md-colors="{color: 'default-teal-500'}">
            Confirmar
        </md-button>
    </div>
</md-dialog-content>