.custom-input {
    width: 100%;
    border-radius: 50px;
    padding: 0 20px;
    background-color: #EEEEEE;
    border: none;
    outline: none;
}

.custom-title {
    font-size: 20px;
    font-weight: 500;
}