<md-content layout="row" md-colors="{background: 'grey-200'}" layout-align="center" class="body">
  <div flex-gt-lg="80" flex-lg="90" layout="row" layout-align="center" layout-fill>
    <div flex>
        <md-card flex layout="column">
          <md-toolbar md-colors="{background: 'teal-800'}" layout="row">
            <div class="md-toolbar-tools" flex layout="row" layout-align="center center">
              <h1>Administração e-CIS</h1>
              <span flex md-truncate></span>
              <md-button aria-label="Convidar Nova Instituição" ng-if="inviteInstCtrl.showButton" ng-click="inviteInstCtrl.showButton = false;">
                <md-icon>add</md-icon>Convidar
              </md-button>
            </div>
          </md-toolbar>
          <md-card-content>
            <div layout-gt-sm="column" layout-padding ng-if="!inviteInstCtrl.showButton">
              <div layout-gt-sm="column">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Nome da Instituição convidada</label>
                  <input ng-model="inviteInstCtrl.invite.suggestion_institution_name" required>
                </md-input-container>

                <md-input-container class="md-block">
                  <label>Email convite deve ser enviado para:</label>
                  <input ng-model="inviteInstCtrl.invite.invitee" type="email"  required>
                </md-input-container>
              </div>
              <section layout="row" layout="column" layout-align="end center" layout-wrap>
                <md-button md-colors="{color: 'teal-700'}" ng-click="inviteInstCtrl.cancelInvite()">Cancelar</md-button>
                <md-button ng-click="inviteInstCtrl.checkInstInvite($event)" md-colors="{color: 'teal-700'}">Enviar Convite</md-button>
              </section>
            </div>

            <md-list class="md-dense" flex>
              <md-subheader class="md-no-sticky">Convites enviados: </md-subheader>
              <md-list-item class="md-3-line" ng-repeat="invite in inviteInstCtrl.sent_invitations"
              ng-if="invite.status === 'sent' && invite.type_of_invite === 'INSTITUTION'" ng-click="null">
                <md-icon class="md-avatar-icon" >account_balance</md-icon>
                <div class="md-list-item-text" layout="column">
                  <h3>{{ invite.suggestion_institution_name }}</h3>
                  <h4>{{ invite.invitee }}</h4>
                  <h4>Convidada por: {{ invite.inviter_name }}</h4>
                </div>
              </md-list-item>
            </md-list>

            <md-list class="md-dense" flex>
              <md-subheader class="md-no-sticky" >Convites requisitados:</md-subheader>
              <md-list-item class="md-3-line" ng-repeat="request in inviteInstCtrl.sent_requests"
              ng-if="request.status === 'sent' && request.type_of_invite === 'REQUEST_INSTITUTION'"
              ng-click="inviteInstCtrl.showProcessingRequestDialog(request)">
                <md-icon class="md-avatar-icon" >account_balance</md-icon>
                <div class="md-list-item-text" layout="column">
                  <h3>{{ request.institution_name }}</h3>
                  <p>{{ request.sender }}</p>
                </div>
              </md-list-item>
            </md-list>

            <md-list class="md-dense" flex>
              <md-subheader class="md-no-sticky" >Convites aceitos:</md-subheader>
              <md-list-item class="md-3-line" ng-repeat="invite in inviteInstCtrl.sent_invitations" ng-if="invite.status === 'accepted' && invite.type_of_invite === 'INSTITUTION'">
                <md-icon class="md-avatar-icon" >account_balance</md-icon>
                <div class="md-list-item-text" layout="column">
                  <a href class="md-title hyperlink"
                  ng-click="inviteInstCtrl.goToInst(invite.stub_institution.key)">
                  {{ invite.stub_institution.name }} </a>
                  <h4>Nome Sugerido: {{ invite.suggestion_institution_name }}</h4>
                </div>
              </md-list-item>
            </md-list>
          </md-card-content>
        </md-card>
    </div>
  </div>
</md-content>
