<md-content layout="row" md-colors="{background: 'grey-200'}" layout-align="center" class="body">
  <div flex-gt-lg="80" flex-lg="90" layout="row" layout-align="center" layout-fill>
      <md-card flex layout="column">
        <md-subhead layout-padding class="md-primary" md-colors="{background: 'green-900'}">Convidar Instituições</md-subhead>
        <md-card-content>
          <div layout-gt-sm="column" layout-padding ng-if="inviteInstCtrl.showButton">
            <div layout-gt-sm="row">
              <md-button ng-click="" md-colors="{background: 'green-900'}">
                Instituições filhas
              </md-button>
              <md-button ng-click="inviteInstCtrl.createParentInstInvite()" md-colors="{background: 'green-900'}">
                Instituição superior
              </md-button>
            </div>
          </div> 
          <div layout-gt-sm="column" ng-if="!inviteInstCtrl.showButton">
            <md-input-container class="md-block" flex-gt-sm>
              <label>Nome da Instituição convidada</label>
                <input ng-model="inviteInstCtrl.invite.suggestion_institution_name" required>
            </md-input-container>
            <md-input-container class="md-block">
                <label>Email convite deve ser enviado para:</label>
                <input ng-model="inviteInstCtrl.invite.invitee" type="email"  required>
            </md-input-container>
            <section layout="row" layout="column" layout-align="end center" layout-wrap>
              <md-button md-colors="{color: 'green-700'}" ng-click="inviteInstCtrl.cancelInvite()">Cancelar</md-button>
              <md-button md-colors="{color: 'green-700'}" ng-click="inviteInstCtrl.sendInstInvite()">Enviar Convite</md-button>
            </section>
          </div>   
          <md-list class="md-dense" flex>
            <md-subheader class="md-no-sticky">Instituição superior</md-subheader>
            <md-list-item class="md-3-line" ng-if="inviteInstCtrl.hasParent">
              <md-icon class="md-avatar-icon" >account_balance</md-icon>
              <div class="md-list-item-text" layout="column">
                <a href class="md-title hyperlink" ng-if="inviteInstCtrl.showLink(inviteInstCtrl.inst_parent)"
                ng-click="inviteInstCtrl.goToInst(inviteInstCtrl.inst_parent.key)">
                  {{ inviteInstCtrl.inst_parent.name }}
                </a>
                <div ng-if="!inviteInstCtrl.showLink(inviteInstCtrl.inst_parent)">
                  <h3>{{ inviteInstCtrl.inst_parent.name }}</h3>
                  <h3 style="color: red">
                  Esta instituição ainda não está cadastrada na plataforma</h3>
                </div>
              </div>
            </md-list-item>
            <md-subheader class="md-no-sticky">Instituições filhas</md-subheader>
            <md-list-item class="md-3-line" ng-click="null"
            ng-repeat="institution in inviteInstCtrl.inst_children">
              <md-icon class="md-avatar-icon" >account_balance</md-icon>
              <div class="md-list-item-text" layout="column">
                <h3>{{ institution.name }}</h3>
              </div>
            </md-list-item>
            <md-subheader class="md-no-sticky" >Convites enviados</md-subheader>
            <md-list-item class="md-3-line" ng-repeat="invite in inviteInstCtrl.sent_invitations" ng-click="null"
              ng-if="invite.type_of_invite != 'user'">
              <md-icon class="md-avatar-icon" >account_balance</md-icon>
              <div class="md-list-item-text" layout="column">
                <h3>{{ invite.suggestion_institution_name }}</h3>
                <h4>{{ invite.invitee }}</h4>
              </div>
            </md-list-item>
          </md-list>
        </md-card-content>
      </md-card>
  </div>
</md-content>