<div layout-fill md-colors="{background: 'grey-900'}" layout="column" layout-align="center">
   <div layout="row" layout-wrap layout-align="center">
    <md-card flex-gt-xs="50">
      <md-toolbar md-colors="{background: 'teal-800'}" layout="row">
        <h1 class="md-toolbar-tools">Novo convite</h1>
      </md-toolbar>
      <md-content layout-gt-sm="column" layout-padding>
        <div>
          <div>
            <md-list flex ng-if="newInviteCtrl.invite && newInviteCtrl.isInviteUser()">
              <md-subheader class="md-no-sticky">{{newInviteCtrl.invite.admin_name}} te enviou um convite para ser membro de:</md-subheader>
              <md-list-item class="md-3-line">
                <img ng-src="{{ newInviteCtrl.institution.photo_url }}" class="md-avatar" alt="{{newInviteCtrl.institution.name}}" />
                <div class="md-list-item-text" layout="column">
                  <h3><b>{{ newInviteCtrl.institution.name }}</b> - {{ newInviteCtrl.institution.email }}</h3>
                  <h4>{{ newInviteCtrl.institution.phone_number }} | {{ newInviteCtrl.institution.address }}</h4>
                  <p>{{ newInviteCtrl.institution.description }}</p>
                </div>
              </md-list-item>
            </md-list>

            <md-list flex ng-if="newInviteCtrl.invite && !newInviteCtrl.isInviteUser()">
              <md-subheader class="md-no-sticky">{{newInviteCtrl.invite.admin_name}} da Instituição {{newInviteCtrl.invite.institution_inviter.name}}  te enviou um convite para ser administrador da nova instituição:</md-subheader>
              <md-list-item class="md-3-line">
                <div class="md-list-item-text" layout="column">
                  <h3><b>{{ newInviteCtrl.institution.name }}</b></h3>
                </div>
                <p></p>
              </md-list-item>
            </md-list>
            <div layout="column" layout-align="center">
            <md-input-container flex-gt-sm ng-if="newInviteCtrl.showInputName">
              <label >Nome</label>
              <input ng-model="newInviteCtrl.name">
            </md-input-container>

            <md-input-container flex-gt-sm >
              <label >Telefone institucional</label>
              <input ng-pattern="newInviteCtrl.phoneRegex" ng-model="newInviteCtrl.phone" placeholder="(DDD) 99999-9999">
            </md-input-container>

            <md-input-container>
              <label>Email institucional</label>
              <input ng-model="newInviteCtrl.email" type="email">
            </md-input-container>

          <md-input-container flex-gt-sm>
          <label>Cargo institucional</label>
          <input name="cargo" ng-model="newInviteCtrl.office" required>
          </md-input-container>
          </div>

          </div>
        </div>
        <section layout="row" layout="column" layout-align="end center" layout-wrap>
           <md-button ng-click="newInviteCtrl.acceptInvite($event)" md-colors="{background: 'teal-900'}">Aceitar</md-button>
           <md-button ng-click="newInviteCtrl.rejectInvite($event)" md-colors="{background: 'teal-900'}">Rejeitar</md-button>
        </section>
      </md-content>
    </md-card>
  </div>
</div>