<md-dialog flex flex-gt-md="30">
	<md-card>
		<p layout-margin> Procure pela a instituição a qual você faz parte</p>
		<div md-theme="input" class="search-field">
		    <form ng-submit="resquestInvCtrl.showMenu($event)">
		      	<md-input-container class="md-block" flex-gt-sm>
		          <input placeholder="Buscar instituições" ng-model="resquestInvCtrl.search" flex-gt-sm autocomplete="off">
		          <md-icon class="material-icons">&#xE8B6;</md-icon>
		        </md-input-container>
		    </form>
		</div>
		<md-list class="md-dense" flex>
		    <md-list-item class="md-3-line" ng-repeat="institution in resquestInvCtrl.institutions" ng-click="resquestInvCtrl.selectInstitution(institution)"
		    ng-style="resquestInvCtrl.showFullInformation(institution) && {'background-color':'#C8E6C9'}">
			    <div ng-if="!resquestInvCtrl.showFullInformation(institution)" class="md-list-item-text" layout-align="center center" layout="column" 
			    style='text-align: center'>
		            {{ institution.name }}
			    </div>
			    <div ng-if="resquestInvCtrl.showFullInformation(institution)" class="md-list-item-text" layout-align="center center" layout="column">
		            <h3><b>{{ resquestInvCtrl.institutionSelect.name }}</b></h3>
		            <h3>{{ resquestInvCtrl.institutionSelect.email }}</h3>
		            <h4>{{ resquestInvCtrl.institutionSelect.address }}</h4>
		            <p>{{ resquestInvCtrl.institutionSelect.description }}</p>
			    </div>
		    </md-list-item>
		</md-list>
		<md-card-actions layout="row" layout-align="end center">
			<md-button ng-click="resquestInvCtrl.cancelDialog()">Cancelar</md-button>
			<md-button ng-click="resquestInvCtrl.request()">Solicitar Convite</md-button>
	    </md-card-actions>
	</md-card>
</md-dialog>
