.contacts-list {
    overflow: hidden;
    flex: 1;
}

.contacts-list-container {
    overflow-y: scroll;
}

.user-contact {
    font-size: 1.5em;
    line-height: 1em;
}

.close-button {
    margin-right: auto;
}

.contacts-search {
    margin-left: auto;
}

.no-contacts-message {
    text-align: center;
    align-self: center;
}