.fill-screen {
    margin: 0;
    width: 100%;
    min-height: 100vh;
    height: 100vh;
}

.card {
    padding-top: 20px;
    margin: 10px 0 20px 0;
    background-color: rgba(214, 224, 226, 0.2);
    border-top-width: 0;
    border-bottom-width: 2px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card.hovercard {
    position: relative;
    padding-top: 0;
    margin-top: 0;
    overflow: hidden;
    text-align: center;
}

.card.hovercard .cardheader {
    background-size: cover;
    height: 200px;
}

.card.hovercard .avatar {
    position: relative;
    top: 80px;
}

.card.hovercard .avatar img {
    width: 150px;
    height: 150px;
    max-width: 150px;
    max-height: 150px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    box-shadow: 0 0 5px 1px rgba(51, 51, 51, 0.37);
}

.card.hovercard .info {
    padding: 4px 8px 10px;
    box-shadow: 0 0 2px 1px rgba(51, 51, 51, 0.185);
}

.card.hovercard .info .title {
    margin-bottom: 4px;
    vertical-align: middle;
}

.card.hovercard .info .desc {
    padding-top: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #FFF;
}

.card.hovercard .cardheader.inst {
    height: 150px;
}

.card.hovercard .info.inst {
    height: 50px;
}

.card.hovercard .avatar.inst {
    top: 30px;
}

.inst-desc {
    position: relative;
    top: 3px;
    height: 48px;
    margin: 8 0 8 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #FFF;
    overflow: hidden;
    margin-left: 12em;
}

.inst-desc p {
    text-overflow: ellipsis; 
    white-space: nowrap;
    width: 100%; 
    margin: 0; 
    overflow: hidden;
}

@media screen and (max-width: 1920px) {

    .card.hovercard .avatar.inst img {
        width: 10em;
        height: 10em;
        margin-top: 0.5em;
    }

    .inst-desc {
        top: 10px;
        height: 25px;
        margin-left: 11em;
    }
}

@media screen and (max-width: 1280px) {

    .card.hovercard .avatar.inst img {
        width: 10em;
        height: 10em;
        margin-top: 2.5em;
    }

    .inst-desc {
        top: 12px;
        height: 25px;
        margin-left: 11em;
    }
}

@media screen and (max-width: 960px) {

    .card.hovercard .avatar.inst img {
        width: 10em;
        height: 10em;
        margin-top: 1em;
    }

    .inst-desc {
        top: 12px;
        height: 25px;
        margin-left: 10em;
    }
}

@media screen and (max-width: 599px) {

    .card.hovercard .cardheader.inst {
        height: 100px;
    }

    .inst-desc {
        top: 10px;
        height: 25px;
        margin: 0;
        margin-left: 9em;
    }

    .card.hovercard .avatar.inst img {
        width: 6em;
        height: 6em;
        margin: 0;
        margin-top: 1.5em;
    }

    .new-invite-page-card {
      max-width: 350px;
    }
}

.green-background{
    text-align: center;
}

.img-circle {
    border-radius: 50%;
    margin-top: 2%;
    background-color:#fff;
}

.img-thumbnail {
    border: 1px solid #ddd;
    padding: 5px;
    width: 150px;
}

.img-thumbnail:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.hyperlink {
    color: #004e3f;
    text-decoration: none;
}

.text {
    word-wrap: break-word; 
    text-align: left;
    white-space: pre-line;
  }

.post-deleted {
    background-color:#F5F5F5;
}

.post-event {
    background-color:#C8E6C9;
}

.institution-select {
    background-color:#F5F5F5;
}

.search-field{
    height: 75px;
}

a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:active {
    text-decoration: underline;
}

.resize {
    border-radius: 50%;
    width: 25px;
}

.buttons {
    margin-top: 1.5%;
    margin-bottom: 0%;
    box-shadow: 0 0 2px 1px #cccacc;
    display: inline-flex;
}

.lg-icon {
    font-size:48px;
    color: #FFFFFF;
}

.lg-width-height {
    width: 48px;
    height: 48px;
}

.clickable {
    cursor: pointer;
}

.clickable:hover {
    opacity:.50;
}

.clickable-no-hover {
    cursor: pointer;
}

.demo-md-panel {
  min-height: 500px;
}

.demo-menu-example {
  border-radius: 4px;
  width: 256px;
}

.demo-menu-item {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 48px;
  padding: 0 16px;
  position: relative;
  transition: background 0.15s linear;
  width: auto;
}

.demo-menu-item:hover,
.demo-menu-item:focus {
  background-color: #004D40;
}

.post-count {
    left: -27px;
    margin-right: -25px !important;
}

.ng-if{
    animation:1.0s flipInX ease;
    animation-delay: 0s;
    margin: 20px 0 20px 0;
}

@keyframes flipInX {
  0% {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transition-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  100% {
    transform: perspective(400px);
    transform: perspective(400px);
    transform: perspective(400px);
  }
}

.image-view{
    position:relative;
    max-width: 37%;
    margin-left: 10px;
    height: 14%;
    filter: alpha(opacity:1);
    KHTMLOpacity: 1;
    MozOpacity: 1;
    -khtml-opacity:.1;
    -ms-filter:"alpha(opacity=100)";
    -moz-opacity:1;
    filter:alpha(opacity=100);
    opacity:1;
}


.image-view img {
    max-height: 100%;
    max-width: 100%
}

.image-view:hover img {
    filter: alpha(opacity:0.5);
    KHTMLOpacity: 0.5;
    MozOpacity: 0.5;
    -khtml-opacity:.50;
    -ms-filter:"alpha(opacity=50)";
    -moz-opacity:.50;
    filter:alpha(opacity=50);
    opacity:.50;
}

.image-view button{
    position:absolute;
    background-color: rgba(0,0,0,0);
    font-size: 20px;
    font-weight: bold;
    color: white;
    z-index:1;
    top:1%;
    left:3%;
    width:20px;
    height:20px;
    padding:0;
    border:0 none;
}

.image-view:hover button {
    filter: alpha(opacity:1);
    KHTMLOpacity: 1;
    MozOpacity: 1;
    -khtml-opacity:.1;
    -ms-filter:"alpha(opacity=100)";
    -moz-opacity:1;
    filter:alpha(opacity=100);
    opacity:1;
    color: black;
}

.event-image-view {
    position:relative;
    filter: alpha(opacity:1);
    KHTMLOpacity: 1;
    MozOpacity: 1;
    -khtml-opacity:.1;
    -ms-filter:"alpha(opacity=100)";
    -moz-opacity:1;
    filter:alpha(opacity=100);
    opacity:1;
}

.event-image-view:hover img {
    filter: alpha(opacity:0.5);
    KHTMLOpacity: 0.5;
    MozOpacity: 0.5;
    -khtml-opacity:.50;
    -ms-filter:"alpha(opacity=50)";
    -moz-opacity:.50;
    filter:alpha(opacity=50);
    opacity:.50;
}

.event-image-view .event-image-view-button{
    position:absolute;
    background-color: rgba(0,0,0,0);
    font-size: 20px;
    font-weight: bold;
    color: white;
    z-index:1;
    top:3%;
    left:2%;
    width:20px;
    height:20px;
    padding:0;
    border:0 none;
}

.event-image-view:hover .event-image-view-button {
    filter: alpha(opacity:1);
    KHTMLOpacity: 1;
    MozOpacity: 1;
    -khtml-opacity:.1;
    -ms-filter:"alpha(opacity=100)";
    -moz-opacity:1;
    filter:alpha(opacity=100);
    opacity:1;
    color: black;
}

.cropArea {
    background: #E4E4E4;
    padding auto auto auto auto;
    overflow: hidden;
    max-width:100%;
    height: 50vh;
}

.break {
    word-break: break-all;
}

.no-break {
    word-break: keep-all;
}

.align-top {
    margin-top: 13px;
}

.youtube-player {
    position: relative;
    /* Use 75% for 4:3 videos */
    height: 55%;
    overflow: hidden;
    max-width: 100%;
    margin: 5px;
}

.youtube-player iframe {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.youtube-player img {
    bottom: 0;
    display: block;
    left: 0;
    margin: auto;
    max-width: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    height: auto;
    cursor: pointer;
    -webkit-transition: .4s all;
    -moz-transition: .4s all;
    transition: .4s all;
}

.youtube-player img:hover {
    -webkit-filter: brightness(75%);
    filter: brightness(75%);
}

.youtube-player .play {
    height: 72px;
    width: 72px;
    left: 50%;
    top: 50%;
    margin-left: -36px;
    margin-top: -36px;
    position: absolute;
    background: url("//i.imgur.com/TxzC70f.png") no-repeat;
    cursor: pointer;
}

.notification-badge {
   position:relative;
}

.notification-badge[data-badge]:after {
   content:attr(data-badge);
   position:absolute;
   top:-3px;
   right:-2px;
   font-size:.7em;
   background:#FF6F00;
   color:white;
   width:12px;height:12px;
   text-align:center;
   line-height:18px;
   border-radius:50%;
   border: 2px solid #EFEBE9;
}

.counter-of-notifications {
    position:relative;
}

.counter-of-notifications[data-badge]:after {
    content:attr(data-badge);
    position:absolute;
    right:-12px;
    font-size:.5em;
    background:#F4511E;
    color:white;
    width:20px;
    height:20px;
    text-align:center;
    line-height:21px;
    border-radius:50%;
    box-shadow:0 0 1px #333;
    z-index: 100;
}

.inst-timeline-center {
    margin-left: 46%;
}

.green-button {
    background-color: #8BC34A;
    color: #FFFFFF;
}

.green-button-text {
    color: #009688;
    background-color: #FFFFFFFF;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}
.custom-scrollbar::-webkit-scrollbar {
    width: .3em;
    height: .3em;
}
.custom-scrollbar::-webkit-scrollbar-button {
    background: #009688
}
.custom-scrollbar::-webkit-scrollbar-track-piece {
    background: #ccc
}
.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #009688
}

.card-title-light {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

.sm-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 12px;
}

.rounded-circle {
    margin-right: 10px;
    width: 45px;
    height: 45px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    box-shadow: 0 0 1px 0px grey;
}

.grey-circle {
    margin-right: 10px;
    width: 50px;
    height: 50px;
    max-width: 50px;
    max-height: 50px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #9E9E9E;
}

.green-circle {
    margin-right: 10px;
    width: 50px;
    height: 50px;
    max-width: 50px;
    max-height: 50px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #8BC34A;
}

.event-item {
    padding: 15px 0 15px 0;
    border-bottom: 1px solid #e0e0e0;
    color: #014d40;
}

.event-item .event-date {
    background-color: #019587;
    text-align: center;
    color: white;
}

.event-item .event-author {
    font-size: 10px;
    margin-top: 5px;
    color: #a8aaa9;
}

.event-item .event-day {
    margin-bottom: -35px;
    font-size: 23px;
    height: 23px;
    font-weight: bold;
    margin: 1px;
}

.event-item .event-month {
    font-weight: 300;
    font-size: 10px;
    margin: 1px;
}

.section-menu {
    font-weight: 700;
    font-size: 12px;
}

.menu-section-title {
    margin: 10px 0 20px 20px;
    font-size: 12px;
    font-weight: 700;
    color: #019587;
}

.md-title {
    font-size: 20px;
    font-weight: 700;
}

.sm-fab-button {
   background-color: #8BC34A;
   width: 22px;
   height: 17px;
   border-radius: 50%;
}

.survey-card{
    margin-top: -1px;
    margin-left: 40px;
    margin-right: 40px;
}

.sm-label {
    font-size: 0.9em;
    opacity: 0.75;
}

.option{
    height: 25px;
    margin: 0px;
}

.option-selected{
    background-color: #E0E0E0;
    height: 48px;
}

.option-percentage{
    background-color: #E0E0E0;
    margin-right: -16px;
    text-align: center;
    width: 78px;
    height: 20px;
    color: #616161;
    padding-top: 16px;
    padding-bottom: 16px;
}

.percentage-selected{
    margin-right: -16px;
    background-color: #8BC34A;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
    width: 78px;
    height: 20px;
    color: #FFFFFF;
}

md-switch.md-checked .md-thumb {
    background-color: #009688;
}

md-switch.md-checked .md-bar {
    background-color: #80CBC4;
}

md-checkbox.md-checked .md-icon {
    background-color: #009688;
}

.list-item-dense {
    min-height: 20px;
    height: 60px;
    margin-bottom: 10px;
}

md-checkbox.md-checked[disabled] .md-icon {
    background-color: #009688;
}

md-radio-button.md-default-theme .md-on, md-radio-button .md-on {
    background-color: #009688;
}

md-radio-button.md-default-theme.md-checked .md-off, md-radio-button.md-checked .md-off {
    border-color: #009688;
}

.md-button.sm-icon-button {
    height:32px;
    width: 32px;
    min-height: 32px;
    min-width: 0;
    padding: 0;
    border-radius: 50%;
}

.sm-icon-button md-icon {
    font-size: 20px;
    margin: 6px;
    width: unset !important;
    min-width: unset !important;
    color: white;
    text-align: center;
}

.md-button.xs-icon-button {
    height:15px;
    width: 15px;
    min-height: 15px;
}

.xs-icon-button md-icon {
    font-size: 11px;
    margin: -2.1em auto auto auto;
    height: 11px;
    min-height: 10px;
}

.md-title {
    font-size: 20px;
    font-weight: 700;
}

*:focus {
    outline: 0;
    outline: none;
}

.green-text {
    color: #004D40;
 }

.option{
    height: 25px;
    margin: 0px;
}

.login-button {
    padding-left: 5px;
    margin: 3px 0 3px 0;
    text-align: left;
}

.address-another-country{
    height: 34px;
}

.login-button md-icon {
    min-height: 10px;
    min-width: 10px;
    width: 12px;
    height: 12px;
    font-size: 12px;
}

.login-button span {
    font-size: 10px;
    color: white;
    margin-left: 10px;
    font-weight: bold;
}

.margin {
    margin-right: 10px;
    margin-left: 10px;
}

.inline {
    font-size: 15px;
    white-space: nowrap;
}

.xs-bullet {
    color: #009688;
    margin-right: 2px;
    margin-left: 2px;
}

.user-name {
    font-size: 15px;
    color: #00796B;
}

.user-picture {
    border-radius: 50%;
    min-width: 55px;
    min-height: 55px;
}

.left-justify {
    display: flex;
    justify-content: flex-start;
}

.ligth-green-divider {
    margin-left: 15px;
    margin-right: 15px;
    color: #03b3a1;
    border: 2px solid;
}

@media only screen and (max-width: 600px) {
    .small-text {
        font-size: 15px;
    }
    .increase-distance {
        margin-top: -15px;
        padding-bottom: 10px;
    }
    .reduce-distance {
        margin-top: -5px;
    }
}

.option-selected-left-bar{
    color:#009688;
    background-color:#E0E0E0;
}

.post-inst-inactive {
    color: #FFFFFF;
    text-align: center;
    font-weight: bold;
    font-size: 10px;
    background-color: #BDBDBD;
    padding: 10px;
}

.img-post-shadow {
    height: 40px;
    width:40px;
    box-shadow:0 0 12px #9E9E9E;
}

.dialog-transparent-without-shadow {
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 0 0 0;
}

.share-post{
    max-height: 250px;
    overflow: auto;
}

.notifications-menu {
    overflow-y: hidden; 
    padding: 1rem 1rem 0 1rem; 
    max-height: 30rem; 
    max-width: 25rem; 
}

.notification-icon {
    font-size: 20px; 
    color:white;
    vertical-align: super;
}

.notification-icon-bg {
    background: #009688; 
    width: 21px; 
    height: 21px; 
    padding: 4px; 
    margin-top: 4px; 
    border-radius: 50%;
}

.grey-background {
   background: #EEEEEE;
}

.app-version {
    position: fixed;
    left: 10%;
    bottom: -2%;
    z-index: 100;
    padding: 5px 10px 8px 10px;
    -webkit-box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
       -moz-box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
            box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
    background-color: #f5f5f5;
    text-align: center;
    font-size: 10px;
  }

md-input-container:not(.md-input-invalid).md-input-has-value .inputEmail {
    border-color:#009688;
    border-width: 0 0 2px;
}

.expired-survey {
    background-color: rgba(190, 186, 186, 0.966);
    text-align: center;
    font-size: 15px;
}

.shared-survey{
    padding-top :0px;
    margin-top : -25px;
}

.status-invite-adm {
    border: solid; 
    height: 35px; 
    width: 148px;
    text-align: center; 
    border-color: rgb(0, 150, 136); 
    border-radius: 3px;
    font-weight: bold;
}

.cover-photo {
    opacity: 2.5;
    filter: alpha(opacity=100);
}

.cover-photo-text {
    opacity: 0.0;
    filter: alpha(opacity=50);
}

.cover-photo-button {
    opacity: 0.7;
    filter: alpha(opacity=50);
}

.cover-photo:hover .cover-photo-text{
    opacity: 1.0;
    filter: alpha(opacity=100);
}

.cover-photo:hover .cover-photo-button {
    opacity: 1.0;
    filter: alpha(opacity=100);
}

.inst-img {
    background-color: white;
    width: 4em;
    height: 4em;
    border-radius: 50%;
    margin-left: 3em;
    box-shadow: 0 0 1px 0px grey;
}

.floating-cover {
    height: 3em;
    opacity: 0;
    position: fixed;
    top: 4.6em;
    z-index: 2;
    width: 100%;
}

.floating-menu {
    position: fixed;
    z-index: 2;
    top: 9em;
}

.inst-card-cover {
    height: 145px;
    width: 100%; 
    background-position: 50% 0%; 
    background-size:cover; 
    margin-bottom: 20px;
    box-shadow: 0px 0px 20px grey;
}

.small-text-share-post {
    text-overflow: ellipsis; 
    overflow: hidden; 
    white-space: nowrap; 
    width: 100%;
}

.inst-info-title {
    color: #009688;
    font-size: 14px;
    margin-top: 8px;
}

.inst-info-text {
    color: #757575;
    font-size: 14px;
    margin-top: 3px;
}

.unread-notification {
    background: #E0E0E0;
}

.hollow-button {
    border: solid; 
    height: 35px; 
    width: 148px;
    text-align: center; 
    border-color: rgb(0, 150, 136); 
    border-radius: 3px;
    font-weight: bold;
    line-height: 21px; 
    padding: 5px;
}

.shared-post-with-image {
    height: 20vh;
}
.shared-post-header {
    height: 15vh;
}

.sm-multiple-choice {
    font-size: 11px;
    margin-left: 10px;
}

.flat-btn {
    background: none;
    border: 0;
    padding-left: initial;
}
.flat-btn:hover {
    background-color: #efefef;
}

.input-text-area {
    max-height: 10em;
    overflow-y: auto;
    resize: none;
}
