<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title></title>
</head>

<body style="margin:0; padding:0;">
    <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center">
        <tr align="center">
            <td align="center">

                <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" style="background-color: #004D40;">
                    <tr align="center">
                        <td>
                            <div style="font-size: 30px; color: #FFFFFF;">
                                <img src="https://firebasestorage.googleapis.com/v0/b/eciis-splab.appspot.com/o/admin_email%2FLOGo.png?alt=media&token=fbb74261-4b24-42aa-b67f-be36577c48df"
                                    style="width: 50px; padding-top: 20px; height: 50px;" />
                                <img src="https://firebasestorage.googleapis.com/v0/b/eciis-splab.appspot.com/o/admin_email%2Fasset_09_logo_white.png?alt=media&token=5fa33bc3-140a-4f71-90ff-5d1e9203a196"
                                    style="width: 150px; padding-bottom: 10px;" />
                            </div>
                        </td>
                    </tr>
                </table>

                <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center">
                    <tr>
                        <td>
                            <div style="height: 450px;">
                                <div style="background-color: #009688; height: 70%;" align="center">
                                    <div style="height: 30%; background-color: #004D40;">
                                        <div style="width: 275px; height: 400px; margin-top: 10px; border: 1px solid #E1E1E1;  background: #fff;
                        border-radius: 5px;
                        display: inline-block; position: relative;" align="center">
                                            <div style="height: 30%; background-color: #EEEEEE; border-top-left-radius: 10px; border-top-right-radius: 10px;">
                                                <img src="https://firebasestorage.googleapis.com/v0/b/eciis-splab.appspot.com/o/admin_email%2FAsset%204logo.png?alt=media&token=16dc5ee0-2d81-42ad-94c4-96e5f55e6ecf"
                                                    style="width: 100px; margin-top: 20px;" />
                                            </div>
                                            <div style="background-color: white; height: 222px; font-family: Arial; margin-top: 15px;">
                                                <div style="color: #004D40; margin-top: 10px; font-size: 20px;">
                                                    <b>BEM VINDO </b>
                                                    <br/>
                                                    <b style="color: #009688; width: 85%;">À PLATAFORMA VIRTUAL DO COMPLEXO INDUSTRIAL DA SAÚDE</b>
                                                    <hr width="80%;" style="margin-top: 12px; opacity: 0.5;" />
                                                </div>
                                                <div style="font-size: 12px; width: 85%; margin-top: 12px;" align="left">
                                                    <span style="color: black;">
                                                        A partir de agora você poderá se relacionar, interagir e divulgar as ações de sua
                                                        instituição com os atores do complexo industrial da Saúde.
                                                    </span>
                                                </div>
                                                <div style="margin-top: 20px;">
                                                    <a href="http://frontend.plataformacis.org/" style="text-decoration: none;">
                                                        <button style="background-color: #009688; width: 85%; height: 25px; border: none;">
                                                            <span style="text-align: center; font-size: 8px; color: #FFFFFF">ACESSAR PLATAFORMA</span>
                                                        </button>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>

                <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" style="padding-bottom: 10px; margin-top: -10px;">
                    <tr align="center">
                        <td>
                            <div style="width: 275px; height: 900px; position: relative; border: 1px solid #E1E1E1; background: #fff;
                                        border-radius: 5px; position: relative;" align="center">
                                <div style="color: #00796B; margin-top: 25px; font-size: 20px; font-family: Arial;">
                                    <b>PRIMEIROS <br />PASSOS</b>
                                    <hr width="80%;" style="margin-top: 20px; opacity: 0.5;" />
                                </div>
                                <div>
                                    <img src="https://firebasestorage.googleapis.com/v0/b/eciis-splab.appspot.com/o/admin_email%2FAsset_01_email.png?alt=media&token=8c9df98d-f75d-493f-a232-133e94da6fea"
                                        style="width: 100px; margin-top: 20px;" />
                                </div>
                                <div style="height: 248px;">
                                    <p style="font-size: 20px; text-align: center; width: 80%;
                                        font-family: Laksaman; line-height: 1.2; margin-top: -2px; opacity: 0.5; color: black;">
                                        Convide os membros da instituição na plataforma
                                    </p>
                                    <a href="http://frontend.plataformacis.org/institution/{{institution_key}}/managementMembers" style="text-decoration: none;">
                                        <button style="background-color: #009688; width: 80%; height: 25px; border: none; margin-bottom: 5px;">
                                            <span style="text-align: center; font-size: 8px; color: #FFFFFF">GERENCIAR MEMBROS</span>
                                        </button>
                                    </a>
                                    <div>
                                        <img src="https://firebasestorage.googleapis.com/v0/b/eciis-splab.appspot.com/o/admin_email%2FAsset%205logo.png?alt=media&token=853b0f4d-cb84-4697-8376-a5e2888ba7fd"
                                            style="width: 100px; margin-top: 20px;" />
                                    </div>
                                    <p style="font-size: 20px; text-align: center; width: 80%; 
                                        font-family: Laksaman; line-height: 1.2; margin-top: -2px; opacity: 0.5; color: black;">
                                        Adicione seus vínculos institucionais na plataforma
                                    </p>
                                    <a href="http://frontend.plataformacis.org/institution/{{institution_key}}/inviteInstitution" style="text-decoration: none;">
                                        <button style="background-color: #009688; width: 80%; height: 25px; border: none; margin-bottom: 5px;">
                                            <span style="text-align: center; font-size: 8px; color: #FFFFFF">GERENCIAR VÍNCULOS</span>
                                        </button>
                                        
                                    </a>
                                    <div>
                                        <img src="https://firebasestorage.googleapis.com/v0/b/eciis-splab.appspot.com/o/admin_email%2FAsset%2016logo.png?alt=media&token=6fbaa89e-dc30-47b1-ad15-62fb7246f3ab"
                                            style="width: 100px; margin-top: 20px;" />
                                    </div>
                                    <p style="font-size: 20px; text-align: center; width: 80%; 
                                            font-family: Laksaman; line-height: 1.2; margin-top: -1px; opacity: 0.5; color: black;">
                                        Seguir atores do Complexo Industrial na plataforma
                                    </p>
                                    <a href="http://frontend.plataformacis.org/all_institutions" style="text-decoration: none;">
                                        <button style="background-color: #009688; width: 80%; height: 25px; border: none; margin-bottom: 5px;">
                                            <span style="text-align: center; font-size: 8px; color: #FFFFFF">SEGUIR INSTITUIÇÕES</span>
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>

                <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" style="margin-bottom: 5px;">
                    <tr align="center">
                        <td>
                            <img src="https://firebasestorage.googleapis.com/v0/b/eciis-splab.appspot.com/o/admin_email%2FLOGO-CIS.png?alt=media&token=4b6548d3-d948-4ced-83ba-d47f321ce8ed"
                                style="width: 150px;" />
                        </td>
                    </tr>
                </table>

                <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center">
                    <tr align="center">
                        <td style="width: 100%;">
                            <div style="width: 100%; height: 170px; position: relative; border-top: 1px solid #E0E0E0; border-bottom: 1px solid #E1E1E1; background: #fff;
                  border-radius: 0px;
                  display: inline-block; position: relative;" align="center">
                                <div style="height: 50%; background-color: white;">
                                    <div>
                                        <img src="https://firebasestorage.googleapis.com/v0/b/eciis-splab.appspot.com/o/admin_email%2Fufcg.png?alt=media&token=6edbaf3e-3c46-4e8a-8101-80d432d1ab6f"
                                            style="width: 100px; margin-top: 5px;" />
                                        <img src="https://firebasestorage.googleapis.com/v0/b/eciis-splab.appspot.com/o/admin_email%2Fcis.png?alt=media&token=ccab7007-97b0-462b-a1d0-38b5da58a2ad"
                                            style="width: 100px; margin-top: 5px; margin-left: 20px;" />
                                    </div>
                                    <div>
                                        <img src="https://firebasestorage.googleapis.com/v0/b/eciis-splab.appspot.com/o/admin_email%2Fopasoms.png?alt=media&token=a71b5c27-a317-417e-aa6e-3c744ed0e602"
                                            style="width: 220px; margin-top: 5px;" />
                                    </div>
                                    <div>
                                        <img src="https://firebasestorage.googleapis.com/v0/b/eciis-splab.appspot.com/o/admin_email%2Flogo_ms_nova.png?alt=media&token=11b3f998-309e-46aa-bfa6-3f02ad4ec679"
                                            style="width: 150px; margin-top: 10px;" />
                                    </div>
                                    <div style="margin-top: 23px; font-size: 10px;">
                                        <span align="center" style="word-break: break-all; color: black;">
                                            Copyright © 2017 Plataforma CIS - Ministério da Saúde.
                                        </span>
                                    </div>
                                    <div>
                                        <span style="font-size: 10px; color: black;">
                                            Todos os direitos reservados.
                                        </span>
                                    </div>
                                </div>
                                <div style="height: 50%; background-color: white;">
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>