<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title></title>
</head>
<body style="margin:0; padding:0;">
    <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center">
        <tr align="center">
          <td align="center">

            <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" style="background-color: #004D40;">
              <tr align="center">
                <td>
                  <div style="margin-top: 10px; font-size: 30px; color: #FFFFFF;">
                    <b>
                      <i>CIS</i>
                    </b>
                  </div>
                </td>
              </tr>
            </table>

            <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center">
              <tr>
                <td>
                  <div style="height: 440px;">
                    <div style="background-color: #009688; height: 70%;" align="center">
                      <div style="height: 30%; background-color: #004D40;">
                        <div style="width: 275px; height: 390px; margin-top: 10px; border: 1px solid #E1E1E1;  background: #fff;
                          border-radius: 5px; display: inline-block; position: relative; padding-bottom: 0;" align="center">
                          <div style="height: 35%; background-color: #EEEEEE; border-top-left-radius: 10px; border-top-right-radius: 10px;">
                            <img src="https://firebasestorage.googleapis.com/v0/b/eciis-splab.appspot.com/o/admin_email%2Ffirsticon.png?alt=media&token=b94258c0-b81b-4c07-87d5-e3196e34f377" style="width: 100px; margin-top: 27px;"/>
                          </div>
                          <div style="background-color: white; height: 222px">
                            <div style="color: #004D40; margin-top: 10px; font-size: 20px;">
                              <b>BEM VINDO A PLATAFORMA CIS</b>
                              <hr width="80%;"/>
                            </div>
                            <div style="color: #004D40; font-size: 14px; margin-left: 2px; margin-right: 2px; width: 250px;">
                              <span><b>VOCÊ RECEBEU UM CONVITE PARA SER MEMBRO DA INSTITUIÇÃO:</b></span>
                            </div>
                            <div style="background-color: #E0E0E0; width: 90%; height: 45px; margin-top: 10px;">
                              <div>
                                <div>
                                  <img align="left" src="https://firebasestorage.googleapis.com/v0/b/eciis-splab.appspot.com/o/admin_email%2F2.png?alt=media&token=e19cea6d-ff42-44cb-ae55-4caa4230785b" style="height: 35px; width: 35px; margin-top: 5px; margin-left: 5px;"/>
                                </div>
                                <div align="left" valign="middle" style="margin-left: 50px; padding-top: 10px;">
                                  <div style="height: 11px;">
                                    <b style="font-size: 12px;">{{institution}}</b>
                                  </div>
                                  <div style="height: 10px; margin-top: 2px;">
                                    <span style="font-size: 9px; color: black;">Convidado por: {{inviter}}</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div style="margin-top: 20px;" >
                              <a href="http://frontend.plataformacis.org/accept_invite?id={{invite_key}}" style="text-decoration: none;">
                                <button style="background-color: #009688; width: 90%; height: 25px; border: none;">
                                  <span style="text-align: center; font-size: 8px; color: #FFFFFF">
                                    ACEITAR CONVITE
                                  </span>
                                </button>  
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </table>

            <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" style="padding-bottom: 10px;">
              <tr align="center">
                <td>
                  <div style="width: 275px; height: 430px; position: relative; border: 1px solid #E1E1E1; background: #fff;
                                        border-radius: 5px; display: inline-block; position: relative;" align="center">
                    <div style="color: #00796B; margin-top: 10px; font-size: 20px;">
                      <b>CONHEÇA O CIS</b>
                    </div>
                    <div>
                      <img src="https://firebasestorage.googleapis.com/v0/b/eciis-splab.appspot.com/o/admin_email%2FLOGo.png?alt=media&token=fbb74261-4b24-42aa-b67f-be36577c48df"
                        style="width: 100px; margin-top: 10px;" />
                    </div>
                    <div style="height: 248px;">
                      <p style="font-size: 25px; text-align: center; color: #BDBDBD; width: 95%;">
                        <b>Plataforma Virtual do Complexo Indústrial da Saúde</b>
                      </p>
                      <p style="font-size: 12px; color: black; margin-left: 2px; margin-right: 2px; margin-top: -5px;">A Plataforma Virtual do Complexo Industrial da Saúde (CIS) é uma ferramenta criada para favorecer a interlocução,
                        articulação, discussão, proposições de medidas e ações sobre o Complexo Industrial da Saúde (CIS).</p>
                      <div style="margin-top: 8px;">
                        <a href="https://plataformacis.org/" style="text-decoration: none;">
                          <button style="background-color: #009688; width: 90%; height: 25px; border: none; margin-bottom: 5px;">
                            <span style="text-align: center; font-size: 8px; color: #FFFFFF">CONFIRA AS FUNCIONALIDADES</span>
                          </button>
                        </a>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </table>

            <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" style="margin-bottom: 5px;">
              <tr align="center">
                <td>
                  <img src="https://firebasestorage.googleapis.com/v0/b/eciis-splab.appspot.com/o/admin_email%2FLOGO-CIS.png?alt=media&token=4b6548d3-d948-4ced-83ba-d47f321ce8ed" style="width: 150px;"/>
                </td>
              </tr>
            </table>

            <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center">
              <tr align="center">
                <td style="width: 100%;">
                  <div style="width: 100%; height: 170px; position: relative; border-top: 1px solid #E0E0E0; border-bottom: 1px solid #E1E1E1; background: #fff;
                  border-radius: 0px;
                  display: inline-block; position: relative;" align="center">
                    <div style="height: 50%; background-color: white;">
                      <div>
                        <img src="https://firebasestorage.googleapis.com/v0/b/eciis-splab.appspot.com/o/admin_email%2Fufcg.png?alt=media&token=6edbaf3e-3c46-4e8a-8101-80d432d1ab6f" style="width: 100px; margin-top: 5px;"/>
                        <img src="https://firebasestorage.googleapis.com/v0/b/eciis-splab.appspot.com/o/admin_email%2Fcis.png?alt=media&token=ccab7007-97b0-462b-a1d0-38b5da58a2ad" style="width: 100px; margin-top: 5px; margin-left: 20px;"/>
                      </div>
                      <div>
                        <img src="https://firebasestorage.googleapis.com/v0/b/eciis-splab.appspot.com/o/admin_email%2Fopasoms.png?alt=media&token=a71b5c27-a317-417e-aa6e-3c744ed0e602" style="width: 220px; margin-top: 5px;"/>
                      </div>
                      <div>
                        <img src="https://firebasestorage.googleapis.com/v0/b/eciis-splab.appspot.com/o/admin_email%2Flogo_ms_nova.png?alt=media&token=11b3f998-309e-46aa-bfa6-3f02ad4ec679" style="width: 150px; margin-top: 10px;"/>
                      </div>
                      <div style="margin-top: 23px; font-size: 10px;">
                        <span align="center" style="word-break: break-all; color: black;">
                          Copyright © 2017 Plataforma CIS - Ministério da Saúde.
                        </span>
                      </div>
                      <div>
                        <span style="font-size: 10px; color: black;">
                          Todos os direitos reservados.
                        </span>
                      </div>
                    </div>
                    <div style="height: 50%; background-color: white;">
                    </div>
                  </div>
                </td>
              </tr>
            </table>
          </td>
        </tr>
    </table>
</body>
</html>
