<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title></title>
</head>
<body style="margin:0; padding:0;">
    <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center">
        <tr align="center">
            <td align="center">
                <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" style="background-color: #004D40;">
                    <tr align="center">
                        <td>
                            <img src="https://firebasestorage.googleapis.com/v0/b/eciis-splab.appspot.com/o/admin_email%2FLOGo.png?alt=media&token=fbb74261-4b24-42aa-b67f-be36577c48df"
                                style="width: 50px; padding-top: 20px; height: 50px;" />
                            <img src="https://firebasestorage.googleapis.com/v0/b/eciis-splab.appspot.com/o/admin_email%2Fasset_09_logo_white.png?alt=media&token=5fa33bc3-140a-4f71-90ff-5d1e9203a196"
                                style="width: 150px; padding-bottom: 10px;" />
                        </td>
                    </tr>
                </table>

                <table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0" align="center">
                    <tr>
                        <td>
                            <div style="height: 430px;">
                                <div style="background-color: #009688; height: 65%;" align="center">
                                    <div style="height: 25%; background-color: #004D40;">
                                        <div style="width: 275px; height: 395px; margin-top: 10px; border: 1px solid #E1E1E1;  background: #fff;
                                        border-radius: 5px; display: inline-block; position: relative;" align="center">
                                            <div style="height: 40%; background-color: #EEEEEE; border-top-left-radius: 10px; border-top-right-radius: 10px;">
                                                <img src="https://firebasestorage.googleapis.com/v0/b/eciis-splab.appspot.com/o/admin_email%2FAsset%203logo.png?alt=media&token=a92e7619-130f-4dbf-8c65-2f91261074c3"
                                                    style="width: 100px; margin-top: 50px;" />
                                            </div>
                                            <div style="background-color: white; font-size: 15px;">
                                                <div style="margin-top: 10px;">
                                                    <b>SEU CONVITE NÃO FOI APROVADO</b>
                                                </div>
                                                <hr width="80%;" />
                                                <span style="font-size: 10px; margin-top: 10px;">
                                                    A SEGUINTE INSTITUIÇÃO NÃO APROVOU SEU CONVITE
                                                </span>
                                                <div style="background-color: #E0E0E0; width: 90%; height: 45px; margin-top: 15px; margin-bottom: 5px;">
                                                    <div>
                                                        <div>
                                                            <img align="left" src="https://firebasestorage.googleapis.com/v0/b/eciis-splab.appspot.com/o/admin_email%2F2.png?alt=media&token=e19cea6d-ff42-44cb-ae55-4caa4230785b"
                                                                style="height: 35px; width: 35px; margin-top: 5px; margin-left: 5px;"
                                                            />
                                                        </div>
                                                        <div align="left" valign="middle" style="margin-left: 50px; padding-top: 4px;">
                                                            <div style="height: 11px;">
                                                                <b style="font-size: 12px; color: black;">{{institution_requested_name}}</b>
                                                            </div>
                                                            <div style="height: 10px; margin-top: 2px;">
                                                                <span style="font-size: 9px; color: black;">{{institution_requested_email}}</span>
                                                            </div>
                                                            <div style="height: 10px; margin-top: 2px;">
                                                                <span style="font-size: 9px; color: black;">Administrada por: {{institution_requested_admin}}</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div style="background-color: #E0E0E0; width: 90%; height: 45px; margin-top: 10px; ">
                                                    <div>
                                                        <div style="float: left; background-color: #009688; width: 5px; height: 45px;">
                                                        </div>
                                                        <div>
                                                            <img align="left" src="https://firebasestorage.googleapis.com/v0/b/eciis-splab.appspot.com/o/admin_email%2Favatar.png?alt=media&token=c7ea2239-f178-424c-87be-16124c9f5933"
                                                                style="height: 35px; width: 35px; margin-top: 5px; margin-left: 5px;" />
                                                        </div>
                                                        <div align="left" valign="middle" style="padding-top: 4px; margin-left: 50px;">
                                                            <div style="height: 11px;">
                                                                <b style="font-size: 12px; word-break: break-all">{{user_name}}</b>
                                                            </div>
                                                            <div style="height: 10px; ">
                                                                <span style="font-size: 9px; color: black;">{{user_email}}</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div style="margin-top: 15px;">
                                                    <a href="http://frontend.plataformacis.org/" style="text-decoration: none;">
                                                        <button style="background-color: #009688; width: 90%; height: 25px; border: none;">                                                         
                                                            <span style="text-align: center; font-size: 8px; color: #FFFFFF">ACESSAR A PLATAFORMA</span>
                                                        </button>    
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>

                <table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0" align="center" style="padding-bottom: 10px;">
                    <tr align="center">
                        <td>
                            <div style="width: 265px; height: 430px; border: 1px solid #E1E1E1; background: #fff;
                            border-radius: 5px; display: inline-block; position: relative;" align="center">
                                <div style="color: #00796B; margin-top: 10px; font-size: 20px;">
                                    <b>CONHEÇA A PLATAFORMA</b>
                                </div>
                                <div>
                                    <img src="https://firebasestorage.googleapis.com/v0/b/eciis-splab.appspot.com/o/admin_email%2FLOGo.png?alt=media&token=fbb74261-4b24-42aa-b67f-be36577c48df"
                                        style="width: 100px; margin-top: 10px;" />
                                </div>
                                <div style="height: 248px;">
                                    <p style="font-size: 25px; text-align: center; color: #BDBDBD; width: 95%;">
                                        <b>Plataforma Virtual do Complexo Indústrial da Saúde</b>
                                    </p>
                                    <p style="font-size: 12px; color: black; margin-left: 2px; margin-right: 2px; margin-top: -5px;">A Plataforma Virtual do Complexo Industrial da Saúde (CIS) é uma ferramenta criada
                                        para favorecer a interlocução, articulação, discussão, proposições de medidas e ações
                                        sobre o Complexo Industrial da Saúde (CIS).</p>
                                    <div style="margin-top: 8px;">
                                        <a href="https://plataformacis.org/" style="text-decoration: none;">
                                            <button style="background-color: #009688; width: 90%; height: 25px; border: none; margin-bottom: 5px;">
                                                    <span style="text-align: center; font-size: 8px; color: #FFFFFF">CONFIRA AS FUNCIONALIDADES</span>
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>

                <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" style="margin-bottom: 5px;">
                    <tr align="center">
                        <td>
                            <img src="https://firebasestorage.googleapis.com/v0/b/eciis-splab.appspot.com/o/admin_email%2FLOGo.png?alt=media&token=fbb74261-4b24-42aa-b67f-be36577c48df"
                                style="width: 50px; height: 50px;"/>
                            <img src="https://firebasestorage.googleapis.com/v0/b/eciis-splab.appspot.com/o/admin_email%2FAsset_09LOGO.png?alt=media&token=a33e8fc2-95d4-4b74-ae95-c6f50514645e"
                                style="width: 150px; padding-bottom: 10px;"> 
                        </td>
                    </tr>
                </table>

                <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center">
                    <tr align="center">
                        <td style="width: 100%;">
                            <div style="width: 100%; height: 160px; position: relative; border-top: 1px solid #E0E0E0; border-bottom: 1px solid #E1E1E1; background: #fff;
                            border-radius: 0px;
                            display: inline-block; position: relative;" align="center">
                                <div style="height: 50%; background-color: white;">
                                    <div>
                                        <img src="https://firebasestorage.googleapis.com/v0/b/eciis-splab.appspot.com/o/admin_email%2Fufcg.png?alt=media&token=6edbaf3e-3c46-4e8a-8101-80d432d1ab6f"
                                            style="width: 100px; margin-top: 5px;" />
                                        <img src="https://firebasestorage.googleapis.com/v0/b/eciis-splab.appspot.com/o/admin_email%2Fcis.png?alt=media&token=ccab7007-97b0-462b-a1d0-38b5da58a2ad"
                                            style="width: 100px; margin-top: 5px; margin-left: 20px;" />
                                    </div>
                                    <div>
                                        <img src="https://firebasestorage.googleapis.com/v0/b/eciis-splab.appspot.com/o/admin_email%2Fopasoms.png?alt=media&token=a71b5c27-a317-417e-aa6e-3c744ed0e602"
                                            style="width: 220px; margin-top: 5px;" />
                                    </div>
                                    <div>
                                        <img src="https://firebasestorage.googleapis.com/v0/b/eciis-splab.appspot.com/o/admin_email%2Fbr.png?alt=media&token=22012e23-60ad-4e63-969c-76e9000343f3"
                                            style="width: 150px; margin-top: 10px;" />
                                    </div>
                                    <div style="margin-top: 23px; font-size: 10px;">
                                        <span align="center" style="word-break: break-all; color: black;">
                                            Copyright © 2017 Plataforma CIS - Ministério da Saúde.
                                        </span>
                                    </div>
                                    <div>
                                        <span style="font-size: 10px; color: black;">
                                            Todos os direitos reservados.
                                        </span>
                                    </div>
                                </div>
                                <div style="height: 50%; background-color: white;">
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>