<md-content layout="row" md-colors="{background: 'grey-200'}" layout-align="center">
  <!-- CONTENT -->
  <div flex-gt-lg="80" flex-lg="90" layout="row" layout-align="center" layout-fill>

    <!-- LEFT SIDE PANEL -->
    <div flex flex-gt-xs="25" layout="column" hide show-gt-sm >
      <div flex>
        <md-card layout="column" class="green-background">
          <center>
            <a href ng-click="institutionCtrl.goToInstitution(institutionCtrl.current_institution.key)">
              <img ng-src="{{ institutionCtrl.current_institution.photo_url }}" class="img-circle img-thumbnail" >
            </a>
          </center>
          <md-card-title>
            <md-card-title-text>
              <a href class="md-title hyperlink" ng-click="institutionCtrl.current_institution(institutionCtrl.current_institution.key)"><b>{{ institutionCtrl.current_institution.name }}</b></a>
            </md-card-title-text>
          </md-card-title>
          <md-card-content>
            <div layout="row">
              <md-button flex="100" class="md-primary md-raised md-hue-2" md-colors="{background: 'teal-900'}" ng-click="institutionCtrl.goToEditInfo()">
                <md-icon>edit</md-icon>Editar Informações
              </md-button>
            </div>
            <div layout="row">
              <md-button flex="100" class="md-primary md-raised md-hue-2" md-colors="{background: 'teal-900'}" ng-click="institutionCtrl.goToManageMembers()">
                <md-icon>people</md-icon>Gerenciar membros
              </md-button>
            </div>
            <div layout="row">
              <md-button flex="100" class="md-primary md-raised md-hue-2" md-colors="{background: 'teal-900'}"
              ng-click="institutionCtrl.goToManageInstitutions()" >
                <md-icon>account_balance</md-icon>Convidar Instituições
              </md-button>
            </div>
            <div layout="row">
              <md-button flex="100" class="md-primary md-raised md-hue-2" md-colors="{background: 'teal-900'}"
              ng-click="institutionCtrl.removeInstitution()" >
                <md-icon>delete</md-icon>Remover Instituição
              </md-button>
            </div>
            <div layout="row">
              <md-button flex="100" class="md-primary md-raised md-hue-2" md-colors="{background: 'teal-900'}" ng-click="">
              </md-button>
            </div>
          </md-card-content>
        </md-card>
      </div>
    </div>
  <div ui-view="content_manage_institution" flex layout="column" md-colors="{background: 'grey-200'}"></div>
  <div>
  </md-content>