<md-dialog aria-label="instituições">
    <div>
        <md-dialog-content class="md-dialog-content" layout="column">
            <md-radio-group ng-model="ctrl.removeHierarchy" required>
                <md-radio-button value="true" class="md-primary">
                    <b>Desejo</b> remover toda a hierarquia abaixo dessa instituição
                </md-radio-button>
                <md-radio-button value="false" class="md-primary">
                    <b>Não</b> desejo remover toda a hierarquia abaixo dessa instituição
                </md-radio-button>
            </md-radio-group>
            <h3>A instituição será removida permanentemente</h3>
            <h3>Deseja continuar?</h3>
        </md-dialog-content>
        <md-dialog-actions layout="row" layout-align="center center">
            <md-button class="md-warn" ng-click="ctrl.closeDialog()" layout-align="center">Cancelar</md-button>
            <md-button class="md-warn md-raised" ng-click="ctrl.removeInst()">Continuar</md-button>
        </md-dialog-actions>
    </div>
</md-dialog>