<div layout-fill md-colors="{background: 'teal-900'}" layout="column" layout-align="center">
    <div layout="row" layout-wrap layout-align="center">
        <md-card flex-gt-xs="60">
            <md-toolbar md-colors="{background: 'green-800'}" layout="row">
                <h1 class="md-toolbar-tools">Informe os dados da Instituição</h1>
            </md-toolbar>
            <md-content layout-gt-sm="column" layout-padding>
                <div>
                    <form name="institutionForm">
                        <div>
                            <md-input-container class="md-block" flex-gt-xs>
                                <label>Nome</label>
                                <input type="text" name="name" ng-model="submitInstCtrl.institution.name" required>
                            </md-input-container>                            
                        </div>
                        <div layout="row">
                            <md-input-container class="md-block" flex-gt-xs>
                                <label>Sigla</label>
                                <input type="text" name="sigla" ng-model="submitInstCtrl.institution.sigla" required>
                            </md-input-container> 

                            <md-input-container class="md-block" flex-gt-xs>
                                <label>CNPJ</label>
                                <input type="text" name="cnpj" required 
                                ng-model="submitInstCtrl.institution.cnpj"
                                ng-pattern=submitInstCtrl.cnpjRegex md-maxlength="18">
                                <div class="hint" ng-if="showHints">00.000.000/0001-00</div>
                            </md-input-container>                           
                        </div>
                    </form>
                </div>
            </md-content>
            <section layout="row" layout="column" layout-align="end center" layout-wrap>
                <md-button ng-click="" md-colors="{background: 'green-900'}">Prosseguir</md-button>
            </section>
        </md-card>
    </div>
</div>
