<div class="chat-header__container">
    <user-description
            class="chat-header__current-user"
            avatar="{{ chatHeaderCtrl.user.photo_url }}"
            name="{{ chatHeaderCtrl.user.name }}"
            text="{{ chatHeaderCtrl.user.email[0] }}"></user-description>
    <chat-buttons class="chat-header__buttons"
                  call-func="chatHeaderCtrl.callFunc"
                  enable-video-func="chatHeaderCtrl.enableVideoFunc"
                  disable-video-func="chatHeaderCtrl.disableVideoFunc"></chat-buttons>
</div>
