<div layout="column" md-colors="{background: 'blue-grey-100'}">
    <div md-whiteframe="2" layout-padding md-colors="{background: 'grey-100'}" layout="column">
        <span class="md-headline">Problemas Informados</span>
    </div>
    <span flex></span>

    <md-card>
        <md-card-content>
            <div layout="row" layout-align="center center" ng-if="controller.reports.length <= 0">
                <md-progress-circular ng-if="controller.loading" md-mode="indeterminate"></md-progress-circular>
                <h4 ng-if="!controller.loading">Você ainda não reportou nenhum problema!</h4>
            </div>
            <md-list-item  ng-if="controller.reports" ng-repeat="report in controller.reports" class="noright md-2-line" ng-click="controller.showReport(report, $event)">
                <img alt="Foto" ng-src="/app/images/avatar.png" class="md-avatar" />
                <div class="md-list-item-text">
                    <h3>{{ report.title }}</h3>
                    <h4>{{ report.timestamp | amUtc | amLocal | amCalendar:referenceTime:formats }}</h4>
                </div>
                <md-icon>done</md-icon>
            </md-list-item>
        </md-card-content>
    </md-card>
</div>

<div style="visibility: hidden">
    <div class="md-dialog-container" id="showReport" layout="row" layout-align="center center">
        <md-dialog flex-gt-md="50" flex="95">
            <md-toolbar md-colors="{background: 'teal-800'}">
                <div class="md-toolbar-tools">
                    <span class="md-title">{{controller.selectedReport.title}}</span>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="controller.cancelDialog()">
                        <md-icon>close</md-icon>
                    </md-button>
                </div>
            </md-toolbar>
            <div layout-padding layout="column">
                <p>
                    {{ controller.selectedReport.description }}
                </p>
                <h4>{{ controller.selectedReport.timestamp | amUtc | amLocal | amCalendar:referenceTime:format }}</h4>
            </div>
        </md-dialog>
    </div>
</div>