<!-- FLOATING COVER -->
<div>
    <div id="floatingCoverXs" class="floating-cover" md-colors="{background: 'teal-500'}" layout="row"
        style="top: 4.1em;" hide show-xs show-sm layout-align="start center">
        <img class="inst-img" style="margin-left: 1em;" alt="Foto do Perfil" ng-src="{{ institutionCtrl.getPhoto() }}">
        <p class="md-title" style="font-size:0.8em; margin-left: 1em;"> {{ institutionCtrl.getLimitedName(100) }} </p>
    </div>
    <div id="floatingCoverMd" class="floating-cover" md-colors="{background: 'teal-500'}" layout="row" hide show-md layout-align="start center">
        <img class="inst-img" style="margin-left: 1em;" alt="Foto do Perfil" ng-src="{{ institutionCtrl.getPhoto() }}">
        <p class="md-title" style="font-size:0.8em; margin-left: 1em;">{{ institutionCtrl.getLimitedName(100) }}</p>
    </div>
    <div id="floatingCoverLg" class="floating-cover" md-colors="{background: 'teal-500'}" layout="row" hide show-lg>
        <img class="inst-img" style="margin-left: 5em; margin-top: -0.5em;" alt="Foto do Perfil" ng-src="{{ institutionCtrl.getPhoto() }}">
        <p class="md-title" style="margin-left: 1em; margin-top: 0.6em;">{{ institutionCtrl.getLimitedName(200) }}</p>
    </div>
    <div id="floatingCoverGtLg" class="floating-cover" md-colors="{background: 'teal-500'}" layout="row" hide show-gt-lg>
        <img class="inst-img" style="margin-left: 18em; margin-top: -0.5em;" alt="Foto do Perfil" ng-src="{{ institutionCtrl.getPhoto() }}">
        <p class="md-title" style="margin-left: 1em; margin-top: 0.6em;">{{ institutionCtrl.getLimitedName(200) }}</p>
    </div>
</div>
<md-content id="instPage" flex="100" layout="row" layout-align="center" class="custom-scrollbar">
    <div flex flex-lg="90" flex-gt-lg="70" layout="column" md-colors="{background: 'grey-50'}">
        <div layout="column" flex>
            <!-- COVER -->
            <div layout="column" style="height: 15.5em; box-shadow: 0 -2px 5px 0px grey;" id="bigCover">
                <div ng-if="institutionCtrl.isAdmin()" hide-xs layout="row" layout-align="end start" style="height: 0px; position: relative;">
                    <div layout="column" layout-align "end start">
                        <div layout="row" layout-align="center center" class="cover-photo">
                            <span class="cover-photo-text">Adicionar foto de capa</span>
                            <md-button style="position: relative; z-index:3" class="md-icon-button cover-photo-button" ng-model="institutionCtrl.file" ngf-pattern="'image/*'"
                                ngf-accept="'image/*'" ngf-max-size="5MB" ngf-select="institutionCtrl.cropImage(institutionCtrl.file, $event)"
                                ng-click="null">
                                <md-icon>add_a_photo</md-icon>
                            </md-button>
                        </div>
                    </div>
                </div>
                <div md-colors="{background: 'light-green-500'}" style="margin: 0; height: 11em; overflow: hidden;">
                    <img ng-if="institutionCtrl.showImageCover()" ng-src="{{institutionCtrl.institution.cover_photo}}" style="width: 100%;"/>
                    <load-circle style="filter: alpha(opacity=100);" add-layout-fill="true" layout="row" 
                        layout-align="center center" ng-if="institutionCtrl.isLoadingCover"></load-circle>
                </div>
                <div id="instName" md-colors="{background: 'teal-500'}" style="height: 4em;" layout-xs="column" layout="row"
                    layout-align-gt-xs="start center" layout-align-xs="center center">
                    <img hide-xs style="height: 10em; width: 10em; margin: -7.5em 2em 0 3em; border-radius: 50%; background: white;
                        box-shadow: 0px -2px 14px 2px grey;" 
                        ng-src="{{ institutionCtrl.getPhoto() }}"/>
                    <img hide-gt-xs style="height: 8em; width:8em; margin: -7em 0 -0.8em 0; border-radius: 50%;" 
                        ng-src="{{ institutionCtrl.getPhoto() }}"/>
                    <div class="md-title">
                        <p hide-xs>{{ institutionCtrl.getLimitedName(200) }}</p>
                        <center hide-gt-xs>
                            <p style="font-size:0.7em">{{ institutionCtrl.getLimitedName(110) }}</p>
                        </center>
                    </div>
                </div>
            </div>

            <div layout="row" flex="70" style="margin-top: 1.25em;">
                <!-- LEFT MENU -->
                <div flex="25" hide show-gt-sm>
                    <div id="leftMenu" class="container" layout="row">
                        <div flex  layout="row">
                            <md-sidenav class="md-sidenav-left" md-component-id="leftNav" md-whiteframe="4" layout="row"
                                md-is-locked-open="$mdMedia('gt-sm')" flex="100">
                                <md-content class="custom-scrollbar" layout="column" hide show-gt-sm
                                    md-colors="{background: 'grey-100'}" flex>    
                                    <!-- Buttons -->
                                    <div layout="row">
                                        <md-button flex class="md-primary md-raised md-hue-2" md-colors="{background: 'teal-500'}"
                                        ng-if="institutionCtrl.showFollowButton()" style="text-align: left; margin: 8px 8px 0 8px;"
                                        ng-click="institutionCtrl.isUserFollower ? institutionCtrl.unfollow() : institutionCtrl.follow()">
                                            <md-icon>rss_feed</md-icon>
                                            {{ institutionCtrl.isUserFollower ? 'Deixar de seguir' : 'Seguir' }}
                                        </md-button>   
                                    </div>
                                    <div layout="row">
                                        <md-button flex class="md-primary md-raised md-hue-2" md-colors="{background: 'teal-500'}"
                                        ng-if="institutionCtrl.institution.website_url" style="text-align: left; margin: 8px 8px 0 8px;"
                                        ng-click="institutionCtrl.openWebsite()">
                                            <md-icon>web</md-icon>
                                            Acessar Website
                                        </md-button>
                                    </div>
                                    <div layout="row">
                                        <md-button flex class="md-primary md-raised md-hue-2" md-colors="{background: 'teal-500'}"
                                        ng-if="!institutionCtrl.isMember" style="text-align: left; margin: 8px;"
                                        ng-click="institutionCtrl.requestInvitation($event)">
                                            <md-icon>add_to_photos</md-icon>
                                            Solicitar vínculo
                                        </md-button>
                                    </div>
                                    <!-- Menu -->
                                    <div class="row section-menu">
                                        <div layout-padding>
                                            <span class="menu-section-title">INSTITUIÇÃO</span>
                                            <md-divider style="margin-top: 10px"></md-divider>
                                        </div>
                                        <md-menu-item>
                                            <md-button ng-class="institutionCtrl.getSelectedItemClass('timeline')"
                                                ng-click="institutionCtrl.goToInstitution(institutionCtrl.institution.key)">
                                                <md-icon>home</md-icon>
                                                <b>Início</b>
                                            </md-button>
                                        </md-menu-item>
                                        <md-menu-item>
                                            <md-button  ng-class="institutionCtrl.getSelectedItemClass('registration_data')"
                                                ng-click="institutionCtrl.goToRegistrationData(institutionCtrl.institution.key)">
                                                <md-icon>assignment</md-icon>
                                                    <b>Dados Cadastrais</b>
                                            </md-button>
                                        </md-menu-item>
                                        <md-menu-item>
                                            <md-button ng-class="institutionCtrl.getSelectedItemClass('members')"
                                                ng-click="institutionCtrl.goToMembers(institutionCtrl.institution.key)">
                                                <md-icon>account_circle</md-icon>
                                                <b>Membros</b>
                                            </md-button>
                                        </md-menu-item>
                                        <md-menu-item >
                                            <md-button ng-class="institutionCtrl.getSelectedItemClass('followers')"
                                                ng-click="institutionCtrl.goToFollowers(institutionCtrl.institution.key)">
                                                <md-icon>people</md-icon>
                                                <b>Seguidores</b>
                                            </md-button>
                                        </md-menu-item>
                                        <md-menu-item>
                                            <md-button ng-class="institutionCtrl.getSelectedItemClass('institutional_links')"
                                                ng-click="institutionCtrl.goToLinks(institutionCtrl.institution.key)">
                                                <md-icon>account_balance</md-icon>
                                                <b>Vínculos Institucionais</b>
                                            </md-button>
                                        </md-menu-item>
                                        <md-menu-item ng-if="institutionCtrl.portfolioUrl">
                                            <md-button  
                                                ng-click="institutionCtrl.portfolioDialog($event)">
                                                <md-icon>description</md-icon>
                                                <b>Portfólio</b>
                                            </md-button>
                                        </md-menu-item>
                                        <md-menu-item>
                                            <md-button 
                                                ng-click="institutionCtrl.goToEvents(institutionCtrl.institution.key)">
                                                <md-icon>date_range</md-icon>
                                                <b>Eventos</b>
                                            </md-button>
                                        </md-menu-item>
                                        <div class="row" ng-if="institutionCtrl.user.isAdmin(institutionCtrl.institution.key)">
                                            <div layout-padding>
                                                <span class="menu-section-title">ADMINISTRAÇÃO</span>
                                                <md-divider style="margin-top: 10px"></md-divider>
                                            </div>
                                            <md-menu-item>
                                                <md-button
                                                    ng-click="mainCtrl.goToEditInfo(institutionCtrl.institution.key)">
                                                    <md-icon>edit</md-icon>
                                                    <b>Editar Informações</b>
                                                </md-button>
                                            </md-menu-item>
                                            <md-menu-item >
                                                <md-button
                                                    ng-click="mainCtrl.goToManageMembers(institutionCtrl.institution.key)">
                                                    <md-icon>people</md-icon>
                                                    <b>Gerenciar Membros</b>
                                                </md-button>
                                            </md-menu-item>
                                            <md-menu-item>
                                                <md-button
                                                    ng-click="mainCtrl.goToManageInstitutions(institutionCtrl.institution.key)">
                                                    <md-icon>account_balance</md-icon>
                                                    <b>Vínculos Institucionais</b>
                                                </md-button>
                                            </md-menu-item>
                                        </div>
                                        <md-divider style="margin-top: 10px"></md-divider>
                                        <md-menu-item>
                                            <md-button ng-click="institutionCtrl.goToHome()">
                                                <md-icon>arrow_back</md-icon>
                                                <b>Voltar</b>
                                            </md-button>
                                        </md-menu-item>
                                    </div>
                                </md-content>
                            </md-sidenav>
                        </div>
                    </div>
                </div>

                <!-- INSTITUTION TIMELINE -->
                <div layout="row" flex ui-view="institution_content" layout="column" md-colors="{background: 'grey-50'}" style="z-index: 1;"></div>
            </div>
        </div>
    </div>
</md-content>
    