<md-content layout-align="center" hide-navbar="both">
    <div flex layout="column" md-colors="{background: 'grey-50'}">
        <!-- COVER -->
        <div id="cover-inst-mobile">
           <institution-header title="{{institutionCtrl.getLimitedName(110)}}"
                photo="institutionCtrl.getPhoto()" actions-buttons="institutionCtrl.getActionsButtonHeader()">
           </institution-header>
            <div id="inst-name-mobile">
                <hr id="divider-institution"/>
                <div id="buttons-institution-page">
                    <md-button md-colors="{background: 'teal-500'}"
                        ng-click="institutionCtrl.goToRegistrationData(institutionCtrl.institution.key)">
                        <md-icon class="icon-button-menu-inst">assignment</md-icon>
                        CADASTRO
                    </md-button>
                    <md-button md-colors="{background: 'teal-500'}"
                        ng-click="institutionCtrl.goToLinks(institutionCtrl.institution.key)">
                        <md-icon class="icon-button-menu-inst">account_balance</md-icon>
                        VÍNCULOS
                    </md-button>
                    <md-button md-colors="{background: 'teal-500'}"
                         ng-click="institutionCtrl.goToMembers(institutionCtrl.institution.key)">
                        <md-icon class="icon-button-menu-inst">account_circle</md-icon>
                        MEMBROS
                    </md-button>
                    <md-button md-colors="{background: 'teal-500'}"
                        ng-click="institutionCtrl.portfolioDialog($event)">
                        <md-icon class="icon-button-menu-inst">description</md-icon>
                        PORTFOLIO
                    </md-button>
                    <md-button md-colors="{background: 'teal-500'}"
                        ng-click="institutionCtrl.goToFollowers(institutionCtrl.institution.key)">
                        <md-icon class="icon-button-menu-inst">people</md-icon>
                        SEGUIDORES
                    </md-button>
                    <md-button md-colors="{background: 'teal-500'}"
                        ng-click="institutionCtrl.goToEvents(institutionCtrl.institution.key)">
                        <md-icon class="icon-button-menu-inst">date_range</md-icon>
                        EVENTOS
                    </md-button>
                </div>
            </div>
        </div>

        <div layout="row" flex="70" style="margin-top: 1.25em;">
            <!-- INSTITUTION TIMELINE -->
            <div layout="row" flex ui-view="institution_content" layout="column" md-colors="{background: 'grey-50'}" style="z-index: 1;"></div>
        </div>
    </div>
</md-content>
    