#buttons-institution-page{
    display: grid;
    grid-template-columns: auto auto;
    padding: 0 1.3em;
    margin-bottom: 1em;
    margin-top: 1em;
}

#inst-name-mobile{
    display: grid;
}

#divider-institution{
    width: 30%;
    justify-self: center;
    border: solid;
    color: #84C45E;
}

#inst-image-mobile{
    height: 9em;
    width: 9em;
    margin: -7em auto -0.8em auto;
    border-radius: 50%;
}

.button-navbar-inst{
    position: relative;
    z-index: 3;
    width: auto !important;
    color: rgba(255, 255, 255);
}

.icon-button-menu-inst{
    color: rgba(255, 255, 255);
    font-size: 20px;
}

#buttons-navbar-inst-container{
    height: 0px;
    position: relative;
    display: grid;
    grid-template-columns: 53px auto 107px 90px 48px;
    align-items: center;
}

#btn-unfollow{
    margin: 0px;
    border: 1px solid;
    border-radius: 3px 3px 3px 3px;
    border-color: #84C45E;
    color: #84C45E;
    grid-column-start: 4;
    height: 15px;
}

#btn-more{
    grid-column-start: 5;
}

#btn-follow{
    grid-column-start: 4;
}
#btn-unfollow{
    grid-column-start: 4;
}

#btn-description{
    grid-column-start: 3;
}

#image-cover-inst{
    margin: 0;
    height: 13em;
    overflow: hidden;
}

@media screen and (min-height: 620px) and (max-height:660px){
    #image-cover-inst {
        height: 14em;
    }
    #buttons-institution-page{
        height: 10em;
    }
    #inst-image-mobile{
        margin: -5.8em auto -0.8em auto;
    }
}

@media screen and (min-height: 660px) and (max-height:700px){
    #image-cover-inst {
        height: 16em;
    }
    #buttons-institution-page{
        height: 12em;
    }
    #inst-image-mobile{
        margin: -6em auto -0.8em auto;
    }
}

@media screen and (min-height: 700px) and (max-height:800px){
    #image-cover-inst {
        height: 18em;
    }
    #buttons-institution-page{
        margin-top: 2em;
        height: 12em;
    }
    #inst-image-mobile{
        margin: -5.6em auto -0.8em auto;
    }
}

@media screen and (min-height: 800px){
    #image-cover-inst {
        height: 20em;
    }
    #buttons-institution-page{
        margin-top: 3em;
        height: 12em;
    }
    #inst-image-mobile{
        margin: -6em auto -0.8em auto;
    }
}