md-content.grid-fill-screen {
  display: grid;
  height: 100%;
}

#create-inst-content {
  display: grid;
  align-content: center;
  justify-items: center;
}

#form-steps {
  position: fixed;
  top: 0;
  width: 100%;
  height: 3em;
  background: white;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: min-content;
  justify-content: space-around;
  align-content: center;
  z-index: 10;
  box-shadow: 0px 2px 4px #00000022;
}

#form-steps > span {
  display: grid;
  align-content: center;
  width: 2em;
  height: 2em;
  border-radius: 50%;
}

#form-steps > span > p {
  color: white;
  position: relative;
  text-align: center;
}

#form-steps > hr {
  align-self: center;
  margin-left: -1em;
  margin-right: -1em;
  width: 4em;
  height: 0;
}

.ec-card {
  width: 90%;
  background: #ffffff;
  border-radius: 0.2em;
  align-content: center;
  justify-items: center;
  display: grid;
  color: black;
  padding: 0.5em;
  margin-bottom: 2em;
  margin-top: 1em;
}

#create-inst-card {
  margin-top: 3.5em;
  margin-bottom: 1.6em;
}

#create-inst-card-content {
  display: grid;
  grid-template-rows: 2.6em 1fr 3em 2em;
  width: 90%;
  align-items: center;
  justify-items: center;
  color: black;
  padding: 1em;
}

#create-inst-card-content > h1 {
  font-size: 1em;
  font-weight: 500;
  text-transform: uppercase;
  justify-self: start;
  margin-left: 0.4em;
}

#create-inst-card-content > #forward-button {
  justify-self: end;
  margin-right: 0;
}

#create-inst-card-content > #back-button {
  margin-bottom: -4.5em;
}

#form-switch {
  width: 100%;
  margin-top: 0.6em;
}

#create-inst-content button.md-primary {
  color: #009688 !important;
}

.loading-container {
  display: grid;
  height: 10em;
  align-content: center;
  justify-content: center;
}

.loading-container load-circle svg path {
  stroke: #009688 !important;
}
