<div flex>
<div md-colors="{background: 'teal-500'}" layout="column" layout-fill layout-align="center">
    <div layout="column" layout-xs="column" layout-wrap layout-align="center center">
        <div>
            <div layout="row" flex>
                <md-card layout="row" flex layout-margin>
                    <div flex>
                        <md-content class="hide-scrollbar" layout="row">
                            <div layout="row" layout-align="center center" layout-margin>
                                <span class="rounded-green-circle" style="color: #FFFFFF; width: 25px; height: 25px;">
                                    <span layout="row" layout-align="center">
                                        <md-icon ng-if="!configInstCtrl.getStep(1)" style="color: #FFFFFF;">done</md-icon>
                                        <span ng-if="configInstCtrl.getStep(1)" style="margin-top: 2px;">1</span>
                                    </span>
                                </span>
                                <span class="no-break">Dados cadastrais</span>
                                <hr style="width: 100px;"/>
                            </div>
                            <div layout="row" layout-align="center center" layout-margin>
                                <span ng-class="configInstCtrl.showGreenButton(2)? 'rounded-green-circle': 'rounded-grey-circle'" style="color: #FFFFFF; width: 25px; height: 25px;">
                                    <span layout="row" layout-align="center">
                                        <md-icon ng-if="configInstCtrl.getStep(3)" style="color: #FFFFFF;">done</md-icon>
                                        <span ng-if="!configInstCtrl.getStep(3)" style="margin-top: 2px;">2</span>
                                    </span>
                                </span>
                                <span class="no-break">Dados da instituição</span>
                                <hr style="width: 100px;"/>
                            </div>
                            <div layout="row" layout-align="center center" layout-margin>
                                <span ng-class="configInstCtrl.showGreenButton(3)? 'rounded-green-circle': 'rounded-grey-circle'" style="color: #FFFFFF; width: 25px; height: 25px;">
                                    <span layout="row" layout-align="center">
                                        <md-icon ng-if="configInstCtrl.newInstitution.leader" style="color: #FFFFFF;">done</md-icon>
                                        <span ng-if="!configInstCtrl.newInstitution.leader" style="margin-top: 2px;">3</span>
                                    </span>
                                </span>
                                <span class="no-break">Finalizar cadastro</span>
                            </div>
                        </md-content>
                    </div>
                </md-card>
            </div>
            <md-card layout-margin ng-if="configInstCtrl.getStep(1)">
                <div layout="column" layout-margin>
                    <md-card-content layout-margin>
                        <form>
                            <div layout-margin>
                                <md-input-container  flex-gt-sm layout="row">
                                  <label>Rua</label>
                                  <input type="text" name="street" required
                                    ng-model="configInstCtrl.newInstitution.address.street">
                                </md-input-container>
                            </div>
                            <div layout="row" layout-margin>
                                <md-input-container  flex-gt-sm flex-sm layout="row">
                                  <label>Número</label>
                                  <input type="text" name="number" required
                                    ng-model="configInstCtrl.newInstitution.address.number">
                                </md-input-container>
                                <span flex="3"></span>
                                <md-input-container  flex-gt-sm flex-sm layout="row">
                                  <label>CEP</label>
                                  <input type="text" name="cep" required
                                    ng-model="configInstCtrl.newInstitution.address.cep"
                                    placeholder="00000-000"
                                    ng-pattern="configInstCtrl.cepRegex"
                                    mask="99999-999">
                                </md-input-container>
                            </div>
                            <div layout="row" layout-margin>
                                <md-input-container  flex-gt-sm flex-sm layout="row">
                                  <label>Bairro</label>
                                  <input type="text" name="neighbourhood" required
                                    ng-model="configInstCtrl.newInstitution.address.neighbourhood">
                                </md-input-container>
                                <span flex="3"></span>
                                <md-input-container  flex-gt-sm flex-sm layout="row">
                                  <label>Cidade</label>
                                  <input type="text" name="city" required
                                    ng-model="configInstCtrl.newInstitution.address.city">
                                </md-input-container>
                            </div>
                            <div layout="row" layout-margin>
                                <md-input-container  flex-gt-sm flex-sm layout="row">
                                  <label>Estado</label>
                                  <input type="text" name="state" required
                                    ng-model="configInstCtrl.newInstitution.address.state">
                                </md-input-container>
                                <span flex="3"></span>
                                <md-input-container  flex-gt-sm flex-sm layout="row">
                                  <label>País</label>
                                  <input type="text" name="country" required
                                    ng-model="configInstCtrl.newInstitution.address.country">
                                </md-input-container>
                            </div>
                        </form>
                    </md-card-content>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button class="md-raised" md-colors="{background: 'teal-500'}" ng-click="configInstCtrl.nextStep()">
                            PRÓXIMO
                        </md-button>
                    </md-card-actions>
                </div>
            </md-card>
            <md-card ng-if="configInstCtrl.getStep(2)" layout-margin>
                <div>
                    <md-card-content layout-margin>
                        <div layout="column" layout-margin>
                            <md-list-item md-colors="{background: 'grey-300'}" class="md-line" layout="row" layout-margin style="height: 100px;">
                                    <div layout="column">
                                        <md-button layout="row" class="md-icon-button" style="border-radius: 50%; height: 70px; width: 70px;"
                                            md-colors="{background: 'teal-900'}" ng-show="configInstCtrl.showButton()" ng-click="null"
                                            ng-model="configInstCtrl.file" ngf-pattern="'image/*'"
                                            ngf-accept="'image/*'" ngf-max-size="5MB" class="md-raised"
                                            ngf-select="configInstCtrl.cropImage(configInstCtrl.file)" ng-if="!configInstCtrl.showImage()">
                                            <md-icon flex-xs="10" style="color: #FFFFFF; font-size: 35px; margin: 0 0 10px 8px;">add_a_photo</md-icon>
                                        </md-button>
                                        <md-button layout="row" class="md-icon-button" style="border-radius: 50%; height: 80px; width: 80px;"
                                            ng-show="configInstCtrl.showButton()" ng-click="null"
                                            ng-model="configInstCtrl.file" ngf-pattern="'image/*'"
                                            ngf-accept="'image/*'" ngf-max-size="5MB" class="md-raised"
                                            ngf-select="configInstCtrl.cropImage(configInstCtrl.file)" ng-if="configInstCtrl.showImage()">
                                            <img ng-if="configInstCtrl.showImage()" style="border-radius: 50%; width: 100%; height: 100%;" ng-src="{{ configInstCtrl.newInstitution.photo_url }}"/>
                                        </md-button>
                                    </div>
                                    <b>{{configInstCtrl.suggestedName}} </b>
                            </md-list-item>
                            <form layout="column" name="secondStep">
                                <md-input-container class="md-block" flex-gt-sm flex-sm>
                                  <label>Nome completo da instituição</label>
                                  <input type="text" name="fullName" required md-maxlength="90"
                                    ng-model="configInstCtrl.newInstitution.name">
                                  <div ng-messages='secondStep.fullName.$error'>
                                    <div ng-message="required">Este campo é obrigatório!</div>
                                  </div>
                                </md-input-container>
                                <md-input-container style="margin-top: -20px;" class="md-block" flex-gt-sm flex-sm>
                                  <label>Sigla</label>
                                  <input type="text" name="acronym" required
                                    ng-model="configInstCtrl.newInstitution.acronym">
                                  <div ng-messages='secondStep.acronym.$error'>
                                    <div ng-message="required">Este campo é obrigatório!</div>
                                  </div>
                                </md-input-container>
                                <md-input-container style="margin-top: -20px;" layout="row" class="md-block" flex-gt-sm flex-sm>
                                    <label>Área de Atuação</label>
                                    <md-select name="actuationArea" ng-model="configInstCtrl.newInstitution.actuation_area" required>
                                      <md-option ng-repeat="area in configInstCtrl.actuationArea | orderBy: 'name'"
                                        ng-value="area.name">{{ area.name }}
                                      </md-option>
                                    </md-select>
                                    <div ng-messages="secondStep.actuationArea.$error">
                                        <div ng-message="required" >Este campo é obrigatório!</div>
                                    </div>
                                </md-input-container>
                                <md-input-container style="margin-top: 5px;" layout="row" class="md-block" flex-gt-sm flex-sm>
                                    <label>Natureza Jurídica</label>
                                    <md-select name="legalNatures" ng-model="configInstCtrl.newInstitution.legal_nature" required>
                                        <md-option ng-repeat="nature in configInstCtrl.legalNatures | orderBy: 'name'"
                                            ng-value="nature.value">{{ nature.name }}
                                        </md-option>
                                    </md-select>
                                    <div ng-messages="secondStep.legalNatures.$error">
                                        <div ng-message="required" >Este campo é obrigatório!</div>
                                    </div>
                                </md-input-container>
                            </form>
                       </div>
                    </md-card-content>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button ng-click="configInstCtrl.nextStep()" class="md-raised" md-colors="{background: 'teal-500'}">
                            AVANÇAR
                        </md-button>
                    </md-card-actions>
                </div>
            </md-card>
            <md-card ng-if="configInstCtrl.getStep(3)" layout-margin>
                <div flex>
                    <md-card-content layout-margin>
                        <div layout="column">
                            <form layout="column" name="thirdStep">
                                <md-input-container class="md-block" flex-gt-sm flex-sm>
                                  <label>Descrição</label>
                                  <textarea ng-model="configInstCtrl.newInstitution.description" maxlength="1100"
                                    md-select-on-focus>
                                  </textarea>
                                </md-input-container>
                                <md-input-container class="md-block" flex-gt-sm flex-sm>
                                  <label>Site Institucional</label>
                                  <input name="site">
                                </md-input-container>
                                <md-input-container class="md-block" flex-gt-sm flex-sm>
                                  <label>Atual dirigente máximo</label>
                                  <input type="text" name="leader" required ng-model="configInstCtrl.newInstitution.leader">
                                  <div ng-messages="thirdStep.leader.$error">
                                    <div ng-message="required">Este campo é obrigatório!</div>
                                  </div>
                                </md-input-container>
                            </form>
                        </div>
                    </md-card-content>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button class="md-raised" md-colors="{background: 'teal-500'}" ng-click="configInstCtrl.submit($event)">
                            FINALIZAR
                        </md-button>
                    </md-card-actions>
                </div>
            </md-card>
        </div>
    </div>
</div>
</div>