<div layout="row" class="edit-registration-data-top-bar">
    <md-button class="md-icon-button edit-registration-back-button" ng-click="createEventCtrl.previousStep()">
        <md-icon class="edit-registration-top-icon">keyboard_arrow_left</md-icon>
    </md-button>
    <h3 class="edit-registration-top-color">EDITAR DADOS CADASTRAIS</h3>
</div>
<div class="edit-registration-data-grid">
    <div class="inst-registration-data-name">
        <md-input-container class="edit-registration-data-name" md-no-float class="md-block">
            <p class="edit-registration-data-title">Nome</p>
            <input type="text" class="edit-registration-data-input" ng-model="configInstCtrl.newInstitution.name"
            required oninvalid="this.setCustomValidity('A instituição precisa ter um nome.')"
            oninput="this.setCustomValidity('')"/>
        </md-input-container>
    </div>
    <div class="inst-registration-data-acronym">
        <md-input-container class="edit-registration-data-name" md-no-float class="md-block">
            <p class="edit-registration-data-title">Sigla</p>
            <input type="text" class="edit-registration-data-input"
            ng-model="configInstCtrl.newInstitution.acronym"/>
        </md-input-container>
    </div>
    <div class="inst-registration-data-actuation">
        <p class="edit-registration-select-menu">Áreas de atuação</p>
        <md-select name="Actuation area" ng-model="configInstCtrl.newInstitution.actuation_area"
            class="edit-registration-data-name edit-registration-actuation-area">
            <md-option ng-repeat="(key, value) in configInstCtrl.actuationArea"
            ng-value="key" class="edit-registration-select-menu-size">
                {{ value }}
            </md-option>
        </md-select>
    </div>
    <div class="inst-registration-data-admin">
        <md-input-container class="edit-registration-data-name" md-no-float class="md-block">
            <p class="edit-registration-data-title">Responsável</p>
            <input type="text" class="edit-registration-data-input"
            ng-model="configInstCtrl.newInstitution.admin.name"/>
        </md-input-container>
    </div>
    <div class="inst-registration-data-legal-nature">
        <p class="edit-registration-select-menu">Natureza legal</p>
        <md-select name="Legal nature" ng-model="configInstCtrl.newInstitution.legal_nature"
            class="edit-registration-data-name">
            <md-option ng-repeat="(key, value) in configInstCtrl.legalNatures"
            ng-value="key" class="edit-registration-select-menu-size">
                {{ value }}
            </md-option>
        </md-select>
    </div>
    <div class="inst-registration-data-cnpj">
        <md-input-container class="edit-registration-data-name" md-no-float class="md-block">
            <p class="edit-registration-data-title">CNPJ</p>
            <input type="text" class="edit-registration-data-input"
            ng-model="configInstCtrl.newInstitution.cnpj"/>
        </md-input-container>
    </div>
    <div layout="row" class="edit-registration-buttons">
        <div md-colors="{color: 'default-grey-600'}"
            class="edit-registration-data-button" ng-click="editInfoCtrl.closeDialog()">
            <span class="edit-registration-data-button-title">CANCELAR</span>
        </div>
        <div md-colors="{color: 'default-teal-500'}"
            class="edit-registration-data-button" ng-click="editInfoCtrl.save()">
            <span class="edit-registration-data-button-title">CONFIRMAR</span>
        </div>
    </div>
</div>
