<div layout="row" class="edit-registration-data-top-bar">
    <md-button class="md-icon-button edit-registration-back-button" ng-click="configInstCtrl.previousPage()">
        <md-icon class="edit-registration-top-icon">keyboard_arrow_left</md-icon>
    </md-button>
    <h3 class="edit-registration-top-color">EDITAR DADOS CADASTRAIS</h3>
</div>
<div ng-if="!configInstCtrl.loading">
    <div class="edit-registration-img-margin">
        <div class="avatar" align="center">
            <md-button md-colors="{background: 'default-teal-500'}"
                ng-click="null" class="md-fab edit-registration-img-button"
                ng-model="configInstCtrl.file" ngf-pattern="'image/*'"
                ngf-accept="'image/*'" ngf-max-size="5MB"
                ngf-select="configInstCtrl.cropImage(configInstCtrl.file, $event)">
                <img class="edit-registration-img" ng-src="{{ configInstCtrl.newInstitution.photo_url }}"/>
                <div layout="column" class="edit-registration-img-inside">
                    <md-icon class="edit-registration-img-icon">photo_camera</md-icon>
                    <b class="edit-registration-img-text">TROCAR IMAGEM</b>
                </div>

            </md-button>
        </div>
        <div class="info" align="center">
            <h3>Dados cadastrais</h3>
        </div>
    </div>
    <form name="instForm" prevent-state-change="configInstCtrl.newInstitution"
        ng-submit="instForm.$valid && configInstCtrl.submit($event)" layout="column">
        <md-input-container class="edit-registration-data-name edit-registration-input-margin md-block" md-no-float>
            <p class="edit-registration-data-title">Nome</p>
            <input type="text" class="edit-registration-data-input" ng-model="configInstCtrl.newInstitution.name"
            required oninvalid="this.setCustomValidity('A instituição precisa ter um nome.')"
            oninput="this.setCustomValidity('')"/>
        </md-input-container>
        <div class="edit-registration-half-init-grid">
            <div class="edit-registration-data-acronym">
                <md-input-container class="edit-registration-data-name edit-registration-input-margin md-block" md-no-float>
                    <p class="edit-registration-data-title">Sigla</p>
                    <input type="text" class="edit-registration-data-input"
                    ng-model="configInstCtrl.newInstitution.acronym"/>
                </md-input-container>
            </div>
            <div class="edit-registration-data-actuation">
                <p class="edit-registration-select-menu">Áreas de atuação</p>
                <md-select name="Actuation area" ng-model="configInstCtrl.newInstitution.actuation_area"
                    class="edit-registration-data-name edit-registration-actuation-area">
                    <md-option ng-repeat="(key, value) in configInstCtrl.actuationArea"
                    ng-value="key" class="edit-registration-select-menu-size">
                        {{ value }}
                    </md-option>
                </md-select>
            </div>
        </div>
        <div class="inst-registration-data-legal-nature">
            <p class="edit-registration-select-menu">Natureza legal</p>
            <md-select name="Legal nature" ng-model="configInstCtrl.newInstitution.legal_nature"
                class="edit-registration-data-name">
                <md-option ng-repeat="(key, value) in configInstCtrl.legalNatures"
                ng-value="key" class="edit-registration-select-menu-size">
                    {{ value }}
                </md-option>
            </md-select>
        </div>
        <div class="edit-registration-half-end-grid">
            <md-input-container class="edit-registration-data-name edit-registration-input-margin md-block" md-no-float>
                <p class="edit-registration-data-title">CNPJ</p>
                <input type="text" class="edit-registration-data-input"
                ng-model="configInstCtrl.newInstitution.cnpj"
                ng-pattern=configInstCtrl.cnpjRegex
                minlength="18" md-maxlength="18"
                placeholder="00.000.000/0000-00" required
                mask="99.999.999/9999-99" oninvalid="this.setCustomValidity('A instituição precisa ter CNPJ.')"
                oninput="this.setCustomValidity('')"/>
                <div ng-messages="instForm.cnpj.$error">
                    <div ng-message="pattern">O CNPJ deve ser válido!</div>
                </div>
            </md-input-container>
            <md-input-container class="edit-registration-data-name edit-registration-input-margin edit-registration-site md-block" md-no-float>
                <p class="edit-registration-data-title">Site institucional</p>
                <input type="text" class="edit-registration-data-input"
                ng-model="configInstCtrl.newInstitution.website_url"/>
            </md-input-container>
        </div>
        <md-input-container class="edit-registration-data-name edit-registration-input-margin md-block" md-no-float>
            <p class="edit-registration-data-title">Nome do dirigente máximo</p>
            <input type="text" class="edit-registration-data-input"
                required ng-model="configInstCtrl.newInstitution.leader"
                oninvalid="this.setCustomValidity('Este campo é obrigatório!')"
                oninput="this.setCustomValidity('')"/>
        </md-input-container>
        <md-input-container class="edit-registration-data-name edit-registration-input-margin md-block" md-no-float>
            <p class="edit-registration-data-title">Responsável</p>
            <input type="text" class="edit-registration-data-input" disabled
            ng-model="configInstCtrl.newInstitution.admin.name"/>
        </md-input-container>
        <md-input-container class="edit-registration-data-name edit-registration-input-margin md-block" md-no-float>
            <p class="edit-registration-data-title">Breve descrição da instituição</p>
            <textarea ng-model="configInstCtrl.newInstitution.description" maxlength="1100"
            class="edit-registration-data-input" md-select-on-focus required
            oninvalid="this.setCustomValidity('A instituição precisa de uma descrição.')"
            oninput="this.setCustomValidity('')">
            </textarea>
        </md-input-container>
        <div class="info" align="center">
            <h3>Localização</h3>
        </div>
        <md-input-container class="edit-registration-data-name edit-registration-input-margin md-block" md-no-float>
            <p class="edit-registration-data-title">Lagradouro</p>
            <input type="text" name="street" ng-required="!configInstCtrl.isAnotherCountry"
            ng-model="configInstCtrl.address.street" class="edit-registration-data-input"/>
            <div ng-messages='instForm.street.$error'>
                <div ng-message="required">Este campo é obrigatório!</div>
            </div>
        </md-input-container>
        <div class="edit-registration-half-init-grid">
            <md-input-container class="edit-registration-data-name edit-registration-input-margin md-block" md-no-float>
                <p class="edit-registration-data-title">Nº</p>
                <input type="text" name="number" class="edit-registration-data-input"
                ng-model="configInstCtrl.address.number" ng-pattern="configInstCtrl.numberRegex"/>
                <div ng-messages='instForm.number.$error'>
                    <div ng-message="pattern" >O número deve ser válido!</div>
                </div>
            </md-input-container>
            <md-input-container md-no-float
            class="edit-registration-data-name edit-registration-input-margin md-block edit-registration-neighbourhood">
                <p class="edit-registration-data-title">Bairro</p>
                <input type="text" name="neighbourhood" ng-required="!configInstCtrl.isAnotherCountry"
                ng-model="configInstCtrl.address.neighbourhood" class="edit-registration-data-input">
                <div ng-messages='instForm.neighbourhood.$error'>
                    <div ng-message="required">Este campo é obrigatório!</div>
                </div>
            </md-input-container>
        </div>
        <div class="edit-registration-location-grid">
            <div>
                <p class="edit-registration-select-menu">País</p>
                <md-select name="country" ng-model="configInstCtrl.address.country" required
                    ng-change="configInstCtrl.setAnotherCountry()"
                    class="edit-registration-data-name">
                    <md-option ng-repeat="country in configInstCtrl.countries" ng-value="country.nome_pais">
                        {{country.nome_pais}}
                    </md-option>
                </md-select>
            </div>
            <md-input-container class="edit-registration-data-name edit-registration-input-margin md-block"
                md-no-float ng-if="configInstCtrl.isAnotherCountry">
                <p class="edit-registration-data-title">Estado</p>
                <input type="text" name="state" ng-model="configInstCtrl.address.federal_state"
                class="edit-registration-data-input"/>
            </md-input-container>
            <div ng-if="!configInstCtrl.isAnotherCountry">
                <p class="edit-registration-select-menu">Estado</p>
                <md-select name="state" ng-model="configInstCtrl.selectedState" required
                    ng-change="configInstCtrl.getCitiesByState()" class="edit-registration-data-name">
                    <md-option ng-repeat="state in configInstCtrl.states" ng-value="state">
                        {{state.sigla}}
                    </md-option>
                </md-select>
            </div>
            <md-input-container class="edit-registration-data-name edit-registration-input-margin md-block"
                md-no-float ng-if="configInstCtrl.isAnotherCountry">
                <p class="edit-registration-data-title">Cidade</p>
                <input type="text" name="city" ng-model="configInstCtrl.address.city"
                class="edit-registration-data-input"/>
            </md-input-container>
            <div ng-if="!configInstCtrl.isAnotherCountry">
                <p class="edit-registration-select-menu">Cidade</p>
                <md-select name="city" ng-model="configInstCtrl.address.city" required
                    ng-disabled="!configInstCtrl.selectedState" class="edit-registration-data-name">
                    <md-option ng-repeat="city in configInstCtrl.cities" ng-value="city">
                        {{city}}
                    </md-option>
                </md-select>
                <div ng-messages='instForm.city.$error'>
                    <div ng-message="required" ng-show="configInstCtrl.selectedState && !configInstCtrl.isAnotherCountry"
                    class="edit-registration-message">Este campo é obrigatório!</div>
                </div>
                <div ng-messages>
                    <div ng-show="!configInstCtrl.selectedState && !configInstCtrl.isAnotherCountry"
                        class="edit-registration-message">
                        Primeiro selecione um estado
                    </div>
                </div>
            </div>
        </div>
        <md-input-container class="edit-registration-data-name edit-registration-input-margin md-block"
            md-no-float>
            <p class="edit-registration-data-title">CEP</p>
            <input type="text" name="cep" ng-required="!configInstCtrl.isAnotherCountry"
            ng-model="configInstCtrl.address.cep" class="edit-registration-data-input"
            minlength="9" md-maxlength="9" placeholder="00000-000"
            ng-pattern="configInstCtrl.cepRegex"
            mask="99999-999"/>
            <div ng-messages="instForm.cep.$error">
                <div ng-message="required">Este campo é obrigatório!</div>
                <div ng-message="pattern">O CEP deve ser válido!</div>
            </div>
        </md-input-container>
        <div class="info" align="center">
            <h3>Contato</h3>
        </div>
        <md-input-container class="edit-registration-data-name edit-registration-input-margin md-block"
            md-no-float>
            <p class="edit-registration-data-title">E-mail instituticional</p>
            <input type="email" name="institutionalEmail" class="edit-registration-data-input"
            ng-model="configInstCtrl.newInstitution.institutional_email" required
            oninvalid="this.setCustomValidity('A instituição precisa de um e-mail.')"
            oninput="this.setCustomValidity('')"/>
        </md-input-container>
        <md-input-container class="edit-registration-data-name edit-registration-input-margin md-block"
            md-no-float>
            <p class="edit-registration-data-title">E-mail do responsável</p>
            <input type="email" name="EmailResponsavel" disabled
            ng-model="configInstCtrl.newInstitution.email" class="edit-registration-data-input"/>
        </md-input-container>
        <md-input-container class="md-block">
            <md-button ng-click="null" ng-model="configInstCtrl.file" ngf-pattern="'application/pdf'"
                ngf-accept="'application/pdf'" ngf-max-size="5MB"
                ngf-select="configInstCtrl.clearPortfolioUrl()" class="md-raised edit-registration-portfolio">
                <md-icon class="edit-registration-icon">{{configInstCtrl.getPortfolioButtonIcon()}}</md-icon>
                {{configInstCtrl.getPortfolioButtonMessage()}}
            </md-button>
        </md-input-container>
        <load-circle ng-show="configInstCtrl.isSubmitting"></load-circle>
        <div layout="row" class="edit-registration-buttons" ng-hide="configInstCtrl.isSubmitting">
            <md-button type="reset" class="edit-registration-cancel-button" ng-click="editInfoCtrl.closeDialog()">
                CANCELAR
            </md-button>
            <md-button class="btn-submit" type="submit" class="md-raised"
                md-colors="{background: 'default-teal-500'}">
                APLICAR
            </md-button>
        </div>
    </form>
</div>