.followers-grid, .members-grid {
    display: grid;
    grid-template-columns: 20% 15% auto;
    grid-template-rows: 100%;
    align-items: center;
    margin: 0 0 0.8em 0;
}

.follower-img, .member-img {
    grid-column-start: 2;
    width: 2.8em;
    height: 2.8em;
    border-radius: 50%
}

.follower-name, .member-name {
    grid-column-start: 3;
    margin-left: 0.8em;
    font-size: 0.9em;
}

.followers-title, .members-title {
    text-align: center;
    font-weight: bold;
}