<md-content layout="row" md-colors="{background: 'grey-200'}" layout-align="center" >
    <div flex-gt-lg="80" flex-lg="90" layout="row" layout-wrap layout-align="center" layout-fill>
        <div flex layout="column">
            <div layout="row" layout-xs="column" layout-padding flex-xs="30" flex-sm="15"
                md-colors="{background: 'grey-50'}" style="margin: 0px 7px 0px 7px;">
                <!-- Institution image -->
                <div flex="20" hide show-gt-sm layout-wrap>
                    <center>
                        <img ng-src="{{ institutionCtrl.current_institution.photo_url }}" height="170">
                    </center>
                </div>

                <!-- Institution information -->
                <div flex layout-wrap>
                    <center>
                        <div>
                            <h2>{{ institutionCtrl.current_institution.name }}
                                <md-icon title="Configurações" class="clickable"
                                    ng-click="institutionCtrl.goToManageMembers(institutionCtrl.current_institution.key)"
                                    ng-if="institutionCtrl.user.isAdmin(institutionCtrl.current_institution.key)">settings
                                </md-icon>
                            </h2>
                        </div>
                        <md-button class="md-raised" ng-if="institutionCtrl.current_institution.website_url"
                            ng-click="institutionCtrl.openWebsite()">
                            <md-icon>web</md-icon> Website
                        </md-button>
                        <md-button class="md-raised" ng-if="institutionCtrl.portfolioUrl" ng-click="institutionCtrl.portfolioDialog($event)">
                            <md-icon>insert_drive_file</md-icon> Portfólio
                        </md-button>
                        <p><b>Endereço:</b> {{ institutionCtrl.getFullAddress() }}</p>
                        <div ng-if="!institutionCtrl.showFullDescription">
                            <div layout="column" layout-align="center center" class="ng-if">
                              <md-button ng-if="!institutionCtrl.showFullDescription" flex ng-click="institutionCtrl.showDescription()">
                                MAIS INFORMAÇÕES<md-icon>arrow_drop_down</md-icon>
                              </md-button>
                            </div>
                        </div>
                    </center>
                        <div layout="column" ng-if="institutionCtrl.showFullDescription" layout-wrap>
                            <div layout="row" flex>
                                <div layout="column" flex>
                                    <p ><b>Telefone:</b> {{ institutionCtrl.current_institution.phone_number ? institutionCtrl.current_institution.phone_number : 'Não informado' }}</p>
                                </div>
                                <span flex md-truncate></span>
                                <div layout="column" flex>
                                    <p><b>CNPJ:</b> {{ institutionCtrl.current_institution.cnpj ? institutionCtrl.current_institution.cnpj : 'Não informado'}}</p>
                                </div>
                            </div>
                            <div layout="row" flex>
                                <div layout="column" flex>
                                    <p><b>Área de Atuação:</b> {{ institutionCtrl.current_institution.actuation_area ? institutionCtrl.current_institution.actuation_area : 'Não informado' }}</p>
                                </div>
                                <span flex md-truncate></span>
                                <div layout="column" flex>
                                    <p ><b>Natureza Jurídica:</b> {{ institutionCtrl.current_institution.legal_nature ? institutionCtrl.legal_natures[institutionCtrl.current_institution.legal_nature] : 'Não informado' }}</p>
                                </div>
                            </div>
                            <div layout="row" flex>
                                <div layout="column" flex>
                                    <p><b>Responsável:</b> {{ institutionCtrl.current_institution.admin.name ? institutionCtrl.current_institution.admin.name : 'Não informado'}} </p>
                                </div>
                                <span flex md-truncate></span>
                                <div layout="column" flex>
                                    <p><b>E-mail do Responsável: </b> {{ institutionCtrl.current_institution.email ? institutionCtrl.current_institution.email : 'Não informado'}}</p>
                                </div>
                            </div>
                            <p align="justify"><b>Descrição:</b> {{ institutionCtrl.current_institution.description ? institutionCtrl.current_institution.description : 'Não informado' }}</p>

                            <p ng-if="institutionCtrl.hasParentActive(institutionCtrl.current_institution)" align="justify"><b>Instituição hierarquicamente superior:</b>
                            <a href class="hyperlink" ng-click="institutionCtrl.goToInstitution(institutionCtrl.current_institution.parent_institution.key)">
                                {{ institutionCtrl.current_institution.parent_institution.name}}</p>
                            </a>
                            <p ng-if="institutionCtrl.hasChildrenActive(institutionCtrl.current_institution)"
                            align="justify"><b>Instituições hierarquicamente subordinadas:</b>
                            <spam ng-repeat="institution in institutionCtrl.current_institution.children_institutions | filter : {state : 'active'}">
                                <a href class="hyperlink" ng-click="institutionCtrl.goToInstitution(institution.key)">
                                    {{ institution.name }}
                                </a>{{$last ? '' : ', '}}
                            </spam></p>
                            <div layout="column" layout-align="center center" class="ng-if">
                                <md-button ng-if="institutionCtrl.showFullDescription" flex ng-click="institutionCtrl.hideDescription()">
                                <md-icon>arrow_drop_up</md-icon>
                                </md-button>
                            </div>
                        </div>
                </div>
            </div>
            <div layout="row" layout-xs="column" flex="60" flex-gt-sm="40">
                <div flex-gt-sm="20" flex-xs="05" layout="column" layout-fill hide show-gt-sm>
                    <!-- Buttons -->
                    <md-button flex-xs class="md-primary md-raised md-hue-2" md-colors="{background: 'teal-900'}"
                        ng-if="!institutionCtrl.isMember"
                        ng-click="institutionCtrl.isUserFollower ? institutionCtrl.unfollow() : institutionCtrl.follow()">
                        <md-icon>{{ institutionCtrl.isUserFollower ? 'person_outline':'person_add' }}</md-icon>
                        {{ institutionCtrl.isUserFollower ? 'Deixar de seguir' : 'Seguir' }}
                    </md-button>

                    <!-- INSTITUTION MEMBERS -->
                    <md-card hide show-gt-xs>
                        <md-subhead layout-padding class="md-primary" md-colors="{background: 'teal-900'}">Membros</md-subhead>
                        <md-card-content>
                            <md-grid-list
                                    md-cols="5" md-cols-gt-md="6"
                                    md-row-height="1:1"
                                    md-gutter="4px" md-gutter-gt-sm="4px">
                                <md-grid-tile ng-repeat="member in institutionCtrl.members" ng-click="null" md-rowspan="1"
                                    md-colspan="1" md-colspan-sm="1">
                                    <figure>
                                        <a href class="hyperlink" ng-click="institutionCtrl.showUserProfile(member.key, $event)">
                                            <img title="{{member.name}}" ng-src="{{member.photo_url}}" width="100%" height="100%"/>
                                        </a>
                                    </figure>
                                </md-grid-tile>
                            </md-grid-list>
                        </md-card-content>
                    </md-card>

                    <!-- INSTITUTION FOLLOWERS -->
                    <md-card hide show-gt-xs>
                        <md-subhead layout-padding class="md-primary" md-colors="{background: 'teal-900'}">Seguidores</md-subhead>
                        <md-card-content>
                            <md-grid-list
                                    md-cols="5" md-cols-gt-md="6"
                                    md-row-height="1:1"
                                    md-gutter="4px" md-gutter-gt-sm="4px">
                                <md-grid-tile ng-repeat="follower in institutionCtrl.followers" ng-click="null" md-rowspan="1"
                                    md-colspan="1" md-colspan-sm="1">
                                    <figure>
                                        <a href class="hyperlink" ng-click="institutionCtrl.showUserProfile(follower.key, $event)">
                                            <img title="{{follower.name}}" ng-src="{{follower.photo_url}}" width="100%" height="100%"/>
                                        </a>
                                    </figure>
                                </md-grid-tile>
                            </md-grid-list>
                        </md-card-content>
                    </md-card>
                </div>
                <post-timeline flex ng-if="!institutionCtrl.isLoadingPosts" layout="column" md-colors="{background: 'grey-200'}" posts="institutionCtrl.posts"
                    institution="true" user="institutionCtrl.user" add-post="institutionCtrl.addPost">
                </post-timeline>
                <div flex ng-if="institutionCtrl.isLoadingPosts" layout="row" layout-align="center center">
                    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                </div>

            </div>
        </div>
    </div>
</md-content>
