.main-links-container {
    display: grid;
    grid-template-rows: min-content;
    grid-row-gap: 0.5em;
    grid-column-gap: 1em;
    margin: 0 auto;
}

.link-section {
    grid-column: 2;
    display: grid;
    grid-template-rows: min-content;
    grid-row-gap: 0.5em;
}

.link-section-title {
    grid-row: 1;
    justify-self: initial;
    align-self: center;
    white-space: nowrap;
}

.link-info-container {
    display: grid;
    grid-template-columns: 10% auto;
    grid-template-rows: min-content;
    align-items: initial;
    column-gap: 1em;
    height: 5em;
}

.link-avatar {
    height: 3em;
    width: 3em;
    border-radius: 50%;
    place-self: center;
}

.link-description {
    display: grid;
    grid-row-gap: 0.2em;
}

.link-info-tag {
    font-weight: bold;
    color: #009688;
    margin: 0;
}

.link-info-inst {
    font-weight: bold;
    margin: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.link-info-status {
    margin: 0;
}

.link-divider {
    grid-column: span 3;
    grid-row: 5;
}

.no-links-msg {
    grid-column: 2;
    text-align: center;
}
