<div class="main-links-container">
        
    <div class="link-section" ng-if="instLinksCtrl.hasParentInst()">
        <h4 class="link-section-title">INSTITUIÇÃO SUPERIOR</h4>
        <div class="link-info-container"  
            ng-click="instLinksCtrl.goToInst(instLinksCtrl.parentInstitution.key)">
            <img ng-src="{{instLinksCtrl.parentInstitution.photo_url}}" class="link-avatar"/>
            <div class="link-description">
                <h4 class="link-info-inst">{{instLinksCtrl.parentInstitution.name}}</h4>
                <h5 class="link-info-tag">Status do Vínculo</h5> 
                <p class="link-info-status">{{instLinksCtrl.parentStatus()}}</p>
            </div>
        </div>
    </div>

    <div class="link-section" ng-if="instLinksCtrl.hasChildrenInst()">
        <h4 class="link-section-title">INSTITUIÇÕES SUBORDINADAS</h4>
        <div class="link-info-container" ng-click="instLinksCtrl.goToInst(institution.key)"
            ng-repeat="institution in instLinksCtrl.childrenInstitutions | filter: instLinksCtrl.currentInstitution">
            <img ng-src="{{institution.photo_url}}" class="link-avatar"/>
            <div class="link-description">
                <h4 class="link-info-inst">{{institution.name}}</h4>
                <h5 class="link-info-tag">Status do Vínculo: </h5>
                <p class="link-info-status">{{instLinksCtrl.childStatus(institution)}}</p>
            </div>
            <md-divider class="link-divider"></md-divider>
        </div>
    </div>

    <div ng-if="!instLinksCtrl.hasInstitutions()" class="no-links-msg">
        <h3>Esta instituição não possui nenhum vínculo institucional</h3>
    </div>
    
</div>