<!--CARD DA INST-->
<md-card>
    <!-- HEADER -->
    <md-card-header>
        <md-card-avatar>
            <a href ng-click="instituinsCardCtrl.goToInstitution(instituinsCardCtrl.institution.key)">
                <img ng-src="{{ instituinsCardCtrl.institution.photo_url }}" role="button" class="md-user-avatar img-post-shadow"/>
            </a>
        </md-card-avatar>
        <md-card-header-text>
            <div>
                <a href class="md-title hyperlink" ng-click="instituinsCardCtrl.goToInstitution(instituinsCardCtrl.institution.key)">
                {{ instituinsCardCtrl.institution.name }}
                </a>
            </div>
            <span layout="row" class="md-subhead">
                {{instituinsCardCtrl.institution.address.city}}/{{instituinsCardCtrl.institution.address.federal_state}}
            </span>
        </md-card-header-text>
        <md-menu md-offset="-200 45">
            <md-button class="md-icon-button" style="margin-right: -20px; margin-top: -15px" ng-click="$mdMenu.open(ev)">
                <md-icon>more_vert</md-icon>
            </md-button>
            <md-menu-content width="4">
                <md-menu-item>
                    <md-button ng-click="null">
                    <md-icon>link</md-icon>
                    Obter link
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </md-card-header>
    <!-- BODY POST -->
    <md-card-content > 
        <div layout="row" layout-align="center center" style="height: 150px;margin-bottom: 20px;"
        md-colors="{background: 'light-green'}"> 
            <img style="width: 100px; height: 100px;" ng-src="{{'app/images/institution.png'}}" >     
        </div>
        <!--DESCRIPTION-->
        <spam>
            {{instituinsCardCtrl.institution.description}}
        </spam>
    </md-card-content>
    <!-- BUTTONS -->
    <md-card-actions layout="row" layout-align="end center">
        <md-button ng-click="instituinsCardCtrl.goToInstitution(instituinsCardCtrl.institution.key)">Ver página</md-button>
        <md-button 
            ng-if="instituinsCardCtrl.showFollowButton()" 
            ng-click="instituinsCardCtrl.user.isFollower(instituinsCardCtrl.institution) ? instituinsCardCtrl.unfollow() : instituinsCardCtrl.follow()">
                <md-icon style="font-size:18px;">rss_feed</md-icon>
                {{ instituinsCardCtrl.user.isFollower(instituinsCardCtrl.institution)  ? 'Deixar de seguir' : 'Seguir' }}
        </md-button>  
    </md-card-actions>
</md-card>