<!-- COVER -->
<div class="cover-photo zero-height">
    <div id="buttons-navbar-inst-container">
        <md-button class="md-icon-button button-navbar-inst"
            ng-click="instHeaderCtrl.actionsButtons.goBack()">
            <md-icon class="icon-button-menu-inst">arrow_back</md-icon>
        </md-button>
        <div id="buttons-navbar-inst-container-end">
            <md-button ng-if="instHeaderCtrl.isTimeline()" class="button-navbar-inst"
                id="btn-description">
                <b>DESCRIÇÃO</b>
            </md-button>
            <div ng-if="instHeaderCtrl.isTimeline()">
                <md-button class="button-navbar-inst" ng-if="instHeaderCtrl.isUserFollower"
                    ng-click=" instHeaderCtrl.actionsButtons.unfollow()" id="btn-unfollow">
                        <b>SEGUINDO</b>
                </md-button>
                <md-button class="button-navbar-inst" ng-if="!instHeaderCtrl.isUserFollower"
                    ng-click="instHeaderCtrl.actionsButtons.follow()"
                    id="btn-follow"> <b>SEGUIR</b>
                </md-button>
            </div>
            <md-menu class="no-overflow" ng-if="instHeaderCtrl.showButtonMore()">
                <md-button class="md-icon-button button-navbar-inst"
                    ng-mouseenter="$mdMenu.open()" id="btn-more">
                    <md-icon class="icon-button-menu-inst">more_vert</md-icon>
                </md-button>
                <md-menu-content width="3">
                    <md-menu-item ng-if="instHeaderCtrl.user.isAdmin(instHeaderCtrl.institution.key)">
                        <md-button ng-model="instHeaderCtrl.fileBackground" ngf-pattern="'image/*'"  ng-click="null"
                        ngf-accept="'image/*'" ngf-max-size="5MB" ngf-select="instHeaderCtrl.actionsButtons.cropImage(instHeaderCtrl.fileBackground, $event)">
                            Adicionar capa
                        </md-button>
                    </md-menu-item>
                    <md-menu-item ng-if="!instHeaderCtrl.isMember">
                        <md-button class="button-request-link"
                            ng-disabled="instHeaderCtrl.user.isInstitutionRequested(instHeaderCtrl.institution.key)"
                            ng-click="instHeaderCtrl.actionsButtons.requestInvitation($event)">
                            <span ng-if="!instHeaderCtrl.user.isInstitutionRequested(instHeaderCtrl.institution.key)">Solicitar vínculo</span>
                            <span ng-if="instHeaderCtrl.user.isInstitutionRequested(instHeaderCtrl.institution.key)">Vínculo pendente</span>
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
            <md-button ng-if="instHeaderCtrl.isRegistrationData()" class="cover-photo-button button-navbar-inst"
                id="btn-edit">
                <b>EDITAR</b>
            </md-button>
        </div>
    </div>
</div>
<div md-colors="{background: 'teal-500'}" ng-class="instHeaderCtrl.isTimeline() ?'image-cover-inst-timeline' : 'image-cover-inst'">
    <img ng-if="instHeaderCtrl.actionsButtons.showImageCover()" ng-src="{{instHeaderCtrl.institution.cover_photo}}" class="image-backround-color"/>
    <load-circle style="filter: alpha(opacity=100);" add-layout-fill="true" layout="row" 
        layout-align="center center" ng-if="institutionCtrl.isLoadingCover"></load-circle>
</div>
<div  id="inst-name-mobile">
    <img ng-class="instHeaderCtrl.isTimeline() ?'inst-image-mobile-timeline' : 'inst-image-mobile'"
        ng-src="{{ instHeaderCtrl.photo }}"/>
    <div  class="md-title">
        <p ng-class="instHeaderCtrl.isTimeline() ?'title-inst' : 'title-inst-page'">{{ instHeaderCtrl.getTitle() }}</p>
    </div>
</div>