<white-toolbar 
    primary-button-icon="keyboard_arrow_left"
    title="Gerenciar Membros"
    title-class="manage-members__toolbar__title"
    class="manage-members__toolbar">
</white-toolbar>

<md-content class="manage-members">
    <div class="manage-members__cards">
        <clickable-card icon="send" title="enviar convites">
            <div class="manage-members__card__content manage-members__send__invites">
                <h3>Convidar Membros</h3>
                <p class="description">
                    Coloque abaixo os endereços de e-mail das pessoas que você deseja convidar 
                    para fazer parte da sua instituição na Plataforma CIS.
                </p>
                <p class="subtitle">Endereço de e-mail</p>
                <form ng-submit="manageMemberCtrl.sendUserInvite()">
                    <md-input-container md-no-float class="md-block md-icon-right md-icon-float"
                        ng-repeat="currentEmail in manageMemberCtrl.emails">
                        <input class="green-input" ng-model="currentEmail.email" ng-change="manageMemberCtrl.changeEmail(currentEmail)" 
                            md-maxlength="120" type="email" name="email" placeholder="+ Adicionar e-mail">
                    </md-input-container>
                </form>
                <md-button class="manage-members__btn" type="submit" 
                    ng-if="!manageMemberCtrl.isLoadingInvite">
                    Enviar
                </md-button>
                <load-circle ng-if="manageMemberCtrl.isLoadingInvite"></load-circle>
            </div>
        </clickable-card>

        <clickable-card icon="account_circle" title="administrador">
            <div class="manage-members__card__content">
                <entity-showcase
                    avatar="manageMemberCtrl.institution.admin.photo_url"
                    title="manageMemberCtrl.institution.admin.name"
                    subtitle="manageMemberCtrl.institution.admin.email[0]"
                    ng-click="manageMemberCtrl.showUserProfile(manageMemberCtrl.institution.admin.key, $event)">
                </entity-showcase>
                <md-button class="manage-members__btn" 
                    ng-click="manageMemberCtrl.openTransferAdminDialog($event)"
                    ng-disabled="manageMemberCtrl.disableTransferAdminButton()">
                    Transferir
                </md-button>
            </div>
        </clickable-card>

        <clickable-card icon="account_circle" title="gerenciar membros">
            <div class="manage-members__card__content">
                <search-field keyword="searchMember"></search-field>
                <md-content class="manage-members__list custom-scrollbar">
                    <entity-showcase ng-repeat="member in manageMemberCtrl.members | filter: searchMember" 
                        avatar="member.photo_url"
                        title="member.name"
                        subtitle="member.email[0]"
                        right-icon-btns="[
                            manageMemberCtrl.getMembersDeleteBtn($event, member), 
                            manageMemberCtrl.getMembersProfileBtn($event, member)
                        ]">
                    </entity-showcase>
                </md-content>
            </div>
        </clickable-card>

        <clickable-card icon="email" title="convites enviados">
            <search-field keyword="manageMemberCtrl.searchInvite"></search-field>
        </clickable-card>

        <clickable-card icon="feedback" title="convites requisitados">
            <search-field keyword="manageMemberCtrl.searchRequest"></search-field>
        </clickable-card>
    </div>
</md-content>