#upload-csv-icon {
    color: #7CB342;
    font-size: 45px;
    margin-right: 30px;
    margin-top: 15px;
}

#upload-csv-text {
    font-size: 20px;
}

.manage-inst-container-resp {
    display: flex;
    flex-wrap: wrap;
}

.manage-inst-box {
    width: 100%;
}

.edit-inst-number, .edit-inst-cep {
    width: 49%;
}

.edit-inst-country, .edit-inst-federal-state, .edit-inst-city, .edit-inst-neighbourhood {
        width: 24%;
}

.edit-inst-cnpj, .edit-inst-phone {
    width: 44%;
}

.edit-inst-phone {
    width: 36%;
}

.edit-inst-branch {
    width: 16%;
}

.manage-member-content {
    overflow: auto;
    max-height: 220px;
}

@media screen and (min-width: 601px) {
    .edit-inst-name {
        width: 59%;
    }

    .edit-inst-acronym {
        width: 39%;
    }

    .edit-inst-street {
        width: 59%;
    }

    .edit-inst-number {
        width: 19%;
    }

    .edit-inst-cep {
        width: 19%;
    }
}

@media screen and (max-width: 600px) {
    #upload-csv-icon {
        font-size: 35px;
    }
    
    #upload-csv-text {
        font-size: 14px;
    }

    #manage-inst-titles {
        font-size: 16px;
    }

    #manage-inst-name {
        font-size: 16px;
    }
}

@media screen and (max-width: 450px) {
    .edit-inst-number, .edit-inst-cep, .edit-inst-country,
    .edit-inst-federal-state, .edit-inst-city, .edit-inst-neighbourhood {
        width: 47%;
    }
}

@media screen and (min-width: 400px) {
    .edit-inst-actuation-area {
        width: 58%;
    }

    .edit-inst-legal-nature {
        width: 39%;
    }
}

@media screen and (max-width: 401px) {
    #upload-csv-icon {
        margin-right: 25px;
        font-size: 30px;
    }

    #upload-csv-text {
        font-size: 12px;
        margin-left: -16px;
    }

    #manage-inst-name {
        font-size: 14px;
    }

    #manage-user-email-text {
        font-size: 12px;
    }

    #manage-username-text, #manage-inst-status {
        font-size: 11px;
    }

    #manage-inst-titles {
        font-size: 14px;
    }

    .edit-inst-cnpj {
        width: 100%;
    }
    
    .edit-inst-phone, .edit-inst-branch {
        width: 47%;
    }
}
