<!-- CONTENT -->
<div flex flex-gt-lg="80" flex-lg="90" layout-align="center">
  <div flex>
    <!-- SEND INVITE -->
    <md-card>
      <md-toolbar md-colors="{background: 'teal-500'}" layout="row"
       ng-click="manageMemberCtrl.toggleElement('showSendInvite')" class="clickable-no-hover">
        <div class="md-toolbar-tools" flex layout="row" layout-align="center center">
          <h1>
            <md-icon>send</md-icon>
            Enviar convite
          </h1>
          <span flex md-truncate></span>
          <md-button class="md-icon-button md-secondary">
            <md-icon>{{ manageMemberCtrl.showSendInvite ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</md-icon>
          </md-button>
        </div>
      </md-toolbar>
      <md-card-content ng-show="manageMemberCtrl.showSendInvite;" style="margin-left:3%">
        <h2 md-colors="{color: 'teal-900'}">Convidar membros</h2>
        <p md-colors="{color: 'grey-600'}">Coloque abaixo os endereços de e-mail das pessoas que você deseja convidar 
          para fazer parte da sua instituição na Plataforma CIS.</p>
        <p style="font-size: 10px; margin-bottom: 0; margin-top:30px;" md-colors="{color: 'grey-700'}">Endereço de e-mail</p>
        <form name="sendInviteForm" ng-submit="manageMemberCtrl.sendUserInvite()">
          <md-content style="max-height: 250px" class="custom-scrollbar">
            <md-input-container md-no-float class="md-block md-icon-right md-icon-float" class="inputEmail"
              ng-repeat="currentEmail in manageMemberCtrl.emails" style="height:20px;"  md-colors="{color: 'grey-500'}">
              <input class="inputEmail" ng-model="currentEmail.email" ng-change="manageMemberCtrl.changeEmail(currentEmail)" md-maxlength="120"
                type="email" name="email" placeholder="+ Adicionar um endereço de e-mail..." style="height:20px;">
            </md-input-container>
          </md-content>
          <load-circle flex ng-if="manageMemberCtrl.isLoadingInvite"></load-circle>
          <div layout="column">
            <div layout="row">
              <h2 md-colors="{color: 'teal-900'}">Convite em lote</h2>
            </div>
            <p>Convide todos os membros de sua instituição de uma única vez, basta adicionar somente os endereços de e-mail
              válidos em uma planilha e salvar no formato CSV.
            </p>
            <md-list>
                <md-list-item class="list-item-dense" md-colors="{background: 'default-grey-300'}" style="height: 75px;" flex>
                  <md-button  style="margin-left: auto;" ng-click="null"
                    ng-file-model="manageMemberCtrl.files"
                    ngf-pattern="'.csv'" title="Adicionar CSV"
                    ngf-accept="'.csv'"
                    ngf-max-files="1"
                    ngf-select="manageMemberCtrl.addCSV($files, $ev)">
                    <div layout="row">
                      <md-icon style="color: #7CB342; font-size: 45px; margin-right: 30px; margin-top: 15px;">file_upload</md-icon>
                      <p style="font-size: 20px;">ENVIAR ENDEREÇOS EM CSV</p>
                    </div>
                  </md-button>
                </md-list-item>
              </md-list>
          </div>
          <section layout="row" layout="column" layout-align="end center" layout-wrap ng-if="!manageMemberCtrl.isLoadingInvite">
            <md-button md-colors="{background: 'teal-500'}" ng-click="manageMemberCtrl.clearInvite()">Cancelar</md-button>
            <md-button type="submit" md-colors="{background: 'teal-500'}">Enviar</md-button>
          </section>
        </form>
      </md-card-content>
    </md-card>
    <!-- MANAGE ADMINISTRATORS -->
    <md-card>
      <md-toolbar md-colors="{background: 'teal-500'}" layout="row"
        class="clickable-no-hover" ng-click="manageMemberCtrl.toggleElement('showAdministrator')">
        <div class="md-toolbar-tools" flex layout="row" layout-align="center center">
          <h1>
            <md-icon>account_circle </md-icon>
            Administrador
          </h1>
          <span flex md-truncate></span>
          <md-button class="md-icon-button md-secondary">
            <md-icon>{{ manageMemberCtrl.showAdministrator ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</md-icon>
          </md-button>
        </div>
      </md-toolbar>
      <md-card-content ng-show="manageMemberCtrl.showAdministrator">
        <md-list flex>
          <md-list-item class="list-item-dense" md-colors="{background: 'grey-300'}"
            ng-click="manageMemberCtrl.showUserProfile(manageMemberCtrl.institution.admin.key, $event)" flex-xs>
            <img title="{{manageMemberCtrl.institution.admin.name}}" ng-src="{{manageMemberCtrl.institution.admin.photo_url || '/app/images/avatar.png'}}" 
              class="md-avatar" style="margin: 0 15px 0 -15px; width: 60px; height: 60px;"/>
            <div class="md-list-item-text" layout="column" style="margin-top: 12px;">
              <b style="position: relative; font-size: 15px;">
                <span style="line-height: 1.0;" hide show-gt-xs>
                  {{ manageMemberCtrl.institution.admin.name }}
                </span>
                <span style="line-height: 1.0;" hide show-xs>
                  {{ manageMemberCtrl.limitString(manageMemberCtrl.institution.admin.name, 45) }}
                </span>
              </b>
              <span style="position: relative; font-size: 15px; margin-top: -10px;">
                {{ manageMemberCtrl.institution.admin.email[0] }}
              </span>
            </div>
            <div layout="row" layout-align="end center" flex hide show-gt-xs>
              <p class="status-invite-adm" style="line-height: 21px; padding: 5px;" md-colors="{color: 'teal-500'}">
                ADMINISTRADOR
              </p>
            </div>
          </md-list-item>
          <md-list-item class="list-item-dense" md-colors="{background: 'grey-300'}" ng-repeat="invite in manageMemberCtrl.sentInvitationsAdm | orderBy:'status':true"
            ng-click="manageMemberCtrl.showUserProfile(invite.invitee_key, $event)" flex-xs ng-if="invite.status !== 'accepted'">
            <div layout="row" flex>
              <div style="width: 5px; margin-left: -15px;" md-colors="{background: 'teal-500'}"></div>
              <div style="width: 5px; background-color: white;"></div>
              <div layout="row" layout-align="start center"  flex>
                <img title="{{manageMemberCtrl.institution.admin.name}}" ng-src="{{manageMemberCtrl.getMemberPhotoUrl(invite.invitee_key)}}" 
                  class="md-avatar" style="margin: 0 15px 0 px; width: 60px; height: 60px;"/>
                <div layout="column" style="margin-top: 12px;">
                  <b style="position: relative; font-size: 15px;">
                    <span style="line-height: 1.0;">
                      {{ manageMemberCtrl.getMemberName(invite.invitee_key) }}
                    </span>
                  </b>
                  <span style="position: relative; margin-top: -10px; font-size: 15px;">
                    {{ invite.invitee }}
                  </span>
                </div>
                <div layout="row" layout-align="end center" flex hide show-gt-xs>
                  <p class="status-invite-adm" style="margin-right: -6px; line-height: 21px; padding: 5px;"
                    ng-if="invite.status === 'sent'" md-colors="{color: 'teal-500'}">PENDENTE</p>
                  <div style="margin-right: -6px;" class="status-invite-adm"
                    layout="row" layout-align="center center" md-colors="{background: 'teal-500', color: 'grey-50'}"
                    ng-if="invite.status === 'rejected'">
                    <md-icon style="margin: 0 5px 0 0; border-radius: 50%;" 
                      md-colors="{background: 'grey-50', color: 'teal-500'}">
                      clear
                    </md-icon>
                    <span>RECUSADO</span>
                  </div>
                </div>
              </div>
            </div>
          </md-list-item>
        </md-list>
      </md-card-content>
      <md-card-actions layout="row" layout-align="end center" ng-show="manageMemberCtrl.showAdministrator">
        <md-button class="md-raised" md-colors="{background: manageMemberCtrl.transferButtonColor}" ng-click="manageMemberCtrl.openTransferAdminDialog($event)"
          ng-disabled="manageMemberCtrl.disableTransferAdminButton()">
          TRANSFERIR
        </md-button>
      </md-card-actions>
    </md-card>
    <!-- MANAGE MEMBERS -->
    <md-card>
      <md-toolbar md-colors="{background: 'teal-500'}" layout="row" 
        ng-click="manageMemberCtrl.toggleElement('showMembers')" class="clickable-no-hover">
        <div class="md-toolbar-tools" flex layout="row" layout-align="center center">
          <h1>
            <md-icon>account_circle </md-icon>
            Gerenciar Membros
          </h1>
          <span flex md-truncate></span>
          <md-button class="md-icon-button md-secondary">
            <md-icon>{{ manageMemberCtrl.showMembers ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</md-icon>
          </md-button>
        </div>
      </md-toolbar>
      <div ng-if="manageMemberCtrl.showMembers" layout-padding>
        <div layout-margin>
          <form ng-submit="">
            <md-input-container layout="row" class="md-icon-float">
              <label>Buscar</label>
              <input aria-label="Pesquisar por membros" class="md-icon-float" ng-model="manageMemberCtrl.currentMember">
            </md-input-container>
          </form>
        </div>
        <md-card-content style="margin-top: -40px;" layout-margin>
          <md-list flex>
            <md-list-item class="list-item-dense" md-colors="{background: 'grey-300'}"
              ng-repeat="member in manageMemberCtrl.members | filter: manageMemberCtrl.currentMember" ng-click="manageMemberCtrl.showUserProfile(member.key, $event)" flex-xs>
              <img title="{{member.name}}" ng-src="{{member.photo_url}}" class="md-avatar" style="margin: 0 15px 0 -15px; width: 60px; height: 60px;"/>
              <div layout="column">
                 <b style="position: relative; margin-top: 20px; font-size: 15px;">{{ member.name }}</b>
                 <span style="position: relative; bottom: 20px; font-size: 15px;">{{ member.email[0]}}</span>
              </div>
              <md-button class="md-icon-button md-secondary" title="Remover usuário"
                  ng-click="manageMemberCtrl.openRemoveMemberDialog($event, member)"
                  layout-align="center center"
                  ng-if="!manageMemberCtrl.isAdmin(member)">
                <md-icon>delete</md-icon>
              </md-button>
              <md-button ng-click="manageMemberCtrl.showUserProfile(member.key, $event)" class="md-icon-button md-secondary"
              title="Ver perfil" layout-align="center center">
                <md-icon>more_horizontal</md-icon>
              </md-button>
            </md-list-item>
          </md-list>
        </md-card-content>
      </div>
    </md-card>
    <!-- INVITATIONS SENT -->
    <md-card>
      <md-toolbar md-colors="{background: 'teal-500'}" layout="row" 
        ng-click="manageMemberCtrl.toggleElement('showInvites')" class="clickable-no-hover">
        <div class="md-toolbar-tools" flex layout="row" layout-align="center center">
          <h1>
            <md-icon>email</md-icon>
            Convites enviados</h1>
          <span flex md-truncate></span>
          <md-button  class="md-icon-button md-secondary">
            <md-icon>{{ manageMemberCtrl.showInvites ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}</md-icon>
          </md-button>
        </div>
      </md-toolbar>
      <md-card-content ng-show="manageMemberCtrl.showInvites" 
           style="overflow: auto; max-height: 220px;" class="custom-scrollbar">
        <md-list>
          <md-list-item class="md-2-line" ng-repeat="invite in manageMemberCtrl.sent_invitations" ng-click="null">
            <md-icon class="md-avatar-icon" style="margin-top: 2px"
            md-colors="{background: 'light-green-500', color: 'grey-50'}">account_box</md-icon>
            <div class="md-list-item-text">
              <h3> {{ invite.invitee }} </h3>
              <p> Convidado por: {{invite.sender_name}}</p>
            </div>
            <div layout-align="end center">
              <md-button class="md-raised" ng-click="manageMemberCtrl.resendInvite(invite.key, $event)">
                Reenviar
              </md-button>
            </div>
          </md-list-item>
        </md-list>
      </md-card-content>
    </md-card>
    <!-- REQUIRED INVITATIONS -->
    <md-card>
      <md-toolbar md-colors="(manageMemberCtrl.hasRequested()) ? {background: 'light-green-500'} : {background: 'teal-500'}" layout="row"
        ng-click="manageMemberCtrl.toggleElement('showRequests')" class="clickable-no-hover">
        <div class="md-toolbar-tools" flex layout="row" layout-align="center center">
          <h1>
            <md-icon ng-class="(manageMemberCtrl.hasRequested()) ? 'notification-badge' : ''" data-badge>feedback</md-icon>
            <span md-colors="{color: 'grey-50'}">Convites requisitados</span>
          </h1>
          <span flex md-truncate></span>
          <md-button  class="md-icon-button md-secondary">
            <md-icon>{{ manageMemberCtrl.showRequests ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}</md-icon>
          </md-button>
        </div>
      </md-toolbar>
      <md-card-content ng-show="manageMemberCtrl.showRequests"
          style="overflow: auto; max-height: 270px;" class="custom-scrollbar">
        <md-list flex>
          <md-list-item ng-repeat="request in manageMemberCtrl.requests" ng-click="manageMemberCtrl.openAcceptRequestDialog(request, $event)" class="md-3-line">
            <md-icon class="md-avatar-icon"
            md-colors="{background: 'light-green-500', color: 'grey-50'}">account_box</md-icon>
            <div class="md-list-item-text" layout="column">
              <h3>{{ request.sender_name}}</h3>
              <h4>Cargo atual: {{ request.office}}</h4>
              <p>Email institucional: {{ request.institutional_email}}</p>
            </div>
          </md-list-item>
        </md-list>
      </md-card-content>
    </md-card>
  </div>
</div>