<!-- CONTENT -->
<div flex-gt-lg="80" flex-lg="90" layout-align="center" layout-fill>
  <div flex>
    <!-- SEND INVITE -->
    <md-card>
      <md-toolbar md-colors="{background: 'teal-500'}" layout="row">
        <div class="md-toolbar-tools" flex layout="row" layout-align="center center">
          <h1>
            <md-icon>send</md-icon>
            Enviar Convite
          </h1>
          <span flex md-truncate></span>
          <md-button ng-if="!manageMemberCtrl.showSendInvite" ng-click="manageMemberCtrl.showSendInvite = true;"
              class="md-icon-button md-secondary">
            <md-icon>keyboard_arrow_down</md-icon>
          </md-button>
          <md-button ng-if="manageMemberCtrl.showSendInvite" ng-click="manageMemberCtrl.showSendInvite = false;"
              class="md-icon-button md-secondary">
            <md-icon>keyboard_arrow_up</md-icon>
          </md-button>
        </div>
      </md-toolbar>
      <md-card-content ng-show="manageMemberCtrl.showSendInvite;">
        <form ng-submit="manageMemberCtrl.sendUserInvite(); manageMemberCtrl.showInvites = true; manageMemberCtrl.showSendInvite = false;">
          <md-input-container class="md-block">
            <label>Email convite deve ser enviado para:</label>
            <input ng-model="manageMemberCtrl.invite.invitee" type="email" name="email" required>
          </md-input-container>
          <section layout="row" layout="column" layout-align="end center" layout-wrap>
            <md-button md-colors="{background: 'teal-500'}" ng-click="manageMemberCtrl.cancelInvite()">Cancelar</md-button>
            <md-button type="submit" md-colors="{background: 'teal-500'}">Enviar Convite</md-button>
          </section>
        </form>
      </md-card-content>
    </md-card>
    <!-- MANAGE MEMBERS -->
    <md-card>
      <md-toolbar md-colors="{background: 'teal-500'}" layout="row">
        <div class="md-toolbar-tools" flex layout="row" layout-align="center center">
          <h1>
            <md-icon>account_circle </md-icon>
            Gerenciar Membros
          </h1>
          <span flex md-truncate></span>
          <md-button ng-if="!manageMemberCtrl.showMembers" ng-click="manageMemberCtrl.showMembers = true;"
              class="md-icon-button md-secondary">
            <md-icon>keyboard_arrow_down</md-icon>
          </md-button>
          <md-button ng-if="manageMemberCtrl.showMembers" ng-click="manageMemberCtrl.showMembers = false;"
              class="md-icon-button md-secondary">
            <md-icon>keyboard_arrow_up</md-icon>
          </md-button>
        </div>
      </md-toolbar>
      <div ng-if="manageMemberCtrl.showMembers" layout-padding>
      <div layout-margin>
        <form ng-submit="">
          <md-input-container layout="row" class="md-icon-float">
            <label>Buscar</label>
            <input aria-label="Pesquisar por instituições" class="md-icon-float" ng-model="manageMemberCtrl.currentMember">
          </md-input-container>
        </form>
      </div>
      <md-card-content style="margin-top: -40px;" layout-margin>
        <md-list>
          <md-list-item md-colors="{background: 'grey-300'}" style="margin-bottom: 10px;"
          ng-repeat="member in manageMemberCtrl.members | filter: manageMemberCtrl.currentMember" ng-click="null">
            <div layout="row" layout-align="start center">
            <img title="{{member.name}}" ng-src="{{member.photo_url}}" class="md-avatar" style="margin: 0 15px 0 -15px; width: 60px; height: 60px;"/>
            <div layout="column">
               <b style="position: relative; margin-top: 20px; font-size: 15px;">{{ member.name }}</b>
               <span style="position: relative; bottom: 20px; font-size: 15px;">{{ member.email[0]}}</span>
            </div>
            </div>
              <md-button class="md-icon-button md-secondary" title="Remover usuário"
                  ng-click="manageMemberCtrl.openRemoveMemberDialog($event, member)"
                  layout-align="center center"
                  ng-if="!manageMemberCtrl.isAdmin(member)">
                <md-icon>delete</md-icon>
              </md-button>
              <md-button ng-click="manageMemberCtrl.showUserProfile(member.key, $event)" class="md-icon-button md-secondary"
              title="Ver perfil" layout-align="center center">
                <md-icon>more_horizontal</md-icon>
              </md-button>
          </md-list-item>
        </md-list>
      </md-card-content>
      </div>
    </md-card>
    <!-- INVITATIONS SENT -->
    <md-card>
      <md-toolbar md-colors="{background: 'teal-500'}" layout="row">
        <div class="md-toolbar-tools" flex layout="row" layout-align="center center">
          <h1>
            <md-icon>email</md-icon>
            Convites enviados</h1>
          <span flex md-truncate></span>
          <md-button ng-if="!manageMemberCtrl.showInvites" ng-click="manageMemberCtrl.showInvites = true;"
              class="md-icon-button md-secondary">
            <md-icon>keyboard_arrow_down</md-icon>
          </md-button>
          <md-button ng-if="manageMemberCtrl.showInvites" ng-click="manageMemberCtrl.showInvites = false;"
              class="md-icon-button md-secondary">
            <md-icon>keyboard_arrow_up</md-icon>
          </md-button>
        </div>
      </md-toolbar>
      <md-card-content ng-if="manageMemberCtrl.showInvites">
        <md-list>
          <md-list-item class="md-2-line" ng-repeat="invite in manageMemberCtrl.sent_invitations" ng-click="null"
          ng-if="invite.type_of_invite == 'USER'">
            <md-button md-colors="{background: 'light-green'}" class="md-icon-button" style="margin: 0 10px 0 0;">
              <md-icon style="color: white;">account_box</md-icon>
            </md-button>
            <div class="md-list-item-text">
              <h3> {{ invite.invitee }} </h3>
              <p> Convidado por: {{invite.sender_name}}</p>
            </div>
          </md-list-item>
        </md-list>
      </md-card-content>
    </md-card>
    <!-- REQUIRED INVITATIONS -->
    <md-card>
      <md-toolbar md-colors="{background: 'teal-500'}" layout="row">
        <div class="md-toolbar-tools" flex layout="row" layout-align="center center">
          <h1>
            <md-icon>feedback</md-icon>
            Convites requisitados
          </h1>
          <span flex md-truncate></span>
          <md-button ng-if="!manageMemberCtrl.showRequests" ng-click="manageMemberCtrl.showRequests = true;"
              class="md-icon-button md-secondary">
            <md-icon>keyboard_arrow_down</md-icon>
          </md-button>
          <md-button ng-if="manageMemberCtrl.showRequests" ng-click="manageMemberCtrl.showRequests = false;"
              class="md-icon-button md-secondary">
            <md-icon>keyboard_arrow_up</md-icon>
          </md-button>
        </div>
      </md-toolbar>
      <md-card-content ng-if="manageMemberCtrl.showRequests">
        <md-list flex>
          <md-list-item ng-repeat="request in manageMemberCtrl.requests" ng-if="request.status == 'sent'" ng-click="null" class="md-3-line">
            <md-button md-colors="{background: 'light-green'}" class="md-icon-button" style="margin: 0 10px 0 0;">
              <md-icon style="color: white;">account_box</md-icon>
            </md-button>
            <div class="md-list-item-text" layout="column">
              <h3>{{ request.sender_name}}</h3>
              <h4>Cargo atual: {{ request.office}}</h4>
              <p>Email institucional: {{ request.institutional_email}}</p>
            </div>
            <md-icon class="md-secondary md-hue-3" title="Rejeitar" ng-click="manageMemberCtrl.rejectRequest(request, $event)">close</md-icon>
            <md-icon class="md-secondary" title="Aceitar membro" ng-click="manageMemberCtrl.acceptRequest(request)" style="margin-left: 30%">send</md-icon>
          </md-list-item>
        </md-list>
      </md-card-content>
    </md-card>
  </div>
</div>