<div flex="100" layout="row" layout-align="center">
    <div flex flex-md="95" layout="row" layout-align="space-around"
    md-colors="{background: 'grey-50'}">
        <!-- CONTENT -->
        <div flex="95" layout-align="center top" layout="row">
            <div flex layout="column">
                <div flex class="body">
                    <h3 class="members-title">Administrador</h3>
                    <md-content>
                        <div class="members-grid" ng-click="membersCtrl.showUserProfile(membersCtrl.institution.admin.key, $event)">
                            <img title="{{membersCtrl.institution.admin.name}}" ng-src="{{membersCtrl.institution.admin.photo_url}}"
                            class="md-avatar member-img"/>
                            <div class="member-name">
                                <p>{{ membersCtrl.institution.admin.name }}</p>
                            </div>
                        </div>
                    </md-content>
					<h3 class="members-title">Membros</h3>
					<div layout-margin>
						<form ng-submit="">
							<md-input-container layout="row" class="md-icon-float">
							<label>Buscar</label>
							<input aria-label="Pesquisar por membros" class="md-icon-float" ng-model="membersCtrl.currentMember">
							<md-icon md-colors="{color: 'grey-500'}">search</md-icon>
							</md-input-container>
						</form>
					</div>
					<md-content>
                        <div class="members-grid"
                            ng-repeat="member in membersCtrl.members | filter: membersCtrl.currentMember | orderBy: 'name'"
                            ng-click="membersCtrl.showUserProfile(member.key, $event)">
                            <img title="{{member.name}}" ng-src="{{member.photo_url}}" class="md-avatar member-img"/>
                            <div class="member-name"
                                ng-click="membersCtrl.showUserProfile(member.key, $event)">
                                <p>{{ member.name }}</p>
                            </div>
                        </div>
					</md-content>
                </div>
            </div>
        </div>
    </div>
</div>