<main-toolbar></main-toolbar>

<div style="overflow: auto;" id="content">
    <div class="registered-institutions-mobile-top-bar">
        <div ng-click="allInstitutionsCtrl.changeTab('all')">
            <b>TODAS</b>
        </div>
        <hl md-colors="{background: 'light-green'}" ng-if="allInstitutionsCtrl.currentTab === 'all'"></hl>
        <div ng-click="allInstitutionsCtrl.changeTab('following')">
            <b>SEGUINDO</b>
        </div>
        <hl md-colors="{background: 'light-green'}" ng-if="allInstitutionsCtrl.currentTab === 'following'"
            class="following-tab-selected"></hl>
        <div ng-click="allInstitutionsCtrl.changeTab('member')">
            <b>MEMBRO</b>
        </div>
        <hl md-colors="{background: 'light-green'}" ng-if="allInstitutionsCtrl.currentTab === 'member'"
            class="member-tab-selected"></hl>
    </div>

    <div id="content" class="registered-institutions-container">
          <registered-institution institution="institution" 
            ng-repeat="institution in allInstitutionsCtrl.institutions" style="margin-bottom: 0.5em;">
          </registered-institution>
    </div>
</div>