<div style="overflow: auto;">
    <div class="registered-institutions-mobile-top-bar">
        <div ng-click="allInstitutionsCtrl.changeTab('all')">
            <b>TODAS</b>
        </div>
        <hl md-colors="{background: 'light-green'}" ng-if="allInstitutionsCtrl.allInstTab"></hl>
        <div ng-click="allInstitutionsCtrl.changeTab('following')">
            <b>SEGUINDO</b>
        </div>
        <hl md-colors="{background: 'light-green'}" ng-if="allInstitutionsCtrl.followingInstTab"
            style="margin-left: 33%;"></hl>
        <div ng-click="allInstitutionsCtrl.changeTab('member')">
            <b>MEMBRO</b>
        </div>
        <hl md-colors="{background: 'light-green'}" ng-if="allInstitutionsCtrl.memberInstTab"
            style="margin-left: 67%;"></hl>
    </div>

    <div id="content" style="margin-top: 3.2em;" class="registered-institutions-container">
        <div ng-repeat="institution in allInstitutionsCtrl.institutions" style="margin-bottom: 0.5em;">
            <registered-institution institution="institution">
            </registered-institution>
        </div>
    </div>
</div>