<div class="registered-institution-container">
    <div class="registered-institution-cover">
        <div ng-if="regInstCtrl.hasCoverPhoto()"
            style="background-image: url({{regInstCtrl.institution.cover_photo}});" id="tst">
        </div>
        <div ng-if="!regInstCtrl.hasCoverPhoto()" md-colors="{background: 'light-green'}">
            <img ng-src="{{'app/images/institution.png'}}">
        </div>
        <div id="registered-institution-img">
            <img ng-src="{{regInstCtrl.institution.photo_url}}" />
        </div>
    </div>
    <div class="registered-institution-content">
        <span>{{regInstCtrl.institution.name}}</span>
    </div>
    <div class="registered-institution-action"></div>
</div>