.registered-institutions-mobile-top-bar {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto;
    height: 3em;
    width: 100%;
    background: #009688;
    align-items: center;
    position: absolute;
}

.registered-institutions-mobile-top-bar div {
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    width: 100%;
    text-align: center;

}

.registered-institutions-mobile-top-bar hl {
    width: 33%;
    height: 0.25em;
    display: block; 
    align-self: end;
    position: absolute;
}

.registered-institutions-container {
    display: grid;
    grid-template-columns: 49% 49%;
    grid-column-gap: 0.4em;
}