<div layout="row" flex layout-align="center">
    <div flex flex-md="95" layout="row" layout-align="space-around"
            md-colors="{background: 'grey-50'}">
          <!-- CONTENT -->
        <div flex="90">
			<load-cicle flex add-layout-fill="true" ng-if="institutionCtrl.isLoadingData"></load-cicle>
	        <md-card ng-if="!institutionCtrl.isLoadingData">
	        	<md-toolbar md-colors="{background: 'teal-500'}" layout="row">
	                <div class="md-toolbar-tools" flex layout="row" layout-align="center center">
	                    <md-icon>assignment</md-icon>
	                    <h5 style="font-weight:normal; margin-left: 2%">                      
	                      DADOS CADASTRAIS
	                    </h5>
	                    <span flex md-truncate></span>
	                </div>
	            </md-toolbar>
	        	<md-card-content style="padding: 5%; margin-top: -4%">
		            <h2>Informações institucionais</h3>
		            <h4 md-colors="{color: 'teal-900'}">Nome</h4>
		            <p md-colors="{color: 'grey-600'}"><b>
		            	{{institutionCtrl.institution.name ? 
		            		institutionCtrl.institution.name : "Não informado"}}</b></p>

		            <div layout="row" layout-xs="column" layout-align-gt-xs="space-between center">
		            	<div layout="column">
				            <h4 md-colors="{color: 'teal-900'}">Sigla</h4>
				             <p md-colors="{color: 'grey-600'}" style="margin-top: 0">
				             	{{institutionCtrl.limitString(institutionCtrl.institution.acronym, 30) ? 
		            			institutionCtrl.limitString(institutionCtrl.institution.acronym, 30) :
		            			 "Não informado"}}</p>
		            	</div>
		            	<div layout="column">
				            <h4 md-colors="{color: 'teal-900'}">Áreas de atuação</h4>
				             <p md-colors="{color: 'grey-600'}" style="margin-top: 0">
				               {{institutionCtrl.instActuationArea ? 
		            			institutionCtrl.instActuationArea : "Não informado"}}</p>
		            	</div>
		            </div>

		            <h4 md-colors="{color: 'teal-900'}">Responsável</h4>
		            <p md-colors="{color: 'grey-600'}" style="margin-top: 0">
		            	{{institutionCtrl.institution.admin.name ? 
		            	institutionCtrl.institution.admin.name : "Não informado"}}</p>

		            <div layout="row" layout-xs="column" layout-align-gt-xs="space-between center">
		            	<div layout="column">
				            <h4 md-colors="{color: 'teal-900'}">Natureza legal</h4>
				             <p md-colors="{color: 'grey-600'}" style="margin-top: 0">
		            		  {{institutionCtrl.instLegalNature ?           			institutionCtrl.instLegalNature : "Não informado"}}</p>
		            	</div>
		            	<div layout="column">
				            <h4 md-colors="{color: 'teal-900'}">CNPJ</h4>
				             <p md-colors="{color: 'grey-600'}" style="margin-top: 0">
		            			{{institutionCtrl.institution.cnpj ? 
		            			institutionCtrl.institution.cnpj : "Não informado"}}</p>
		            	</div>
		            </div>
		            <hr style="margin-top: 4%;" width="100%" size="4" color=#00796B>

		            <h2>Localização</h2>
		            <h4 md-colors="{color: 'teal-900'}">Endereço</h4>
		            <div layout="row" layout-xs="column" layout-align-gt-xs="space-between center"
		            	style="margin-top: -4%">
		            	<div layout="column">
				            <h5 style="margin-bottom: 0">Logradouro</h5>
				             <p style="margin-top: 0" md-colors="{color: 'grey-600'}">
		            			{{institutionCtrl.limitString(institutionCtrl.institution.address.street, 90) ? 
		            			institutionCtrl.limitString(institutionCtrl.institution.address.street,90) : 
		            			"Não informado"}}</p>
		            	</div>
		            	<div layout="column">
				            <h5 style="margin-bottom: 0">N°</h5>
				             <p style="margin-top: 0" md-colors="{color: 'grey-600'}">
		            			{{institutionCtrl.institution.address.number ? 
		            			institutionCtrl.institution.address.number : "Não informado"}}</p>
		            	</div>
		            	<div layout="column">
				            <h5 style="margin-bottom: 0">Bairro</h5>
				             <p style="margin-top: 0"  md-colors="{color: 'grey-600'}">
		            			{{institutionCtrl.limitString(institutionCtrl.institution.address.neighbourhood, 30) ? 
		            			institutionCtrl.limitString(institutionCtrl.institution.address.neighbourhood, 30) :
		            			"Não informado"}}</p>
		            	</div>
		            </div>

		            <div layout="row" layout-xs="column" layout-align-gt-xs="space-between center">
		            	<div layout="column">
				            <h5 style="margin-bottom: 0">Cidade</h5>
				             <p style="margin-top: 0"  md-colors="{color: 'grey-600'}">
		            			{{institutionCtrl.limitString(institutionCtrl.institution.address.city, 50) ? 
		            			institutionCtrl.limitString(institutionCtrl.institution.address.city, 50) : 
		            			"Não informado"}}</p>
		            	</div>
		            	<div layout="column">
				            <h5 style="margin-bottom: 0">Estado</h5>
				             <p style="margin-top: 0"  md-colors="{color: 'grey-600'}">
		            			{{institutionCtrl.limitString(institutionCtrl.institution.address.federal_state, 20) ? 
		            			institutionCtrl.limitString(institutionCtrl.institution.address.federal_state, 20) :
		            			"Não informado"}}</p>
		            	</div>
		            	<div layout="column">
				            <h5 style="margin-bottom: 0">País</h5>
				             <p style="margin-top: 0"  md-colors="{color: 'grey-600'}">
		            			{{institutionCtrl.institution.address.country ? 
		            			institutionCtrl.institution.address.country : "Não informado"}}</p>
		            	</div>
		            	<div layout="column" layout-align="center">
				            <h5 style="margin-bottom: 0">CEP</h5>
		            		 <p style="margin-top: 0"  md-colors="{color: 'grey-600'}">
		            		 	{{institutionCtrl.institution.address.cep ? 
		            			institutionCtrl.institution.address.cep : "Não informado"}}</p>
		            	</div>
		            </div>
		            <hr style="margin-top: 4%;" width="100%" size="4" color=#00796B>

		            <h2>Contato</h2>
		            <div layout="row" layout-xs="column" 
		            	layout-align-gt-xs="space-between center" style="margin-top: -3%">
		            	<div layout="column">
				            <h5 style="margin-bottom: 0">Email</h5>
		            		 <p style="margin-top: 0" md-colors="{color: 'grey-600'}">
		            		 	{{institutionCtrl.institution.email ? 
		            			institutionCtrl.institution.email : "Não informado"}}</p>
		            	</div>
		            	<div layout="column">
				            <h5 style="margin-bottom: 0">Telefone</h5>
				             <p style="margin-top: 0" md-colors="{color: 'grey-600'}">
		            			{{institutionCtrl.institution.phone_number ? 
		            			institutionCtrl.institution.phone_number : "Não informado"}}</p>
		            	</div>
		            	<div layout="column" ng-if="institutionCtrl.institution.branch_line">
				            <h5 style="margin-bottom: 0">Ramal</h5>
				            <p style="margin-top: 0" md-colors="{color: 'grey-600'}">
		            			{{institutionCtrl.institution.branch_line }}</p>
		            	</div>
		            </div>
	            </md-card-content>
	        </md-card>
        </div>
    </div>
</div>