.registered-institution-container {
    height: 14em;
    display: grid;
    grid-template-rows: 50% 35% auto;
    grid-template-columns: auto;
    width: 100%;
    box-shadow: 0 2px 2px rgba(0,0,0,0.19), 0 2px 2px rgba(0,0,0,0.23);
}

.registered-institution-cover {
    grid-row-start: 1;
    grid-row-end: 2;
}

#card-cover-picture {
    height: 5.5em;
    width: 100%; 
}

.registered-institution-cover div img {
    height: 5.5em;
    width: 100%;
}

#registered-institution-img {
    margin-left: auto;
    margin-right: auto;
    width: 3em;
    height: 3em;
    z-index: 2;
    margin-top: -1.5em;
}

#registered-institution-img img {
    height: 3em;
    width: 3em;
    border-radius: 50%;
}

.registered-institution-content {
    grid-row-start: 2;
    grid-row-end: 3;
    width: 100%;
}

#reg-inst-content-grid {
    display: grid;
    grid-template-rows: 80% auto auto;
    grid-template-columns: auto;
    justify-content: left;
    justify-items: left;
    align-items: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    grid-row-gap: 0.3em;
    margin-top: 0.3em;
}

#reg-content-inst-name {
    font-size: 12px;
    grid-row-start: 1;
    grid-row-end: 2;
    align-self: end;
    width: 100%;
    word-break: break-word;
}

.registered-institution-content hl {
    width: 3em;
    grid-row-start: 2;
    grid-row-end: 3;
    height: 0.2em;
}

#reg-content-location {
    font-size: 8px;
    grid-row-start: 3;
    grid-row-end: 4;
}

.registered-institution-action {
    text-align: center;
    align-self: center;
    justify-self: end;
    width: 45%;
}

#reg-following-div {
    border-style: solid;
    border-width: 1px;
    border-color: #009688;
    margin-right: 0.3em;
}

#reg-following-div span {
    font-size: 12px;
    align-self: start;
}

#reg-not-following-div {
    margin-right: 0.5em;
}

#reg-not-following-div span {
    font-size: 12px;
    align-self: start;
}


