<md-dialog aria-label="instituições" flex-gt-xs="50" flex-xs="90">
    <md-dialog-content layout-margin layout-padding layout="column">
        <div layout="row" layout-align="space-between center">
            <b ng-if="!removeInstCtrl.hasOneInstitution()">Deseja remover esta instituição permanentemente?</b>
            <b ng-if="removeInstCtrl.hasOneInstitution()">Ao remover essa instituição você perderá o acesso a plataforma. Deseja remover?</b>
            <div>
                <button style="background-color: white; border: 0;" ng-click="removeInstCtrl.closeDialog()">
                    <md-icon>clear</md-icon>
                </button>
            </div>
        </div>
        <div layout-padding layout="row" layout-align="start center" md-colors="{background: 'default-grey-300'}">
            <img ng-src="{{removeInstCtrl.institution.photo_url}}" 
                style="border-radius: 50%; height: 100px; width: 100px;"></img>
            <div layout="column" layout-align="center start">
                <b md-colors="{color: 'default-grey-900'}">{{removeInstCtrl.institution.name}}</b>
                <span ng-if="removeInstCtrl.institution.institutional_email">{{removeInstCtrl.institution.institutional_email}}</span>
            </div>
        </div>
        <div ng-if="!removeInstCtrl.thereIsNoChild()">
            <md-radio-group ng-model="removeInstCtrl.removeHierarchy" required>
                <md-radio-button ng-value="true" class="md-primary">
                    Desejo remover toda a hierarquia abaixo dessa instituição
                </md-radio-button>
                <md-radio-button ng-value="false" class="md-primary">
                    Desejo manter toda a hierarquia abaixo dessa instituição
                </md-radio-button>
            </md-radio-group>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row" layout-align="end center">
        <md-button class="md-primary" ng-click="removeInstCtrl.closeDialog()" layout-align="center" md-colors="{color: 'default-teal-700'}">Cancelar</md-button>
        <md-button class="md-primary" ng-click="removeInstCtrl.removeInst()" md-colors="{color: 'default-teal-700'}">Continuar</md-button>
    </md-dialog-actions>
</md-dialog>