<md-dialog aria-label="instituições" flex-gt-xs="50" flex-xs="90">
    <md-dialog-content layout-margin layout-padding layout="column">
        <div layout="row" layout-align="space-between center">
            <b>Deseja remover esta instituição permanetemente?</b>
            <div>
                <button style="background-color: white; border: 0;" ng-click="ctrl.closeDialog()">
                    <md-icon>clear</md-icon>
                </button>
            </div>
        </div>
        <div layout-padding layout="row" layout-align="start center" md-colors="{background: 'default-grey-300'}">
            <a ui-sref="app.institution({institutionKey: '{{ctrl.institution.key}}'})" target="_blank">
                <img ng-src="{{ctrl.institution.photo_url}}"
                style="border-radius: 50%; height: 100px; width: 100px;"></img>
            </a>
            <div layout="column" layout-align="center start">
                <a ui-sref="app.institution({institutionKey: '{{ctrl.institution.key}}'})" target="_blank">
                    <b md-colors="{color: 'default-grey-900'}">{{ctrl.institution.name}}</b>
                </a>
                <span>{{ctrl.institution.email}}</span>
            </div>
        </div>
        <div>
            <md-radio-group ng-model="ctrl.removeHierarchy" required>
                <md-radio-button ng-value="true" class="md-primary">
                    Desejo remover toda a hierarquia abaixo dessa instituição
                </md-radio-button>
                <md-radio-button ng-value="false" class="md-primary">
                    Desejo manter toda a hierarquia abaixo dessa instituição
                </md-radio-button>
            </md-radio-group>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row" layout-align="end center">
        <md-button class="md-primary" ng-click="ctrl.closeDialog()" layout-align="center" md-colors="{color: 'default-teal-700'}">Cancelar</md-button>
        <md-button class="md-primary" ng-click="ctrl.removeInst()" md-colors="{color: 'default-teal-700'}">Continuar</md-button>
    </md-dialog-actions>
</md-dialog>