<md-dialog flex-gt-md="40" flex-md="70" flex-sm="80" flex-xs="95">
 <md-dialog-content layout="row" layout-align="center center">
    <div layout="column" flex="90">
        <h3>Transferir administração</h3>
        <p>Cada institutição precisa ter um administrador na plataforma CIS.
            Escolha abaixo um novo administrador para sua instituição:
        </p>
        <search-field keyword="transferAdminCtrl.member"></search-field>
        <md-list ng-if="transferAdminCtrl.member != null">
            <entity-showcase class="small-avatar"
                ng-repeat="member in transferAdminCtrl.institution_members | filter: transferAdminCtrl.member" 
                avatar="member.photo_url"
                title="member.name"
                subtitle="member.email[0]"
                ng-click="transferAdminCtrl.selectMember(member)">
            <md-list-item ng-if="members.length === 0">
                <div layout="row" layout-align="center" flex="100">
                    <p>Nenhum membro foi encontrado com esse nome ou email.</p>
                </div>
            </md-list-item>
        </md-list>
    </div>
 </md-dialog-content>
 <md-dialog-actions>
     <md-button class="md-raised" md-colors="{color: 'default-teal-500'}" ng-click="transferAdminCtrl.cancel()">
        CANCELAR
     </md-button>
     <md-button class="md-raised" md-colors="{color: 'default-teal-500'}" ng-click="transferAdminCtrl.confirm()">
        CONFIRMAR
    </md-button>
 </md-dialog-actions>
</md-dialog>